﻿@using DataAccess.POCO

@{
    Layout = null;
}

@{
    IList<PayoutCalculation> payoutCalculations = (IList<PayoutCalculation>)ViewData["PayoutCalculation"];
    List<int[]> tiers = (List<int[]>)ViewData["PayoutCalculationTier"];
    int i = 1;
}

@if (tiers.Count > 0)
{
    foreach (int[] tier in tiers)
    {
        PayoutCalculation payoutCalculation = payoutCalculations.Where(e => e.ID == tier[1]).FirstOrDefault();

        <tr>
            <td>@i</td>
            <td>@tier[0]</td>
            <td>
                @if (payoutCalculation.UserType == "Customer")
                {
                    if (!string.IsNullOrEmpty(payoutCalculation.Customer.CompanyName))
                    {
                        @payoutCalculation.Customer.CompanyName
                    }
                    else
                    {
                        @payoutCalculation.Customer.ContactPerson
                    }
                }
                else
                {
                        @payoutCalculation.Salesperson.Name
                }
            </td>
            <td>$@payoutCalculation.Revenue.ToString("#,##0.00")</td>
            <td>@payoutCalculation.PayoutPercentage.ToString("#,##0.00")%</td>
            <td>$@payoutCalculation.Commission.ToString("#,##0.00")</td>
        </tr>
        i++;
    }
}
else
{
    <tr>
        <td class="no-record" colspan="6">No Downline Payout</td>
    </tr>
}

<tr style="border-top: 2px solid black; border-bottom: double;">
    <td colspan="3" class="text-right">Total</td>
    <td>$@ViewData["TotalRevenue"].ToString()</td>
    <td></td>
    <td>$@ViewData["TotalCommission"].ToString()</td>
</tr>