﻿@using DataAccess
@using DataAccess.POCO

@{
    ViewBag.Title = ViewData["SiteName"].ToString();
    ViewBag.PageTitle = "Select a User";
    ViewBag.APayout = "active open";
    ViewBag.liViewPayout = "active";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Select", "Payout", FormMethod.Post, new { @id = "form-select", @class = "form-horizontal" }))
{
    <div class="panel">
        <div class="panel-body container-fluid">
            <div class="row row-lg">
                <div class="col-md-10">
                    @if (Session["Result"] != null)
                    {
                        string[] result = Session["Result"].ToString().Split('|');

                        <div class="alert alert-@result[0] text-center">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            @result[1]
                        </div>

                        Session.Remove("Result");
                    }
                    <div class="form-group">
                        @Html.Label("Pay To *", new { @class = "col-sm-3 control-label" })
                        <div class="col-sm-9">
                            @Html.DropDownList("PayTo", (SelectList)ViewData["PayToDropdown"], new { @class = "form-control", @data_plugin = "select2", @data_placeholder = "Search by Customer/User ID or Name", @data_allow_clear = "true" })
                            @Html.ValidationMessage("PayTo")
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-9">
                            <button type="submit" class="btn btn-primary margin-top-10">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}