﻿@using DataAccess.POCO
@using PagedList
@using PagedList.Mvc

@{
    ViewBag.Title = ViewData["SiteName"].ToString();
    ViewBag.PageTitle = "User Calendar";
    ViewBag.AExportData = "active";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-content">
    <div class="panel">
        <div class="panel-body container-fluid">
            <div class="row">
                <div class="col-xlg-12 col-md-12">
                    @using (Html.BeginForm("Options", "Calendar", FormMethod.Post, new { @class = "form-horizontal" }))
                    {
                        if (Session["Result"] != null)
                        {
                            string[] result = Session["Result"].ToString().Split('|');

                            <div class="alert alert-@result[0] text-center">
                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                                @result[1]
                            </div>

                            Session.Remove("Result");
                        }
                        <div class="form-group">
                            @Html.Label("Username", new { @class = "col-sm-3 control-label" })
                            <div class="col-sm-5">
                                @Html.DropDownList("Username", (SelectList)ViewData["UserDropdown"], new { @class = "form-control", @data_plugin = "select2", @data_allow_clear = "true", @data_placeholder = "Search by User ID or Name" })
                                @Html.ValidationMessage("Username")
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-5 col-sm-offset-3">
                                <button type="submit" class="btn btn-success">View</button>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>