﻿@using DataAccess
@using PagedList
@using PagedList.Mvc

@{
    ViewBag.Title = ViewData["SiteName"].ToString();
    ViewBag.PageTitle = "View User Calendar - [ " + ViewData["UserDetail"].ToString() + " ]";
    ViewBag.AExportData = "active";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="page-content container-fluid">
    <div class="panel">
        <div class="panel-body container-fluid">
            <div class="row form-group">
                <a href="@Url.Action("Options")" class="btn btn-default" style="float:left;">Back</a>
            </div>
            <div class="row">
                <div class="col-xlg-12 col-md-12">
                    <div class="table-responsive">

                            @{
                                List<CalendarDetailTable> calendar = (List<CalendarDetailTable>)ViewData["CalendarList"];

                                if (calendar.Count > 0)
                                {

                                    foreach (CalendarDetailTable _calendar in calendar)
                                    {
                                        
                                        int page = Convert.ToInt32(Session["Page"]) - 1;
                                        int pageSize = Convert.ToInt32(Session["PageSize"]);
                                        int i = 1;

                                        <h3>@Convert.ToDateTime(_calendar.mainDate).ToLongDateString()</h3>
                                        <table class="table table-hover table-bordered table-striped">
                                            <thead>
                                                <tr>
                                                    <th style="min-width: 50px;">#</th>
                                                    <th style="min-width: 100px;">Time</th>
                                                    <th style="min-width: 150px;">Duration</th>
                                                    <th style="min-width: 150px;">Summary</th>
                                                </tr>
                                            </thead>
                                            <tbody>

                                                @{
                                        foreach (CalendarDetailSmallTable calendarSmall in _calendar.CalendarDetailSmallTable)
                                        {

                                            <tr>
                                                <td>@(i + page * pageSize)</td>

                                                @if (string.IsNullOrEmpty(calendarSmall.start))
                                                {
                                                    <td>All Day</td>
                                                }
                                                else
                                                {
                                                    <td>@Convert.ToDateTime(calendarSmall.start).ToShortTimeString()</td>
                                                }

                                                <td>@calendarSmall.durationHour</td>

                                                <td>@calendarSmall.summary</td>
                                            </tr>
                                                i++;
                                        }
                                                }

                                                    
                                            </tbody>
                                        </table>
                                    }
                                }
                                else
                                {
                                    <table class="table table-hover table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th style="min-width: 50px;">#</th>
                                                <th style="min-width: 100px;">Summary</th>
                                                <th style="min-width: 150px;">Created On</th>
                                                <th style="min-width: 150px;">Status</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td colspan="4" class="no-records-found">No record to display</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                }
}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>