﻿@using DataAccess.POCO

@{
    ViewBag.Title = ViewData["SiteName"].ToString();
    ViewBag.PageTitle = "System Setting";
    ViewBag.ASystemSetting = "active";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("EditSystemSetting", "SystemSetting", FormMethod.Post, new { @class = "form-horizontal" }))
{
    <div class="panel">
        <div class="panel-body container-fluid">
            <div class="row">
                <div class="col-xlg-12 col-md-12">

                    @if (Session["Result"] != null)
                    {
                        string[] result = Session["Result"].ToString().Split('|');

                        <div class="form-group">
                            <div class="alert alert-@result[0]">
                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                                @result[1]
                            </div>
                        </div>

                        Session.Remove("Result");
                    }
                    
                    <h4>System Settings</h4>

                    <div class="col-md-10">
                        <div class="form-group">
                            @{
                                IList<SystemSetting> setting = (IList<SystemSetting>)ViewData["SystemSettings"];
                            }

                            @foreach (SystemSetting _setting in setting)
                            {
                                if (_setting.Code == "AGENCY_LIST")
                                {
                                    <div class="form-group margin-bottom-15">
                                        @Html.Label(_setting.Code, new { @class = "col-sm-12 control-label", @style = "text-align: left;" })
                                        @Html.Hidden("SystemSettings_ID_" + _setting.ID, _setting.ID)
                                        @Html.Hidden("SystemSettings_Code_" + _setting.ID, _setting.Code)
                                        <div class="col-sm-9">
                                            <div class="table-responsive">
                                                <table class="table table-hover table-bordered">
                                                    <tbody>
                                                        @{

                                                        string[] codeName = _setting.Value.Split('|');
                                                        int count = 1;
                                                        foreach (string _codeName in codeName)
                                                        {
                                                            <tr id="row-agency-list-1">
                                                                <td><label class="col-sm-12 control-label" for="AGENCY_LIST" style="text-align: left">AGENCY @count</label></td>
                                                                <td>
                                                                    @Html.TextBox("SystemSettings_" + _setting.ID + "_" + count + "_Code", _codeName, new { @class = "form-control", @disabled = "disabled" })
                                                                    @Html.Hidden("SystemSettings_" + _setting.ID + "_" + count + "_Code", _codeName)
                                                                </td>
                                                            </tr>
                                                            count++;
                                                        }
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                }
                                else if (_setting.Code == "PAYMENT_TERMS")
                                {
                                    <div class="form-group margin-bottom-15">
                                        @Html.Label(_setting.Code, new { @class = "col-sm-12 control-label", @style = "text-align: left;" })
                                        @Html.Hidden("SystemSettings_ID_" + _setting.ID, _setting.ID)
                                        @Html.Hidden("SystemSettings_Code_" + _setting.ID, _setting.Code)
                                        <div class="col-sm-9">
                                            @Html.TextArea("Value_" + _setting.ID, _setting.Value, new { @class = "form-control", @rows = "12" })
                                            @Html.ValidationMessage("Value_" + _setting.ID)
                                        </div>
                                    </div>
                                }
                                else if (_setting.Code == "QUOTATION_CATEGORIES")
                                {
                                    <div class="form-group margin-bottom-15">
                                        @Html.Label(_setting.Code, new { @class = "col-sm-12 control-label", @style = "text-align: left;" })
                                        @Html.ValidationMessage("QuotationMessage")
                                        @Html.Hidden("SystemSettings_ID_" + _setting.ID, _setting.ID)
                                        @Html.Hidden("SystemSettings_Code_" + _setting.ID, _setting.Code)
                                        <div class="col-sm-9">
                                            <div class="table-responsive">
                                                <table class="table table-hover table-bordered" id="table-category">
                                                    <tbody>
                                                        @{
                                                                if (!string.IsNullOrEmpty(_setting.Value))
                                                                {
                                                                    string[] codeName = _setting.Value.Split('|');

                                                                    int count = 1;
                                                                    foreach (string _codeName in codeName)
                                                                    {

                                                                        <tr id="row-category-@count">
                                                                            <td>
                                                                                @Html.TextBox("SystemSettings_" + _setting.ID + "_" + count + "_Code", _codeName, new { @class = "form-control" })
                                                                                @Html.ValidationMessage("SystemSettings_" + _setting.ID + "_" + count + "_Code")
                                                                            </td>
                                                                            <td class="text-nowrap" align="center">
                                                                                <button type="button" onclick="RemoveCategory(@count)" class="btn btn-sm btn-icon btn-round btn-danger" data-toggle="tooltip"
                                                                                        data-original-title="Remove">
                                                                                    <i class="icon wb-close" aria-hidden="true"></i>
                                                                                </button>
                                                                            </td>
                                                                        </tr>
                                                                        count++;
                                                                    }
                                                                }

                                                        }
                                                    </tbody>
                                                    <tfoot>
                                                        <tr style="text-align:center;">
                                                            <td colspan="2" class="action">
                                                                <button type="button" class="btn btn-sm btn-success btn-icon btn-round" data-toggle="tooltip" data-original-title="Add Category" onclick="AddCategory(@_setting.ID)"><i class="icon wb-plus"></i></button>
                                                            </td>
                                                        </tr>
                                                    </tfoot>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                }
                                else if (_setting.Code == "LIST_OF_COMPANY")
                                {
                                    <div class="form-group margin-bottom-15">
                                        @Html.Label(_setting.Code, new { @class = "col-sm-12 control-label", @style = "text-align: left;" })
                                        @Html.Hidden("SystemSettings_ID_" + _setting.ID, _setting.ID)
                                        @Html.Hidden("SystemSettings_Code_" + _setting.ID, _setting.Code)
                                        <div class="col-sm-12">
                                            <div class="table-responsive">
                                                <table class="table table-hover table-bordered">
                                                    <thead>
                                                        <tr>
                                                            <th style="min-width:250px;">Company Name</th>
                                                            <th>GST</th>
                                                            <th style="min-width:350px;">Company Info</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @{
                                                            string[] restrictions = _setting.Value.Split(';');
                                                            int count = 1;
                                                            foreach (string restrict in restrictions)
                                                            {
                                                                string[] codeName = restrict.Split('|');
                                                                
                                                                <tr>
                                                                    <td>
                                                                        @Html.TextBox("SystemSettings_" + _setting.ID + "_" + count + "_Code", codeName[0], new { @class = "form-control" })
                                                                        @Html.Hidden("SystemSettings_Company_" + _setting.ID + "_" + count, _setting.ID)
                                                                        @Html.ValidationMessage("SystemSettings_" + _setting.ID + "_" + count + "_Code")
                                                                    </td>
                                                                    <td>
                                                                        @Html.DropDownList("SystemSettings_" + _setting.ID + "_" + count + "_GST", (SelectList)ViewData["GSTDropdown_" + count], new { @class = "form-control", @data_plugin = "selectpicker" })
                                                                        @Html.ValidationMessage("SystemSettings_" + _setting.ID + "_" + count + "_GST")
                                                                    </td>
                                                                    <td>
                                                                        @Html.TextArea("SystemSettings_" + _setting.ID + "_" + count + "_Info", codeName[2], new { @class = "form-control", @rows = "5" })
                                                                        @Html.ValidationMessage("SystemSettings_" + _setting.ID + "_" + count + "_Info")
                                                                    </td>
                                                                </tr>
                                                                count++;
                                                            }
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                }
                                else if (_setting.Code == "TERM_AND_CONDITION")
                                {
                                    <div class="form-group margin-bottom-15">
                                        @Html.Label(_setting.Code, new { @class = "col-sm-12 control-label", @style = "text-align: left;" })
                                        @Html.Hidden("SystemSettings_ID_" + _setting.ID, _setting.ID)
                                        @Html.Hidden("SystemSettings_Code_" + _setting.ID, _setting.Code)
                                        <div class="col-sm-9">
                                            @Html.TextArea("Value_" + _setting.ID, _setting.Value, new { @class = "form-control", @rows = "12", @disabled = "disabled" })
                                            @Html.Hidden("Value_" + _setting.ID, _setting.Value)
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <div class="form-group margin-bottom-15">
                                        @Html.Label(_setting.Code, new { @class = "col-sm-12 control-label", @style = "text-align: left;" })
                                        @Html.Hidden("SystemSettings_ID_" + _setting.ID, _setting.ID)
                                        @Html.Hidden("SystemSettings_Code_" + _setting.ID, _setting.Code)
                                        <div class="col-sm-9">
                                            @Html.TextBox("Value_" + _setting.ID, _setting.Value, new { @class = "form-control" })
                                            @Html.ValidationMessage("Value_" + _setting.ID)
                                        </div>
                                    </div>
                                }

                            }

                            <div class="form-group">
                                <div class="col-sm-9">
                                    <button type="submit" class="btn btn-primary margin-3">Submit </button>
                                    <a href="@Url.Action("EditSystemSetting")" class="btn btn-default btn-outline margin-3">Reset </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<script src="@Url.Content("~/Content/vendor/ckeditor/ckeditor.js")"></script>

<script>

    CKEDITOR.replace('Value_14', {
        allowedContent: true,
        //filebrowserImageBrowseUrl: '/WebContent/uploadPartial',
        //filebrowserImageUploadUrl: '/WebContent/uploadnow'
    });

    CKEDITOR.replace('Value_20', {
        allowedContent: true,
    });

    function RemoveCategory(rowId) {
        alertify.confirm("Are you sure you want to remove this category?", function (e) {
            if (e) {
                $("#row-category-" + rowId).remove();
                alertify.success("Category has been removed!");
            }
        });
    }

    function AddCategory(settingId) {
        var rowId = 1;
        var lastRow = $("#table-category tbody tr:last");

        if (lastRow.length > 0) {
            rowId = parseInt(lastRow[0].id.split("-")[2]) + 1;
        }

        var $tr = $("<tr></tr>");
        $tr.attr("id", "row-category-" + rowId);

        var $td1 = $("<td></td>");
        var $textbox1 = $("<input type='text' />");

        $textbox1.attr("id", "SystemSettings_" + settingId + "_" + rowId + "_Code" );
        $textbox1.attr("name", "SystemSettings_" + settingId + "_" + rowId + "_Code");
        $textbox1.addClass("form-control");

        $td1.append($textbox1);

        var $td3 = $("<td class='action' align='center'></td>");
        var $button3 = $("<button type='button' class='btn btn-sm btn-icon btn-round btn-danger' data-toggle='tooltip' data-original-title='Remove'></button>");

        $button3.attr("onclick", "RemoveCategory(" + rowId + ")");

        var $i3 = $("<i class='icon wb-close'></i>");

        $td3.append($button3.append($i3));
        $tr.append($td1).append($td3);

        $("#table-category tbody").append($tr);

        $button3.tooltip();
    }
</script>