﻿@using DataAccess.POCO

@{
    ViewBag.Title = ViewData["SiteName"].ToString();
    ViewBag.PageTitle = "System Setting";
    ViewBag.ASystemSetting = "active";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="panel form-horizontal">
    <div class="panel-body container-fluid">
        <div class="row">
            <div class="col-xlg-12 col-md-12">
                <div class="col-md-10">
                    <div class="form-group">
                        @{
                            IList<SystemSetting> setting = (IList<SystemSetting>)ViewData["SystemSetting"]; 
                        }

                        @foreach (SystemSetting _setting in setting)
                        {
                            if (_setting.Code == "AGENCY_LIST")
                            {
                                <div class="form-group margin-bottom-15">
                                    @Html.Label(_setting.Code, new { @class = "col-sm-12 control-label", @style = "text-align: left;" })
                                    <div class="col-sm-9">
                                        <div class="table-responsive">
                                            <table class="table table-hover table-bordered">
                                                <tbody>
                                                    @{
                                                        string[] codeName = _setting.Value.Split('|');
                                                        int count = 1;
                                                        foreach (string _codeName in codeName)
                                                        {
                                                            

                                                            <tr>
                                                                <td><label class="col-sm-12 control-label" style="text-align: left">AGENCY @count</label></td>
                                                                <td>
                                                                    @Html.TextBox("SystemSettings_" + _setting.ID + "_" + _setting.Code + "_Code", _codeName, new { @class = "form-control", @disabled = "disabled" })
                                                                </td>
                                                            </tr>
                                                            count++;
                                                        }
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            }
                            else if (_setting.Code == "PAYMENT_TERMS")
                            {
                                <div class="form-group margin-bottom-15">
                                    @Html.Label(_setting.Code, new { @class = "col-sm-12 control-label", @style = "text-align: left;" })
                                    <div class="col-sm-9">
                                        @Html.TextArea("Value_" + _setting.ID, _setting.Value, new { @class = "form-control", @rows = "12", @disabled = "disabled" })
                                    </div>
                                </div>
                            }
                            else if (_setting.Code == "QUOTATION_CATEGORIES")
                            {
                                <div class="form-group margin-bottom-15">
                                    @Html.Label(_setting.Code, new { @class = "col-sm-12 control-label", @style = "text-align: left;" })
                                    <div class="col-sm-9">
                                        <div class="table-responsive">
                                            <table class="table table-hover table-bordered">
                                                <tbody>
                                                    @{
                                                        string[] codeName = _setting.Value.Split('|');
                                                        int count = 1;

                                                        foreach (string _codeName in codeName)
                                                        {
                                                            <tr>
                                                                <td>
                                                                    @Html.TextBox("SystemSettings_" + _setting.ID + "_" + _setting.Code + "_Code", _codeName, new { @class = "form-control", @disabled = "disabled" })
                                                                </td>
                                                            </tr>
                                                            count++;
                                                        }
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            }
                            else if (_setting.Code == "LIST_OF_COMPANY")
                            {
                                <div class="form-group margin-bottom-15">
                                    @Html.Label(_setting.Code, new { @class = "col-sm-12 control-label", @style = "text-align: left;" })
                                    <div class="col-sm-12">
                                        <div class="table-responsive">
                                            <table class="table table-hover table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th style="min-width:250px;">Company Name</th>
                                                        <th>GST</th>
                                                        <th style="min-width:350px;">Company Info</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @{
                                                        string[] restrictions = _setting.Value.Split(';');
                                                        int count = 1;
                                                        foreach (string restrict in restrictions)
                                                        {
                                                            string[] codeName = restrict.Split('|');
                                                            
                                                            <tr>
                                                                <td style="min-width:250px;">
                                                                    @Html.TextBox("SystemSettings_" + _setting.ID + "_" + _setting.Code + "_Code", codeName[0], new { @class = "form-control", @disabled = "disabled" })
                                                                    @Html.Hidden("SystemSettings_Company_" + _setting.ID + "_" + count, _setting.ID)
                                                                </td>
                                                                <td>
                                                                    @Html.TextBox("SystemSettings_" + _setting.ID + "_" + _setting.Code + "_Code", codeName[1], new { @class = "form-control", @disabled = "disabled" })
                                                                </td>
                                                                <td style="min-width:350px;">
                                                                    @Html.TextArea("SystemSettings_" + _setting.ID + "_" + _setting.Code + "_Code", codeName[2], new { @class = "form-control", @rows="5", @disabled = "disabled" })
                                                                </td>
                                                            </tr>
                                                            count++;
                                                        }
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            }
                            else if (_setting.Code == "TERM_AND_CONDITION")
                            {
                                <div class="form-group margin-bottom-15">
                                    @Html.Label(_setting.Code, new { @class = "col-sm-12 control-label", @style = "text-align: left;" })
                                    <div class="col-sm-9">
                                        @Html.TextArea("Value_" + _setting.ID, _setting.Value, new { @class = "form-control", @rows = "12", @disabled = "disabled" })
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="form-group margin-bottom-15">
                                    @Html.Label(_setting.Code, new { @class = "col-sm-12 control-label", @style = "text-align: left;" })
                                    <div class="col-sm-9">
                                        @Html.TextBox("SystemSettings_" + _setting.ID, _setting.Value, new { @class = "form-control", @disabled = "disabled" })
                                    </div>
                                </div>
                            }

                        }

                        @if (Session["UserGroup"].ToString() == "Super Admin")
                        {
                        <div class="form-group">
                            <div class="col-sm-9">
                                <a href="@Url.Action("EditSystemSetting")" class="btn btn-primary margin-3">Edit </a>
                            </div>
                        </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="@Url.Content("~/Content/vendor/ckeditor/ckeditor.js")"></script>

@if (Session["Result"] != null)
{
    string[] result = Session["Result"].ToString().Split('|');

    <script>
        $(document).ready(function () {
            alertify.alert("@result[1]");
        })
    </script>

    Session.Remove("Result");
}

<script>
    CKEDITOR.replace('Value_14', {
        allowedContent: true,
    });

    CKEDITOR.replace('Value_20', {
        allowedContent: true,
    });
</script>