﻿@{
    Layout = null;
}

<tr id="tr-item-description-@ViewData["RowId"].ToString()">
    <td>
        @ViewData["RowCount"].ToString()
    </td>
    <td>
        @Html.TextBox("ItemDescription_Description_" + ViewData["RowId"].ToString(), null, new { @class = "form-control" })
    </td>
    <td>
        @Html.DropDownList("ItemDescription_PercentageOfQuotation_" + ViewData["RowId"].ToString(), (SelectList)ViewData["PercentageOfQuotationDropdown"], new { @class = "form-control", @onchange = "PercentageOfQuotationChange(" + ViewData["RowId"].ToString() + ")" })
    </td>
    <td>
        <div class="input-group">
            <span class="input-group-addon">$</span>
            @Html.TextBox("ItemDescription_AmountTxt_" + ViewData["RowId"].ToString(), ViewData["Amount"].ToString(), new { @class = "form-control item-description-amount", @disabled = "disabled" })
            @Html.Hidden("ItemDescription_Amount_" + ViewData["RowId"].ToString(), ViewData["Amount"].ToString())
        </div>
    </td>
    <td>
        <button class="btn btn-danger btn-xs" type="button" onclick="RemoveItemDescription(@ViewData["RowId"].ToString())">
            <i aria-hidden="true" class="icon wb-close"></i> Remove
        </button>
    </td>
</tr>