﻿@using DataAccess
@using DataAccess.POCO

@{
    ViewBag.Title = ViewData["SiteName"].ToString();
    ViewBag.PageTitle = "Edit Invoice";
    ViewBag.AInvoice = "active open";
    ViewBag.liListInvoice = "active";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Edit", "Invoice", FormMethod.Post, new { @id = "form-edit", @class = "form-horizontal" }))
{
    Invoice invoice = (Invoice)ViewData["Invoice"];

    <div class="panel">
        <div class="panel-body container-fluid">
            <div class="row row-lg">
                <div class="col-md-10">
                    @if (Session["Result"] != null)
                    {
                        string[] result = Session["Result"].ToString().Split('|');

                        <div class="alert alert-@result[0] text-center">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            @result[1]
                        </div>

                        Session.Remove("Result");
                    }
                    <h4>Customer Info</h4>
                    <div class="form-group">
                        @Html.LabelFor(i => invoice.InvoiceID, new { @class = "col-sm-3 control-label" })
                        <div class="col-sm-9">
                            @Html.TextBoxFor(i => invoice.InvoiceID, new { @class = "form-control", @placeholder = "ID will be Assigned after Creation", @disabled = "disabled" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(i => invoice.QuotationId, new { @class = "col-sm-3 control-label" })
                        <div class="col-sm-9">
                            @Html.DropDownListFor(i => invoice.QuotationId, (SelectList)ViewData["QuotationDropdown"], new { @class = "form-control", @data_plugin = "select2", @data_placeholder = "Search by Quotation ID, Customer Name or Company Name", @data_allow_clear = "true", @onchange = "QuotationChange()" })
                            @Html.ValidationMessageFor(i => invoice.QuotationId)
                        </div>
                    </div>


                    @if (ViewData["PostBack"] != null)
                    {
                        if (invoice.ProjectId == 0)
                        {
                            if (ViewData["ProjectDropdown"] != null)
                            {
                                <div class="form-group" id="projectListField">
                                    @Html.LabelFor(i => invoice.ProjectId, new { @class = "col-sm-3 control-label" })
                                    <div class="col-sm-9">
                                        @Html.DropDownListFor(i => invoice.ProjectId, (SelectList)ViewData["ProjectDropdown"], new { @class = "form-control", @data_plugin = "select2", @data_placeholder = "Search by Project Title", @data_allow_clear = "true" })
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="form-group" id="projectListField" style="display:none;">
                                    @Html.LabelFor(i => invoice.ProjectId, new { @class = "col-sm-3 control-label" })
                                    <div class="col-sm-9">
                                        @Html.DropDownListFor(i => invoice.ProjectId, new SelectList(new List<string>()), new { @class = "form-control", @data_plugin = "select2", @data_placeholder = "Search by Project Title", @data_allow_clear = "true" , @disabled = "disabled"})
                                    </div>
                                </div>
                            }
                        }
                        else
                        {
                            <div class="form-group" id="projectListField">
                                @Html.LabelFor(i => invoice.ProjectId, new { @class = "col-sm-3 control-label" })
                                <div class="col-sm-9">
                                    @Html.DropDownListFor(i => invoice.ProjectId, (SelectList)ViewData["ProjectDropdown"], new { @class = "form-control", @data_plugin = "select2", @data_placeholder = "Search by Project Title", @data_allow_clear = "true" })
                                </div>
                            </div>
                        }
                    }
                    else
                    {
                        if (invoice.ProjectId == 0)
                        {
                            if (ViewData["ProjectDropdown"] == null)
                            {
                                <div class="form-group" id="projectListField" style="display:none;">
                                    @Html.LabelFor(i => invoice.ProjectId, new { @class = "col-sm-3 control-label" })
                                    <div class="col-sm-9">
                                        @Html.DropDownListFor(i => invoice.ProjectId, new SelectList(new List<string>()), new { @class = "form-control", @data_plugin = "select2", @data_placeholder = "Search by Project Title", @data_allow_clear = "true", @disabled = "disabled" })
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="form-group" id="projectListField">
                                    @Html.LabelFor(i => invoice.ProjectId, new { @class = "col-sm-3 control-label" })
                                    <div class="col-sm-9">
                                        @Html.DropDownListFor(i => invoice.ProjectId, (SelectList)ViewData["ProjectDropdown"], new { @class = "form-control", @data_plugin = "select2", @data_placeholder = "Search by Project Title", @data_allow_clear = "true" })
                                    </div>
                                </div>
                            }

                        }
                        else
                        {
                            <div class="form-group" id="projectListField">
                                @Html.LabelFor(i => invoice.ProjectId, new { @class = "col-sm-3 control-label" })
                                <div class="col-sm-9">
                                    @Html.DropDownListFor(i => invoice.ProjectId, (SelectList)ViewData["ProjectDropdown"], new { @class = "form-control", @data_plugin = "select2", @data_placeholder = "Search by Project Title", @data_allow_clear = "true" })
                                </div>
                            </div>
                        }
                    }



                    @*<div class="form-group">
                            @Html.LabelFor(i => invoice.Company, new { @class = "col-sm-3 control-label" })
                            <div class="col-sm-9">
                                @Html.TextBoxFor(i => invoice.Company, new { @class = "form-control", @disabled = "disabled", @Value = ViewData["QuotationCompany"].ToString() })
                            </div>
                        </div>*@
                    <div class="form-group">
                        @Html.Label("Company", new { @class = "col-sm-3 control-label" })
                        <div class="col-sm-9">
                            @Html.TextBox("QuotationCompany", ViewData["QuotationCompany"].ToString(), new { @class = "form-control", @disabled = "disabled" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(i => invoice.CustomerId, new { @class = "col-sm-3 control-label" })
                        <div class="col-sm-9">
                            @Html.DropDownListFor(i => invoice.CustomerId, (SelectList)ViewData["CustomerDropdown"], new { @class = "form-control", @data_plugin = "select2", @data_placeholder = "Search by Customer ID or Name", @data_allow_clear = "true", @onchange = "CustomerChange()" })
                            @Html.ValidationMessageFor(i => invoice.CustomerId)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(i => invoice.ContactPerson, new { @class = "col-sm-3 control-label" })
                        <div class="col-sm-9">
                            @Html.TextBoxFor(i => invoice.ContactPerson, new { @class = "form-control" })
                            @Html.ValidationMessageFor(i => invoice.ContactPerson)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Label("Address", new { @class = "col-sm-3 control-label" })
                        <div class="col-sm-9">
                            @Html.TextBox("CustomerAddress", ViewData["CustomerAddress"], new { @class = "form-control", @disabled = "disabled" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Label("Tel", new { @class = "col-sm-3 control-label" })
                        <div class="col-sm-9">
                            @Html.TextBox("CustomerTel", ViewData["CustomerTel"].ToString(), new { @class = "form-control", @disabled = "disabled" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Label("Fax", new { @class = "col-sm-3 control-label" })
                        <div class="col-sm-9">
                            @Html.TextBox("CustomerFax", ViewData["CustomerFax"], new { @class = "form-control", @disabled = "disabled" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(i => invoice.PreparedById, new { @class = "col-sm-3 control-label" })
                        <div class="col-sm-9">
                            @Html.TextBox("InvoicePreparedBy", invoice.PreparedBy.Name, new { @class = "form-control", @disabled = "disabled" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(i => invoice.Date, new { @class = "col-sm-3 control-label" })
                        <div class="col-sm-9">
                            @Html.TextBoxFor(i => invoice.Date, "{0:dd/MM/yyyy}", new { @class = "form-control" })
                            @Html.ValidationMessageFor(i => invoice.Date)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(i => invoice.Remarks, new { @class = "col-sm-3 control-label" })
                        <div class="col-sm-9">
                            @Html.TextAreaFor(i => invoice.Remarks, new { @class = "form-control" })
                            @Html.ValidationMessageFor(i => invoice.Remarks)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(i => invoice.Notes, new { @class = "col-sm-3 control-label" })
                        <div class="col-sm-9">
                            @Html.TextAreaFor(i => invoice.Notes, new { @class = "form-control", @rows = "8" })
                            @Html.ValidationMessageFor(i => invoice.Notes)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel" @ViewData["InvoiceInfoSection"].ToString()>
        <div class="panel-body container-fluid">
            <div class="row row-lg">
                <div class="col-md-10">
                    <h4>Invoice Info</h4>
                    <div class="form-group">
                        @Html.LabelFor(i => invoice.GST, new { @class = "col-sm-3 control-label" })
                        <div class="col-sm-9">
                            @Html.DropDownList("InvoiceGST", (SelectList)ViewData["GSTDropdown"], new { @class = "form-control", @data_plugin = "selectpicker", @onchange = "GSTChange()", @disabled = "disabled" })
                            @Html.HiddenFor(i => invoice.GST)
                            @Html.ValidationMessageFor(i => invoice.GST)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Label("Total Quotation Amount", new { @class = "col-sm-3 control-label" })
                        <div class="col-sm-9">
                            <div class="input-group">
                                <span class="input-group-addon">$</span>
                                @Html.TextBox("TotalQuotationAmount", ViewData["TotalQuotationAmount"].ToString(), new { @class = "form-control", @disabled = "disabled" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(i => invoice.PaymentMade, new { @class = "col-sm-3 control-label" })
                        <div class="col-sm-9">
                            <div class="input-group">
                                <span class="input-group-addon">$</span>
                                @Html.TextBoxFor(i => invoice.PaymentMade, "{0:#,##0.00}", new { @class = "form-control", @onchange = "PaymentMadeChange()" })
                            </div>
                            @Html.ValidationMessageFor(i => invoice.PaymentMade)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(i => invoice.Status, new { @class = "col-sm-3 control-label" })
                        <div class="col-sm-9">
                            @Html.TextBoxFor(i => invoice.Status, new { @class = "form-control", @disabled = "disabled" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel">
        <div class="panel-body container-fluid">
            <div class="row row-lg">
                <div class="col-md-12">
                    <h4>Item Description</h4>
                    @Html.ValidationMessage("ItemDescription")
                    <div class="form-group">
                        <div class="col-sm-12 table-responsive">
                            <table id="table-item-description" class="table table-hover table-condensed table-bordered" data-striped="true" data-height="250" data-mobile-responsive="true">
                                <thead>
                                    <tr>
                                        <th colspan="9"><button type="button" class="btn btn-primary btn-xs" onclick="AddItemDescription()">Add Item </button></th>
                                    </tr>
                                    <tr>
                                        <th style="min-width:50px">#</th>
                                        <th style="min-width:400px">Description</th>
                                        <th style="min-width:50px">% of Quotation</th>
                                        <th style="min-width:100px">Amount</th>
                                        <th style="min-width:50px">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        List<InvoiceItemDescriptionTable> itemDescriptionsTable = (List<InvoiceItemDescriptionTable>)ViewData["InvoiceItemDescriptionTable"];

                                        int count = 1;

                                        foreach (InvoiceItemDescriptionTable itemDescription in itemDescriptionsTable)
                                        {
                                            <tr id="tr-item-description-@itemDescription.RowId">
                                                <td>
                                                    @count
                                                </td>
                                                <td>
                                                    @Html.TextBox("ItemDescription_Description_" + itemDescription.RowId, itemDescription.Description, new { @class = "form-control" })
                                                    @Html.ValidationMessage("ItemDescription_Description_" + itemDescription.RowId)
                                                </td>
                                                <td>
                                                    @Html.DropDownList("ItemDescription_PercentageOfQuotation_" + itemDescription.RowId, itemDescription.PercentageOfQuotationDDL, new { @class = "form-control", @onchange = "PercentageOfQuotationChange(" + itemDescription.RowId + ")" })
                                                    @Html.ValidationMessage("ItemDescription_PercentageOfQuotation_" + itemDescription.RowId)
                                                </td>
                                                <td>
                                                    <div class="input-group">
                                                        <span class="input-group-addon">$</span>
                                                        @if (itemDescription.PercentageOfQuotation == "")
                                                        {
                                                            @Html.TextBox("ItemDescription_Amount_" + itemDescription.RowId, itemDescription.Amount, new { @class = "form-control item-description-amount" })
                                                        }
                                                        else
                                                        {
                                                            @Html.TextBox("ItemDescription_AmountTxt_" + itemDescription.RowId, itemDescription.Amount, new { @class = "form-control item-description-amount", @disabled = "disabled" })
                                                            @Html.Hidden("ItemDescription_Amount_" + itemDescription.RowId, itemDescription.Amount)
                                                        }
                                                    </div>
                                                    @Html.ValidationMessage("ItemDescription_Amount_" + itemDescription.RowId)
                                                </td>
                                                <td>
                                                    <button class="btn btn-danger btn-xs" type="button" onclick="RemoveItemDescription(@itemDescription.RowId)">
                                                        <i aria-hidden="true" class="icon wb-close"></i> Remove
                                                    </button>
                                                </td>
                                            </tr>
                                            count++;
                                        }
                                    }
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="3" class="text-right">Subtotal</td>
                                        <td colspan="2">
                                            <div class="input-group">
                                                <span class="input-group-addon">$</span>
                                                @Html.TextBox("SubtotalTxt", invoice.SubtotalAmount.ToString("#,##0.00"), new { @class = "form-control", @disabled = "disabled" })
                                                @Html.HiddenFor(i => invoice.SubtotalAmount)
                                            </div>
                                        </td>
                                    </tr>
                                    <tr id="tr-gst">
                                        <td id="td-gst-amount" colspan="3" class="text-right">GST (7%)</td>
                                        <td colspan="2">
                                            <div class="input-group">
                                                <span class="input-group-addon">$</span>
                                                @Html.TextBox("GstTotalTxt", invoice.GSTAmount.ToString("#,##0.00"), new { @class = "form-control", @disabled = "disabled" })
                                                @Html.HiddenFor(i => invoice.GSTAmount)
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="3" class="text-right">Grand Total</td>
                                        <td colspan="2">
                                            <div class="input-group">
                                                <span class="input-group-addon">$</span>
                                                @Html.TextBox("GrandTotalTxt", invoice.GrandTotalAmount.ToString("#,##0.00"), new { @class = "form-control", @disabled = "disabled" })
                                                @Html.HiddenFor(i => invoice.GrandTotalAmount)
                                            </div>
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-12">
                            <button type="submit" class="btn btn-primary margin-top-10">Submit</button>
                            <a href="@Url.Action("Edit", new { @id = invoice.ID })" class="btn btn-default btn-outline  margin-top-10">Reset</a>
                            <a href="@Url.Action("GenerateInvoice", new { @id = invoice.ID })" class="btn btn-success margin-top-10">Generate Invoice </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<script>
    $(document).ready(function () {
        $("#invoice_Date").datepicker();

        DisplayGSTPercent();
    })

    function QuotationChange()
    {
        var quotationId = $("#invoice_QuotationId").val();

        $("#table-item-description tbody").html("");
        AddItemDescription();

        $("#SubtotalTxt").val("0.00");
        $("#invoice_SubtotalAmount").val("0.00");
        $("#GstTotalTxt").val("0.00");
        $("#invoice_GSTAmount").val("0.00");
        $("#GrandTotalTxt").val("0.00");
        $("#invoice_GrandTotalAmount").val("0.00");

        $("#invoice_ProjectId").attr("disabled", true);

        if (quotationId != "")
        {
            var url = "@Url.Action("GetQuotationDetails")";
            var url2 = "@Url.Action("GetProjectList")";

            $.ajax({
                type: "GET",
                cache: false,
                url: url,
                data: { qid: quotationId },
                success: function (data) {
                    data = JSON.parse(data);

                    if (data.Result) {
                        $("#invoice_Company").val(data.QuotationDetail.Company);
                        $("#QuotationCompany").val(data.QuotationDetail.Company);
                        $("#TotalQuotationAmount").val(data.QuotationDetail.TotalQuotationAmount);
                        $("#invoice_CustomerId").select2().val(data.QuotationDetail.CustomerId).trigger("change");
                        $("#invoice_GST").val(data.QuotationDetail.GST);
                        $("#InvoiceGST").val(data.QuotationDetail.GST);
                        $("#InvoiceGST").selectpicker("refresh").trigger("change");

                        //Load Project Title List Ajax
                        $.ajax({
                            type: "GET",
                            cache: false,
                            url: url2,
                            data: { qid: quotationId },
                            success: function (data) {
                                data = JSON.parse(data);

                                $('#invoice_ProjectId').empty().trigger("change");

                                if (data.Result) {
                                    //console.log(data);

                                    $('#projectListField').show();

                                    $('#invoice_ProjectId').append(data.Options);

                                    $("#invoice_ProjectId").attr("disabled", false);

                                    $('#invoice_ProjectId').trigger('change'); // Notify any JS components that the value changed

                                }
                                else {

                                    $('#invoice_ProjectId').empty().trigger("change");
                                    $('#projectListField').hide();

                                    //alertify.alert(data.ErrorMessage);
                                }
                            },
                            error: function (e) {
                                console.log(e);
                                alertify.alert("An error occured while retrieving Quotation detail!");
                            }
                        });

                    }
                    else {
                        alertify.alert(data.ErrorMessage);
                    }
                },
                error: function (e) {
                    console.log(e);
                    alertify.alert("An error occured while retrieving Quotation detail!");
                }
            });
        }
        else {
            //Reset all related fields
            $("#invoice_Company").val("");
            $("#QuotationCompany").val("");
            $("#TotalQuotationAmount").val("");
            $("#invoice_CustomerId").select2().val("").trigger("change");
            $("#invoice_GST").val("Yes");
            $("#InvoiceGST").val("Yes");
            $("#InvoiceGST").selectpicker("refresh").trigger("change");

            $('#projectListField').hide();
            //empty project list dropdown
            $('#invoice_ProjectId').empty().trigger("change");
        }
    }

    function CustomerChange() {
        var customerId = $("#invoice_CustomerId").val();

        if (customerId != "" && customerId != null) {
            var url = "@Url.Action("GetCustomerDetails")"

            $.ajax({
                type: "GET",
                cache: false,
                url: url,
                data: { cid: customerId },
                success: function (data) {
                    data = JSON.parse(data);

                    if (data.Result) {
                        $("#invoice_ContactPerson").val(data.CustomerDetail.ContactPerson);
                        $("#CustomerAddress").val(data.CustomerDetail.Address);
                        $("#CustomerTel").val(data.CustomerDetail.Tel);
                        $("#CustomerFax").val(data.CustomerDetail.Fax);
                    }
                    else {
                        alertify.alert(data.ErrorMessage);
                    }
                },
                error: function (e) {
                    console.log(e);
                    alertify.alert("An error occured while retrieving Customer detail!");
                }
            });
        }
        else {
            //Reset all related fields
            $("#invoice_ContactPerson").val("");
            $("#CustomerAddress").val("");
            $("#CustomerTel").val("");
            $("#CustomerFax").val("");
        }
    }

    function GSTChange() {
        DisplayGSTPercent();
        CalculateGST();
    }

    function DisplayGSTPercent() {
        var gst = $("#invoice_GST").val();

        if (gst == "Yes") {
            $("#td-gst-amount").html("GST (7%)");
        }
        else {
            $("#td-gst-amount").html("GST (0%)");
        }
    }

    function PaymentMadeChange() {
        ValidateAmount("invoice_PaymentMade", "", "true");
    }

    function AddItemDescription() {
        var rowId = 1;
        var rowCount = $("#table-item-description tbody tr").length;

        if (rowCount > 0) {
            rowId = $("#table-item-description tbody tr:last")[0].id.split("-")[3];
        }

        var quotationId = $("#invoice_QuotationId").val();
        var url = "@Url.Action("AddItemDescription")";

        $.ajax({
            type: "GET",
            cache: false,
            url: url,
            data: { rowId: rowId, rowCount: rowCount, qid: quotationId },
            success: function (data) {
                $("#table-item-description tbody").append(data);

                CalculateSubtotal();
            },
            error: function (e) {
                console.log(e);
                alertify.alert("An error occured while adding item description!");
            }
        });
    }

    function RemoveItemDescription(rowId) {
        alertify.confirm("Do you want to remove this item?", function (e) {
            if (e) {
                $("#tr-item-description-" + rowId).remove();

                CalculateSubtotal();

                var rowCount = $("#table-item-description tbody tr").length;

                if (rowCount > 0) {
                    var count = 1;

                    $("#table-item-description tbody tr").each(function () {
                        this.childNodes[1].innerHTML = count;
                        count++;
                    });
                }
            }
        });
    }

    function PercentageOfQuotationChange(rowId) {
        var percent = $("#ItemDescription_PercentageOfQuotation_" + rowId).val();
        var quotationId = $("#invoice_QuotationId").val();

        if (percent != "") {
            var amount = $("#ItemDescription_Amount_" + rowId);
            if (amount[0].type == "text") {
                amount.attr("type", "hidden");
                amount.removeAttr("disabled", "disabled");
            }

            var amountTxt = $("#ItemDescription_AmountTxt_" + rowId);
            if (amountTxt.length == 0) {
                amount.before("<input type='text' class='form-control item-description-amount' id='ItemDescription_AmountTxt_" + rowId + "' name='ItemDescription_AmountTxt_" + rowId + "' disabled />");
            }
            var url = "@Url.Action("CalculateItemAmount")";

            $.ajax({
                type: "GET",
                cache: false,
                url: url,
                data: { percent: percent, qid: quotationId },
                success: function (data) {
                    $("#ItemDescription_AmountTxt_" + rowId).val(data);
                    $("#ItemDescription_Amount_" + rowId).val(data);

                    CalculateSubtotal();
                },
                error: function (e) {
                    console.log(e);
                    alertify.alert("An error occured while calculating item amount!");
                }
            });
        }
        else {
            var amountHidden = $("#ItemDescription_Amount_" + rowId);
            amountHidden.remove();

            var amountTxt = $("#ItemDescription_AmountTxt_" + rowId);
            amountTxt.attr("id", "ItemDescription_Amount_" + rowId);
            amountTxt.attr("name", "ItemDescription_Amount_" + rowId);
            amountTxt.attr("type", "text");
            amountTxt.attr("onchange", "AmountChange(" + rowId + ")");
            amountTxt.removeAttr("disabled");
            amountTxt.val("");

            CalculateSubtotal();
        }
    }

    function AmountChange(rowId) {
        ValidateAmount("ItemDescription_Amount_" + rowId, "", "false");
    }

    function CalculateSubtotal() {
        var subtotal = 0;
        $(".item-description-amount[type=text]").each(function () {
            var amount = $(this).val().replace(/,/g, "");
            if (amount != "" && !isNaN(amount)) {
                subtotal += parseFloat(amount);
            }
        });

        $("#SubtotalTxt").val(subtotal);
        $("#invoice_SubtotalAmount").val(subtotal);

        ValidateAmount("SubtotalTxt", "invoice_SubtotalAmount");

        CalculateGST();
    }

    function CalculateGST() {
        var gst = $("#invoice_GST").val();
        var gstAmount = 0;

        if (gst == "Yes") {
            var subtotal = $("#SubtotalTxt").val().replace(/,/g, "");
            var url = "@Url.Action("CalculateGST")";

            $.ajax({
                type: "GET",
                cache: false,
                url: url,
                data: { subtotal: subtotal },
                success: function (data) {
                    $("#GstTotalTxt").val(data);
                    $("#invoice_GSTAmount").val(data);

                    ValidateAmount("GstTotalTxt", "invoice_GSTAmount");

                    CalculateGrandTotal();
                },
                error: function (e) {
                    console.log(e);
                    alertify.alert("An error occured while calculating gst amount!");
                }
            });
        }
        else {
            $("#GstTotalTxt").val(gstAmount);
            $("#invoice_GSTAmount").val(gstAmount);
            ValidateAmount("GstTotalTxt", "invoice_GSTAmount");
            CalculateGrandTotal();
        }
    }

    function CalculateGrandTotal() {
        var subtotal = parseFloat($("#SubtotalTxt").val().replace(/,/g, ""));
        var gstAmount = parseFloat($("#GstTotalTxt").val().replace(/,/g, ""));

        var GrandTotal = subtotal + gstAmount;

        $("#GrandTotalTxt").val(GrandTotal);
        $("#invoice_GrandTotalAmount").val(GrandTotal);

        ValidateAmount("GrandTotalTxt", "invoice_GrandTotalAmount");
    }

    function ValidateAmount(textbox, hidden, isTotal) {
        var amount = $("#" + textbox).val();
        var url = "@Url.Action("ValidateAmount")";

        $.ajax({
            type: "GET",
            cache: false,
            url: url,
            data: { amount: amount },
            success: function (data) {
                data = JSON.parse(data);
                if (data.Result) {
                    $("#" + textbox).val(data.NewAmount);
                    if (hidden != "") {
                        $("#" + hidden).val(data.NewAmount);
                    }
                }
                else {
                    alertify.alert(data.ErrorMessage);
                }

                if (isTotal == "false") {
                    CalculateSubtotal();
                }
            },
            error: function (e) {
                console.log(e);
                console.log(textbox);
                alertify.alert("An error occured while validating amount!");
            }
        })
    }
</script>