﻿@using DataAccess.POCO

@{
    Layout = null;
}

@{
    Invoice invoice = (Invoice)ViewData["Invoice"];
}
<html>
<head>
    <title>Invoice PDF</title>
    <link rel="stylesheet" href="@Url.Content("~/Content/css/bootstrap.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/css/site.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/fonts/web-icons/web-icons.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/fonts/brand-icons/brand-icons.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/fonts/weather-icons/weather-icons.css")">

    <style type="text/css">
        body {
            font-family: 'Times New Roman' !important;
            font-size: 15px !important;
            letter-spacing: 0.5px;
            padding-top: 25px;
            padding-right: 10px;
            padding-left: 10px;
            color: black !important;
        }

        table {
            width: 100%;
        }

        .page-break {
            clear: both;
            page-break-after: always;
        }

        thead {
            display: table-header-group;
        }

        tfoot {
            display: table-row-group;
        }

        tr {
            page-break-inside: avoid;
        }

        td{
            padding: 5px;
        }

        tr.header-row td{
            border: 2px solid;
        }
    </style>
</head>
<body>
    <div class="row" style="margin-left:0px;">
        <div class="pull-left">
            <img src="@Url.Content("~/Content/images/letterhead.png")" />
        </div>
        <div class="pull-left">
            <strong style="font-size: 30px;">@ViewData["CompanyName"].ToString()</strong><br />
            @{
                string[] companyInfo = ViewData["CompanyInfo"].ToString().Split('|');

                foreach (string info in companyInfo)
                {
                    @info<br />
                }
            }
        </div>
    </div>
    <div class="row" style="margin-left: 0px; margin-right: 0px;">
        <table>
            <tr>
                <td colspan="3" style="text-align:right"><strong style="font-size: 24px;">Tax Invoice</strong><br /><br /><br /></td>
            </tr>
            <tr>
                <td>Client:</td>
                <td style="text-align:right">Date:</td>
                <td style="text-align:right; width: 150px;">@invoice.Date.ToString("dd/MM/yyyy")</td>
            </tr>
            <tr>
                <td>
                    @invoice.ContactPerson<br />
                    @{

                        if (invoice.Customer.Address != null)
                        {
                            string[] addresses = invoice.Customer.Address.Split(',');

                            foreach (string address in addresses)
                            {
                                @address <br />
                            }
                        }
                    }
                </td>
                <td style="text-align:right">Invoice No:</td>
                <td style="text-align:right;width: 150px;">@invoice.InvoiceID</td>
            </tr>
            <tr>
                <td colspan="2" style="text-align:right">Prepared by:</td>
                <td style="text-align:right;width: 150px;">@invoice.PreparedBy.Name</td>
            </tr>
        </table>
    </div>
    <br />
    <br />
    <br />
    <div class="row" style="margin-left: 0px; margin-right: 0px;">
        <table>
            <tr class="header-row">
                <td style="text-align:center;width:80px;"><strong>S/N</strong></td>
                <td style="text-align:center;"><strong>Description</strong></td>
                <td style="text-align:center;width:200px;"><strong>Amount</strong></td>
            </tr>
            <tr>
                <td></td>
                <td>@if (ViewData["ProjectTitle"] != null)
                    {
                        <strong>Project: @ViewData["ProjectTitle"].ToString() <br/><br/></strong>
                    }
                    </td>
                <td></td>
            </tr>
            @{
                int count = 1;
            }
            @foreach (InvoiceItemDescription item in invoice.ItemDescriptions)
            {
                <tr>
                    <td>@count</td>
                    <td>@item.Description</td>
                    <td style="text-align: right;">@item.Amount.ToString("#,##0.00")</td>
                </tr>
                count++;
            }
            <tr style="height:50px;">
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td style="text-align: right;"><strong>Subtotal</strong></td>
                <td style="text-align: right;">$@invoice.SubtotalAmount.ToString("#,##0.00")</td>
            </tr>
            <tr>
                <td></td>
                <td style="text-align: right;">
                    @if (invoice.GST == "Yes")
                    {
                        <strong>7% GST</strong>
                    }
                    else
                    {
                        <strong>0% GST</strong>
                    }
                </td>
                <td style="text-align: right;">$@invoice.GSTAmount.ToString("#,##0.00")</td>
            </tr>
            <tr>
                <td></td>
                <td style="text-align: right;"><strong>Grand Total</strong></td>
                <td style="text-align: right;"><div style="margin-left: 10px;border-style: solid none double none;border-top-width: 1px;"><strong>$@invoice.GrandTotalAmount.ToString("#,##0.00")</strong></div></td>
            </tr>
        </table>
        <br /><br /><br /><br />
        <div class="row" style="margin-left: 0px; margin-right: 0px;text-align:center;">
            <strong>ALL CHEQUE PAYMENTS SHOULD BE CROSSED AND MADE PAYABLE TO " MY RENOBUDDY (SG) PTE LTD "<br />BANK ACCOUNT NUMBER: DBS BANK CURRENT ACCOUNT 0039412975</strong>
        </div>
    </div>
</body>
</html>