﻿@using DataAccess.POCO
@using PagedList
@using PagedList.Mvc

@{
    ViewBag.Title = ViewData["SiteName"].ToString();
    ViewBag.PageTitle = "Manage Invoices";
    ViewBag.AInvoice = "active open";
    ViewBag.liListInvoice = "active";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel">
    <div class="panel-body container-fluid">

        <div class="row">
            <div class="col-xlg-12 col-md-12">
                <a class="btn btn-success" href="@Url.Action("Create")" type="button"><i aria-hidden="true" class="icon wb-plus"></i> New Invoice</a>
            </div>
        </div>

        <div class="row margin-top-15">
            <div class="col-xlg-12 col-md-12">

                @using (Html.BeginForm("Listing", "Invoice", FormMethod.Post, new { @class = "page-search-form", @role = "search" }))
                {
                    <div class="input-search input-search-dark">
                        <button type="submit" class="input-search-icon wb-search" aria-label="Search" arial-hidden="true" id="btn-search"></button>
                        @Html.TextBox("SearchKeyword", ViewData["SearchKeyword"].ToString(), new { @class = "form-control", @placeholder = "Search by Invoice ID or Customer Name" })
                        <button type="button" class="input-search-close icon wb-close" aria-label="Close" id="btn-close"></button>
                    </div>

                    <div class="page-user-sortlist pull-right margin-top-15">
                        View: <a class="dropdown-toggle inline-block" data-toggle="dropdown"
                                 href="#" aria-expanded="false">@ViewData["GetStatusValue"].ToString()<span class="caret"></span></a>
                                <ul class="dropdown-menu animation-scale-up animation-top-right animation-duration-250"
                                    role="menu" id="SearchStatus">
                                    <li role="presentation" id="All"><a href="javascript:void(0)">All Invoices</a></li>
                                    <li role="presentation" id="Pending"><a href="javascript:void(0)">Pending Payment Only</a></li>
                                </ul>
                                @Html.Hidden("SearchStatusValue", Session["SearchStatus"])
                    </div>
                }
            </div>
        </div>

        <div class="row margin-top-15">
            <div class="col-xlg-12 col-md-12">
                <div class="table-responsive">
                    <table class="table table-hover table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Invoice ID</th>
                                <th>Customer/Company</th>
                                <th>Date</th>
                                <th>Grand Total</th>
                                <th>Payment Made</th>
                                <th>Prepared By</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                IPagedList<Invoice> invoices = (IPagedList<Invoice>)ViewData["Invoice"];

                                if (invoices.Count > 0)
                                {
                                    int pageCount = 0;
                                    int pageSize = Convert.ToInt32(Session["PageSize"]);
                                    int i = 1;

                                    if (Session["Page"] != null)
                                    {
                                        pageCount = Convert.ToInt32(Session["Page"]) - 1;
                                    }

                                    foreach (Invoice invoice in invoices)
                                    {
                                        string col3 = invoice.Customer.CompanyName;

                                        if (string.IsNullOrEmpty(col3))
                                        {
                                            col3 = invoice.Customer.ContactPerson;
                                        }

                                        string col6 = "-";

                                        if (invoice.PaymentMade != null)
                                        {
                                            col6 = "$" + Convert.ToDecimal(invoice.PaymentMade).ToString("#,##0.00");
                                        }
                                        
                                        <tr>
                                            <td>@(i + pageCount * pageSize)</td>
                                            <td><a href="@Url.Action("View", new { @id = invoice.ID })">@invoice.InvoiceID</a></td>
                                            <td>@col3</td>
                                            <td>@invoice.Date.ToString("dd/MM/yyyy")</td>
                                            <td>$@invoice.GrandTotalAmount.ToString("#,##0.00")</td>
                                            <td>@col6</td>
                                            <td>@invoice.PreparedBy.Name</td>
                                            <td>@invoice.Status</td>
                                            <td class="text-nowrap">
                                                @if (Session["UserGroup"].ToString() == "Super Admin" && invoice.Status == "Pending Payment")
                                                {
                                                    <button type="button" class="btn btn-sm btn-icon btn-round btn-success" data-toggle="tooltip"
                                                            data-original-title="Make Payment" onclick="MakePayment('@invoice.InvoiceID', @invoice.ID)">
                                                        <i class="icon wb-check" aria-hidden="true"></i>
                                                    </button>
                                                }
                                                @if (Session["UserGroup"].ToString() != "Sales")
                                                {
                                                    <a href="@Url.Action("Edit", new { @id = invoice.ID })" class="btn btn-sm btn-icon btn-round btn-default" data-toggle="tooltip"
                                                       data-original-title="Edit">
                                                        <i class="icon wb-edit" aria-hidden="true"></i>
                                                    </a>
                                                    <button type="button" class="btn btn-sm btn-icon btn-round btn-danger" data-toggle="tooltip"
                                                            data-original-title="Delete" onclick="DeleteInvoice(@invoice.ID)">
                                                        <i class="icon wb-close" aria-hidden="true"></i>
                                                    </button>
                                                }
                                            </td>
                                        </tr>
                                        i++;
                                    }
                                }
                                else
                                {
                                    <tr>
                                        <td class="no-record" colspan="9">No record to display</td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="pagination pagination-no-border">
                @Html.PagedListPager((IPagedList)ViewData["Invoice"], page => Url.Action("/Listing", "Invoice", new { page, currentFilter = ViewBag.CurrentFilter }), new PagedListRenderOptions { LinkToFirstPageFormat = "<< First", LinkToPreviousPageFormat = "< Previous", LinkToNextPageFormat = "Next >", LinkToLastPageFormat = "Last >>" })
            </div>
        </div>
    </div>
</div>

@if (Session["Result"] != null)
{
    string[] result = Session["Result"].ToString().Split('|');

    <script>
        $(document).ready(function () {
            alertify.alert("@result[1]");
        })
    </script>

    Session.Remove("Result");
}

<script>
    $("#SearchStatus li").click(function () {

        $("#SearchStatusValue").val($(this).attr('id'));
        var hv = $('#SearchStatusValue').val();

        $("form[role='search']").submit();
    });

    function MakePayment(invoiceID, invid) {
        alertify.confirm("Are you sure you want make full payment for " + invoiceID + "?", function (e) {
            if (e) {
                window.location = "@Url.Action("MakePayment")/" + invid;
            }
        });
    }

    function DeleteInvoice(id) {
        alertify.confirm("You are deleting this invoice! Continue?", function (e) {
            if (e) {
                window.location = "@Url.Action("Delete", "Invoice")/" + id;
            }
        });
    }
</script>