﻿@using DataAccess
@using DataAccess.POCO

@{
    ViewBag.Title = ViewData["SiteName"].ToString();
    ViewBag.PageTitle = "New Customer";
    ViewBag.ACustomer = "active open";
    ViewBag.liCreateCustomer = "active open";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Create", "Customer", FormMethod.Post, new { @class = "form-horizontal" }))
{
    <div class="panel">
        <div class="panel-body container-fluid">
            <div class="row row-lg">
                <div class="col-md-10">
                    <!-- Example Horizontal Form -->
                    @{
                        Customer customer = new Customer();
                    }
                    

                    @if (Session["Result"] != null)
                    {
                    string[] result = Session["Result"].ToString().Split('|');

                    <div class="alert alert-@result[0] text-center">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        @result[1]
                    </div>

                    Session.Remove("Result");
                    }

                    <div class="form-group">
                        @Html.LabelFor(c => customer.CustomerID, new { @class = "col-sm-3 control-label" })
                        <div class="col-sm-9">
                            @Html.TextBoxFor(c => customer.CustomerID, new { @class = "form-control", @placeholder = "ID will be Assigned after Creation", @disabled = "disabled" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(c => customer.LoginID, new { @class = "col-sm-3 control-label" })
                        <div class="col-sm-9">
                            @Html.TextBoxFor(c => customer.LoginID, new { @class = "form-control" })
                            @Html.ValidationMessageFor(c => customer.LoginID)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(c => customer.Password, new { @class = "col-sm-3 control-label" })
                        <div class="col-sm-9">
                            @Html.PasswordFor(c => customer.Password, new { @class = "form-control" })
                            @Html.ValidationMessageFor(c => customer.Password)
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Repeat Password *</label>
                        <div class="col-sm-9">
                            @Html.Password("RepeatPassword", null, new { @class = "form-control" })
                            @Html.ValidationMessage("RepeatPassword")
                        </div>
                    </div>
                    <div class="form-group">
						<label class="col-sm-3 control-label">Company Name / Consumer Name</label>
                        <div class="col-sm-9">
                            @Html.TextBoxFor(c => customer.CompanyName, new { @class = "form-control" })
                            @Html.ValidationMessageFor(c => customer.CompanyName)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(c => customer.Agency, new { @class = "col-sm-3 control-label" })
                        <div class="col-sm-9">
                            @Html.DropDownListFor(c => customer.Agency, (SelectList)ViewData["AgencyDropdown"],"", new { @class = "form-control", @data_plugin = "select2", @data_allow_clear = "true", @data_placeholder = "Search by Agency Name" })
                            @Html.ValidationMessageFor(c => customer.Agency)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(c => customer.ContactPerson, new { @class = "col-sm-3 control-label" })
                        <div class="col-sm-9">
                            @Html.TextBoxFor(c => customer.ContactPerson, new { @class = "form-control" })
                            @Html.ValidationMessageFor(c => customer.ContactPerson)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(c => customer.Address, new { @class = "col-sm-3 control-label" })
                        <div class="col-sm-9">
                            @Html.TextBoxFor(c => customer.Address, new { @class = "form-control" })
                            @Html.ValidationMessageFor(c => customer.Address)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(c => customer.Email, new { @class = "col-sm-3 control-label" })
                        <div class="col-sm-9">
                            @Html.TextBoxFor(c => customer.Email, new { @class = "form-control" })
                            @Html.ValidationMessageFor(c => customer.Email)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(c => customer.Tel, new { @class = "col-sm-3 control-label" })
                        <div class="col-sm-9">
                            @Html.TextBoxFor(c => customer.Tel, new { @class = "form-control" })
                            @Html.ValidationMessageFor(c => customer.Tel)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(c => customer.Fax, new { @class = "col-sm-3 control-label" })
                        <div class="col-sm-9">
                            @Html.TextBoxFor(c => customer.Fax, new { @class = "form-control" })
                            @Html.ValidationMessageFor(c => customer.Fax)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(c => customer.BankName, new { @class = "col-sm-3 control-label" })
                        <div class="col-sm-9">
                            @Html.TextBoxFor(c => customer.BankName, new { @class = "form-control" })
                            @Html.ValidationMessageFor(c => customer.BankName)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(c => customer.BankAccNo, new { @class = "col-sm-3 control-label" })
                        <div class="col-sm-9">
                            @Html.TextBoxFor(c => customer.BankAccNo, new { @class = "form-control" })
                            @Html.ValidationMessageFor(c => customer.BankAccNo)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(c => customer.Remarks, new { @class = "col-sm-3 control-label" })
                        <div class="col-sm-9">
                            @Html.TextAreaFor(c => customer.Remarks, new { @class = "form-control" })
                            @Html.ValidationMessageFor(c => customer.Remarks)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(c => customer.UplineId, new { @class = "col-sm-3 control-label" })
                        <div class="col-sm-9">
                            @Html.DropDownList("UplineID", (SelectList)ViewData["UplineDropdown"], "", new { @class = "form-control", @data_plugin = "select2", @data_allow_clear = "true", @data_placeholder = "Search by User/Customer ID or Name" })
                            @Html.ValidationMessage("UplineID")
                        </div>
                    </div>

                    @if (ViewData["CheckUserRole"].ToString() != "Sales")
                    {
                        <div class="form-group" id="position-div">
                            @Html.LabelFor(c => customer.Position, new { @class = "col-sm-3 control-label" })
                            <div class="col-sm-9">
                                @Html.DropDownListFor(c => customer.Position, (SelectList)ViewData["PositionDropdown"], new { @class = "form-control", @data_plugin = "selectpicker", @data_allow_clear = "true" })
                                @Html.ValidationMessageFor(c => customer.Position)
                            </div>
                        </div>
                    }

                    <div class="form-group">
                        @Html.LabelFor(c => customer.AssignToId, new { @class = "col-sm-3 control-label" })
                        <div class="col-sm-9">

                            @Html.DropDownListFor(c => customer.AssignToId, (SelectList)ViewData["AssignToDropdown"], new { @class = "form-control", @data_plugin = "select2", @data_allow_clear = "true", @data_placeholder = "Search by User ID or Name" })
                            @Html.ValidationMessageFor(c => customer.AssignToId)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(c => customer.Status, new { @class = "col-sm-3 control-label" })
                        <div class="col-sm-9">
                            @Html.DropDownListFor(c => customer.Status, (SelectList)ViewData["StatusDropdown"], new { @class = "form-control", @data_plugin = "selectpicker", @data_allow_clear = "true" })
                            @Html.ValidationMessageFor(c => customer.Status)
                        </div>
                    </div>

                    <!-- End Example Horizontal Form -->
                </div>
            </div>
        </div>
    </div>

    <div class="panel">
        <div class="panel-body container-fluid">
            <div class="row row-lg">
                <div class="col-md-10">
                    <!-- Example Horizontal Form -->
                    <h4>Customer Reminder</h4>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <button type="button" class="btn btn-primary" id="add_new">Add Item </button>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12 table-responsive">
                            <table class="table table-hover table-condensed table-bordered" data-striped="true" data-height="250" data-mobile-responsive="true" id="tbl">
                                <thead>
                                    <tr>
                                        <th style="min-width:50px">#</th>
                                        <th style="min-width:300px">Description *</th>
                                        <th style="min-width:150px">Date *</th>
                                        <th style="min-width:100px">Repeat</th>
                                        <th style="min-width:50px">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (ViewData["CustomerReminderTable"] != null)
                                    {
                                        List<CustomerReminderTable> customerReminder = (List<CustomerReminderTable>)ViewData["CustomerReminderTable"];
                                        int count = 1;
                                        foreach (CustomerReminderTable _customerReminder in customerReminder)
                                        {
                                            <tr id="RowID-@_customerReminder.RowId">
                                                <td><div class="calculateNumber">@count</div></td>
                                                <td>
                                                    @Html.TextBox("CustomerReminderDescription_" + _customerReminder.RowId, _customerReminder.Description, new { @class = "form-control" })
                                                    @Html.ValidationMessage("CustomerReminderDescription_" + _customerReminder.RowId)
                                                </td>
                                                <td>
                                                    @Html.TextBox("CustomerReminderDate_" + _customerReminder.RowId, _customerReminder.Date, new { @class = "form-control" })
                                                    @Html.ValidationMessage("CustomerReminderDate_" + _customerReminder.RowId)
                                                </td>
                                                <td>
                                                    @Html.DropDownList("CustomerReminderRepeat_" + _customerReminder.RowId, _customerReminder.RepeatDDL, new { @class = "form-control" })
                                                    @Html.ValidationMessage("CustomerReminderRepeat_" + _customerReminder.RowId)
                                                </td>
                                                <td class="text-nowrap">
                                                    <button type="button" id="id_button" class="btn btn-sm btn-icon btn-round btn-danger" data-toggle="tooltip"
                                                            data-original-title="Remove">
                                                        <i class="icon wb-close" aria-hidden="true"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                            count++;
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-12">
                            <button type="submit" class="btn btn-primary margin-top-10">Save </button>
                            <button type="reset" class="btn btn-default btn-outline  margin-top-10">Reset</button>
                            @{
                                    int page = 1;

                                    if (Session["Page"] != null)
                                    {
                                        page = Convert.ToInt32(Session["Page"]);
                                    }
                            }
                            <a href="@Url.Action("Listing", new { @page = page })" class="btn btn-default btn-outline  margin-top-10">Back</a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<script>
    $(document).ready(function () {

        $("#tbl tbody tr input[id*='CustomerReminderDate_']").datepicker();

        var count = 2;

        $('#add_new').click(function () {

            $("#add_new").attr("disabled", true);

            var url = "@Url.Action("GetCustomerReminder")";

            var rowId = 1;
            var CustomerReminderRow = $("#tbl tbody tr").length;
            if (CustomerReminderRow > 0) {
                var _rowId = $("#tbl tbody tr:last")[0].id.split("-");
                rowId = parseInt(_rowId[1]) + 1;
            }

            $.ajax({
                type: "GET",
                cache: false,
                url: url,
                data: { id: rowId },
                success: function (data) {
                    $("#tbl tbody").append(data);
                    $("#CustomerReminderDate_" + rowId).datepicker(); // attach to new elements
                    RecalculateNumber();
                    $("#add_new").attr("disabled", false);
                },
                error: function (e) {
                    console.log(e);
                    alertify.alert("An error occured while retrieving customer reminder record!");
                }
            });
        });
    });

    $('#tbl').on('click', '#id_button', function (e) {

        var rowID = $(this).closest('tr');

        alertify.confirm("Are you sure you want to remove this item?", function (e) {
            if (e) {
                rowID.remove();
                RecalculateNumber();
                alertify.success("item has been removed!");
            }
        });
    })

    function RecalculateNumber(){
        var count = 1;
        $(".calculateNumber").each(function () {
            //console.log(this);
            this.innerHTML = count;
            count++;
        })
    }
</script>