﻿@{
    Layout = null;
}
@{
    int rowId = (int)ViewData["RowId"];
    SelectList RepeatDropdown = (SelectList)ViewData["RepeatDropdown"];
    
}
<tr id="RowID-@rowId">
    <td><div class="calculateNumber"></div></td>
    <td>
        @Html.TextBox("CustomerReminderDescription_" + rowId, null, new { @class = "form-control" })
    </td>
    <td>
        @Html.TextBox("CustomerReminderDate_" + rowId, null, new { @class = "form-control" })
    </td>
    <td>
        @Html.DropDownList("CustomerReminderRepeat_" + rowId, RepeatDropdown, new { @class = "form-control" })
    </td>
    <td class="text-nowrap">
        <button type="button" id="id_button" class="btn btn-sm btn-icon btn-round btn-danger" data-toggle="tooltip"
                data-original-title="Remove">
            <i class="icon wb-close" aria-hidden="true"></i>
        </button>
    </td>
</tr>