﻿@using DataAccess.POCO
@using PagedList
@using PagedList.Mvc

@{
    ViewBag.Title = ViewData["SiteName"].ToString();
    ViewBag.PageTitle = "Manage Customers";
    ViewBag.ACustomer = "active open";
    ViewBag.liListCustomer = "active open";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel">
    <div class="panel-body container-fluid">

        <div class="row">
            <div class="col-xlg-12 col-md-12">
                <a class="btn btn-success" href="@Url.Action("Create")" type="button"><i aria-hidden="true" class="icon wb-plus"></i> New Customer</a>
            </div>
        </div>

        <div class="row margin-top-15">
            <div class="col-xlg-12 col-md-12">

            @using (Html.BeginForm("Listing", "Customer", FormMethod.Post, new { @class = "page-search-form", @role = "search" }))
            {
                <div class="input-search input-search-dark">
                    <button type="submit" class="input-search-icon wb-search" aria-label="Search" arial-hidden="true" id="btn-search"></button>
                    @Html.TextBox("SearchKeyword", ViewData["SearchKeyword"].ToString(), new { @class = "form-control", @placeholder = "Search by Customer Name" })
                    <button type="button" class="input-search-close icon wb-close" aria-label="Close" id="btn-close"></button>
                </div>

                <div class="page-user-sortlist pull-right margin-top-15">

                    View: <a class="dropdown-toggle inline-block" data-toggle="dropdown"
                             href="#" aria-expanded="false">@ViewData["GetStatusValue"].ToString()<span class="caret"></span></a>

                            <ul class="dropdown-menu animation-scale-up animation-top-right animation-duration-250"
                                role="menu" id="SearchStatus">
                                <li role="presentation" id="All"><a href="javascript:void(0)">All Customers</a></li>
                                <li role="presentation" id="Lead"><a href="javascript:void(0)">Leads Only</a></li>
                                <li role="presentation" id="Active"><a href="javascript:void(0)">Active Only</a></li>
                                <li role="presentation" id="Suspend"><a href="javascript:void(0)">Suspended Only</a></li>
                            </ul>
                            @Html.Hidden("SearchStatusValue", Session["SearchStatus"])
                        </div>
            }

            </div>
        </div>

        <div class="row margin-top-15">
            <div class="col-xlg-12 col-md-12">
                <!-- Table -->
                <div>

                    <div class="table-responsive">
                        <table class="table table-hover table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Customer ID</th>
                                    <th>Customer/Company</th>
                                    <th>Name</th>
                                    <th>Contact</th>
                                    <th>Status</th>
                                    <th class="width-50">Action</th>
                                </tr>
                            </thead>
                            <tbody>

                                @{
                                    IPagedList<Customer> customers = (IPagedList<Customer>)ViewData["Customer"];

                                    if (customers.Count > 0)
                                    {
                                        int count = 1;
                                        foreach (Customer customer in customers)
                                        {
                                            int col1 = count;
                                            string col2 = "-";
                                            string col3 = "-";
                                            string col4 = "-";
                                            string col5 = "-";
                                            string col6 = customer.Status;

                                            if (!string.IsNullOrEmpty(customer.CustomerID))
                                            {
                                                col2 = customer.CustomerID;
                                            }

                                            if (!string.IsNullOrEmpty(customer.CompanyName))
                                            {
                                                col3 = customer.CompanyName;
                                            }

                                            if (!string.IsNullOrEmpty(customer.ContactPerson))
                                            {
                                                col4 = customer.ContactPerson;
                                            }

                                            if (!string.IsNullOrEmpty(customer.Tel))
                                            {
                                                col5 = customer.Tel;
                                            }

                                            <tr>
                                                <td>@col1</td>
                                                <td><a href="@Url.Action("View", new { @id = customer.ID })">@col2</a></td>
                                                <td>@col3</td>
                                                <td>@col4</td>
                                                <td>@col5</td>
                                                <td>@col6</td>
                                                <td class="text-nowrap">
                                                    <a href="@Url.Action("Edit", new { @id = customer.ID })" class="btn btn-sm btn-icon btn-round btn-default" data-toggle="tooltip" data-original-title="Edit"><i class="icon wb-edit" aria-hidden="true"></i></a>
                                                    @if (customer.Status != "Suspend")
                                                    {
                                                        <button type="button" class="btn btn-sm btn-icon btn-round btn-danger" id="@customer.ID" onclick="DeleteCustomer(this.id)" data-toggle="tooltip"
                                                                data-original-title="Delete">
                                                            <i class="icon wb-close" aria-hidden="true"></i>
                                                        </button>
                                                    }
                                                </td>
                                            </tr>
                                                    count++;
                                        }
                                    }
                                    else
                                    {
                                        <tr>
                                            <td class="no-record" colspan="7">No record to display</td>
                                        </tr>
                                    }

                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- End Table -->
            </div>


            <div class="pagination pagination-no-border">
                @Html.PagedListPager((IPagedList)ViewData["Customer"], page => Url.Action("/Listing", "Customer", new { page, currentFilter = ViewBag.CurrentFilter }), new PagedListRenderOptions { LinkToFirstPageFormat = "<< First", LinkToPreviousPageFormat = "< Previous", LinkToNextPageFormat = "Next >", LinkToLastPageFormat = "Last >>" })
            </div>

        </div>
    </div>
</div>

@if (Session["Result"] != null)
{
    string[] result = Session["Result"].ToString().Split('|');

    <script>
        $(document).ready(function () {
            alertify.alert("@result[1]");
        })
    </script>

    Session.Remove("Result");
}

<script>
    $("#SearchStatus li").click(function () {
        
        $("#SearchStatusValue").val($(this).attr('id'));
        var hv = $('#SearchStatusValue').val();

        $("form[role='search']").submit();
    });
</script>

<script>
    function DeleteCustomer(clicked_id) {
        alertify.confirm("You are deleting this customer! Continue?", function (e) {
            if (e) {
                var url = "@Url.Action("Delete", "Customer")";
                var id = clicked_id;

                window.location = url + "?id=" + id;
            }
        });
    }
</script>