﻿@using DataAccess
@using PagedList
@using PagedList.Mvc

@{
    ViewBag.Title = ViewData["SiteName"].ToString();
    //ViewBag.PageTitle = "Task List";
    ViewBag.liTaskList = "active";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-sm-3">
        <div class="widget">
            <div class="widget-content padding-30 bg-green-600">
                <div class="counter counter-md counter-inverse text-left">
                    <div class="counter-number-group">
                        <span class="counter-number">$@ViewData["RealizedProfit"]</span>
                    </div>
                    <div class="counter-label text-capitalize">Realized Profit</div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-3">
        <div class="widget">
            <div class="widget-content padding-30 bg-blue-600">
                <div class="counter counter-md counter-inverse text-left">
                    <div class="counter-number-group">
                        <span class="counter-number">$@ViewData["PendingPayout"]</span>
                    </div>
                    <div class="counter-label text-capitalize">Pending Payout</div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-3">
        <div class="widget">
            <div class="widget-content padding-30 bg-red-600">
                <div class="counter counter-md counter-inverse text-left">
                    <div class="counter-number-group">
                        <span class="counter-number">$@ViewData["ActiveProjectAmount"]</span>
                    </div>
                    <div class="counter-label text-capitalize">Active Project Amount</div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-3">
        <div class="widget">
            <div class="widget-content padding-30 bg-orange-600">
                <div class="counter counter-md counter-inverse text-left">
                    <div class="counter-number-group">
                        <span class="counter-number">$@ViewData["ToNextTier"]</span>
                    </div>
                    <div class="counter-label text-capitalize">To next Tier </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="panel">
    <div class="panel-title">Task List</div>
    <div class="panel-body container-fluid">
        <div class="row">
            <div class="col-xlg-12 col-md-12">
                <!-- Table -->
                <div>
                    <div class="table-responsive">
                        <table class="table table-hover table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>ID</th>
                                    <th>Customer/Company</th>
                                    <th>Date/Time</th>
                                    <th>Amount (SGD)</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    IPagedList<TaskListLoadAllRecord> loadAll = (IPagedList<TaskListLoadAllRecord>)ViewData["loadAll"];
                                    if (loadAll.Count > 0)
                                    {
                                        int page = Convert.ToInt32(Session["Page"]) - 1;
                                        int pageSize = Convert.ToInt32(Session["PageSize"]);
                                        int count = 1;

                                        foreach (TaskListLoadAllRecord _loadAll in loadAll)
                                        {
                                            int col1 = count;
                                            string col2 = "-";
                                            string col3 = "-";
                                            string col4 = "-";
                                            string col5 = "-";
                                            string col6 = _loadAll.Status;

                                            if (!string.IsNullOrEmpty(_loadAll.ItemID))
                                            {
                                                col2 = _loadAll.ItemID;
                                            }

                                            if (!string.IsNullOrEmpty(_loadAll.Name))
                                            {
                                                col3 = _loadAll.Name;
                                            }

                                            if (!string.IsNullOrEmpty(_loadAll.Date))
                                            {
                                                col4 = _loadAll.Date;
                                            }

                                            if (_loadAll.Amount != null)
                                            {
                                                col5 = Convert.ToDecimal(_loadAll.Amount).ToString("#,##0.00");
                                            }

                                            <tr>
                                                <td>@col1</td>
                                                @if (_loadAll.Type == "Customer")
                                                {
                                                    <td><a href="@Url.Action("Edit", _loadAll.Type, new { @id = _loadAll.ID })">@col2</a></td>
                                                }
                                                else
                                                {
                                                    <td><a href="@Url.Action("View", _loadAll.Type, new { @id = _loadAll.ID })">@col2</a></td>
                                                }

                                                <td>@col3</td>
                                                <td>@col4</td>
                                                <td>@col5</td>
                                                <td>@col6</td>
                                                <td class="text-nowrap">
                                                    @if (_loadAll.Type == "Customer")
                                                    {
                                                        if (_loadAll.Status != "Active")
                                                        {
                                                            <button type="button" class="btn btn-sm btn-icon btn-round btn-success" id="@_loadAll.ID" onclick="ActiveCustomer(this.id)" data-toggle="tooltip" data-original-title="Activate"><i class="icon wb-check" aria-hidden="true"></i></button>
                                                        }
                                                    }
                                                    else if (_loadAll.Type == "Quotation")
                                                    {
                                                        //This is quotation
                                                        <a href="@Url.Action("Edit", _loadAll.Type, new { @id = _loadAll.ID })" class="btn btn-sm btn-icon btn-round btn-default" data-toggle="tooltip" data-original-title="Revise Quotation / Variation Orders"><i class="icon wb-edit" aria-hidden="true"></i></a>

                                                        if (_loadAll.Status == "Draft")
                                                        {
                                                            <button type="button" class="btn btn-sm btn-icon btn-round btn-danger" id="@_loadAll.ID" onclick="DeleteDraft(this.id)" data-toggle="tooltip" data-original-title="Delete Draft"><i class="icon wb-close" aria-hidden="true"></i></button>
                                                        }
                                                    }
                                                    else
                                                    {
                                                        <button type="button" class="btn btn-sm btn-icon btn-round btn-success" id="@_loadAll.ID" onclick="CompleteProject(this.id)" data-toggle="tooltip" data-original-title="Mark as Completed"><i class="icon wb-check" aria-hidden="true"></i></button>
                                                    }
                                                </td>
                                            </tr>
                                                    count++;
                                        }

                                    }
                                    else
                                    {
                                        <tr>
                                            <td colspan="7" class="no-record">No record to display</td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>

                    <div class="pagination">
                        @Html.PagedListPager((IPagedList)ViewData["loadAll"], page => Url.Action("/Listing", "TaskList", new { page, currentFilter = ViewBag.CurrentFilter }), new PagedListRenderOptions { LinkToFirstPageFormat = "<< First", LinkToPreviousPageFormat = "< Previous", LinkToNextPageFormat = "Next >", LinkToLastPageFormat = "Last >>" })
                    </div>
                </div>
                <!-- End Table -->
            </div>
        </div>
    </div>
</div>

@if (Session["Result"] != null)
{
    string[] result = Session["Result"].ToString().Split('|');

    <script>
        $(document).ready(function () {
            alertify.alert("@result[1]");
        })
    </script>

    Session.Remove("Result");
}

<script>
    function ActiveCustomer(clicked_id) {
        alertify.confirm("You are activate this customer! Continue?", function (e) {
            if (e) {
                var url = "@Url.Action("Active", "Customer")";
                var id = clicked_id;

                window.location = url + "?id=" + id;
            }
        });
    }

    function CompleteProject(clicked_id) {
        alertify.confirm("You are marking this project as Complete! Continue?", function (e) {
            if (e) {
                var url = "@Url.Action("Complete", "Project")";
                var id = clicked_id;
                var fromTaskList = "Yes";
                window.location = url + "?id=" + id + "&fromTaskList=" + fromTaskList;
            }
        });
    }

    function DeleteDraft(clicked_id) {
        alertify.confirm("You are deleting this draft! Continue?", function (e) {
            if (e) {
                var url = "@Url.Action("Delete", "TaskList")";
                var id = clicked_id;

                window.location = url + "?id=" + id;
            }
        });
    }
</script>
