﻿@using DataAccess.POCO
@using PagedList
@using PagedList.Mvc

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = ViewData["SiteName"].ToString();
    ViewBag.PageTitle = "Audit Log";
    ViewBag.AAuditLog = "active open";
}

<div class="page-content container-fluid">
    <div class="panel">
        <div class="panel-body container-fluid">
            <div class="row form-group">
                <a href="@Url.Action("ExportExcel", new { @logTable = Session["LogTable"].ToString(), @fromDate = Session["FromDate"].ToString(), @toDate = Session["ToDate"].ToString(), @page = Convert.ToInt32(Session["Page"]), @pageSize = Convert.ToInt32(Session["PageSize"]) })" class="btn btn-primary" style="float:left;margin-right:10px;">Download to Excel</a>
                <a href="@Url.Action("Options")" class="btn btn-default" style="float:left;">Back</a>
                @using (Html.BeginForm("Listing", "AuditLog", FormMethod.Post, new { @id = "page-size" }))
                {
                    <div class="col-md-3 pull-right">
                        @Html.DropDownList("PageSize", (SelectList)ViewData["PageSizeDropdown"], new { @class = "form-control", @data_plugin = "selectpicker" })
                    </div>
                    @Html.Label("Page Size:", new { @class = "col-md-3 pull-right", @style = "top:6px;text-align:right;" })
                }
            </div>
            <div class="row">
                <div class="col-xlg-12 col-md-12">
                    <div class="table-responsive">
                        <table class="table table-hover table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Log ID</th>
                                    <th>IP Address</th>
                                    <th>Timestamp</th>
                                    <th>User Triggering</th>
                                    <th>Table Affected</th>
                                    <th>Description</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    IPagedList<AuditLog> logs = (IPagedList<AuditLog>)ViewData["AuditLogs"];

                                    if (logs.Count > 0)
                                    {
                                        int page = Convert.ToInt32(Session["Page"]) - 1;
                                        int pageSize = Convert.ToInt32(Session["PageSize"]);
                                        int i = 1;

                                        foreach (AuditLog log in logs)
                                        {
                                            <tr>
                                                <td>@(i + page * pageSize)</td>
                                                <td>@log.ID</td>
                                                <td>@log.IPAddress</td>
                                                <td>@log.Timestamp.ToString("dd/MM/yyyy HH:mm:ss")</td>

                                                <td>
                                                    @if (log.UserRole == "System")
                                                    {
                                                        @("System")
                                                    }
                                                    else if (log.UserRole == "Customer") 
                                                    { 
                                                        @log.Customer.CustomerID; 
                                                    } 
                                                    else 
                                                    { 
                                                        @log.User.UserID ; 
                                                    }
                                                </td>
                                                <td>@log.TableAffected</td>
                                                <td>@log.Description</td>
                                            </tr>
                                            i++;
                                        }
                                    }
                                    else
                                    {
                                        <tr>
                                            <td colspan="7" class="no-records-found">No record to display</td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="pagination">
                    @Html.PagedListPager((IPagedList)ViewData["AuditLogs"], page => Url.Action("/Listing", "AuditLog", new { page, currentFilter = ViewBag.CurrentFilter }), new PagedListRenderOptions { LinkToFirstPageFormat = "<< First", LinkToPreviousPageFormat = "< Previous", LinkToNextPageFormat = "Next >", LinkToLastPageFormat = "Last >>" })
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $("#PageSize").on("change", function () {
        $("#page-size").submit();
    });
</script>