﻿@using DataAccess
@using DataAccess.POCO

@{
    ViewBag.Title = ViewData["SiteName"].ToString();
    ViewBag.PageTitle = "New Quotation";
    ViewBag.AQuotation = "active open";
    ViewBag.liCreateQuotation = "active";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Create", "Quotation", FormMethod.Post, new { @id = "form-create", @class = "form-horizontal" }))
{

    <div class="panel">
        <div class="panel-body container-fluid">

            <div class="row row-lg">
                <div class="col-md-10">
                    <!-- Example Horizontal Form -->
                    @{
                        Quotation quotation = new Quotation();
                    }

                    @if (Session["Result"] != null)
                    {
                        string[] result = Session["Result"].ToString().Split('|');

                        <div class="alert alert-@result[0] text-center">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            @result[1]
                        </div>

                        Session.Remove("Result");
                    }
                    
                        <div class="form-group">
                            @Html.LabelFor(q => quotation.QuotationID, new { @class = "col-sm-3 control-label" })
                            <div class="col-sm-9">
                                @Html.TextBoxFor(q => quotation.QuotationID, new { @class = "form-control", @placeholder = "ID will be Assigned after Creation", @disabled = "disabled" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(q => quotation.CompanyName, new { @class = "col-sm-3 control-label" })
                            <div class="col-sm-9">
                                @Html.DropDownList("Company", (SelectList)ViewData["CompanyDropdown"], new { @class = "form-control", @data_plugin = "selectpicker" })
                                @Html.ValidationMessage("Company")
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(q => quotation.CustomerId, new { @class = "col-sm-3 control-label" })
                            <div class="col-sm-9">
                                @Html.DropDownListFor(q => quotation.CustomerId, (SelectList)ViewData["CustomerDropdown"],"", new { @class = "form-control", @data_plugin = "select2", @data_allow_clear = "true", @data_placeholder = "Search by Customer Name or Company Name", @onchange = "GetCustomerInfo(this)" })
                                @Html.ValidationMessageFor(q => quotation.CustomerId)
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(q => quotation.ContactPerson, new { @class = "col-sm-3 control-label" })
                            <div class="col-sm-9">
                                @Html.TextBoxFor(q => quotation.ContactPerson, new { @class = "form-control" })
                                @Html.ValidationMessageFor(q => quotation.ContactPerson)
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(q => quotation.Address, new { @class = "col-sm-3 control-label" })
                            <div class="col-sm-9">
                                @Html.TextBoxFor(q => quotation.Address, new { @class = "form-control", @disabled = "disabled" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(q => quotation.Tel, new { @class = "col-sm-3 control-label" })
                            <div class="col-sm-9">
                                @Html.TextBoxFor(q => quotation.Tel, new { @class = "form-control", @disabled = "disabled" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(q => quotation.Fax, new { @class = "col-sm-3 control-label" })
                            <div class="col-sm-9">
                                @Html.TextBoxFor(q => quotation.Fax, new { @class = "form-control", @disabled = "disabled" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(q => quotation.PreparedById, new { @class = "col-sm-3 control-label" })
                            <div class="col-sm-9">
                                @Html.TextBox("PreparedBy", ViewData["PreparedBy"].ToString(), new { @class = "form-control", @disabled = "disabled" })
                            </div>
                        </div>

                        <div class="form-group">
                           @Html.LabelFor(q => quotation.SalesPersonId, new { @class = "col-sm-3 control-label" })
                            <div class="col-sm-9">
                                @Html.DropDownList("SalesPersonID", (SelectList)ViewData["UserDropdown"], new { @class = "form-control", @data_plugin = "select2", @data_allow_clear = "true", @data_placeholder = "Search by Customer/User ID or Name" })
                                @Html.ValidationMessage("SalesPersonID")
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(q => quotation.QuotationDate, new { @class = "col-sm-3 control-label" })
                            <div class="col-sm-9">
                                @Html.TextBox("QuotationDate", ViewData["QuotationDate"].ToString(), new { @class = "form-control", @data_plugin = "datepicker" })
                                @Html.ValidationMessage("QuotationDate")
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(q => quotation.SalesDocumentUploads, new { @class = "col-sm-3 control-label" })
                            <div class="col-sm-9">
                                <div class="input-group input-group-file">
                                    <input type="text" class="form-control" readonly="">
                                    <span class="input-group-btn">
                                        <span class="btn btn-primary btn-file">
                                            <i class="icon wb-upload" aria-hidden="true"></i>
                                            <input id="quotation_SalesDocumentUploads-uploader" type="file" onchange="UploadFile('quotation_SalesDocumentUploads')" multiple>
                                            @Html.HiddenFor(q => quotation.SalesDocumentUploads)
                                        </span>
                                    </span>
                                </div>
                                @Html.ValidationMessageFor(q => quotation.SalesDocumentUploads)
                                <div id="quotation_SalesDocumentUploads-files">
                                    @if (ViewData["SalesDocumentFiles"] != null)
                                    {
                                        string[] files = ViewData["SalesDocumentFiles"].ToString().Split(',');
                                        foreach (string file in files)
                                        {
                                            <div class="margin-top-10 small"><a href="@Url.Content("~/FileUploads/Temp/" + file)" target="_blank">@file</a><button type="button" class="btn btn-pure btn-xs btn-danger icon wb-close" onclick="RemoveFile('quotation_SalesDocumentUploads', this)"></button></div>
                                        }
                                    }
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(q => quotation.Remarks, new { @class = "col-sm-3 control-label" })
                            <div class="col-sm-9">
                                @Html.TextAreaFor(q => quotation.Remarks, new { @class = "form-control" })
                                @Html.ValidationMessageFor(q => quotation.Remarks)
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(q => quotation.TermsAndConditions, new { @class = "col-sm-3 control-label" })
                            <div class="col-sm-9">
                                @Html.TextArea("TermsAndCondition", ViewData["TermsAndCondition"].ToString(), new { @class = "form-control", @rows = 10 })
                                @Html.ValidationMessage("TermsAndCondition")
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>



    <div class="panel">
        <div class="panel-body container-fluid">
            <div class="row row-lg">
                <div class="col-xlg-10 col-md-10">
                    <h4>Co-broke</h4>

                    <div class="form-group">
                        <div class="col-sm-12 table-responsive">
                            @if (Convert.ToInt32(ViewData["CoBrokeItemCount"]) < 3)
                            {
                                <button type="button" class="btn btn-primary btn-sm" id="add_new">Add Item </button>
                            }
                            else
                            {
                                <button type="button" class="btn btn-primary btn-sm" id="add_new" disabled>Add Item </button>
                            }
                            
                            <table class="table table-hover table-condensed" data-striped="true" data-height="250" data-mobile-responsive="true" id="tbl">
                                <thead>
                                    <tr>
                                        <th class="width-50">#</th>
                                        <th class="width-200">User *</th>
                                        <th class="width-100">% of Profit</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @if (ViewData["QuotationCoBrokeTable"] != null)
                                    {
                                        List<QuotationCoBrokeTable> quotationCoBrokeTable = (List<QuotationCoBrokeTable>)ViewData["QuotationCoBrokeTable"];
                                        int count = 1;

                                        foreach (QuotationCoBrokeTable _quotationCoBrokeTable in quotationCoBrokeTable)
                                        {
                                            <tr id="RowID-@_quotationCoBrokeTable.RowId">
                                                <td><div class="calculateNumber">@count</div></td>
                                                <td>
                                                    @Html.DropDownList("QuotationCoBrokeUser_" + _quotationCoBrokeTable.RowId, _quotationCoBrokeTable.UserID,"", new { @class = "form-control", @data_plugin = "select2", @data_allow_clear = "true", @data_placeholder = "Search by Customer/User ID or Name" })
                                                    @Html.ValidationMessage("QuotationCoBrokeUser_" + _quotationCoBrokeTable.RowId)
                                                </td>
                                                <td>
                                                    @Html.DropDownList("QuotationCoBrokePercentageOfProfit_" + _quotationCoBrokeTable.RowId, _quotationCoBrokeTable.PercentageOfProfit, new { @class = "form-control" })
                                                    @Html.ValidationMessage("QuotationCoBrokePercentageOfProfit_" + _quotationCoBrokeTable.RowId)
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                            @Html.ValidationMessage("TotalOfPercentage")
                            @Html.ValidationMessage("TotalOfCoBrokeItem")
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="panel">
        <div class="panel-body container-fluid">
            <div class="row row-lg">
                <div class="col-xlg-10 col-md-10">
                    <h4>Quotation Summary</h4>

                    @{
                                    decimal finalTotalAmount = 0;
                                    decimal finalTotalCost = 0;
                                    decimal finalTotalProfit = 0;
                    
                    }

                    <div class="form-group">
                        <div class="col-sm-12 table-responsive">
                            <table class="table table-hover table-condensed" data-striped="true" data-height="250" data-mobile-responsive="true" id="QuotationSummary">
                                <thead>
                                    <tr>
                                        <th class="width-50">#</th>
                                        <th class="width-200">Category</th>
                                        <th class="width-50">Amount</th>
                                        <th class="width-50">Est Cost</th>
                                        <th class="width-50">Est Profit</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (ViewData["QuotationItemDescription"] != null)
                                    {
                                        int count = 1;
                                        List<ItemDescriptionBigTable> itemDescriptionBigTable = (List<ItemDescriptionBigTable>)ViewData["QuotationItemDescription"];
                                            
                                        foreach (ItemDescriptionBigTable _itemDescriptionBigTable in itemDescriptionBigTable)
                                        {
                                            decimal amount = 0;
                                            decimal cost = 0; 
                                            decimal profit = 0;
                                            
                                            foreach (ItemDescriptionRow _itemDescriptionRow in _itemDescriptionBigTable.ItemDescriptionRows)
                                            {
                                                try
                                                {
                                                    amount += Convert.ToDecimal(_itemDescriptionRow.Amount);
                                                }
                                                catch
                                                {
                                                    
                                                }


                                                try
                                                {
                                                    cost += Convert.ToDecimal(_itemDescriptionRow.Est_Cost); 
                                                }
                                                catch
                                                {

                                                }

                                                try
                                                {
                                                    profit += Convert.ToDecimal(_itemDescriptionRow.Est_Profit);
                                                }
                                                catch
                                                {

                                                }
                                            }
                                            finalTotalAmount += amount;
                                            finalTotalCost += cost;
                                            finalTotalProfit += profit;
                                            
                                            <tr id="SortSummary-@_itemDescriptionBigTable.TableID">
                                                <td id="SummaryItemMain-@_itemDescriptionBigTable.TableID"><div class="calculateNumberSummary-">@count</div></td>
                                                <td id="QuotationItemName-@_itemDescriptionBigTable.TableID">@_itemDescriptionBigTable.CategoryName</td>
                                                <td id="QuotationTotalAmount-@_itemDescriptionBigTable.TableID">$@amount.ToString("#,##0.00")</td>
                                                <td id="QuotationTotalEstCost-@_itemDescriptionBigTable.TableID">$@cost.ToString("#,##0.00")</td>
                                                <td id="QuotationTotalEstProfit-@_itemDescriptionBigTable.TableID">$@profit.ToString("#,##0.00")</td>
                                            </tr>
                                            count++;
                                        }
                                    }
                                </tbody>
                                <tfoot>
                                    <tr style="border-top:2px solid black; border-bottom:3px double black" id="SummaryTotalRow">
                                        <td colspan="2" style="text-align:right">Total</td>
                                        <td id="FinalTotalAmount">$@finalTotalAmount.ToString("#,##0.00")</td>
                                        <td id="FinalTotalEstCost">$@finalTotalCost.ToString("#,##0.00")</td>
                                        <td id="FinalTotalEstProfit">$@finalTotalProfit.ToString("#,##0.00")</td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel">
        <div class="panel-body container-fluid">
            <div class="row row-lg">
                <h4>Item Description</h4>
                <div class="col-md-12 draggable">
                    @if (ViewData["QuotationItemDescription"] != null)
                    {
                        List<ItemDescriptionBigTable> itemDescriptionBigTable = (List<ItemDescriptionBigTable>)ViewData["QuotationItemDescription"];

                        foreach (ItemDescriptionBigTable _itemDescriptionBigTable in itemDescriptionBigTable)
                        {
                            <div class="form-group" id="BigTable-@_itemDescriptionBigTable.TableID">
                                <div class="col-sm-12 table-responsive">
                                    <table class="table table-hover table-condensed table-bordered" data-striped="true" data-height="250" data-mobile-responsive="true" id="ItemDesciptiontbl-@_itemDescriptionBigTable.TableID">
                                        <thead>
                                            <tr>
                                                <th colspan="11">
                                                    @if (!_itemDescriptionBigTable.IsBasic)
                                                    {
                                                        @Html.TextBox("BigTableItemName-" + _itemDescriptionBigTable.TableID, _itemDescriptionBigTable.CategoryName, new { @class = "form-control inline", style = "width: 200px;" })
                                                        @Html.ValidationMessage("BigTableItemName-" + _itemDescriptionBigTable.TableID)
                                                        @Html.Hidden("BigTableItemNameFromDB-" + _itemDescriptionBigTable.TableID, _itemDescriptionBigTable.IsBasic)
                                                    }
                                                    else
                                                    {
                                                        <h5 class="inline">@_itemDescriptionBigTable.CategoryName</h5>
                                                        @Html.Hidden("BigTableItemName-" + _itemDescriptionBigTable.TableID, _itemDescriptionBigTable.CategoryName)
                                                        @Html.Hidden("BigTableItemNameFromDB-" + _itemDescriptionBigTable.TableID, _itemDescriptionBigTable.IsBasic)
                                                    }

                                                    <button type="button" class="btn btn-primary btn-xs" onclick="add_new_item_description_inside(@_itemDescriptionBigTable.TableID)" id="add_new_item_description_id-@_itemDescriptionBigTable.TableID">Add Item </button>
                                                    <button type="button" class="btn btn-danger btn-xs" onclick="remove_item_description_outside(@_itemDescriptionBigTable.TableID)" id="remove_item_description_outside_id-@_itemDescriptionBigTable.TableID">Remove</button>
                                                </th>
                                            </tr>
                                            <tr>
                                                <th style="min-width:50px">#</th>
                                                <th style="min-width:300px">Description *</th>
                                                <th style="min-width:50px">Qty *</th>
                                                <th style="min-width:50px">Unit *</th>
                                                <th style="min-width:100px">Rate *</th>
                                                <th style="min-width:150px">Amount</th>
                                                <th style="min-width:150px">Est Cost *</th>
                                                <th style="min-width:150px">Est Profit</th>
                                                <th style="min-width:150px">Remarks</th>
                                                <th style="min-width:150px">Mgr Comments</th>
                                                <th style="min-width:50px">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            <!-- Add one more for loop to loop the same item -->
                                            @foreach (ItemDescriptionRow _itemDescriptionRow in _itemDescriptionBigTable.ItemDescriptionRows)
                                            {
                                                string NewInsideRowID = _itemDescriptionBigTable.TableID + "-" + _itemDescriptionRow.RowId;
                                                <tr id="RowInsideID-@NewInsideRowID">
                                                    <td><div class="calculateNumber-@_itemDescriptionBigTable.TableID">@_itemDescriptionRow.RowId</div></td>
                                                    <td>
                                                        @Html.TextBox("QuotationItemDescriptionDescription_" + _itemDescriptionBigTable.TableID + "_" + _itemDescriptionRow.RowId, _itemDescriptionRow.Description, new { @class = "form-control",@autocomplete = "off" })
                                                        @Html.ValidationMessage("QuotationItemDescriptionDescription_" + _itemDescriptionBigTable.TableID + "_" + _itemDescriptionRow.RowId)
                                                    </td>
                                                    <td>
                                                        @Html.TextBox("QuotationItemDescriptionQty_" + _itemDescriptionBigTable.TableID + "_" + _itemDescriptionRow.RowId, _itemDescriptionRow.Qty, new { @class = "form-control", @onchange = "CalculateAmount('QuotationItemDescriptionQty_" + _itemDescriptionBigTable.TableID + "_" + _itemDescriptionRow.RowId + "')" })
                                                        @Html.ValidationMessage("QuotationItemDescriptionQty_" + _itemDescriptionBigTable.TableID + "_" + _itemDescriptionRow.RowId)
                                                    </td>
                                                    <td>
                                                        @Html.TextBox("QuotationItemDescriptionUnit_" + _itemDescriptionBigTable.TableID + "_" + _itemDescriptionRow.RowId, _itemDescriptionRow.Unit, new { @class = "form-control" })
                                                        @Html.ValidationMessage("QuotationItemDescriptionUnit_" + _itemDescriptionBigTable.TableID + "_" + _itemDescriptionRow.RowId)
                                                    </td>
                                                    <td>
                                                        <div class="input-group">
                                                            <span class="input-group-addon">$</span>
                                                            @Html.TextBox("QuotationItemDescriptionRate_" + _itemDescriptionBigTable.TableID + "_" + _itemDescriptionRow.RowId, _itemDescriptionRow.Rate, new { @class = "form-control", @onchange = "CalculateAmountRate('QuotationItemDescriptionRate_" + _itemDescriptionBigTable.TableID + "_" + _itemDescriptionRow.RowId + "')" })
                                                        </div>
                                                        @Html.ValidationMessage("QuotationItemDescriptionRate_" + _itemDescriptionBigTable.TableID + "_" + _itemDescriptionRow.RowId)
                                                    </td>
                                                    <td>
                                                        <div class="input-group">
                                                            <span class="input-group-addon">$</span>
                                                            @Html.TextBox("QuotationItemDescriptionAmount_" + _itemDescriptionBigTable.TableID + "_" + _itemDescriptionRow.RowId, _itemDescriptionRow.Amount, new { @class = "form-control", @disabled = "disabled" })
                                                            @Html.Hidden("QuotationItemDescriptionAmount2_" + _itemDescriptionBigTable.TableID + "_" + _itemDescriptionRow.RowId, _itemDescriptionRow.Amount)
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="input-group">
                                                            <span class="input-group-addon">$</span>
                                                            @Html.TextBox("QuotationItemDescriptionEstCost_" + _itemDescriptionBigTable.TableID + "_" + _itemDescriptionRow.RowId, _itemDescriptionRow.Est_Cost, new { @class = "form-control", @onchange = "CalculateAmountProfit('QuotationItemDescriptionEstCost_" + _itemDescriptionBigTable.TableID + "_" + _itemDescriptionRow.RowId + "')" })
                                                        </div>
                                                        @Html.ValidationMessage("QuotationItemDescriptionEstCost_" + _itemDescriptionBigTable.TableID + "_" + _itemDescriptionRow.RowId)
                                                    </td>
                                                    <td>
                                                        <div class="input-group">
                                                            <span class="input-group-addon">$</span>
                                                            @Html.TextBox("QuotationItemDescriptionProfit_" + _itemDescriptionBigTable.TableID + "_" + _itemDescriptionRow.RowId, _itemDescriptionRow.Est_Profit, new { @class = "form-control", @disabled = "disabled" })
                                                            @Html.Hidden("QuotationItemDescriptionProfit2_" + _itemDescriptionBigTable.TableID + "_" + _itemDescriptionRow.RowId, _itemDescriptionRow.Est_Profit)
                                                        </div>
                                                    </td>

                                                    <td>
                                                        @Html.TextArea("QuotationItemDescriptionRemarks_" + _itemDescriptionBigTable.TableID + "_" + _itemDescriptionRow.RowId, _itemDescriptionRow.Remarks, new { @class = "form-control" })
                                                        @Html.ValidationMessage("QuotationItemDescriptionRemarks_" + _itemDescriptionBigTable.TableID + "_" + _itemDescriptionRow.RowId)
                                                    </td>

                                                    <td>
                                                        @Html.TextArea("QuotationItemDescriptionMgrComments_" + _itemDescriptionBigTable.TableID + "_" + _itemDescriptionRow.RowId, _itemDescriptionRow.Mgr_Comments, new { @class = "form-control" })
                                                        @Html.ValidationMessage("QuotationItemDescriptionMgrComments_" + _itemDescriptionBigTable.TableID + "_" + _itemDescriptionRow.RowId)
                                                    </td>
                                                    <td>
                                                        <button type="button" id="id_button" onclick="remove_item_description_inside(@_itemDescriptionBigTable.TableID, @_itemDescriptionRow.RowId)" class="btn btn-danger btn-xs" data-toggle="tooltip"
                                                                data-original-title="Remove">
                                                            <i class="icon wb-close" aria-hidden="true"></i> Remove
                                                        </button>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        }
                    }
                </div>

                <div class="form-group">
                    <div class="col-sm-12">
                        <button type="button" class="btn btn-primary margin-bottom-20" onclick="add_item_description_outside()" id="add_item_description_outside-ID">Add New Category </button>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-12">
                        <button type="button" class="btn btn-default margin-top-10" onclick="SaveAsDraft()">Save as Draft </button>
                        <button type="submit" class="btn btn-primary margin-top-10">Submit </button>
                        <button type="reset" class="btn btn-default btn-outline  margin-top-10">Reset</button>

                        @{
                    int page = 1;

                    if (Session["Page"] != null)
                    {
                        page = Convert.ToInt32(Session["Page"]);
                    }
                        }
                        <a href="@Url.Action("Listing", new { @page = page })" class="btn btn-default btn-outline  margin-top-10">Back</a>
                    </div>
                </div>
                <!-- End Example Horizontal Form -->
            </div>
        </div>
    </div>
}
<script src="@Url.Content("~/Content/vendor/ckeditor/ckeditor.js")"></script>

<script>

    //This is for remove use(Recalculate the number after remove item inside)
    var globalID = 0;
    var globalIDForDrag = 0;

    $(document).ready(function () {

        var getCustomerID = $("#quotation_CustomerId").val();

        GetCustomerInfo(getCustomerID);
        CalculateNumber();
        RecalculateNumber();
        autoComplete();
        //GetTotalAmountFirst();

    });

    function autoComplete() {
        var autocomplete = "@ViewData["AutoCompleteList"]";
        autocomplete = autocomplete.replace(/&quot;/g, '"').replace(/&amp;/g, '&');
        var getDescriptions = JSON.parse(autocomplete);
        //console.log(getDescriptions);
        //AutoComplete
        $('input[id*="QuotationItemDescriptionDescription_"]').typeahead({
            source: getDescriptions,
            items: 1
        });
    }

    CKEDITOR.replace('TermsAndCondition', {
        allowedContent: true,
    });

    createSortable(".col-md-12.draggable");

    function createSortable(selector) {
        var sortable = document.querySelector(selector);
        Draggable.create(sortable.children, {
            type: "y",
            bounds: sortable,
            edgeResistance: 1,
            onPress: sortablePress,
            onDragStart: sortableDragStart,
            onDrag: sortableDrag,
            liveSnap: sortableSnap,
            onDragEnd: sortableDragEnd
        });
    }

    function sortablePress(event) {
        var t = this.target,
            i = 0,
            child = t;

        while (child = child.previousSibling) {
            if (child.nodeType === 1) i++;
        }

        t.currentIndex = i;
        t.currentHeight = t.offsetHeight;
        t.kids = Array.prototype.slice.call(t.parentNode.children, 0);

    }

    function sortableDragStart() {
        TweenLite.set(this.target, { color: "#88CE02" });

        //get press id
        var clickedid = this.target.id.split("-");
        globalIDForDrag = clickedid[1];

        //console.log(this);
    }

    function sortableDrag() {

        var t = this.target,
            elements = t.kids.slice(0), // clone
            indexChange = Math.round(this.y / t.currentHeight),
            bound1 = t.currentIndex,
            bound2 = bound1 + indexChange;

        if (bound1 < bound2) { // moved down
            TweenLite.to(elements.splice(bound1 + 1, bound2 - bound1), 0.15, { yPercent: -100 });
            TweenLite.to(elements, 0.15, { yPercent: 0 });
        } else if (bound1 === bound2) {
            elements.splice(bound1, 1);
            TweenLite.to(elements, 0.15, { yPercent: 0 });
        } else { // moved up
            TweenLite.to(elements.splice(bound2, bound1 - bound2), 0.15, { yPercent: 100 });
            TweenLite.to(elements, 0.15, { yPercent: 0 });
        }
    }

    function sortableSnap(y) {

        var h = this.target.currentHeight;
        return Math.round(y / h) * h;
    }

    function sortableDragEnd() {

        var t = this.target,
            max = t.kids.length - 1,
            yPos = this.y || endY,
            newIndex = Math.round(this.y / t.currentHeight);

        newIndex += (newIndex < 0 ? -1 : 0) + t.currentIndex;
        if (newIndex === max) {
            t.parentNode.appendChild(t);
        } else {
            t.parentNode.insertBefore(t, t.kids[newIndex + 1]);
        }
        TweenLite.set(t.kids, { yPercent: 0, overwrite: "all" });
        TweenLite.set(t, { y: 0, color: "" });

        //update al id after finished drag and drop

        //update summary
        var indexNumber = 0;
        var AppendBigTableName = "BigTable-" + globalIDForDrag;

        for (var i = 0; i < this.target.parentNode.children.length; i++) {

            if (AppendBigTableName == this.target.parentNode.children[i].id)
            {
                indexNumber = i;
            }
        }

        var $GetRowElement = $('#SortSummary-' + globalIDForDrag);

        $('#SortSummary-' + globalIDForDrag).remove();

        if (indexNumber == 0)
        {
            $('#QuotationSummary > tbody').prepend($GetRowElement);
        }
        else
        {
            $('#QuotationSummary > tbody > tr:nth-child(' + indexNumber + ')').after($GetRowElement);
        }

        RecalculateNumberSummary();
        //console.log(globalIDForDrag + " - " + indexNumber);
        //console.log($GetRowElement);
    }

    function updateAllIdAfterDrag()
    {
        var Table = $('div[id*="BigTable-"]').length; //got how many table
        //alert(Table);

        var biggest = 0;

        $('div[id*="BigTable-"]').each(function (i)
        {
            tableid = jQuery(this).attr("id");
            var splitId = tableid.split("-");

            if (splitId[1] >= biggest)
            {
                biggest = splitId[1];
                //console.log(biggest);
            }

        });

        return parseInt(biggest) + 1;

    }

    function SaveAsDraft() {
        $("#form-create").attr("action", "@Url.Action("CreateDraft")");
        $("#form-create").submit();
    }

    //Get Each Table
    function GetTotalAmountFirst(id)
    {

        var FinalTotalAmount = 0;
        var FinalTotalEstCost = 0;
        var FinalTotalProfit = 0;

        //calculate got how many rows first.
        //get tr row count
        //var rowCount = $('#ItemDesciptiontbl-' + x + ' >tbody >tr').length;
        var TotalAmount = 0;
        var TotalEstCost = 0;
        var TotalProfit = 0;

        var arr = $.map($("#ItemDesciptiontbl-" + id + " >tbody >tr [id*='QuotationItemDescriptionAmount_" + id + "']"), function (n, i) {

            var SplitItem = n.id.split("_");
            var GetAmount = $("#QuotationItemDescriptionAmount_" + id + "_" + SplitItem[2] + "").val().replace(/,/g, '');
            var GetEstCost = $("#QuotationItemDescriptionEstCost_" + id + "_" + SplitItem[2] + "").val().replace(/,/g, '');
            var GetProfit = $("#QuotationItemDescriptionProfit_" + id + "_" + SplitItem[2] + "").val().replace(/,/g, '');

            //console.log(GetAmount + " - " + GetEstCost + " - " + GetProfit);

            if (GetAmount == "" || isNaN(GetAmount / 1)) {
                GetAmount = "0.00";
            }

            if (GetEstCost == "" || isNaN(GetEstCost / 1)) {
                GetEstCost = "0.00";
            }

            if (GetProfit == "" || isNaN(GetProfit / 1)) {
                GetProfit = "0.00";
            }

            TotalAmount += Number(GetAmount);
            TotalEstCost += Number(GetEstCost);
            TotalProfit += Number(GetProfit);

        });

        //Push To Quotation Total Summary Amount

        //alert(Calculate);
        $("#QuotationTotalAmount-" + id).html("$" + TotalAmount.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, "$1,").toString());
        $("#QuotationTotalEstCost-" + id).html("$" + TotalEstCost.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, "$1,").toString());
        $("#QuotationTotalEstProfit-" + id).html("$" + TotalProfit.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, "$1,").toString());

        CalculateAllTotalAmount();
        RecalculateNumberSummary();
        //PostBack = "No";
    }

    //Loop Summary Item
    function LoopSummaryItem(){

        var Table = $('table[id*="ItemDesciptiontbl"]').length; //got how many table

        var GetTotalAmount = 0;

        for(i = 1; i <= Table; i++)
        {
            var Name = $("#ItemDesciptiontbl-" + i + " tr th .inline").text();
            var GetEachAmount = $("#QuotationTotalAmount-" + i).text().replace("$","");
            $("#QuotationSummary tbody").append("<tr id='SortSummary-" + i + "'><td>" + i + "</td><td>" + Name + "</td><td id='QuotationTotalAmount-" + i + "'>0.00</td><td id='QuotationTotalEstCost-" + i + "'>0.00</td><td id='QuotationTotalEstProfit-" + i + "'>0.00</td></tr>");
            GetTotalAmount += Number(GetEachAmount);
        }

        $("#QuotationSummary tbody").append("<tr style='border-top:2px solid black; border-bottom:3px double black' id='SummaryTotalRow'><td colspan='2'>Total</td><td id='FinalTotalAmount'>$" + GetTotalAmount.toFixed(2) + "</td><td id='FinalTotalEstCost'>$500,000</td><td>$500,000</td></tr>");
    }

    function AppendNewSummaryItem()
    {

        var Table = $('table[id*="ItemDesciptiontbl"]').children('tbody').children('tr:last').attr('id'); //got how many table
        var TableID = 1;

        if (typeof (Table) === "undefined") {
            TableID = 1;
        }
        else {
            //Split The Last Table and get the ID
            var SplitTable = Table.split("-");
            TableID = Number(SplitTable[1]);
        }

        var Name = document.getElementById('BigTableItemName-' + TableID).value;

        var GetTotalAmount = 0;
        var GetTotalEstCost = 0;
        var GetTotalEstProfit = 0;

        //var GetAmount = $("#QuotationItemDescriptionAmount_" + Table + "_" + Table + "").val();
        //var GetEstCost = $("#QuotationItemDescriptionEstCost_" + Table + "_" + Table + "").val();
        //var GetEstProfit = $("#QuotationItemDescriptionProfit_" + Table + "_" + Table + "").val();

        $("#QuotationSummary tbody").append("<tr id='SortSummary-" + TableID + "'><td id='SummaryItemMain-" + TableID + "'><div class='calculateNumberSummary-'>" + TableID + "</div></td><td id='QuotationItemName-" + TableID + "'>" + Name + "</td><td id='QuotationTotalAmount-" + TableID + "'>$0.00</td><td id='QuotationTotalEstCost-" + TableID + "'>$0.00</td><td id='QuotationTotalEstProfit-" + TableID + "'>$0.00</td></tr>");

        //This loop is for calculate all the total amount
        //for(i = 1; i <= Table; i++)
        //{

        //    var GetEachAmount = $("#QuotationTotalAmount-" + i).text().replace("$","");
        //    var GetEachEstCost = $("#QuotationTotalEstCost-" + i).text().replace("$", "");
        //    var GetEachEstProfit = $("#QuotationTotalEstProfit-" + i).text().replace("$", "");

        //    GetTotalAmount += Number(GetEachAmount);
        //    GetTotalEstCost += Number(GetEachEstCost);
        //    GetTotalEstProfit += Number(GetEachEstProfit);
        //}

        $("#SummaryTotalRow").remove();

        $("#QuotationSummary tbody").append("<tr style='border-top:2px solid black; border-bottom:3px double black' id='SummaryTotalRow'><td colspan='2'>Total</td><td id='FinalTotalAmount'>$0.00</td><td id='FinalTotalEstCost'>$0.00</td><td id='FinalTotalEstProfit'>$0.00</td></tr>");

        GetTotalAmountFirst();
    }

    //Update Append New Item Item Name
    function UpdateItemName(id) {

        var Name = document.getElementById('BigTableItemName-' + id).value;

        $("#QuotationItemName-" + id).html(Name);
    }

    //Calculate Bottom Total
    function CalculateAllTotalAmount()
    {
        var GetTotalAmount = 0;
        var GetTotalEstCost = 0;
        var GetTotalProfit = 0;

        $('#QuotationSummary tbody > tr').each(function () {
            var trid = this.id.split("-")[1];

            var GetEachAmount = $("#QuotationTotalAmount-" + trid).text().replace("$", "").replace(/,/g, '');
            var GetEachEstCost = $("#QuotationTotalEstCost-" + trid).text().replace("$", "").replace(/,/g, '');;
            var GetEachProfit = $("#QuotationTotalEstProfit-" + trid).text().replace("$", "").replace(/,/g, '');;

            GetTotalAmount += Number(GetEachAmount);
            GetTotalEstCost += Number(GetEachEstCost);
            GetTotalProfit += Number(GetEachProfit);

        });

        $("#FinalTotalAmount").html("$" + GetTotalAmount.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, "$1,").toString());
        $("#FinalTotalEstCost").html("$" + GetTotalEstCost.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, "$1,").toString());
        $("#FinalTotalEstProfit").html("$" + GetTotalProfit.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, "$1,").toString());

    }

    //This is Qty on change
    function CalculateAmount(id) {
        //var amount = $("#" + id).val().replace(",", "");
        //alert(id);

        //Split id for get the IDs
        var GetRateSplit = id.split("_");
        var GetRate = $("#QuotationItemDescriptionRate_" + GetRateSplit[1] + "_" + GetRateSplit[2] + "").val().replace(/,/g, '');
        var TotalAmount = 0;
        var TotalProfit = 0;

        var GetQty = $("#" + id + "").val().replace(/,/g, '');

        if (GetQty == "" || isNaN(GetQty / 1))
        {
            GetQty = "0";
        }

        if (GetRate == "" || isNaN(GetRate / 1)) {
            GetRate = "0.00";
        }

        TotalAmount += (GetQty * GetRate);
        var Name = "QuotationItemDescriptionAmount_" + GetRateSplit[1] + "_" + GetRateSplit[2] + "";
        $("#QuotationItemDescriptionAmount_" + GetRateSplit[1] + "_" + GetRateSplit[2] + "").val(TotalAmount.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, "$1,").toString());
        $("#QuotationItemDescriptionAmount2_" + GetRateSplit[1] + "_" + GetRateSplit[2] + "").val(TotalAmount.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, "$1,").toString());
        ValidateAmount(Name);


        //Calculate Est Profit When Qty Changed
        var GetAmount = $("#QuotationItemDescriptionAmount_" + GetRateSplit[1] + "_" + GetRateSplit[2] + "").val().replace(/,/g, '');
        var GetEstCost = $("#QuotationItemDescriptionEstCost_" + GetRateSplit[1] + "_" + GetRateSplit[2] + "").val().replace(/,/g, '');
        TotalProfit += (GetAmount - GetEstCost);


        var NameProfit = "QuotationItemDescriptionProfit_" + GetRateSplit[1] + "_" + GetRateSplit[2] + "";
        $("#QuotationItemDescriptionProfit_" + GetRateSplit[1] + "_" + GetRateSplit[2] + "").val(TotalProfit.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, "$1,").toString());
        $("#QuotationItemDescriptionProfit2_" + GetRateSplit[1] + "_" + GetRateSplit[2] + "").val(TotalProfit.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, "$1,").toString());
        ValidateAmount(NameProfit);

        GetTotalAmount(id);
        GetTotalEstProfit(id);
        GetTotalAmountFirst();
        //CalculateAllTotalAmount();
    }

    function GetTotalAmount(id)
    {
        var GetAmountSplit = id.split("_");

        //calculate got how many rows first.
        //get tr row count
        //var rowCount = $('#ItemDesciptiontbl-' + GetAmountSplit[1] + ' >tbody >tr').length;

        var TotalAmount = 0;
        //var Calculate = GetAmountSplit[1];

        $('#ItemDesciptiontbl-' + GetAmountSplit[1] + ' tbody tr').each(function () {
            var trid = this.id.split("-")[2];//get row id

            var GetAmount = $("#QuotationItemDescriptionAmount_" + GetAmountSplit[1] + "_" + trid).val().replace(/,/g, '');
            TotalAmount += Number(GetAmount);
        });

        //Push To Quotation Total Summary Amount
        $("#QuotationTotalAmount-" + GetAmountSplit[1]).html("$" + TotalAmount.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, "$1,").toString());
    }

    //Get Total Est Cost
    function GetTotalEstCost(id)
    {
        var GetEstCostSplit = id.split("_");

        //calculate got how many rows first.
        //get tr row count

        var TotalAmount = 0;

        $('#ItemDesciptiontbl-' + GetEstCostSplit[1] + ' tbody tr').each(function () {
            var trid = this.id.split("-")[2];//get row id

            var GetAmount = $("#QuotationItemDescriptionEstCost_" + GetEstCostSplit[1] + "_" + trid).val().replace(/,/g, '');
            TotalAmount += Number(GetAmount);
        });

        //console.log("TotalAmount = " + TotalAmount);
        //Push To Quotation Total Summary Est Cost
        $("#QuotationTotalEstCost-" + GetEstCostSplit[1]).html("$" + TotalAmount.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, "$1,").toString());
    }

    //Get Total Est Cost
    function GetTotalEstProfit(id)
    {
        var GetEstProfitSplit = id.split("_");

        //calculate got how many rows first.
        //get tr row count

        var TotalAmount = 0;

        $('#ItemDesciptiontbl-' + GetEstProfitSplit[1] + ' tbody tr').each(function () {
            var trid = this.id.split("-")[2];//get row id

            var GetAmount = $("#QuotationItemDescriptionProfit_" + GetEstProfitSplit[1] + "_" + trid).val().replace(/,/g, '');
            TotalAmount += Number(GetAmount);
        });

        //Push To Quotation Total Summary Profit
        $("#QuotationTotalEstProfit-" + GetEstProfitSplit[1]).html("$" + TotalAmount.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, "$1,").toString());
    }

    function CalculateAmountRate(id)
    {
        //1. Validate Amount First,
        ValidateAmount(id);

        //Split id for get the IDs
        var GetQtySplit = id.split("_");
        var GetQty = $("#QuotationItemDescriptionQty_" + GetQtySplit[1] + "_" + GetQtySplit[2] + "").val().replace(/,/g, '');
        var TotalAmount = 0;
        var TotalProfit = 0;

        var GetRate = $("#" + id).val().replace(/,/g, '');

        if (GetQty == "" || isNaN(GetQty / 1)) {
            GetQty = "0";
        }

        if (GetRate == "" || isNaN(GetRate / 1)) {
            GetRate = "0.00";
        }

        TotalAmount += (GetQty * GetRate);
        var Name = "QuotationItemDescriptionAmount_" + GetQtySplit[1] + "_" + GetQtySplit[2];
        $("#QuotationItemDescriptionAmount_" + GetQtySplit[1] + "_" + GetQtySplit[2]).val(TotalAmount.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, "$1,").toString());
        $("#QuotationItemDescriptionAmount2_" + GetQtySplit[1] + "_" + GetQtySplit[2]).val(TotalAmount.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, "$1,").toString());
        ValidateAmount(Name);

        //Calculate Est Profit When Rate Changed
        var GetAmount = $("#QuotationItemDescriptionAmount_" + GetQtySplit[1] + "_" + GetQtySplit[2]).val().replace(/,/g, '');
        var GetEstCost = $("#QuotationItemDescriptionEstCost_" + GetQtySplit[1] + "_" + GetQtySplit[2]).val().replace(/,/g, '');
        TotalProfit += (GetAmount - GetEstCost);

        var NameProfit = "QuotationItemDescriptionProfit_" + GetQtySplit[1] + "_" + GetQtySplit[2];
        $("#QuotationItemDescriptionProfit_" + GetQtySplit[1] + "_" + GetQtySplit[2]).val(TotalProfit.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, "$1,").toString());
        $("#QuotationItemDescriptionProfit2_" + GetQtySplit[1] + "_" + GetQtySplit[2]).val(TotalProfit.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, "$1,").toString());
        ValidateAmount(NameProfit);

        GetTotalAmount(id);
        GetTotalEstProfit(id);
        GetTotalAmountFirst();
    }

    function CalculateAmountProfit(id)
    {

        ValidateAmount(id);

        var GetAmountSplit = id.split("_");
        var GetAmount = $("#QuotationItemDescriptionAmount_" + GetAmountSplit[1] + "_" + GetAmountSplit[2] + "").val().replace(/,/g, '');
        var TotalProfit = 0;

        var GetEstCost = $("#" + id + "").val().replace(/,/g, '');

        if (GetAmount == "" || isNaN(GetAmount / 1)) {
            GetAmount = "0";
        }

        if (GetEstCost == "" || isNaN(GetEstCost / 1)) {
            GetEstCost = "0.00";
        }

        TotalProfit += (GetAmount - GetEstCost);
        var Name = "QuotationItemDescriptionProfit_" + GetAmountSplit[1] + "_" + GetAmountSplit[2] + "";
        $("#QuotationItemDescriptionProfit_" + GetAmountSplit[1] + "_" + GetAmountSplit[2] + "").val(TotalProfit.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, "$1,").toString());
        $("#QuotationItemDescriptionProfit2_" + GetAmountSplit[1] + "_" + GetAmountSplit[2] + "").val(TotalProfit.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, "$1,").toString());
        ValidateAmount(Name);

        GetTotalEstCost(id);
        GetTotalEstProfit(id);
        GetTotalAmountFirst();
    }


    //Add Item Description Inside Item
    function add_new_item_description_inside(id)//Pass Table ID
    {
        $("#add_new_item_description_id-" + id).attr("disabled", true);

        var url = "@Url.Action("GetQuotationItemDescriptionInside")";
        var rowId = 1;
        var GetQuotationItemDescriptionRow = $("#ItemDesciptiontbl-" + id + " tbody tr").length;

        if (GetQuotationItemDescriptionRow > 0) {
            var _rowId = $("#ItemDesciptiontbl-" + id + " tbody tr:last")[0].id.split("-"); //take note this split second
            rowId = parseInt(_rowId[2]) + 1;
        }

        $.ajax({
            type: "GET",
            cache: false,
            url: url,
            data: { id: rowId, mainID: id },
            success: function (data) {
                $("#ItemDesciptiontbl-" + id + " tbody").append(data);
                RecalculateNumberInside(id);
                //globalID = id;
                $("#add_new_item_description_id-" + id).attr("disabled", false);
                autoComplete();
            },
            error: function (e) {
                console.log(e);
                alertify.alert("An error occured while retrieving quotation item description record!");
            }
        });

    }

    //Remove Item Description Inside
    function remove_item_description_inside(TableId, RowId)
    {

        alertify.confirm("Are you sure you want to remove this item?", function (e) {
            if (e) {
                $('#RowInsideID-' + TableId + "-" + RowId).remove();

                RecalculateNumberInside(TableId);

                GetTotalAmountFirst(TableId);
                alertify.success("Item has been removed!");
            }
        });
    }

    //Remove Table outside
    function remove_item_description_outside(id)
    {
        $("#BigTable-" + id).remove();
        $('#SummaryItemMain-' + id).parent().remove();
        //$('#SummaryItemMain-' + id).remove();
        //CalculateAllTotalAmount();
        RecalculateNumberSummary();
        GetTotalAmountFirst();
        //AppendNewSummaryItem();
    }

    //Add Big Table
    function add_item_description_outside()
    {
        $("#add_item_description_outside-ID").attr("disabled", true);

        //var Table = $('table[id*="ItemDesciptiontbl"]').children('tbody').children('tr:last').attr('id'); //got how many table
        var TableID = updateAllIdAfterDrag();

        //if (typeof (Table) === "undefined") {
        //    TableID = 1;
        //}
        //else
        //{
        //Split The Last Table and get the ID
        //    var SplitTable = Table.split("-");
        //    TableID = Number(SplitTable[1]) + 1;
        //}

        var url = "@Url.Action("GetQuotationItemDescriptionOutside")";

        var id = TableID;
        var rowId = 1;

        //alert(id);
        $.ajax({
            type: "GET",
            cache: false,
            url: url,
            data: { id: rowId, mainID: id },
            success: function (data) {

                $(".draggable").append(data);
                RecalculateNumberInside(id);
                //globalID = id;
                $("#add_item_description_outside-ID").attr("disabled", false);
                AppendNewSummaryItem();
                createSortable(".col-md-12.draggable");
                autoComplete();
            },
            error: function (e) {
                console.log(e);
                alertify.alert("An error occured while retrieving quotation item description record!");
            }
        });
    }

    $('#add_new').click(function () {

        $("#add_new").attr("disabled", true);

        var url = "@Url.Action("GetQuotationCoBroke")";

        var rowId = 1;
        var GetQuotationCoBrokeRow = $("#tbl tbody tr").length;

        if (GetQuotationCoBrokeRow > 0) {
            var _rowId = $("#tbl tbody tr:last")[0].id.split("-");
            rowId = parseInt(_rowId[1]) + 1;
        }

        if (GetQuotationCoBrokeRow >= 3)
        {
            $("#add_new").attr("disabled", true);
        }
        else
        {
            $.ajax({
                type: "GET",
                cache: false,
                url: url,
                data: { id: rowId },
                success: function (data) {
                    $("#tbl tbody").append(data);

                    $("#QuotationCoBrokeUser_" + rowId).select2(); // attach to new elements

                    CalculateNumber();

                    if (GetQuotationCoBrokeRow == 2) {
                        $("#add_new").attr("disabled", true);
                    }
                    else {
                        $("#add_new").attr("disabled", false);
                    }

                },
                error: function (e) {
                    console.log(e);
                    alertify.alert("An error occured while retrieving quotation cobroke record!");
                }
            });
        }


    });

    function CalculateNumber() {
        var count = 1;
        $(".calculateNumber").each(function () {
            //console.log(this);
            this.innerHTML = count;
            count++;
        })
    }

    function RecalculateNumber() {
        var count = 1;
        $(".calculateNumber-").each(function () {
            //console.log(this);
            this.innerHTML = count;
            count++;
        })
    }

    function RecalculateNumberSummary() {
        var count = 1;
        //console.log("983");
        //console.log($(".calculateNumberSummary-"));
        $(".calculateNumberSummary-").each(function () {
            //console.log(this);
            this.innerHTML = count;
            count++;
        })
    }

    function RecalculateNumberInside(id) {
        var count = 1;

        $(".calculateNumber-" + id).each(function () {

            if ($(this.innerHTML).is(':empty')) {
                this.innerHTML = count;
            }
            this.innerHTML = count;
            //alert(count);
            count++;

        })
    }

    function GetCustomerInfo(role) {

        var roleID = 0;

        if (role != null)
        {
            roleID = role.value;
        }

        if (typeof (roleID) === "undefined")
        {
            roleID = role;
        }

        var url = "@Url.Action("GetCustomerInfo")";

        if (roleID == "")
        {
            $('#quotation_ContactPerson').val("");
            $('#quotation_Address').val("");
            $('#quotation_Tel').val("");
            $('#quotation_Fax').val("");
        }
        else
        {
            $.ajax({
                type: "GET",
                url: url,
                data: { id: roleID },
                success: function (data) {
                    data = JSON.parse(data);

                    for (var i = 0; i < data.length; i++) {
                        $('#quotation_ContactPerson').val(data[i].ContactPerson);
                        $('#quotation_Address').val(data[i].Address);
                        $('#quotation_Tel').val(data[i].Tel);
                        $('#quotation_Fax').val(data[i].Fax);
                    }
                }
            });
        }
    }

    //File Uploads
    function UploadFile(id) {
        var $file = $("#" + id + "-uploader")[0],
        $formData = new FormData();
        if ($file.files.length > 0) {
            for (var i = 0; i < $file.files.length; i++) {
                $formData.append("file-" + i, $file.files[i]);
            }
        }

        $.ajax({
            url: "@Url.Action("FileUploader")",
            type: "POST",
            data: $formData,
            dataType: "json",
            contentType: false,
            processData: false,
            success: function ($data) {
                if ($data.result == "success") {
                    AppendFile(id, $data.msg);
                }
                else {
                    alertify.alert($data.msg);
                }
            },
            error: function (e) {
                alertify.alert("An error occured while uploading files!");
            }
        });
    }

    function AppendFile(id, data) {
        var files = data.split(",");
        var $block = $("<div></div>");
        for (var i = 0; i < files.length; i++) {
            var $div = $("<div class='margin-top-10 small'></div>");
            var $a = $("<a href='@Url.Content("~/FileUploads/Temp/")" + files[i] + "' target='_blank'>" + files[i] + "</a>");
            var $button = $("<button type='button' class='btn btn-pure btn-xs btn-danger icon wb-close' onclick='RemoveFile(\"" + id + "\", this)'></button>");

            $block.append($div.append($a).append($button));
        }
        $("#" + id + "-files").html($block);
        $("#" + id).val(data);
    }

    function RemoveFile(id, $this) {
        var files = $("#" + id).val().split(",");
        var newFiles = "";
        for (var i = 0; i < files.length; i++) {
            if (files[i] != $this.previousSibling.innerHTML) {
                newFiles += files[i] + ",";
            }
        }
        newFiles = newFiles.slice(0, newFiles.length - 1);
        $("#" + id).val(newFiles);
        $this.parentNode.remove();
    }

    function ValidateAmount(id) {
        var amount = $("#" + id).val().replace(",", "");

        if (amount != "") {
            var url = "@Url.Action("ValidateAmount")";

            $.ajax({
                type: "GET",
                cache: false,
                url: url,
                data: { amount: amount },
                success: function (data) {
                    data = JSON.parse(data);
                    if (data.result) {
                        $("#" + id).val(data.newAmount);
                    }
                }
            });
        }
    }
</script>