﻿@using DataAccess
@using DataAccess.POCO

@{
    ViewBag.Title = ViewData["SiteName"].ToString();
    ViewBag.PageTitle = "New Project";
    ViewBag.AProject = "active open";
    ViewBag.liCreateProject = "active";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Create", "Project", FormMethod.Post, new { @id = "form-create", @class = "form-horizontal" }))
{
    <div class="panel">
        <div class="panel-body container-fluid">

            <div class="row row-lg">
                <div class="col-md-10">
                    @{
                        Project project = new Project();
                    }

                    @if (Session["Result"] != null)
                    {
                        string[] result = Session["Result"].ToString().Split('|');

                        <div class="alert alert-@result[0] text-center">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            @result[1]
                        </div>

                        Session.Remove("Result");
                    }
                    <h4>Client Info</h4>
                    <div class="form-group">
                        @Html.LabelFor(p => project.ProjectID, new { @class = "col-sm-3 control-label" })
                        <div class="col-sm-9">
                            @Html.TextBoxFor(p => project.ProjectID, new { @class = "form-control", @placeholder = "ID will be Assigned after Creation", @disabled = "disabled" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(p => project.CompanyName, new { @class = "col-sm-3 control-label" })
                        <div class="col-sm-9">
                            @Html.TextBox("CompanyName", ViewData["Company"].ToString(), new { @class = "form-control", @disabled = "disabled" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(p => project.QuotationReferenceId, new { @class = "col-sm-3 control-label" })
                        <div class="col-sm-9">
                            @Html.DropDownListFor(p => project.QuotationReferenceId, (SelectList)ViewData["QuotationDropdown"],"", new { @class = "form-control", @data_plugin = "select2", @data_allow_clear = "true", @data_placeholder = "Search by Quotation ID", @onchange = "GetQuotationTotalAmount(this)" })
                            @Html.ValidationMessageFor(p => project.QuotationReferenceId)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(p => project.CustomerId, new { @class = "col-sm-3 control-label" })
                        <div class="col-sm-9">
                            @Html.DropDownListFor(p => project.CustomerId, (SelectList)ViewData["CustomerDropdown"], new { @class = "form-control", @data_plugin = "select2", @data_allow_clear = "true", @data_placeholder = "Search by Customer ID or Name", @onchange = "GetCustomerInfo(this)" })
                            @Html.ValidationMessageFor(p => project.CustomerId)
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Contact Person </label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="project_ContactPerson" value="" disabled>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Address </label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="project_Address" value="" disabled>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Tel </label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="project_Tel" value="" disabled>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Fax </label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="project_Fax" value="" disabled>
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(p => project.PreparedById, new { @class = "col-sm-3 control-label" })
                        <div class="col-sm-9">
                            @Html.TextBoxFor(p => project.PreparedById, ViewData["PreparedBy"].ToString(), new { @class = "form-control", @disabled = "disabled" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(p => project.Date, new { @class = "col-sm-3 control-label" })
                        <div class="col-sm-9">
                            @Html.TextBoxFor(p => project.Date, DateTime.Now.ToString("dd/MM/yyyy"), new { @class = "form-control datepair-date datepair-start" })
                            @Html.ValidationMessageFor(p => project.Date)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel">
        <div class="panel-body container-fluid">
            <div class="row row-lg">
                <div class="col-xlg-10 col-md-10">
                    <h4>Project Info</h4>

                    <div class="form-group">
                        @Html.LabelFor(p => project.CoordinatorId, new { @class = "col-sm-3 control-label" })
                        <div class="col-sm-9">
                            @Html.DropDownListFor(p => project.CoordinatorId, (SelectList)ViewData["CoordinatorDropdown"], new { @class = "form-control", @data_plugin = "select2", @data_allow_clear = "true", @data_placeholder = "Search by Sales User ID or Sales Name", @onchange = "OnchangeCoordinator(this)" })
                            @Html.ValidationMessageFor(p => project.CoordinatorId)
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Email </label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="Coordinator_Email" value="" disabled>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Tel </label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="Coordinator_Tel" value="" disabled>
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(p => project.ProjectTitle, new { @class = "col-sm-3 control-label" })
                        <div class="col-sm-9">
                            @Html.TextBoxFor(p => project.ProjectTitle, new { @class = "form-control" })
                            @Html.ValidationMessageFor(p => project.ProjectTitle)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(p => project.ProjectDescription, new { @class = "col-sm-3 control-label" })
                        <div class="col-sm-9">
                            @Html.TextAreaFor(p => project.ProjectDescription, new { @class = "form-control" })
                            @Html.ValidationMessageFor(p => project.ProjectDescription)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(p => project.ProjectType, new { @class = "col-sm-3 control-label" })
                        <div class="col-sm-9">
                            @Html.DropDownListFor(p => project.ProjectType, (SelectList)ViewData["ProjectTypeDropdown"], new { @class = "form-control", @data_plugin = "selectpicker" })
                            @Html.ValidationMessageFor(p => project.ProjectType)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(p => project.PhotoUploads, new { @class = "col-sm-3 control-label" })
                        <div class="col-sm-9">
                            <div class="input-group input-group-file">
                                <input type="text" class="form-control" readonly="">
                                <span class="input-group-btn">
                                    <span class="btn btn-primary btn-file">
                                        <i class="icon wb-upload" aria-hidden="true"></i>
                                        <input id="project_PhotoUploads-uploader" type="file" onchange="UploadFile('project_PhotoUploads')" multiple>
                                        @Html.HiddenFor(p => project.PhotoUploads)
                                    </span>
                                </span>
                            </div>
                            @Html.ValidationMessageFor(p => project.PhotoUploads)
                            <div id="project_PhotoUploads-files">
                                @if (ViewData["PhotosUploadFiles"] != null)
                                {
                                    string[] files = ViewData["PhotosUploadFiles"].ToString().Split(',');
                                    foreach (string file in files)
                                    {
                                        <div class="margin-top-10 small"><a href="@Url.Content("~/FileUploads/Temp/" + file)" target="_blank">@file</a><button type="button" class="btn btn-pure btn-xs btn-danger icon wb-close" onclick="RemoveFile('project_PhotosUpload', this)"></button></div>
                                    }
                                }
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(p => project.FloorPlanUploads, new { @class = "col-sm-3 control-label" })
                        <div class="col-sm-9">
                            <div class="input-group input-group-file">
                                <input type="text" class="form-control" readonly="">
                                <span class="input-group-btn">
                                    <span class="btn btn-primary btn-file">
                                        <i class="icon wb-upload" aria-hidden="true"></i>
                                        <input id="project_FloorPlanUploads-uploader" type="file" onchange="UploadFile('project_FloorPlanUploads')" multiple>
                                        @Html.HiddenFor(p => project.FloorPlanUploads)
                                    </span>
                                </span>
                            </div>
                            @Html.ValidationMessageFor(p => project.FloorPlanUploads)
                            <div id="project_FloorPlanUploads-files">
                                @if (ViewData["FloorPlanUploadsFiles"] != null)
                                {
                                    string[] files = ViewData["FloorPlanUploadsFiles"].ToString().Split(',');
                                    foreach (string file in files)
                                    {
                                        <div class="margin-top-10 small"><a href="@Url.Content("~/FileUploads/Temp/" + file)" target="_blank">@file</a><button type="button" class="btn btn-pure btn-xs btn-danger icon wb-close" onclick="RemoveFile('project_FloorPlanUploads', this)"></button></div>
                                    }
                                }
                            </div>
                        </div>
                    </div>


                    <div class="form-group">
                        @Html.LabelFor(p => project.ThreeDDrawingUploads, new { @class = "col-sm-3 control-label" })
                        <div class="col-sm-9">
                            <div class="input-group input-group-file">
                                <input type="text" class="form-control" readonly="">
                                <span class="input-group-btn">
                                    <span class="btn btn-primary btn-file">
                                        <i class="icon wb-upload" aria-hidden="true"></i>
                                        <input id="project_ThreeDDrawingUploads-uploader" type="file" onchange="UploadFile('project_ThreeDDrawingUploads')" multiple>
                                        @Html.HiddenFor(p => project.ThreeDDrawingUploads)
                                    </span>
                                </span>
                            </div>
                            @Html.ValidationMessageFor(p => project.ThreeDDrawingUploads)
                            <div id="project_ThreeDDrawingUploads-files">
                                @if (ViewData["ThreeDDrawingUploadsFiles"] != null)
                                {
                                    string[] files = ViewData["ThreeDDrawingUploadsFiles"].ToString().Split(',');
                                    foreach (string file in files)
                                    {
                                        <div class="margin-top-10 small"><a href="@Url.Content("~/FileUploads/Temp/" + file)" target="_blank">@file</a><button type="button" class="btn btn-pure btn-xs btn-danger icon wb-close" onclick="RemoveFile('project_ThreeDDrawingUploads', this)"></button></div>
                                    }
                                }
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(p => project.AsBuildDrawingUploads, new { @class = "col-sm-3 control-label blue-700", @data_toggle = "tooltip", @data_placement = "top", @data_original_title = "As-Built Drawings include .. .." })
                        <div class="col-sm-9">
                            <div class="input-group input-group-file">
                                <input type="text" class="form-control" readonly="">
                                <span class="input-group-btn">
                                    <span class="btn btn-primary btn-file">
                                        <i class="icon wb-upload" aria-hidden="true"></i>
                                        <input id="project_AsBuildDrawingUploads-uploader" type="file" onchange="UploadFile('project_AsBuildDrawingUploads')" multiple>
                                        @Html.HiddenFor(p => project.AsBuildDrawingUploads)
                                    </span>
                                </span>
                            </div>
                            @Html.ValidationMessageFor(p => project.AsBuildDrawingUploads)
                            <div id="project_AsBuildDrawingUploads-files">
                                @if (ViewData["AsBuildDrawingUploadsFiles"] != null)
                                {
                                    string[] files = ViewData["AsBuildDrawingUploadsFiles"].ToString().Split(',');
                                    foreach (string file in files)
                                    {
                                        <div class="margin-top-10 small"><a href="@Url.Content("~/FileUploads/Temp/" + file)" target="_blank">@file</a><button type="button" class="btn btn-pure btn-xs btn-danger icon wb-close" onclick="RemoveFile('project_AsBuildDrawingUploads', this)"></button></div>
                                    }
                                }
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(p => project.SubmissionStageUploads, new { @class = "col-sm-3 control-label blue-700", @data_toggle = "tooltip", @data_placement = "top", @data_original_title = "Submission Stage includes License and Permits" })
                        <div class="col-sm-9">
                            <div class="input-group input-group-file">
                                <input type="text" class="form-control" readonly="">
                                <span class="input-group-btn">
                                    <span class="btn btn-primary btn-file">
                                        <i class="icon wb-upload" aria-hidden="true"></i>
                                        <input id="project_SubmissionStageUploads-uploader" type="file" onchange="UploadFile('project_SubmissionStageUploads')" multiple>
                                        @Html.HiddenFor(p => project.SubmissionStageUploads)
                                    </span>
                                </span>
                            </div>
                            @Html.ValidationMessageFor(p => project.SubmissionStageUploads)
                            <div id="project_SubmissionStageUploads-files">
                                @if (ViewData["SubmissionStageUploadsFiles"] != null)
                                {
                                    string[] files = ViewData["SubmissionStageUploadsFiles"].ToString().Split(',');
                                    foreach (string file in files)
                                    {
                                        <div class="margin-top-10 small"><a href="@Url.Content("~/FileUploads/Temp/" + file)" target="_blank">@file</a><button type="button" class="btn btn-pure btn-xs btn-danger icon wb-close" onclick="RemoveFile('project_SubmissionStageUploads', this)"></button></div>
                                    }
                                }
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(p => project.OtherUploads, new { @class = "col-sm-3 control-label" })
                        <div class="col-sm-9">
                            <div class="input-group input-group-file">
                                <input type="text" class="form-control" readonly="">
                                <span class="input-group-btn">
                                    <span class="btn btn-primary btn-file">
                                        <i class="icon wb-upload" aria-hidden="true"></i>
                                        <input id="project_OtherUploads-uploader" type="file" onchange="UploadFile('project_OtherUploads')" multiple>
                                        @Html.HiddenFor(p => project.OtherUploads)
                                    </span>
                                </span>
                            </div>
                            @Html.ValidationMessageFor(p => project.OtherUploads)
                            <div id="project_OtherUploads-files">
                                @if (ViewData["OtherUploadsFiles"] != null)
                                {
                                    string[] files = ViewData["OtherUploadsFiles"].ToString().Split(',');
                                    foreach (string file in files)
                                    {
                                        <div class="margin-top-10 small"><a href="@Url.Content("~/FileUploads/Temp/" + file)" target="_blank">@file</a><button type="button" class="btn btn-pure btn-xs btn-danger icon wb-close" onclick="RemoveFile('project_OtherUploads', this)"></button></div>
                                    }
                                }
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(p => project.Remarks, new { @class = "col-sm-3 control-label" })
                        <div class="col-sm-9">
                            @Html.TextAreaFor(p => project.Remarks, new { @class = "form-control" })
                            @Html.ValidationMessageFor(p => project.Remarks)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(p => project.Status, new { @class = "col-sm-3 control-label" })
                        <div class="col-sm-9">
                            @Html.DropDownListFor(p => project.Status, (SelectList)ViewData["StatusDropdown"], new { @class = "form-control", @data_plugin = "selectpicker" })
                            @Html.ValidationMessageFor(p => project.Status)
                            <span class="text-danger font-size-12">* Please ensure that all expenses are entered before marking project as completed. <br>* Project marked completed cannot be reverted and all expenses incurred after will be beared by the sales person.</span>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="panel">
        <div class="panel-body container-fluid">
            <div class="row row-lg">
                <div class="col-md-9">
                    <h4>Payment Summary</h4>

                    <div class="form-group">
                        <div class="col-sm-12 table-responsive">
                            <table class="table table-hover table-condensed" data-striped="true" data-height="250" data-mobile-responsive="true" id="PaymentSummaryTable">
                                <thead>
                                    <tr>
                                        <th class="width-50">#</th>
                                        <th class="width-100">Invoice ID</th>
                                        <th class="width-100">Description</th>
                                        <th class="width-50">Percentage</th>
                                        <th class="width-50">Status</th>
                                        <th class="width-50">Amount</th>
                                        <th class="width-50">Bill Date</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        if (ViewData["Invoice"] != null)
                                        {
                                            IList<Invoice> invoice = (IList<Invoice>)ViewData["Invoice"];

                                            int count = 1;
                                            string Percentage = "";

                                            foreach (Invoice _invoice in invoice)
                                            {

                                                foreach (InvoiceItemDescription _itemDescription in _invoice.ItemDescriptions)
                                                {
                                                    if (string.IsNullOrEmpty(_itemDescription.PercentageOfQuotation))
                                                    {
                                                        Percentage = "-";
                                                    }
                                                    else
                                                    {
                                                        Percentage = _invoice.ItemDescriptions[0].PercentageOfQuotation + "%";
                                                    }

                                                    <tr>
                                                        <td>@count</td>
                                                        <td>@_invoice.InvoiceID</td>
                                                        <td>@_itemDescription.Description</td>
                                                        <td>@Percentage</td>
                                                        <td>@_invoice.Status</td>
                                                        <td>$@_invoice.GrandTotalAmount.ToString("#,##0.00")</td>
                                                        <td>$@_invoice.Date.ToString("dd/MM/yyyy")</td>
                                                    </tr>
                                                    count++;
                                                }
                                            }
                                        }
                                        else
                                        {
                                            <tr>
                                                <td class="no-record" colspan="6">No Invoice</td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="panel">
        <div class="panel-body container-fluid">
            <div class="row row-lg">
                <div class="col-md-9">
                    <h4>Profit & Loss Summary</h4>

                    <div class="form-group">
                        <div class="col-sm-12 table-responsive">
                            <table class="table table-hover table-condensed" data-striped="true" data-height="250" data-mobile-responsive="true">
                                <thead>
                                    <tr>
                                        <th class="width-200">Description</th>
                                        <th class="width-50">Amount</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    <tr>
                                        <td>Total Revenue</td>
                                        <td id="TotalRevenue">$@ViewData["TotalRevenue"]</td>
                                    </tr>
                                    <tr>
                                        <td>Total Expenses</td>
                                        <td id="TotalExpenses">$@ViewData["TotalExpenses"]</td>
                                    </tr>

                                    @{
                                        if (@ViewData["AddClass"] == "Yes")
                                        {
                                            <tr style="border-top:2px solid black; border-bottom:3px double black" id="TotalProfitRow" class="bg-red-200">
                                                <td>Total Profit</td>
                                                <td id="TotalProfit">$@ViewData["TotalProfit"]</td>
                                            </tr>
                                        }
                                        else
                                        {
                                            <tr style="border-top:2px solid black; border-bottom:3px double black" id="TotalProfitRow">
                                                <td>Total Profit</td>
                                                <td id="TotalProfit">$@ViewData["TotalProfit"]</td>
                                            </tr>
                                        }
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                    <span class="small red-700">* Project Profit Margin < 17% of Revenue will be highlighted red.</span>

                </div>
            </div>
        </div>
    </div>

    <div class="panel">
        <div class="panel-body container-fluid">
            <div class="row row-lg">
                <div class="col-md-12">
                    <h4>Project Expenses</h4>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <button type="button" class="btn btn-primary" id="add_new">Add Item </button>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12 table-responsive">
                            <table class="table table-hover table-condensed table-bordered" data-striped="true" data-height="250" data-mobile-responsive="true" id="tbl">
                                <thead>
                                    <tr>
                                        <th style="min-width:50px">#</th>
                                        <th style="min-width:300px">Description *</th>
                                        <th style="min-width:150px">Supplier Name *</th>
                                        <th style="min-width:150px">Invoice No *</th>
                                        <th style="min-width:100px">Date *</th>
                                        <th style="min-width:100px">GST</th>
                                        <th style="min-width:100px">Cost (before GST) *</th>
                                        <th style="min-width:100px">Status</th>
                                        <th style="min-width:50px">Action</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @if (ViewData["ProjectExpensesTable"] != null)
                                    {
                                        List<ProjectProjectExpensesTable> projectExpensesTable = (List<ProjectProjectExpensesTable>)ViewData["ProjectExpensesTable"];
                                        int count = 1;

                                        foreach (ProjectProjectExpensesTable _projectExpensesTable in projectExpensesTable)
                                        {
                                            <tr id="RowID-@_projectExpensesTable.RowId">
                                                <td><div class="calculateNumber">@count</div></td>
                                                <td>
                                                    @Html.TextBox("ProjectExpensesDescription_" + _projectExpensesTable.RowId, _projectExpensesTable.Description, new { @class = "form-control" })
                                                    @Html.ValidationMessage("ProjectExpensesDescription_" + _projectExpensesTable.RowId)
                                                </td>
                                                <td>
                                                    @Html.TextBox("ProjectExpensesSupplierName_" + _projectExpensesTable.RowId, _projectExpensesTable.SupplierName, new { @class = "form-control" })
                                                    @Html.ValidationMessage("ProjectExpensesSupplierName_" + _projectExpensesTable.RowId)
                                                </td>
                                                <td>
                                                    @Html.TextBox("ProjectExpensesInvoiceNo_" + _projectExpensesTable.RowId, _projectExpensesTable.SupplierName, new { @class = "form-control" })
                                                    @Html.ValidationMessage("ProjectExpensesInvoiceNo_" + _projectExpensesTable.RowId)
                                                </td>
                                                <td>
                                                    @Html.TextBox("ProjectExpensesDate_" + _projectExpensesTable.RowId, _projectExpensesTable.Date, new { @class = "form-control" })
                                                    @Html.ValidationMessage("ProjectExpensesDate_" + _projectExpensesTable.RowId)
                                                </td>
                                                <td>
                                                    @Html.DropDownList("ProjectExpensesGST_" + _projectExpensesTable.RowId, _projectExpensesTable.GST, new { @class = "form-control" })
                                                    @Html.ValidationMessage("ProjectExpensesGST_" + _projectExpensesTable.RowId)
                                                </td>
                                                <td>
                                                    <div class="input-group">
                                                        <span class="input-group-addon">$</span>
                                                        @Html.TextBox("ProjectExpensesCostBeforeGST_" + _projectExpensesTable.RowId, _projectExpensesTable.CostBeforeGST, new { @class = "form-control CostBeforeGST", @onchange = "ValidateAmount('ProjectExpensesCostBeforeGST_" + _projectExpensesTable.RowId + "')" })
                                                        @Html.ValidationMessage("ProjectExpensesCostBeforeGST_" + _projectExpensesTable.RowId)
                                                    </div>
                                                </td>
                                                <td>@Html.DropDownList("ProjectExpensesStatus_" + _projectExpensesTable.RowId, _projectExpensesTable.Status, new { @class = "form-control" })
                                                @Html.ValidationMessage("ProjectExpensesStatus_" + _projectExpensesTable.RowId)</td>
                                                <td class="text-nowrap">
                                                    <button type="button" id="id_button" class="btn btn-sm btn-icon btn-round btn-danger" data-toggle="tooltip">
                                                        <i class="icon wb-close" aria-hidden="true"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-12">
                            <button type="submit" class="btn btn-primary margin-top-10">Save </button>
                            <button type="reset" class="btn btn-default btn-outline  margin-top-10">Reset</button>

                            @{
                                    int page = 1;

                                    if (Session["Page"] != null)
                                    {
                                        page = Convert.ToInt32(Session["Page"]);
                                    }
                            }
                            <a href="@Url.Action("Listing", new { @page = page })" class="btn btn-default btn-outline  margin-top-10">Back</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
}

<script>
    $(document).ready(function ()
    {

        $('.datepair-start').datepicker(); //Initialise any date pickers
        $("#tbl tbody tr input[id*='ProjectExpensesDate_']").datepicker();

        var getCustomerID = $("#project_CustomerId").val();
        var getCoordinatorID2 = $("#project_CoordinatorId").val();

        GetCustomerInfo(getCustomerID);
        GetCoordinatorInfo(getCoordinatorID2);

    });

    function GetQuotationTotalAmount(id)
    {

        var quotationID = id.value;

        var url = "@Url.Action("GetQuotationTotalAmount")";

        var TotalExpenses = $('#TotalExpenses').html().replace("$", "");
        var TotalExpenses2 = TotalExpenses.replace(/,/g, '');

        if (quotationID != "")
        {
            $.ajax({
                type: "GET",
                cache: false,
                url: url,
                data: { id: quotationID },
                success: function (data) {
                    $('#TotalRevenue').html("$" + data);

                    var TotalRevenue = data.replace(/,/g, '');
                    var TotalProfit = parseFloat(TotalRevenue) - parseFloat(TotalExpenses2);

                    $('#TotalProfit').html("$" + TotalProfit.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, "$1,").toString());

                    var CheckMargin = (TotalProfit / data) * 100;
                    //Check Margin Color
                    if (CheckMargin != 0)
                    {
                        if (CheckMargin < 17)
                        {
                            $("#TotalProfitRow").addClass("bg-red-200");
                        } else
                        {
                            $("#TotalProfitRow").removeClass("bg-red-200");
                        }
                    }
                    getPaymentSummaryInfo(quotationID);
                },
                error: function (e) {
                    console.log(e);
                    alertify.alert("An error occured while retrieving quotation record!");
                }
            });
        }
        else
        {
            $('#TotalRevenue').html("$0.00");

            var TotalProfit = parseFloat(0) - parseFloat(TotalExpenses2);

            $('#TotalProfit').html("$" + TotalProfit.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, "$1,").toString());

            var CheckMargin = (TotalProfit / 0) * 100;
            //Check Margin Color
            if (CheckMargin != 0) {
                if (CheckMargin < 17) {
                    $("#TotalProfitRow").addClass("bg-red-200");
                } else {
                    $("#TotalProfitRow").removeClass("bg-red-200");
                }
            }

            $("#PaymentSummaryTable > tbody").html("<tr><td class='no-record' colspan='6'>No Invoice</td></tr>");
        }
    }

    function getPaymentSummaryInfo(quotationID)
    {
        var GetID = quotationID;
        var url = "@Url.Action("GetPaymentSummaryProject")";
        $.ajax({
            type: "GET",
            cache: false,
            url: url,
            data: { id: GetID },
            success: function (data) {
                $('#PaymentSummaryTable > tbody').html(data);
                getCoordinatorID(quotationID);
            },
            error: function (e) {
                console.log(e);
                alertify.alert("An error occured while retrieving payment summary record!");
            }
        });
    }

    function getCoordinatorID(quotationID)
    {
        var id = quotationID;
        var url = "@Url.Action("GetCoordinatorID")";

        $.ajax({
            type: "GET",
            cache: false,
            url: url,
            data: { id: id },
            success: function (data) {
                $('#project_CoordinatorId').select2("val", data);
                getCustomerID(quotationID);
            },
            error: function (e) {
                console.log(e);
                alertify.alert("An error occured while retrieving coordinator record!");
            }
        });
    }

    function getCustomerID(quotationID)
    {
        var id = quotationID;
        var url = "@Url.Action("GetCustomerID")";

        $.ajax({
            type: "GET",
            cache: false,
            url: url,
            data: { id: id },
            success: function (data) {
                $('#project_CustomerId').select2("val", data);
            },
            error: function (e) {
                console.log(e);
                alertify.alert("An error occured while retrieving customer record!");
            }
        });
    }

    function CalculateTotalExpenses(amount)
    {
        var TotalExpenses = 0;

        var CostBeforeGST = $('.CostBeforeGST').map(function () {
            var Check = $(this).val().replace(/,/g, '');

            if (Check == "" || isNaN(Check / 1))
            {
                Check = 0;
            }

            TotalExpenses += parseFloat(Check);
        }).get();

        var TotalRevenue = $('#TotalRevenue').html().replace("$", "");
        var FormattedTotalRevenue = TotalRevenue.replace(/,/g, '');

        var TotalProfit = parseFloat(FormattedTotalRevenue) - parseFloat(TotalExpenses);

        $('#TotalExpenses').html("$" + TotalExpenses.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, "$1,").toString());
        $('#TotalProfit').html("$" + TotalProfit.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, "$1,").toString());

        var CheckMargin = (TotalProfit / FormattedTotalRevenue) * 100;

        //Check Margin Color
        if (CheckMargin != 0) {
            if (CheckMargin < 17)
            {
                $("#TotalProfitRow").addClass("bg-red-200");
            }
            else
            {
                $("#TotalProfitRow").removeClass("bg-red-200");
            }
        }
    }

    $('#add_new').click(function () {

        $("#add_new").attr("disabled", true);

        var url = "@Url.Action("GetProjectExpenses")";

        var rowId = 1;
        var ProjectExpensesRow = $("#tbl tbody tr").length;
        if (ProjectExpensesRow > 0) {
            var _rowId = $("#tbl tbody tr:last")[0].id.split("-");
            rowId = parseInt(_rowId[1]) + 1;
        }

        $.ajax({
            type: "GET",
            cache: false,
            url: url,
            data: { id: rowId },
            success: function (data) {
                $("#tbl tbody").append(data);
                $("#ProjectExpensesDate_" + rowId).datepicker(); // attach to new elements
                RecalculateNumber();
                $("#add_new").attr("disabled", false);
            },
            error: function (e) {
                console.log(e);
                alertify.alert("An error occured while retrieving project expenses record!");
            }
        });
    });

    $('#tbl').on('click', '#id_button', function (e) {

        var rowID = $(this).closest('tr');

        alertify.confirm("Are you sure you want to remove this item?", function (e) {
            if (e) {
                rowID.remove();
                RecalculateNumber();
                alertify.success("Item has been removed!");

                var TotalExpenses = 0;

                var CostBeforeGST = $('.CostBeforeGST').map(function () {
                    var Check = $(this).val().replace(/,/g, '');

                    if (Check == "" || isNaN(Check / 1)) {
                        Check = 0;
                    }
                    
                    TotalExpenses += parseFloat(Check);
                }).get();

                

                var TotalRevenue = $('#TotalRevenue').html().replace("$", "");
                var FormattedTotalRevenue = TotalRevenue.replace(/,/g, '');
               
                var TotalProfit = parseFloat(FormattedTotalRevenue) - parseFloat(TotalExpenses);

                $('#TotalExpenses').html("$" + TotalExpenses.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, "$1,").toString());
                $('#TotalProfit').html("$" + TotalProfit.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, "$1,").toString());

                var CheckMargin = (TotalProfit / FormattedTotalRevenue) * 100;

                //Check Margin Color
                if (CheckMargin != 0) {
                    if (CheckMargin < 17) {
                        $("#TotalProfitRow").addClass("bg-red-200");
                    }
                    else {
                        $("#TotalProfitRow").removeClass("bg-red-200");
                    }
                }
            }
        });
    })

    function RecalculateNumber() {
        var count = 1;
        $(".calculateNumber").each(function () {
            //console.log(this);
            this.innerHTML = count;
            count++;
        })
    }

    function GetCustomerInfo(role) {

        var roleID = 0;

        if (role != null) {
            roleID = role.value;
        }

        if (typeof (roleID) === "undefined")
        {
            roleID = role;

        }

        var url = "@Url.Action("GetCustomerInfo")";

        if (roleID == "")
        {
            $('#project_ContactPerson').val("");
            $('#project_Address').val("");
            $('#project_Tel').val("");
            $('#project_Fax').val("");
        }
        else
        {

            $.ajax({
                type: "GET",
                url: url,
                data: { id: roleID },
                success: function (data) {
                    data = JSON.parse(data);

                    for (var i = 0; i < data.length; i++) {
                        $('#project_ContactPerson').val(data[i].ContactPerson);
                        $('#project_Address').val(data[i].Address);
                        $('#project_Tel').val(data[i].Tel);
                        $('#project_Fax').val(data[i].Fax);
                    }
                }
            });
        }
    }

    function OnchangeCoordinator(id)
    {
        GetCoordinatorInfo(id.value);
    }

    function GetCoordinatorInfo(id)
    {
        var url = "@Url.Action("GetCoordinatorInfo")";

        if (id == "")
        {
            $('#Coordinator_Email').val("");
            $('#Coordinator_Tel').val("");
        }
        else
        {
            $.ajax({
                type: "GET",
                url: url,
                data: { id: id },
                success: function (data) {
                    data = JSON.parse(data);

                    for (var i = 0; i < data.length; i++) {

                        $('#Coordinator_Email').val(data[i].Email);
                        $('#Coordinator_Tel').val(data[i].Tel);

                    }
                }
            });
        }
    }

    //File Uploads
    function UploadFile(id) {
        var $file = $("#" + id + "-uploader")[0],
        $formData = new FormData();
        if ($file.files.length > 0) {
            for (var i = 0; i < $file.files.length; i++) {
                $formData.append("file-" + i, $file.files[i]);
            }
        }

        $.ajax({
            url: "@Url.Action("FileUploader")",
            type: "POST",
            data: $formData,
            dataType: "json",
            contentType: false,
            processData: false,
            success: function ($data) {
                if ($data.result == "success") {
                    AppendFile(id, $data.msg);
                }
                else {
                    alertify.alert($data.msg);
                }
            },
            error: function (e) {
                alertify.alert("An error occured while uploading files!");
            }
        });
    }

    function AppendFile(id, data) {
        var files = data.split(",");
        var $block = $("<div></div>");
        for (var i = 0; i < files.length; i++) {
            var $div = $("<div class='margin-top-10 small'></div>");
            var $a = $("<a href='@Url.Content("~/FileUploads/Temp/")" + files[i] + "' target='_blank'>" + files[i] + "</a>");
            var $button = $("<button type='button' class='btn btn-pure btn-xs btn-danger icon wb-close' onclick='RemoveFile(\"" + id + "\", this)'></button>");

            $block.append($div.append($a).append($button));
        }
        $("#" + id + "-files").html($block);
        $("#" + id).val(data);
    }

    function RemoveFile(id, $this) {
        var files = $("#" + id).val().split(",");
        var newFiles = "";
        for (var i = 0; i < files.length; i++) {
            if (files[i] != $this.previousSibling.innerHTML) {
                newFiles += files[i] + ",";
            }
        }
        newFiles = newFiles.slice(0, newFiles.length - 1);
        $("#" + id).val(newFiles);
        $this.parentNode.remove();
    }

    function ValidateAmount(id) {
        var amount = $("#" + id).val().replace(/,/g, '');

        if (amount != "") {
            var url = "@Url.Action("ValidateAmount")";

            $.ajax({
                type: "GET",
                cache: false,
                url: url,
                data: { amount: amount },
                success: function (data) {
                    data = JSON.parse(data);
                    if (data.result) {
                        $("#" + id).val(data.newAmount);
                        CalculateTotalExpenses(data.newAmount);
                    }
                }
            });
        }
    }
</script>