﻿@using DataAccess
@using DataAccess.POCO

@{
    Layout = null;
}

@{

    if (ViewData["Invoice"] != null)
    {
        IList<Invoice> invoice = (IList<Invoice>)ViewData["Invoice"];

        int count = 1;
        string Percentage = "";

        foreach (Invoice _invoice in invoice)
        {

            foreach (InvoiceItemDescription _itemDescription in _invoice.ItemDescriptions)
            {
                if (string.IsNullOrEmpty(_itemDescription.PercentageOfQuotation))
                {
                    Percentage = "-";
                }
                else
                {
                    Percentage = _invoice.ItemDescriptions[0].PercentageOfQuotation + "%";
                }
                
                <tr>
                    <td>@count</td>
                    <td>@_invoice.InvoiceID</td>
                    <td>@_itemDescription.Description</td>
                    <td>@Percentage</td>
                    <td>@_invoice.Status</td>
                    <td>$@_invoice.GrandTotalAmount.ToString("#,##0.00")</td>
                    <td>@_invoice.Date.ToString("dd/MM/yyyy")</td>
                </tr>
                count++;
            }
        }
    }
    else
    {
        <tr>
            <td class="no-record" colspan="6">No Invoice</td>
        </tr>
    }
}