﻿@using DataAccess
@using DataAccess.POCO

@{
    Layout = null;
}

@if (ViewData["projectEstimatorCostingSummaryTable"] != null)
{

    List<ProjectEstimatorCostingSummaryTable> projectEstimatorCostingSummary = (List<ProjectEstimatorCostingSummaryTable>)ViewData["projectEstimatorCostingSummaryTable"];

    int count = 1;

    foreach (ProjectEstimatorCostingSummaryTable _projectEstimatorCostingSummary in projectEstimatorCostingSummary)
    {
        <tr>
            <td id="SummaryItemMain-@count">@count</td>
            @Html.Hidden("SummaryItemMain-" + count, count)

            <td id="QuotationItemName-@count">@_projectEstimatorCostingSummary.CategoryName</td>
            @Html.Hidden("QuotationItemName-" + count, _projectEstimatorCostingSummary.CategoryName)

            <td id="QuotationTotalAmount-@count">$@_projectEstimatorCostingSummary.Amount</td>
            @Html.Hidden("QuotationTotalAmount-" + count, _projectEstimatorCostingSummary.Amount)

            <td id="QuotationTotalProjectedCost-@count">$@_projectEstimatorCostingSummary.ProjectedCost</td>
            @Html.Hidden("QuotationTotalProjectedCost-" + count, _projectEstimatorCostingSummary.ProjectedCost)

            <td id="QuotationTotalAdjCost-@count">$@_projectEstimatorCostingSummary.AdjCost</td>
            @Html.Hidden("QuotationTotalAdjCost2-" + count, _projectEstimatorCostingSummary.AdjCost)

            <td id="QuotationTotalAdjProfit-@count">$@_projectEstimatorCostingSummary.AdjProfit</td>
            @Html.Hidden("QuotationTotalAdjProfit2-" + count, _projectEstimatorCostingSummary.AdjProfit)
        </tr>
        count++;
    }
    <tr style="border-top:2px solid black; border-bottom:3px double black" id="SummaryTotalRow">
        <td colspan="2" style="text-align:right">Total</td>
        <td id="FinalTotalAmount">$@ViewData["FinalTotalAmount"].ToString()</td>
        <td id="FinalTotalProjectedCost">$@ViewData["FinalTotalProjectedCost"].ToString()</td>
        <td id="FinalTotalAdjCost">$@ViewData["FinalTotalAdjCost"].ToString()</td>
        <td id="FinalTotalAdjProfit">$@ViewData["FinalTotalAdjProfit"].ToString()</td>
    </tr>
}

