﻿@using DataAccess
@using DataAccess.POCO

@{
    Layout = null;
}

@if (ViewData["QuotationItemDescription"] != null)
{

    List<QuotationItemDescriptionTable> quotationItemDescriptionTable = (List<QuotationItemDescriptionTable>)ViewData["QuotationItemDescription"];
    int count = 1;
    int ItemPostBackCount = 1;

    foreach (QuotationItemDescriptionTable _quotationItemDescriptionTable in quotationItemDescriptionTable)
    {
        if (_quotationItemDescriptionTable.RowId == ItemPostBackCount)
        {
            <tr id="SummaryItemMain-@ItemPostBackCount">
                <td>@ItemPostBackCount</td>
                <td id="QuotationItemName-@ItemPostBackCount">@_quotationItemDescriptionTable.ItemName</td>
                <td id="QuotationTotalAmount-@ItemPostBackCount">$0.00</td>
                <td id="QuotationTotalEstCost-@ItemPostBackCount">$0.00</td>
                <td id="QuotationTotalAdjCost-@ItemPostBackCount">$0.00</td>
                <td id="QuotationTotalEstProfit-@ItemPostBackCount">$0.00</td>
            </tr>
            ItemPostBackCount++;
        }
    }
    <tr style="border-top:2px solid black; border-bottom:3px double black" id="SummaryTotalRow">
        <td colspan="2">Total</td>
        <td id="FinalTotalAmount">$0.00</td>
        <td id="FinalTotalEstCost">$0.00</td>
        <td id="FinalTotalAdjCost">$0.00</td>
        <td id="FinalTotalEstProfit">$0.00</td>
    </tr>
}