﻿@using DataAccess.POCO
@using PagedList
@using PagedList.Mvc

@{
    ViewBag.Title = ViewData["SiteName"].ToString();
    ViewBag.PageTitle = "Manage Projects";
    ViewBag.AProject = "active open";
    ViewBag.liListProject = "active";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel">
    <div class="panel-body container-fluid">

        <div class="row">
            <div class="col-xlg-12 col-md-12">
                <a class="btn btn-success" href="@Url.Action("Create")" type="button"><i aria-hidden="true" class="icon wb-plus"></i> New Project</a>
            </div>
        </div>

        <div class="row margin-top-15">
            <div class="col-xlg-12 col-md-12">
                @using (Html.BeginForm("Listing", "Project", FormMethod.Post, new { @class = "page-search-form", @role = "search" }))
                {
                    <div class="input-search input-search-dark">
                        <button type="submit" class="input-search-icon wb-search" aria-label="Search" arial-hidden="true" id="btn-search"></button>
                        @Html.TextBox("SearchKeyword", ViewData["SearchKeyword"].ToString(), new { @class = "form-control", @placeholder = "Search by Customer Name" })
                        <button type="button" class="input-search-close icon wb-close" aria-label="Close" id="btn-close"></button>
                    </div>

                    <div class="page-user-sortlist pull-right margin-top-15">
                        View: <a class="dropdown-toggle inline-block" data-toggle="dropdown"
                                 href="#" aria-expanded="false">@ViewData["GetStatusValue"].ToString()<span class="caret"></span></a>
                        <ul class="dropdown-menu animation-scale-up animation-top-right animation-duration-250"
                            role="menu" id="SearchStatus">
                            <li role="presentation" id="All"><a href="javascript:void(0)">All Projects</a></li>
                            <li role="presentation" id="Active"><a href="javascript:void(0)">Active Only</a></li>
                            <li role="presentation" id="Complete"><a href="javascript:void(0)">Completed Only</a></li>
                        </ul>
                        @Html.Hidden("SearchStatusValue", Session["SearchStatus"])
                    </div>
                }
            </div>
        </div>

        <div class="row margin-top-15">
            <div class="col-xlg-12 col-md-12">
                <!-- Table -->
                <div>

                    <div class="table-responsive">
                        <table class="table table-hover table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Project ID</th>
                                    <th>Customer/Company</th>
                                    <th>Start Date</th>
                                    <th>Project Amount</th>
                                    <th>Expense</th>
                                    <th>Managed by</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    IPagedList<Project> projects = (IPagedList<Project>)ViewData["Project"];
                                    
                                    List<QuotationItemDescription> quotationItemDescriptions = (List<QuotationItemDescription>)ViewData["QuotationItemDescription"];
                                    List<ProjectProjectExpenses> projectExpenses = (List<ProjectProjectExpenses>)ViewData["projectExpenses"];
                                    
                                    if (projects.Count > 0)
                                    {
                                        int count = 1;

                                        foreach (Project _projects in projects)
                                        {
                                            int col1 = count;
                                            string col2 = "-";
                                            string col3 = "-";
                                            string col4 = "-";
                                            string col5 = "0.00";
                                            string col6 = "0.00";
                                            string col7 = "-";
                                            string col8 = "-";

                                            decimal TotalProjectAmount = Convert.ToDecimal("0.00");
                                            decimal TotalExpenses = Convert.ToDecimal("0.00");

                                            foreach (QuotationItemDescription _quotationItemDescription in quotationItemDescriptions)
                                            {
                                                if (_quotationItemDescription.QuotationId == _projects.QuotationReferenceId)
                                                {
                                                    TotalProjectAmount += _quotationItemDescription.QuotationItemAmount;
                                                }
                                            }

                                            foreach (ProjectProjectExpenses _projectExpenses in projectExpenses)
                                            {
                                                if (_projectExpenses.ProjectId == _projects.ID)
                                                {
                                                    TotalExpenses += _projectExpenses.Cost;
                                                }
                                            }

                                            string FormattedTotalProjectAmount = TotalProjectAmount.ToString("#,##0.00");
                                            string FormattedTotalExpenses = TotalExpenses.ToString("#,##0.00");

                                            if (!string.IsNullOrEmpty(_projects.ProjectID))
                                            {
                                                col2 = _projects.ProjectID;
                                            }

                                            if (_projects.Customer != null)
                                            {
                                                col3 = _projects.Customer.ContactPerson;
                                            }

                                            if (_projects.Date != null)
                                            {
                                                col4 = String.Format("{0:dd/MM/yyyy}", _projects.Date);
                                            }

                                            col7 = _projects.Coordinator.Name;
                                            
                                            if(_projects.Status != null)
                                            {
                                                col8 = _projects.Status;    
                                            }

                                            <tr>
                                                <td>@col1</td>
                                                <td><a href="@Url.Action("View", new { @id = _projects.ID })">@col2</a></td>
                                                <td>@col3</td>
                                                <td>@col4</td>
                                                <td>$@FormattedTotalProjectAmount</td>
                                                <td>$@FormattedTotalExpenses</td>
                                                <td>@col7</td>
                                                <td>@col8</td>
                                                <td class="text-nowrap">
                                                    @if (_projects.Status != "Completed")
                                                    {
                                                        <button type="button" class="btn btn-sm btn-icon btn-round btn-success" id="@_projects.ID" onclick="CompleteProject(this.id)" data-toggle="tooltip"
                                                                data-original-title="Mark as Completed">
                                                            <i class="icon wb-check" aria-hidden="true"></i>
                                                        </button>
                                                        
                                                    }    

                                                    @if (Session["UserGroup"].ToString() != "Super Admin" && Session["UserGroup"].ToString() != "Accounts")
                                                    {
                                                        if (Convert.ToInt32(Session["MainID"].ToString()) == _projects.CoordinatorId)
                                                        {
                                                            <a href="@Url.Action("Edit", new { @id = _projects.ID })" class="btn btn-sm btn-icon btn-round btn-default" data-toggle="tooltip" data-original-title="Edit"><i class="icon wb-edit" aria-hidden="true"></i></a>
                                                        }
                                                    }
                                                    else
                                                    {
                                                        <a href="@Url.Action("Edit", new { @id = _projects.ID })" class="btn btn-sm btn-icon btn-round btn-default" data-toggle="tooltip" data-original-title="Edit"><i class="icon wb-edit" aria-hidden="true"></i></a>
                                                    }
                                                    
                                                    @if (ViewData["IsAllowDelete"].ToString() == "Yes")
                                                    {
                                                        <button type="button" class="btn btn-sm btn-icon btn-round btn-danger" id="@_projects.ID" onclick="DeleteProject(this.id)" data-toggle="tooltip"
                                                                data-original-title="Delete">
                                                            <i class="icon wb-close" aria-hidden="true"></i>
                                                        </button>
                                                    }
                                                    
                                                </td>
                                            </tr>
                                            count++;
                                        }
                                    }
                                    else
                                    {
                                        <tr>
                                            <td class="no-record" colspan="9">No record to display</td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- End Table -->
            </div>

            <div class="pagination pagination-no-border">
                @Html.PagedListPager((IPagedList)ViewData["Project"], page => Url.Action("/Listing", "Project", new { page, currentFilter = ViewBag.CurrentFilter }), new PagedListRenderOptions { LinkToFirstPageFormat = "<< First", LinkToPreviousPageFormat = "< Previous", LinkToNextPageFormat = "Next >", LinkToLastPageFormat = "Last >>" })
            </div>

        </div>
    </div>
</div>

@if (Session["Result"] != null)
{
    string[] result = Session["Result"].ToString().Split('|');

    <script>
        $(document).ready(function () {
            alertify.alert("@result[1]");
        })
    </script>

    Session.Remove("Result");
}

<script>
    $("#SearchStatus li").click(function () {

        $("#SearchStatusValue").val($(this).attr('id'));
        var hv = $('#SearchStatusValue').val();
        $("form[role='search']").submit();
    });
</script>

<script>
    function DeleteProject(clicked_id) {
        alertify.confirm("You are deleting this project! Continue?", function (e) {
            if (e) {
                var url = "@Url.Action("Delete", "Project")";
                var id = clicked_id;

                window.location = url + "?id=" + id;
            }
        });
    }

    function CompleteProject(clicked_id) {
        alertify.confirm("You are marking this project as Complete! Continue?", function (e) {
            if (e) {
                var url = "@Url.Action("Complete", "Project")";
                var id = clicked_id;

                window.location = url + "?id=" + id;
            }
        });
    }
</script>