﻿@using DataAccess
@using DataAccess.POCO

@{
    ViewBag.Title = ViewData["SiteName"].ToString();
    ViewBag.PageTitle = "Manage Projects";
    ViewBag.AProject = "active open";
    ViewBag.liProjectEstimator = "active";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("ProjectEstimator", "Project", FormMethod.Post, new { @id = "form-create", @class = "form-horizontal" }))
{
    <div class="panel">
        <div class="panel-body container-fluid">

            <div class="row row-lg">
                <div class="col-md-10">

                    @if (Session["Result"] != null)
                    {
                        string[] result = Session["Result"].ToString().Split('|');

                        <div class="alert alert-@result[0] text-center">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            @result[1]
                        </div>

                        Session.Remove("Result");
                    }

                    <h4>Project Info</h4>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Project ID *</label>
                        <div class="col-sm-9">
                            @Html.DropDownList("ProjectEstimatorProjectId", (SelectList)ViewData["ProjectEstimatorProjectIdDropdown"],"", new { @class = "form-control", @data_plugin = "select2", @data_allow_clear = "true", @data_placeholder = "Search by Project ID or Customer Name", @onchange = "GetProjectId(this)" })
                            @Html.ValidationMessage("ProjectEstimatorProjectId")
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel">
        <div class="panel-body container-fluid">
            <div class="row row-lg">
                <div class="col-md-12">
                    <h4>Costing Summary</h4>

                    <div class="form-group">
                        <div class="col-sm-12 table-responsive">
                            <table class="table table-hover table-condensed" data-striped="true" data-height="250" data-mobile-responsive="true", id="CostingSummaryTable">
                                <thead>
                                    <tr>
                                        <th class="width-50">#</th>
                                        <th class="width-200">Category</th>
                                        <th class="width-50">Amount</th>
                                        <th class="width-50">Projected Cost</th>
                                        <th class="width-50">Adj Cost</th>
                                        <th class="width-50">Adj Profit</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (ViewData["projectEstimatorCostingSummaryTable"] != null)
                                    {

                                        List<ProjectEstimatorCostingSummaryTable> projectEstimatorCostingSummary = (List<ProjectEstimatorCostingSummaryTable>)ViewData["projectEstimatorCostingSummaryTable"];

                                        int count = 1;

                                        foreach (ProjectEstimatorCostingSummaryTable _projectEstimatorCostingSummary in projectEstimatorCostingSummary)
                                        {
                                            <tr>
                                                <td id="SummaryItemMain-@count">@count</td>
                                                @Html.Hidden("SummaryItemMain-" + count, count)

                                                <td id="QuotationItemName-@count">@_projectEstimatorCostingSummary.CategoryName</td>
                                                @Html.Hidden("QuotationItemName-" + count, _projectEstimatorCostingSummary.CategoryName)

                                                <td id="QuotationTotalAmount-@count">$@_projectEstimatorCostingSummary.Amount</td>
                                                @Html.Hidden("QuotationTotalAmount-" + count, _projectEstimatorCostingSummary.Amount)

                                                <td id="QuotationTotalProjectedCost-@count">$@_projectEstimatorCostingSummary.ProjectedCost</td>
                                                @Html.Hidden("QuotationTotalProjectedCost-" + count, _projectEstimatorCostingSummary.ProjectedCost)

                                                <td id="QuotationTotalAdjCost-@count">$@_projectEstimatorCostingSummary.AdjCost</td>
                                                @Html.Hidden("QuotationTotalAdjCost2-" + count, _projectEstimatorCostingSummary.AdjCost)

                                                <td id="QuotationTotalAdjProfit-@count">$@_projectEstimatorCostingSummary.AdjProfit</td>
                                                @Html.Hidden("QuotationTotalAdjProfit2-" + count, _projectEstimatorCostingSummary.AdjProfit)
                                            </tr>
                                            count++;
                                        }

                                        if (projectEstimatorCostingSummary.Count != 0)
                                        {
                                            <tr style="border-top:2px solid black; border-bottom:3px double black" id="SummaryTotalRow">
                                                <td colspan="2" style="text-align:right">Total</td>
                                                <td id="FinalTotalAmount">$@ViewData["FinalTotalAmount"].ToString()</td>
                                                <td id="FinalTotalProjectedCost">$@ViewData["FinalTotalProjectedCost"].ToString()</td>
                                                <td id="FinalTotalAdjCost">$@ViewData["FinalTotalAdjCost"].ToString()</td>
                                                <td id="FinalTotalAdjProfit">$@ViewData["FinalTotalAdjProfit"].ToString()</td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="panel">
        <div class="panel-body container-fluid">
            <div class="row row-lg">
                <div class="col-md-12">
                    <h4>Project Expenses</h4>
                    <div id="Append-Project-Expenses">
                    @if (ViewData["QuotationItemDescription"] != null)
                    {
                        List<ItemDescriptionBigTable> itemDescriptionBigTable = (List<ItemDescriptionBigTable>)ViewData["QuotationItemDescription"];

                        foreach (ItemDescriptionBigTable _itemDescriptionBigTable in itemDescriptionBigTable)
                        {
                            <div class="form-group" id="BigTable-@_itemDescriptionBigTable.TableID">
                                <div class="col-sm-12 table-responsive">
                                    <table class="table table-hover table-condensed table-bordered" data-striped="true" data-height="250" data-mobile-responsive="true" id="ItemDesciptiontbl-@_itemDescriptionBigTable.TableID">
                                        <thead>
                                            <tr>
                                                <th colspan="11">
                                                    <h5 class="inline">@_itemDescriptionBigTable.CategoryName</h5>
                                                    @Html.Hidden("BigTableItemName-" + _itemDescriptionBigTable.TableID, _itemDescriptionBigTable.CategoryName)
                                                    @Html.Hidden("BigTableItemNameFromDB-" + _itemDescriptionBigTable.TableID, _itemDescriptionBigTable.IsBasic)
                                                </th>
                                            </tr>
                                            <tr>
                                                <th style="min-width:50px">#</th>
                                                <th style="min-width:300px">Description</th>
                                                <th style="min-width:150px">Revenue</th>
                                                <th style="min-width:150px">Projected Cost</th>
                                                <th style="min-width:150px">Adj Cost *</th>
                                                <th style="min-width:150px">Profit</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @{
                                                int count = 1;
                                            }

                                            <!-- Add one more for loop to loop the same item -->
                                            @foreach (ItemDescriptionRow _itemDescriptionRow in _itemDescriptionBigTable.ItemDescriptionRows)
                                            {
                                                string NewInsideRowID = _itemDescriptionBigTable.TableID + "-" + _itemDescriptionRow.RowId;
                                                <tr id="RowInsideID-@NewInsideRowID">
                                                    <td><div class="calculateNumber-@_itemDescriptionBigTable.TableID">@count</div></td>
                                                    <td>
                                                        @Html.TextBox("QuotationItemDescriptionDescription_" + _itemDescriptionBigTable.TableID + "_" + _itemDescriptionRow.RowId, _itemDescriptionRow.Description, new { @class = "form-control", @disabled = "disabled" })
                                                        @Html.Hidden("QuotationItemDescriptionDescription_" + _itemDescriptionBigTable.TableID + "_" + _itemDescriptionRow.RowId, _itemDescriptionRow.Description)
                                                    </td>
                                                    <td>
                                                        <div class="input-group">
                                                            <span class="input-group-addon">$</span>
                                                            @Html.TextBox("QuotationItemDescriptionAmount_" + _itemDescriptionBigTable.TableID + "_" + _itemDescriptionRow.RowId, _itemDescriptionRow.Amount, new { @class = "form-control", @disabled = "disabled" })
                                                            @Html.Hidden("QuotationItemDescriptionAmount2_" + _itemDescriptionBigTable.TableID + "_" + _itemDescriptionRow.RowId, _itemDescriptionRow.Amount)
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="input-group">
                                                            <span class="input-group-addon">$</span>
                                                            @Html.TextBox("QuotationItemDescriptionEstCost_" + _itemDescriptionBigTable.TableID + "_" + _itemDescriptionRow.RowId, _itemDescriptionRow.Est_Cost, new { @class = "form-control", @onchange = "CalculateAmountProfit('QuotationItemDescriptionEstCost_" + _itemDescriptionBigTable.TableID + "_" + _itemDescriptionRow.RowId + "')", @disabled = "disabled" })
                                                            @Html.Hidden("QuotationItemDescriptionEstCost2_" + _itemDescriptionBigTable.TableID + "_" + _itemDescriptionRow.RowId, _itemDescriptionRow.Est_Cost)
                                                        </div>

                                                    </td>
                                                    <td>
                                                        <div class="input-group">
                                                            <span class="input-group-addon">$</span>
                                                            @Html.TextBox("QuotationItemDescriptionAdjCost_" + _itemDescriptionBigTable.TableID + "_" + _itemDescriptionRow.RowId, _itemDescriptionRow.AdjCost, new { @class = "form-control", @onchange = "CalculateAdjCostProfit('QuotationItemDescriptionAdjCost_" + _itemDescriptionBigTable.TableID + "_" + _itemDescriptionRow.RowId + "')" })
                                                        </div>
                                                        @Html.ValidationMessage("QuotationItemDescriptionAdjCost_" + _itemDescriptionBigTable.TableID + "_" + _itemDescriptionRow.RowId)
                                                    </td>
                                                    <td>
                                                        <div class="input-group">
                                                            <span class="input-group-addon">$</span>
                                                            @Html.TextBox("QuotationItemDescriptionProfit_" + _itemDescriptionBigTable.TableID + "_" + _itemDescriptionRow.RowId, _itemDescriptionRow.Est_Profit, new { @class = "form-control", @disabled = "disabled" })
                                                            @Html.Hidden("QuotationItemDescriptionProfit2_" + _itemDescriptionBigTable.TableID + "_" + _itemDescriptionRow.RowId, _itemDescriptionRow.Est_Profit)
                                                        </div>
                                                    </td>
                                                </tr>
                                                count++;
                                            }

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        }
                    }
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <button type="submit" class="btn btn-primary margin-top-10">Save </button>
                            <button type="reset" class="btn btn-default btn-outline  margin-top-10">Reset</button>
                        </div>
                    </div>
                    <!-- End here -->
                </div>
            </div>
        </div>
    </div>
}

<script>
    $(document).ready(function ()
    {
        var SummaryItem = "@ViewData["NoSummaryItem"].ToString()";
        var ProjectID = null;

        if (SummaryItem == "Yes")
        {
            ProjectID = $('#ProjectEstimatorProjectId').val('');
        }
        else
        {
            ProjectID = $('#ProjectEstimatorProjectId').val();
            //GetProjectId(ProjectID);
        }
        
        //CalculateAllTotalAmount();
        
    });

    //Get Project ID
    function GetProjectId(id) {

        var Id = id.value;
        
        if (typeof Id === 'undefined' || Id === null) {
            Id = id;
        }
        
        var url = "@Url.Action("GetQuotationItemDescriptionDetail")";

        if (Id == null || Id == "")
        {
            Id = null;
            $("#CostingSummaryTable > tbody").html("");
            $("#Append-Project-Expenses").html("");
        }
        else
        {

            $.ajax({
                type: "GET",
                cache: false,
                url: url,
                data: { id: Id },
                success: function (data)
                {
                    data = JSON.parse(data);
                    //console.log(data);
                    var QuotationItemDescriptionView = JSON.parse(data.QuotationItemDescriptionView);
                    var ProjectEstimatorCostingSummary = JSON.parse(data.QuotationCostingSummaryView);

                    //console.log(QuotationItemDescriptionView);
                    //console.log(ProjectEstimatorCostingSummary);

                    $("#Append-Project-Expenses").html(QuotationItemDescriptionView);
                    $("#CostingSummaryTable > tbody").html(ProjectEstimatorCostingSummary);
                },
                error: function (e) {
                    console.log(e);
                    alertify.alert("An error occured while retrieving costing summary record!");
                }
            });
        }
    }

    //Onchange AdjCost
    function CalculateAdjCostProfit(id)
    {
        //QuotationItemDescriptionAdjCost_1_1
        var SplitID = id.split("_");

        var TableID = SplitID[1];
        var RowID = SplitID[2];

        var GetRevenue = $("#QuotationItemDescriptionAmount_" + TableID + "_" + RowID + "").val().replace(/,/g, '');
        var GetAdjCost = $("#QuotationItemDescriptionAdjCost_" + TableID + "_" + RowID + "").val().replace(/,/g, '');

        if (GetRevenue == "" || isNaN(GetRevenue / 1)) {
            GetRevenue = 0;
        }

        if (GetAdjCost == "" || isNaN(GetAdjCost / 1)) {
            GetAdjCost = 0;
        }

        var CalculateProfit = GetRevenue - GetAdjCost;

        //Assign Value to Project Expenses Each Profit Row
        $("#QuotationItemDescriptionProfit_" + TableID + "_" + RowID + "").val(CalculateProfit.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, "$1,").toString());
        $("#QuotationItemDescriptionProfit2_" + TableID + "_" + RowID + "").val(CalculateProfit.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, "$1,").toString());
        
        //Total up Same Table Amount and assign
        var rowCount = $('#ItemDesciptiontbl-' + TableID + '> tbody tr').length;
        var TotalAdjCost = 0;
        var TotalAdjProfit = 0;

        for (i = 1; i <= rowCount; i++)
        {
            var GetTotalAdjCost = $("#QuotationItemDescriptionAdjCost_" + TableID + "_" + i + "").val().replace(/,/g, '');
            var GetTotalAdjProfit = $("#QuotationItemDescriptionProfit2_" + TableID + "_" + i + "").val().replace(/,/g, '');

            if (GetTotalAdjCost == "" || isNaN(GetTotalAdjCost / 1)) {
                GetTotalAdjCost = 0;
            }

            if (GetTotalAdjProfit == "" || isNaN(GetTotalAdjProfit / 1)) {
                GetTotalAdjProfit = 0;
            }

            TotalAdjCost += parseFloat(GetTotalAdjCost);
            TotalAdjProfit += parseFloat(GetTotalAdjProfit);
        }

        $("#QuotationTotalAdjCost-" + TableID).html("$" + TotalAdjCost.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, "$1,").toString());
        $("#QuotationTotalAdjCost2-" + TableID).val(TotalAdjCost.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, "$1,").toString());

        $("#QuotationTotalAdjProfit-" + TableID).html("$" + TotalAdjProfit.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, "$1,").toString());
        $("#QuotationTotalAdjProfit2-" + TableID).val(TotalAdjProfit.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, "$1,").toString());
        //Validate AdjCost Format after all calculation.
        ValidateAmount(id);

        GetTotalAmount();
    }

    function GetTotalAmount()
    {
        var rowCount = $('#CostingSummaryTable > tbody tr').length - 1;
        
        var FinalTotalAmount = 0;
        var FinalTotalProjectedCost = 0;
        var FinalTotalAdjCost = 0;
        var FinalTotalAdjProfit = 0;

        for (i = 1; i <= rowCount; i++)
        {
            var FormattedTotalAdjCost = $("#QuotationTotalAdjCost-" + i).html().replace("$", "");
            var FormattedTotalAdjCost2 = FormattedTotalAdjCost.replace(/,/g, '');

            var FormattedTotalAdjProfit = $("#QuotationTotalAdjProfit-" + i).html().replace("$", "");
            var FormattedTotalAdjProfit2 = FormattedTotalAdjProfit.replace(/,/g, '');

            if (FormattedTotalAdjCost2 == "" || isNaN(FormattedTotalAdjCost2 / 1)) {
                FormattedTotalAdjCost2 = 0;
            }

            if (FormattedTotalAdjProfit2 == "" || isNaN(FormattedTotalAdjProfit2 / 1)) {
                FormattedTotalAdjProfit2 = 0;
            }

            FinalTotalAdjCost += parseFloat(FormattedTotalAdjCost2);
            FinalTotalAdjProfit += parseFloat(FormattedTotalAdjProfit2);
        }
        
        $("#FinalTotalAdjCost").html("$" + FinalTotalAdjCost.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, "$1,").toString());
        $("#FinalTotalAdjProfit").html("$" + FinalTotalAdjProfit.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, "$1,").toString());
    }

    //Get Each Table
    function GetTotalAmountFirst(count) {
        var Table = count; //got how many table

        var FinalTotalAmount = 0;
        var FinalTotalEstCost = 0;
        var FinalTotalAdjCost = 0;
        var FinalTotalProfit = 0;

        for (x = 1; x <= Table ; x++) {
            //calculate got how many rows first.
            //get tr row count
            var rowCount = $('#ItemDesciptiontbl-' + x + ' >tbody >tr').length;
            var TotalAmount = 0;
            var TotalEstCost = 0;
            var TotalAdjCost = 0;
            var TotalProfit = 0;
            var Calculate = x;

            for (i = 1; i <= rowCount; i++) {

                var GetAmount = $("#QuotationItemDescriptionAmount_" + x + "_" + Calculate + "").val();
                var GetEstCost = $("#QuotationItemDescriptionEstCost_" + x + "_" + Calculate + "").val();
                var GetAdjCost = $("#QuotationItemDescriptionAdjCost_" + x + "_" + Calculate + "").val();
                var GetProfit = $("#QuotationItemDescriptionProfit_" + x + "_" + Calculate + "").val();

                TotalAmount += Number(GetAmount);
                TotalEstCost += Number(GetEstCost);
                TotalAdjCost += Number(GetAdjCost);
                TotalProfit += Number(GetProfit);

                Calculate++;
            }

            FinalTotalAmount += Number(TotalAmount);
            FinalTotalEstCost += Number(TotalEstCost);
            FinalTotalAdjCost += Number(TotalAdjCost);
            FinalTotalProfit += Number(TotalProfit);

            //Push To Quotation Total Summary Amount
            $("#QuotationTotalAmount-" + x).html("$" + TotalAmount.toFixed(2));
            $("#QuotationTotalEstCost-" + x).html("$" + TotalEstCost.toFixed(2));
            $("#QuotationTotalAdjCost-" + x).html("$" + TotalAdjCost.toFixed(2));
            $("#QuotationTotalEstProfit-" + x).html("$" + TotalProfit.toFixed(2));
        }
        //Push To Final Total Summary Amount
        $("#FinalTotalAmount").html("$" + FinalTotalAmount.toFixed(2));
        $("#FinalTotalEstCost").html("$" + FinalTotalEstCost.toFixed(2));
        $("#FinalTotalAdjCost").html("$" + FinalTotalAdjCost.toFixed(2));
        $("#FinalTotalEstProfit").html("$" + FinalTotalProfit.toFixed(2));
    }

    //Calculate Bottom Total
    function CalculateAllTotalAmount() {
        var Table = $('table[id*="ItemDesciptiontbl"]').length; //got how many table

        var FinalTotalAmount = 0;
        var FinalTotalEstCost = 0;
        var FinalTotalAdjCost = 0;
        var FinalTotalProfit = 0;

        for (x = 1; x <= Table ; x++) {
            //calculate got how many rows first.
            //get tr row count
            var rowCount = $('#ItemDesciptiontbl-' + x + ' >tbody >tr').length;
            var TotalAmount = 0;
            var TotalEstCost = 0;
            var TotalAdjCost = 0;
            var TotalProfit = 0;
            var Calculate = x;

            for (i = 1; i <= rowCount; i++) {

                var GetAmount = $("#QuotationItemDescriptionAmount_" + x + "_" + Calculate + "").val();
                var GetEstCost = $("#QuotationItemDescriptionEstCost_" + x + "_" + Calculate + "").val();
                var GetAdjCost = $("#QuotationItemDescriptionAdjCost_" + x + "_" + Calculate + "").val();
                var GetProfit = $("#QuotationItemDescriptionProfit_" + x + "_" + Calculate + "").val();

                TotalAmount += Number(GetAmount);
                TotalEstCost += Number(GetEstCost);
                TotalAdjCost += Number(GetAdjCost);
                TotalProfit += Number(GetProfit);

                Calculate++;
            }

            FinalTotalAmount += Number(TotalAmount);
            FinalTotalEstCost += Number(TotalEstCost);
            FinalTotalAdjCost += Number(TotalAdjCost);
            FinalTotalProfit += Number(TotalProfit);

            //alert(TotalAdjCost);
            //Push To Quotation Total Summary Amount
            $("#QuotationTotalAmount-" + x).html("$" + TotalAmount.toFixed(2));
            $("#QuotationTotalEstCost-" + x).html("$" + TotalEstCost.toFixed(2));
            $("#QuotationTotalAdjCost-" + x).html("$" + TotalAdjCost.toFixed(2));
            $("#QuotationTotalEstProfit-" + x).html("$" + TotalProfit.toFixed(2));
        }

        //Push To Final Total Summary Amount
        $("#FinalTotalAmount").html("$" + FinalTotalAmount.toFixed(2));
        $("#FinalTotalEstCost").html("$" + FinalTotalEstCost.toFixed(2));
        $("#FinalTotalAdjCost").html("$" + FinalTotalAdjCost.toFixed(2));
        $("#FinalTotalEstProfit").html("$" + FinalTotalProfit.toFixed(2));

    }

    function CalculateProfit(id) {
        var GetCostSplit = id.split("_");
        var GetAmount = $("#QuotationItemDescriptionAmount_" + GetCostSplit[1] + "_" + GetCostSplit[2] + "").val();
        var GetAdjCost = $("#QuotationItemDescriptionAdjCost_" + GetCostSplit[1] + "_" + GetCostSplit[2] + "").val();
        var TotalAdjProfit = 0;

        TotalAdjProfit += (GetAmount - GetAdjCost);
        $("#QuotationItemDescriptionProfit_" + GetCostSplit[1] + "_" + GetCostSplit[2]).val(TotalAdjProfit.toFixed(2));
        $("#QuotationItemDescriptionProfit2_" + GetCostSplit[1] + "_" + GetCostSplit[2]).val(TotalAdjProfit.toFixed(2));
        ValidateAmount(id);

        CalculateAllTotalAmount();
    }

    function ValidateAmount(id) {
        var amount = $("#" + id).val().replace(",", "");
        if (amount != "") {
            var url = "@Url.Action("ValidateAmount")";

            $.ajax({
                type: "GET",
                cache: false,
                url: url,
                data: { amount: amount },
                success: function (data) {
                    data = JSON.parse(data);
                    if (data.result) {
                        $("#" + id).val(data.newAmount);
                    }
                }
            });
        }
    }
</script>