﻿@using DataAccess
@using DataAccess.POCO

@{
    ViewBag.Title = ViewData["SiteName"].ToString();
    ViewBag.PageTitle = "View Project";
    ViewBag.AProject = "active open";
    ViewBag.liListProject = "active";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("View", "Project", FormMethod.Post, new { @id = "form-view", @class = "form-horizontal" }))
{
    <div class="panel">
        <div class="panel-body container-fluid">

            <div class="row row-lg">
                <div class="col-md-10">
                    @{
                        Project project = (Project)ViewData["Project"];
                    }

                    <h4>Client Info</h4>
                    <div class="form-group">
                        @Html.LabelFor(p => project.ProjectID, new { @class = "col-sm-3 control-label" })
                        <div class="col-sm-9">
                            @Html.TextBoxFor(p => project.ProjectID, new { @class = "form-control", @placeholder = "ID will be Assigned after Creation", @disabled = "disabled" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(p => project.CompanyName, new { @class = "col-sm-3 control-label" })
                        <div class="col-sm-9">
                            @Html.TextBoxFor(p => project.CompanyName, new { @class = "form-control", @disabled = "disabled" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(p => project.QuotationReferenceId, new { @class = "col-sm-3 control-label" })
                        <div class="col-sm-9">
                            @Html.DropDownListFor(p => project.QuotationReferenceId, (SelectList)ViewData["QuotationDropdown"],"", new { @class = "form-control", @data_plugin = "select2", @data_allow_clear = "true", @data_placeholder = "Search by Quotation ID", @disabled = "disabled" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(p => project.CustomerId, new { @class = "col-sm-3 control-label" })
                        <div class="col-sm-9">
                            @Html.DropDownListFor(p => project.CustomerId, (SelectList)ViewData["CustomerDropdown"],"", new { @class = "form-control", @data_plugin = "select2", @data_allow_clear = "true", @data_placeholder = "Search by Customer ID or Name", @onchange = "GetCustomerInfo(this)", @disabled = "disabled" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Contact Person </label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="project_ContactPerson" value="" disabled>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Address </label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="project_Address" value="" disabled>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Tel </label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="project_Tel" value="" disabled>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Fax </label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="project_Fax" value="" disabled>
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(p => project.PreparedById, new { @class = "col-sm-3 control-label" })
                        <div class="col-sm-9">
                            @Html.TextBoxFor(p => project.PreparedById, project.PreparedBy.Name, new { @class = "form-control", @disabled = "disabled" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(p => project.Date, new { @class = "col-sm-3 control-label" })
                        <div class="col-sm-9">
                            @Html.TextBoxFor(p => project.Date, "{0:dd/MM/yyyy}", new { @class = "form-control datepair-date datepair-start", @disabled = "disabled" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel">
        <div class="panel-body container-fluid">
            <div class="row row-lg">
                <div class="col-xlg-10 col-md-10">
                    <h4>Project Info</h4>

                    <div class="form-group">
                        @Html.LabelFor(p => project.CoordinatorId, new { @class = "col-sm-3 control-label" })
                        <div class="col-sm-9">
                            @Html.DropDownListFor(p => project.CoordinatorId, (SelectList)ViewData["CoordinatorDropdown"],"", new { @class = "form-control", @data_plugin = "select2", @data_allow_clear = "true", @data_placeholder = "Search by Sales User ID or Sales Name", @onchange = "OnchangeCoordinator(this)", @disabled = "disabled" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Email </label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="Coordinator_Email" value="" disabled>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Tel </label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="Coordinator_Tel" value="" disabled>
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(p => project.ProjectTitle, new { @class = "col-sm-3 control-label" })
                        <div class="col-sm-9">
                            @Html.TextBoxFor(p => project.ProjectTitle, new { @class = "form-control", @disabled = "disabled" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(p => project.ProjectDescription, new { @class = "col-sm-3 control-label" })
                        <div class="col-sm-9">
                            @Html.TextAreaFor(p => project.ProjectDescription, new { @class = "form-control", @disabled = "disabled" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(p => project.ProjectType, new { @class = "col-sm-3 control-label" })
                        <div class="col-sm-9">
                            @Html.DropDownListFor(p => project.ProjectType, (SelectList)ViewData["ProjectTypeDropdown"], new { @class = "form-control", @data_plugin = "selectpicker", @disabled = "disabled" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(p => project.PhotoUploads, new { @class = "col-sm-3 control-label" })
                        <div class="col-sm-9">
                            <div class="input-group input-group-file">
                                <input type="text" class="form-control" readonly="">
                                <span class="input-group-btn">
                                    <span class="btn btn-primary btn-file">
                                        <i class="icon wb-upload" aria-hidden="true"></i>
                                        <input id="project_PhotoUploads-uploader" type="file" onchange="UploadFile('project_PhotoUploads')" multiple disabled>
                                        @Html.HiddenFor(p => project.PhotoUploads)
                                    </span>
                                </span>
                            </div>
                            <div id="project_PhotoUploads-files">
                                @if (ViewData["PhotosUploadFiles"] != null)
                                {
                                    string[] files = ViewData["PhotosUploadFiles"].ToString().Split(',');
                                    foreach (string file in files)
                                    {
                                        <div class="margin-top-10 small"><a href="@Url.Content("~/FileUploads/ProjectPhotoUploadsDocuments/" + file)" target="_blank">@file</a><button type="button" class="btn btn-pure btn-xs btn-danger icon wb-close" onclick="RemoveFile('project_PhotosUpload', this)" disabled></button></div>
                                    }
                                }
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(p => project.FloorPlanUploads, new { @class = "col-sm-3 control-label" })
                        <div class="col-sm-9">
                            <div class="input-group input-group-file">
                                <input type="text" class="form-control" readonly="">
                                <span class="input-group-btn">
                                    <span class="btn btn-primary btn-file">
                                        <i class="icon wb-upload" aria-hidden="true"></i>
                                        <input id="project_FloorPlanUploads-uploader" type="file" onchange="UploadFile('project_FloorPlanUploads')" multiple disabled>
                                        @Html.HiddenFor(p => project.FloorPlanUploads)
                                    </span>
                                </span>
                            </div>
                            <div id="project_FloorPlanUploads-files">
                                @if (ViewData["FloorPlanUploadsFiles"] != null)
                                {
                                    string[] files = ViewData["FloorPlanUploadsFiles"].ToString().Split(',');
                                    foreach (string file in files)
                                    {
                                        <div class="margin-top-10 small"><a href="@Url.Content("~/FileUploads/ProjectFloorPlanUploadsDocuments/" + file)" target="_blank">@file</a><button type="button" class="btn btn-pure btn-xs btn-danger icon wb-close" onclick="RemoveFile('project_FloorPlanUploads', this)" disabled></button></div>
                                    }
                                }
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(p => project.ThreeDDrawingUploads, new { @class = "col-sm-3 control-label" })
                        <div class="col-sm-9">
                            <div class="input-group input-group-file">
                                <input type="text" class="form-control" readonly="">
                                <span class="input-group-btn">
                                    <span class="btn btn-primary btn-file">
                                        <i class="icon wb-upload" aria-hidden="true"></i>
                                        <input id="project_ThreeDDrawingUploads-uploader" type="file" onchange="UploadFile('project_ThreeDDrawingUploads')" multiple disabled>
                                    </span>
                                </span>
                            </div>
                            <div id="project_ThreeDDrawingUploads-files">
                                @if (ViewData["ThreeDDrawingUploadsFiles"] != null)
                                {
                                    string[] files = ViewData["ThreeDDrawingUploadsFiles"].ToString().Split(',');
                                    foreach (string file in files)
                                    {
                                        <div class="margin-top-10 small"><a href="@Url.Content("~/FileUploads/ProjectThreeDDrawingUploadsDocuments/" + file)" target="_blank">@file</a><button type="button" class="btn btn-pure btn-xs btn-danger icon wb-close" onclick="RemoveFile('project_ThreeDDrawingUploads', this)" disabled></button></div>
                                    }
                                }
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(p => project.AsBuildDrawingUploads, new { @class = "col-sm-3 control-label blue-700", @data_toggle = "tooltip", @data_placement = "top", @data_original_title = "As-Built Drawings include .. .." })
                        <div class="col-sm-9">
                            <div class="input-group input-group-file">
                                <input type="text" class="form-control" readonly="">
                                <span class="input-group-btn">
                                    <span class="btn btn-primary btn-file">
                                        <i class="icon wb-upload" aria-hidden="true"></i>
                                        <input id="project_AsBuildDrawingUploads-uploader" type="file" onchange="UploadFile('project_AsBuildDrawingUploads')" multiple disabled>
                                        @Html.HiddenFor(p => project.AsBuildDrawingUploads)
                                    </span>
                                </span>
                            </div>
                            <div id="project_AsBuildDrawingUploads-files">
                                @if (ViewData["AsBuildDrawingUploadsFiles"] != null)
                                {
                                    string[] files = ViewData["AsBuildDrawingUploadsFiles"].ToString().Split(',');
                                    foreach (string file in files)
                                    {
                                        <div class="margin-top-10 small"><a href="@Url.Content("~/FileUploads/ProjectAsBuildDrawingUploadsDocuments/" + file)" target="_blank">@file</a><button type="button" class="btn btn-pure btn-xs btn-danger icon wb-close" onclick="RemoveFile('project_AsBuildDrawingUploads', this)" disabled></button></div>
                                    }
                                }
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(p => project.SubmissionStageUploads, new { @class = "col-sm-3 control-label blue-700", @data_toggle = "tooltip", @data_placement = "top", @data_original_title = "Submission Stage includes License and Permits" })
                        <div class="col-sm-9">
                            <div class="input-group input-group-file">
                                <input type="text" class="form-control" readonly="">
                                <span class="input-group-btn">
                                    <span class="btn btn-primary btn-file">
                                        <i class="icon wb-upload" aria-hidden="true"></i>
                                        <input id="project_SubmissionStageUploads-uploader" type="file" onchange="UploadFile('project_SubmissionStageUploads')" multiple disabled>
                                        @Html.HiddenFor(p => project.SubmissionStageUploads)
                                    </span>
                                </span>
                            </div>
                            <div id="project_SubmissionStageUploads-files">
                                @if (ViewData["SubmissionStageUploadsFiles"] != null)
                                {
                                    string[] files = ViewData["SubmissionStageUploadsFiles"].ToString().Split(',');
                                    foreach (string file in files)
                                    {
                                        <div class="margin-top-10 small"><a href="@Url.Content("~/FileUploads/ProjectSubmissionStageUploadsDocuments/" + file)" target="_blank">@file</a><button type="button" class="btn btn-pure btn-xs btn-danger icon wb-close" onclick="RemoveFile('project_SubmissionStageUploads', this)" disabled></button></div>
                                    }
                                }
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(p => project.OtherUploads, new { @class = "col-sm-3 control-label" })
                        <div class="col-sm-9">
                            <div class="input-group input-group-file">
                                <input type="text" class="form-control" readonly="">
                                <span class="input-group-btn">
                                    <span class="btn btn-primary btn-file">
                                        <i class="icon wb-upload" aria-hidden="true"></i>
                                        <input id="project_OtherUploads-uploader" type="file" onchange="UploadFile('project_OtherUploads')" multiple disabled>
                                        @Html.HiddenFor(p => project.OtherUploads)
                                    </span>
                                </span>
                            </div>
                            <div id="project_OtherUploads-files">
                                @if (ViewData["OtherUploadsFiles"] != null)
                                {
                                    string[] files = ViewData["OtherUploadsFiles"].ToString().Split(',');
                                    foreach (string file in files)
                                    {
                                        <div class="margin-top-10 small"><a href="@Url.Content("~/FileUploads/ProjectOtherUploadsDocuments/" + file)" target="_blank">@file</a><button type="button" class="btn btn-pure btn-xs btn-danger icon wb-close" onclick="RemoveFile('project_OtherUploads', this)" disabled></button></div>
                                    }
                                }
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(p => project.Remarks, new { @class = "col-sm-3 control-label" })
                        <div class="col-sm-9">
                            @Html.TextAreaFor(p => project.Remarks, new { @class = "form-control", @disabled = "disabled" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(p => project.Status, new { @class = "col-sm-3 control-label" })
                        <div class="col-sm-9">
                            @Html.DropDownListFor(p => project.Status, (SelectList)ViewData["StatusDropdown"], new { @class = "form-control", @data_plugin = "selectpicker", @disabled = "disabled" })
                            <span class="text-danger font-size-12">* Please ensure that all expenses are entered before marking project as completed. <br>* Project marked completed cannot be reverted and all expenses incurred after will be beared by the sales person.</span>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="panel">
        <div class="panel-body container-fluid">
            <div class="row row-lg">
                <div class="col-md-9">
                    <h4>Payment Summary</h4>

                    <div class="form-group">
                        <div class="col-sm-12 table-responsive">
                            <table class="table table-hover table-condensed" data-striped="true" data-height="250" data-mobile-responsive="true" id="PaymentSummaryTable">
                                <thead>
                                    <tr>
                                        <th class="width-50">#</th>
                                        <th class="width-100">Invoice ID</th>
                                        <th class="width-100">Description</th>
                                        <th class="width-50">Percentage</th>
                                        <th class="width-50">Status</th>
                                        <th class="width-50">Amount</th>
                                        <th class="width-50">Bill Date</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        if (ViewData["Invoice"] != null)
                                        {
                                            IList<Invoice> invoice = (IList<Invoice>)ViewData["Invoice"];

                                            int count = 1;
                                            string Percentage = "";

                                            foreach (Invoice _invoice in invoice)
                                            {

                                                foreach (InvoiceItemDescription _itemDescription in _invoice.ItemDescriptions)
                                                {
                                                    if (string.IsNullOrEmpty(_itemDescription.PercentageOfQuotation))
                                                    {
                                                        Percentage = "-";
                                                    }
                                                    else
                                                    {
                                                        Percentage = _invoice.ItemDescriptions[0].PercentageOfQuotation + "%";
                                                    }

                                                    <tr>
                                                        <td>@count</td>
                                                        <td>@_invoice.InvoiceID</td>
                                                        <td>@_itemDescription.Description</td>
                                                        <td>@Percentage</td>
                                                        <td>@_invoice.Status</td>
                                                        <td>$@_invoice.GrandTotalAmount.ToString("#,##0.00")</td>
                                                        <td>@_invoice.Date.ToString("dd/MM/yyyy")</td>
                                                    </tr>
                                                    count++;
                                                }
                                            }
                                        }
                                        else
                                        {
                                            <tr>
                                                <td class="no-record" colspan="6">No Invoice</td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel">
        <div class="panel-body container-fluid">
            <div class="row row-lg">
                <div class="col-md-9">
                    <h4>Profit & Loss Summary</h4>

                    <div class="form-group">
                        <div class="col-sm-12 table-responsive">
                            <table class="table table-hover table-condensed" data-striped="true" data-height="250" data-mobile-responsive="true">
                                <thead>
                                    <tr>
                                        <th class="width-200">Description</th>
                                        <th class="width-50">Amount</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Total Revenue</td>
                                        <td id="TotalRevenue">$0.00</td>
                                    </tr>
                                    <tr>
                                        <td>Total Expenses</td>
                                        <td id="TotalExpenses">$0.00</td>
                                    </tr>
                                    <tr style="border-top:2px solid black; border-bottom:3px double black" id="TotalProfitRow">
                                        <td>Total Profit</td>
                                        <td id="TotalProfit">$0.00</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <span class="small red-700">* Project Profit Margin < 17% of Revenue will be highlighted red.</span>

                </div>
            </div>
        </div>
    </div>

    <div class="panel">
        <div class="panel-body container-fluid">
            <div class="row row-lg">
                <div class="col-md-12">
                    <h4>Project Expenses</h4>
                    <div class="form-group">
                        <div class="col-sm-12 table-responsive">
                            <table class="table table-hover table-condensed table-bordered" data-striped="true" data-height="250" data-mobile-responsive="true" id="tbl">
                                <thead>
                                    <tr>
                                        <th style="min-width:50px">#</th>
                                        <th style="min-width:300px">Description *</th>
                                        <th style="min-width:150px">Supplier Name *</th>
                                        <th style="min-width:150px">Invoice No *</th>
                                        <th style="min-width:100px">Date *</th>
                                        <th style="min-width:100px">GST</th>
                                        <th style="min-width:100px">Cost (before GST) *</th>
                                        <th style="min-width:100px">Status</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @if (ViewData["ProjectExpensesTable"] != null)
                                    {
                                        List<ProjectProjectExpensesTable> projectExpensesTable = (List<ProjectProjectExpensesTable>)ViewData["ProjectExpensesTable"];
                                        int count = 1;

                                        foreach (ProjectProjectExpensesTable _projectExpensesTable in projectExpensesTable)
                                        {
                                            <tr id="RowID-@_projectExpensesTable.RowId">
                                                <td><div class="calculateNumber">@count</div></td>
                                                <td>
                                                    @Html.TextBox("ProjectExpensesDescription_" + _projectExpensesTable.RowId, _projectExpensesTable.Description, new { @class = "form-control", @disabled = "disabled" })
                                                </td>
                                                <td>
                                                    @Html.TextBox("ProjectExpensesSupplierName_" + _projectExpensesTable.RowId, _projectExpensesTable.SupplierName, new { @class = "form-control", @disabled = "disabled" })
                                                </td>
                                                <td>
                                                    @Html.TextBox("ProjectExpensesInvoiceNo_" + _projectExpensesTable.RowId, _projectExpensesTable.SupplierName, new { @class = "form-control", @disabled = "disabled" })
                                                </td>
                                                <td>
                                                    @Html.TextBox("ProjectExpensesDate_" + _projectExpensesTable.RowId, string.Format("{0:dd/MM/yyyy}", _projectExpensesTable.Date), new { @class = "form-control", @disabled = "disabled" })
                                                </td>
                                                <td>
                                                    @Html.DropDownList("ProjectExpensesGST_" + _projectExpensesTable.RowId, _projectExpensesTable.GST, new { @class = "form-control", @disabled = "disabled" })
                                                </td>
                                                <td>
                                                    <div class="input-group">
                                                        <span class="input-group-addon">$</span>
                                                        @Html.TextBox("ProjectExpensesCostBeforeGST_" + _projectExpensesTable.RowId, _projectExpensesTable.CostBeforeGST, new { @class = "form-control CostBeforeGST", @onchange = "ValidateAmount('ProjectExpensesCostBeforeGST_" + _projectExpensesTable.RowId + "')", @disabled = "disabled" })
                                                    </div>
                                                </td>
                                                <td>
                                                    @Html.DropDownList("ProjectExpensesStatus_" + _projectExpensesTable.RowId, _projectExpensesTable.Status, new { @class = "form-control", @disabled = "disabled" })
                                            </td>
                                        </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-12">                            
                            @{
                                    int page = 1;

                                    if (Session["Page"] != null)
                                    {
                                        page = Convert.ToInt32(Session["Page"]);
                                    }
                            }
                            <a href="@Url.Action("Listing", new { @page = page })" class="btn btn-default btn-outline  margin-top-10">Back</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
}

<script>
    $(document).ready(function () {

        $('.datepair-start').datepicker(); //Initialise any date pickers
        $("#tbl tbody tr input[id*='ProjectExpensesDate_']").datepicker();

        var getCustomerID = $("#project_CustomerId").val();
        var getCoordinatorID2 = $("#project_CoordinatorId").val();

        GetCustomerInfo(getCustomerID);
        GetCoordinatorInfo(getCoordinatorID2);

        RecalculateNumber();

        //Get QuotationID
        var QuotationID = $("#project_QuotationReferenceId").val();

        //CalculateTotalExpenses2();
        GetQuotationTotalAmount(QuotationID);

    });

    function CalculateTotalExpenses2() {
        var TotalExpenses = 0;

        var CostBeforeGST = $('.CostBeforeGST').map(function () {
            var Check = $(this).val().replace(/,/g, '');
            if (Check == "" || isNaN(Check / 1)) {
                Check = 0;
            }

            TotalExpenses += parseFloat(Check);
        }).get();

        var TotalRevenue = $('#TotalRevenue').html().replace("$", "").replace(/,/g, '');

        var TotalProfit = parseFloat(TotalRevenue) - parseFloat(TotalExpenses);

        $('#TotalExpenses').html("$" + TotalExpenses.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, "$1,").toString());
        $('#TotalProfit').html("$" + TotalProfit.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, "$1,").toString());

        var CheckMargin = (TotalProfit / TotalRevenue) * 100;

        //Check Margin Color
        if (CheckMargin != 0) {
            if (CheckMargin < 17) {
                $("#TotalProfitRow").addClass("bg-red-200");
            }
            else {
                $("#TotalProfitRow").removeClass("bg-red-200");
            }
        }
    }

    function GetQuotationTotalAmount(id) {

        var quotationID = id.value;

        if (typeof quotationID === 'undefined' || quotationID === null) {
            quotationID = id;
        }

        var url = "@Url.Action("GetQuotationTotalAmount")";

        var TotalExpenses = $('#TotalExpenses').html("");

        if (quotationID != "") {
            $.ajax({
                type: "GET",
                cache: false,
                url: url,
                data: { id: quotationID },
                success: function (data) {
                    $('#TotalRevenue').html("$" + data);

                    var TotalExpenses = 0;

                    var CostBeforeGST = $('.CostBeforeGST').map(function () {
                        var Check = $(this).val().replace(/,/g, '');

                        if (Check == "" || isNaN(Check / 1)) {
                            Check = 0;
                        }

                        TotalExpenses += parseFloat(Check);
                    }).get();

                    var TotalProfit = parseFloat(data.replace(/,/g, '')) - parseFloat(TotalExpenses);
                    var FormattedData = data.replace(/,/g, '');

                    $('#TotalExpenses').html("$" + TotalExpenses.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, "$1,").toString());
                    $('#TotalProfit').html("$" + TotalProfit.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, "$1,").toString());

                    var CheckMargin = (TotalProfit / FormattedData) * 100;
                    //Check Margin Color
                    if (CheckMargin != 0) {
                        if (CheckMargin < 17) {
                            $("#TotalProfitRow").addClass("bg-red-200");
                        } else {
                            $("#TotalProfitRow").removeClass("bg-red-200");
                        }
                    }

                    getPaymentSummaryInfo(quotationID);
                },
                error: function (e) {
                    console.log(e);
                    alertify.alert("An error occured while retrieving quotation record!");
                }
            });
        }
        else {
            $('#TotalRevenue').html("$0.00");

            var TotalProfit = parseFloat(0) - parseFloat(TotalExpenses2);

            $('#TotalProfit').html("$" + TotalProfit.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, "$1,").toString());

            var CheckMargin = (TotalProfit / 0) * 100;
            //Check Margin Color
            if (CheckMargin != 0) {
                if (CheckMargin < 17) {
                    $("#TotalProfitRow").addClass("bg-red-200");
                } else {
                    $("#TotalProfitRow").removeClass("bg-red-200");
                }
            }

            $("#PaymentSummaryTable > tbody").html("<tr><td class='no-record' colspan='6'>No Invoice</td></tr>");
        }
    }

    function getPaymentSummaryInfo(quotationID)
    {
        var GetID = quotationID;
        var url = "@Url.Action("GetPaymentSummaryProject")";

        $.ajax({
            type: "GET",
            cache: false,
            url: url,
            data: { id: GetID },
            success: function (data) {
                $('#PaymentSummaryTable > tbody').html(data);
            },
            error: function (e) {
                console.log(e);
                alertify.alert("An error occured while retrieving payment summary record!");
            }
        });
    }

    function CalculateTotalExpenses(amount) {
        var TotalExpenses = 0;

        var CostBeforeGST = $('.CostBeforeGST').map(function () {
            var Check = $(this).val().replace(/,/g, '');

            if (Check == "" || isNaN(Check / 1)) {
                Check = 0;
            }

            TotalExpenses += parseFloat(Check);
        }).get();

        var TotalRevenue = $('#TotalRevenue').html().replace("$", "");

        var FormattedTotalRevenue = TotalRevenue.replace(/,/g, '');

        var TotalProfit = parseFloat(FormattedTotalRevenue) - parseFloat(TotalExpenses);

        $('#TotalExpenses').html("$" + TotalExpenses.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, "$1,").toString());
        $('#TotalProfit').html("$" + TotalProfit.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, "$1,").toString());

        var CheckMargin = (TotalProfit / FormattedTotalRevenue) * 100;

        //Check Margin Color
        if (CheckMargin != 0) {
            if (CheckMargin < 17) {
                $("#TotalProfitRow").addClass("bg-red-200");
            }
            else {
                $("#TotalProfitRow").removeClass("bg-red-200");
            }
        }
    }

    function RecalculateNumber() {
        var count = 1;
        $(".calculateNumber").each(function () {
            //console.log(this);
            this.innerHTML = count;
            count++;
        })
    }

    function GetCustomerInfo(role) {

        var roleID = role.value;

        if (typeof (roleID) === "undefined") {
            roleID = role;

        }

        var url = "@Url.Action("GetCustomerInfo")";

        if (roleID == "") {
            $('#project_ContactPerson').val("");
            $('#project_Address').val("");
            $('#project_Tel').val("");
            $('#project_Fax').val("");
        }
        else {

            $.ajax({
                type: "GET",
                url: url,
                data: { id: roleID },
                success: function (data) {
                    data = JSON.parse(data);

                    for (var i = 0; i < data.length; i++) {
                        $('#project_ContactPerson').val(data[i].ContactPerson);
                        $('#project_Address').val(data[i].Address);
                        $('#project_Tel').val(data[i].Tel);
                        $('#project_Fax').val(data[i].Fax);
                    }
                }
            });
        }
    }


    function OnchangeCoordinator(id) {
        GetCoordinatorInfo(id);
    }

    function GetCoordinatorInfo(id) {
        var CoordinatorID = id.value;

        if (typeof (CoordinatorID) === "undefined") {
            CoordinatorID = id;

        }

        var url = "@Url.Action("GetCoordinatorInfo")";

        if (CoordinatorID == "") {
            $('#Coordinator_Email').val("");
            $('#Coordinator_Tel').val("");
        }
        else {
            $.ajax({
                type: "GET",
                url: url,
                data: { id: CoordinatorID },
                success: function (data) {
                    data = JSON.parse(data);

                    for (var i = 0; i < data.length; i++) {

                        $('#Coordinator_Email').val(data[i].Email);
                        $('#Coordinator_Tel').val(data[i].Tel);

                    }
                }
            });
        }
    }

    function ValidateAmount(id) {
        var amount = $("#" + id).val().replace(",", "");

        if (amount != "") {
            var url = "@Url.Action("ValidateAmount")";

            $.ajax({
                type: "GET",
                cache: false,
                url: url,
                data: { amount: amount },
                success: function (data) {
                    data = JSON.parse(data);
                    if (data.result) {
                        $("#" + id).val(data.newAmount);
                        CalculateTotalExpenses(data.newAmount);
                    }
                }
            });
        }
    }
</script>