﻿<html>
<head>
    <link rel="stylesheet" href="@Url.Content("~/Content/vendor/getorgchart/getorgchart.css")">
    @{
        ViewBag.Title = ViewData["SiteName"].ToString();
        ViewBag.PageTitle = "Organisation Tree";
        ViewBag.AOrganisation = "active open";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

</head>
<body>
    <div id="chart"></div>
    <script src="@Url.Content("~/Content/vendor/getorgchart/getorgchart.js")"></script>
    <script>
        var url = "@Url.Action("GetChartData")";

        $.ajax({
            type: "POST",
            url: url,
            success: function (r)
            {
                
                var ConvertData = JSON.parse(r);

                var element = {}, AgencyArray = [];

                jQuery.each(ConvertData, function (i, val) {

                    if (val.AgencyLeader == "Agency Leader")
                    {
                        AgencyArray[val.id] = { color: "green" };
                    }
                    else if(val.AgencyLeader == "Customer")
                    {
                        AgencyArray[val.id] = { color: "blue" };
                    }

                });

                var orgchart = new getOrgChart(document.getElementById("chart"), {
                    theme: "sara",
                    color: "neutralgrey",
                    primaryFields: ["UserID", "title", "Name", "AgencyLeader"],
                    dataSource: ConvertData,
                    customize: AgencyArray
                    
                });

                //console.log(orgchart);
            },
            failure: function (r) {
                alert("Failure to load Orgainisation Tree");
            },
            error: function (r) {
                alert("Error to load Orgainisation Tree");
            }
        });

    </script>
</body>
</html>