﻿@using DataAccess
@using DataAccess.POCO

@{
    ViewBag.Title = ViewData["SiteName"].ToString();
    ViewBag.PageTitle = "Early Payout";
    ViewBag.APayout = "active open";
    ViewBag.liCreatePayout = "active";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("EarlyPayout", "ManagePayout", FormMethod.Post, new { @id = "form-create", @class = "form-horizontal" }))
{
    EarlyPayout earlyPayout = new EarlyPayout();

    <div class="panel">
        <div class="panel-body container-fluid">
            <div class="row row-lg">
                <div class="col-md-10">
                    @if (Session["Result"] != null)
                    {
                        string[] result = Session["Result"].ToString().Split('|');

                        <div class="alert alert-@result[0] text-center">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            @result[1]
                        </div>

                        Session.Remove("Result");
                    }
                    <div class="form-group">
                        @Html.LabelFor(p => earlyPayout.EarlyPayoutID, new { @class = "col-sm-3 control-label" })
                        <div class="col-sm-9">
                            @Html.TextBoxFor(p => earlyPayout.EarlyPayoutID, new { @class = "form-control", @placeholder = "ID will be Assigned after Creation", @disabled = "disabled" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(p => earlyPayout.ProjectId, new { @class = "col-sm-3 control-label" })
                        <div class="col-sm-9">
                            @Html.DropDownListFor(p => earlyPayout.ProjectId, (SelectList)ViewData["ProjectDropdown"], new { @class = "form-control", @data_plugin = "select2", @data_placeholder = "Search by Project ID, Customer Name or Company Name", @data_allow_clear = "true" })
                            @Html.ValidationMessageFor(p => earlyPayout.ProjectId)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(p => earlyPayout.PayToId, new { @class = "col-sm-3 control-label" })
                        <div class="col-sm-9">
                            @Html.DropDownList("PayTo", (SelectList)ViewData["PayToDropdown"], new { @class = "form-control", @data_plugin = "select2", @data_placeholder = "Search by Customer/User ID or Name", @data_allow_clear = "true" })
                            @Html.ValidationMessageFor(p => earlyPayout.PayToId)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(p => earlyPayout.PayoutDate, new { @class = "col-sm-3 control-label" })
                        <div class="col-sm-9">
                            @Html.TextBoxFor(p => earlyPayout.PayoutDate, "{0:dd/MM/yyyy}", new { @class = "form-control" })
                            @Html.ValidationMessageFor(p => earlyPayout.PayoutDate)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(p => earlyPayout.Amount, new { @class = "col-sm-3 control-label" })
                        <div class="col-sm-9">
                            <div class="input-group">
                                <span class="input-group-addon">$</span>
                                @Html.TextBoxFor(p => earlyPayout.Amount, "{0:#,##0.00}", new { @class = "form-control", @onchange = "AmountChange()" })
                            </div>
                            @Html.ValidationMessageFor(p => earlyPayout.Amount)
                        </div>
                    </div>
                    @*<div class="form-group">
                        @Html.LabelFor(p => earlyPayout.Status, new { @class = "col-sm-3 control-label" })
                        <div class="col-sm-9">
                            @Html.DropDownListFor(p => earlyPayout.Status, (SelectList)ViewData["StatusDropdown"], new { @class = "form-control", @data_plugin = "selectpicker" })
                            @Html.ValidationMessageFor(p => earlyPayout.Status)
                        </div>
                    </div>*@
                    <div class="form-group">
                        @Html.LabelFor(p => earlyPayout.Status, new { @class = "col-sm-3 control-label" })
                        <div class="col-sm-9">
                            @Html.TextBox("Status", "Unpaid", new { @class = "form-control", @disabled = "disabled" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(p => earlyPayout.Remarks, new { @class = "col-sm-3 control-label" })
                        <div class="col-sm-9">
                            @Html.TextAreaFor(p => earlyPayout.Remarks, new { @class = "form-control" })
                            @Html.ValidationMessageFor(p => earlyPayout.Remarks)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <button type="submit" class="btn btn-primary margin-top-10">Submit</button>
                            <a href="@Url.Action("EarlyPayout")" class="btn btn-default btn-outline  margin-top-10">Reset</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<script>
    var isPostBack = "@ViewData["IsPostBack"]";

    $(document).ready(function () {
        $("#earlyPayout_PayoutDate").datepicker({
            endDate: new Date(new Date().getFullYear(), new Date().getMonth() + 1, 0),
            startDate: new Date(new Date().getFullYear(), new Date().getMonth(), 1)
        });

        if (isPostBack == "") {
            $("#earlyPayout_PayoutDate").datepicker("setDate", new Date());
        }
    })

    function AmountChange() {
        ValidateAmount("earlyPayout_Amount", "");
    }

    function ValidateAmount(textbox, hidden) {
        var amount = $("#" + textbox).val();
        var url = "@Url.Action("ValidateAmount")";

        $.ajax({
            type: "GET",
            cache: false,
            url: url,
            data: { amount: amount },
            success: function (data) {
                data = JSON.parse(data);
                if (data.Result) {
                    $("#" + textbox).val(data.NewAmount);
                    if (hidden != "") {
                        $("#" + hidden).val(data.NewAmount);
                    }
                }
                else {
                    alertify.alert(data.ErrorMessage);
                }
            },
            error: function (e) {
                console.log(e);
                console.log(textbox);
                alertify.alert("An error occured while validating amount!");
            }
        })
    }
</script>