﻿@using DataAccess.POCO
@using PagedList
@using PagedList.Mvc

@{
    ViewBag.Title = ViewData["SiteName"].ToString();
    ViewBag.PageTitle = "Manage Payout";
    ViewBag.APayout = "active open";
    ViewBag.liListPayout = "active";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel">
    <div class="panel-body container-fluid">

        <div class="row">
            <div class="col-xlg-12 col-md-12">
                <a class="btn btn-success" href="@Url.Action("EarlyPayout")" type="button"><i aria-hidden="true" class="icon wb-plus"></i> Early Payout</a>
            </div>
        </div>

        <div class="row margin-top-15">
            <div class="col-xlg-12 col-md-12">

                @using (Html.BeginForm("Listing", "ManagePayout", FormMethod.Post, new { @class = "page-search-form", @role = "search" }))
                {
                    <div class="input-search input-search-dark">
                        <button type="submit" class="input-search-icon wb-search" aria-label="Search" arial-hidden="true" id="btn-search"></button>
                        @Html.TextBox("SearchKeyword", ViewData["SearchKeyword"].ToString(), new { @class = "form-control", @placeholder = "Search by Early Payout ID or Customer/User Name or Customer/User ID" })
                        <button type="button" class="input-search-close icon wb-close" aria-label="Close" id="btn-close"></button>
                    </div>

                    <div class="page-user-sortlist pull-right margin-top-15">
                        View: <a class="dropdown-toggle inline-block" data-toggle="dropdown"
                                 href="#" aria-expanded="false">@ViewData["GetStatusValue"].ToString()<span class="caret"></span></a>
                                <ul class="dropdown-menu animation-scale-up animation-top-right animation-duration-250"
                                    role="menu" id="SearchStatus">
                                    <li role="presentation" id="All"><a href="javascript:void(0)">All Early Payouts</a></li>
                                    <li role="presentation" id="Unpaid"><a href="javascript:void(0)">Unpaid Only</a></li>
                                </ul>
                                @Html.Hidden("SearchStatusValue", Session["SearchStatus"])
                            </div>
                    <div class="page-user-sortlist pull-right margin-top-15 margin-right-15">
                        Period: <a class="dropdown-toggle inline-block" data-toggle="dropdown"
                                    href="#" aria-expanded="false">@ViewData["GetPeriodValue"].ToString()<span class="caret"></span></a>
                                <ul class="dropdown-menu animation-scale-up animation-top-right animation-duration-250"
                                    role="menu" id="SearchPeriod">
                                    <li role="presentation" id="CurrentMonth"><a href="javascript:void(0)">Current Month</a></li>
                                    <li role="presentation" id="LastMonth"><a href="javascript:void(0)">Last Month</a></li>
                                    <li role="presentation" id="LastQuarter"><a href="javascript:void(0)">Last Quarter</a></li>
                                    <li role="presentation" id="All"><a href="javascript:void(0)">All</a></li>
                                </ul>
                                @Html.Hidden("SearchPeriodValue", Session["SearchPeriod"])
                            </div>
                }
            </div>
        </div>

        <div class="row margin-top-15">
            <div class="col-xlg-12 col-md-12">
                <div class="table-responsive">
                    <table class="table table-hover table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Early Payout ID</th>
                                <th>Salesperson/Customer</th>
                                <th>Period</th>
                                <th>Amount</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                IPagedList<EarlyPayout> earlyPayouts = (IPagedList<EarlyPayout>)ViewData["EarlyPayout"];

                                if (earlyPayouts.Count > 0)
                                {
                                    int pageCount = 0;
                                    int pageSize = Convert.ToInt32(Session["PageSize"]);
                                    int i = 1;

                                    if (Session["Page"] != null)
                                    {
                                        pageCount = Convert.ToInt32(Session["Page"]) - 1;
                                    }

                                    foreach (EarlyPayout payout in earlyPayouts)
                                    {
                                        <tr>
                                            <td>@(i + pageCount * pageSize)</td>
                                            <td><a href="@Url.Action("View", new { @id = payout.ID })" data-toggle="tooltip" data-original-title="View">@payout.EarlyPayoutID</a></td>
                                            <td>
                                                @if(payout.UserType == "Sales")
                                                {
                                                    @payout.User.Name
                                                }
                                                else
                                                {
                                                    if (!string.IsNullOrEmpty(payout.Customer.CompanyName))
                                                    {
                                                        @payout.Customer.CompanyName
                                                    }
                                                    else
                                                    {
                                                        @payout.Customer.ContactPerson
                                                    }
                                                }
                                            </td>
                                            <td>@payout.PayoutDate.ToString("MMM yyyy")</td>
                                            <td>$@payout.Amount.ToString("#,##0.00")</td>
                                            <td>@payout.Status</td>
                                            <td class="text-nowrap">
                                                <a href="@Url.Action("Edit", new { @id = payout.ID })" class="btn btn-sm btn-icon btn-round btn-default" data-toggle="tooltip"
                                                        data-original-title="Edit">
                                                    <i class="icon wb-edit" aria-hidden="true"></i>
                                                </a>
                                                @if (payout.Status != "Completed")
                                                {
                                                    <button type="button" class="btn btn-sm btn-icon btn-round btn-danger" data-toggle="tooltip"
                                                            data-original-title="Delete" onclick="DeleteEarlyPayout(@payout.ID)">
                                                        <i class="icon wb-close" aria-hidden="true"></i>
                                                    </button>
                                                }
                                            </td>
                                        </tr>
                                        i++;
                                    }
                                }
                                else
                                {
                                    <tr>
                                        <td class="no-record" colspan="9">No record to display</td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="pagination pagination-no-border">
                @Html.PagedListPager((IPagedList)ViewData["EarlyPayout"], page => Url.Action("/Listing", "Invoice", new { page, currentFilter = ViewBag.CurrentFilter }), new PagedListRenderOptions { LinkToFirstPageFormat = "<< First", LinkToPreviousPageFormat = "< Previous", LinkToNextPageFormat = "Next >", LinkToLastPageFormat = "Last >>" })
            </div>
        </div>
    </div>
</div>

@if (Session["Result"] != null)
{
    string[] result = Session["Result"].ToString().Split('|');

    <script>
        $(document).ready(function () {
            alertify.alert("@result[1]");
        })
    </script>

    Session.Remove("Result");
}

<script>
    $("#SearchStatus li").click(function () {

        $("#SearchStatusValue").val($(this).attr('id'));
        var hv = $('#SearchStatusValue').val();

        $("form[role='search']").submit();
    });

    $("#SearchPeriod li").click(function () {
        var id = $(this).attr('id');

        if (id == "CurrentMonth") {
            id = "Current Month";
        }
        else if (id == "LastMonth") {
            id = "Last Month";
        }
        else if (id == "LastQuarter") {
            id = "Last Quarter";
        }
        else if (id == "All") {
            id = "";
        }

        $("#SearchPeriodValue").val(id);

        $("form[role='search']").submit();
    });

    function DeleteEarlyPayout(id) {
        alertify.confirm("You are deleting this early payout! Continue?", function (e) {
            if (e) {
                window.location = "@Url.Action("Delete")/" + id;
            }
        });
    }
</script>