﻿@using DataAccess
@using DataAccess.POCO

@{
    ViewBag.Title = ViewData["SiteName"].ToString();
    ViewBag.PageTitle = "View Early Payout";
    ViewBag.APayout = "active open";
    ViewBag.liListPayout = "active";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("View", "ManagePayout", FormMethod.Post, new { @id = "form-view", @class = "form-horizontal" }))
{
    EarlyPayout earlyPayout = (EarlyPayout)ViewData["EarlyPayout"];

    <div class="panel">
        <div class="panel-body container-fluid">
            <div class="row row-lg">
                <div class="col-md-10">
                    @if (Session["Result"] != null)
                    {
                        string[] result = Session["Result"].ToString().Split('|');

                        <div class="alert alert-@result[0] text-center">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            @result[1]
                        </div>

                        Session.Remove("Result");
                    }
                    <div class="form-group">
                        @Html.LabelFor(p => earlyPayout.EarlyPayoutID, new { @class = "col-sm-3 control-label" })
                        <div class="col-sm-9">
                            @Html.TextBoxFor(p => earlyPayout.EarlyPayoutID, new { @class = "form-control", @placeholder = "ID will be Assigned after Creation", @disabled = "disabled" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(p => earlyPayout.ProjectId, new { @class = "col-sm-3 control-label" })
                        <div class="col-sm-9">
                            @Html.DropDownListFor(p => earlyPayout.ProjectId, (SelectList)ViewData["ProjectDropdown"], new { @class = "form-control", @data_plugin = "select2", @data_placeholder = "Search by Project ID, Customer Name or Company Name", @data_allow_clear = "true", @disabled = "disabled" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(p => earlyPayout.PayToId, new { @class = "col-sm-3 control-label" })
                        <div class="col-sm-9">
                            @Html.DropDownList("PayTo", (SelectList)ViewData["PayToDropdown"], new { @class = "form-control", @data_plugin = "select2", @data_placeholder = "Search by Customer/User ID or Name", @data_allow_clear = "true", @disabled = "disabled" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(p => earlyPayout.PayoutDate, new { @class = "col-sm-3 control-label" })
                        <div class="col-sm-9">
                            @Html.TextBoxFor(p => earlyPayout.PayoutDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @disabled = "disabled" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(p => earlyPayout.Amount, new { @class = "col-sm-3 control-label" })
                        <div class="col-sm-9">
                            <div class="input-group">
                                <span class="input-group-addon">$</span>
                                @Html.TextBoxFor(p => earlyPayout.Amount, "{0:#,##0.00}", new { @class = "form-control", @disabled = "disabled" })
                            </div>
                        </div>
                    </div>
                    @*<div class="form-group">
                            @Html.LabelFor(p => earlyPayout.Status, new { @class = "col-sm-3 control-label" })
                            <div class="col-sm-9">
                                @Html.DropDownListFor(p => earlyPayout.Status, (SelectList)ViewData["StatusDropdown"], new { @class = "form-control", @data_plugin = "selectpicker" })
                                @Html.ValidationMessageFor(p => earlyPayout.Status)
                            </div>
                        </div>*@
                    <div class="form-group">
                        @Html.LabelFor(p => earlyPayout.Status, new { @class = "col-sm-3 control-label" })
                        <div class="col-sm-9">
                            @Html.TextBox("Status", earlyPayout.Status, new { @class = "form-control", @disabled = "disabled" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(p => earlyPayout.Remarks, new { @class = "col-sm-3 control-label" })
                        <div class="col-sm-9">
                            @Html.TextAreaFor(p => earlyPayout.Remarks, new { @class = "form-control", @disabled = "disabled" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            @{
                                int page = 1;

                                if (Session["Page"] != null)
                                {
                                    page = Convert.ToInt32(Session["Page"]);
                                }
                            }
                            <a href="@Url.Action("Listing", new { @page = page })" class="btn btn-danger margin-top-10">Back</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}