﻿@{
    Layout = null;
}

<!DOCTYPE html>
<html class="no-js css-menubar" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="My Renobuddy (SG) Operations Mangement">
    <meta name="author" content="">
    <title>@ViewData["SiteName"].ToString()</title>
    <link rel="shortcut icon" href="@Url.Content("~/Content/images/favicon.png?v=2")">
    <link rel="apple-touch-icon" href="@Url.Content("~/Content/images/favicon.png?v=2")">
    <link rel="shortcut icon" href="@Url.Content("~/Content/css/bootstrap-extend.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/css/bootstrap.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/css/bootstrap-extend.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/css/site.min.css")">

    <!-- Plugins --> 

    <link rel="stylesheet" href="@Url.Content("~/Content/vendor/animsition/animsition.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/vendor/asscrollable/asScrollable.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/vendor/switchery/switchery.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/vendor/intro-js/introjs.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/vendor/slidepanel/slidePanel.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/vendor/flag-icon-css/flag-icon.css")">
    
    <!-- Page -->
    <link rel="stylesheet" href="@Url.Content("~/Content/css/login.css")">

    <!-- Fonts -->
    <link rel="stylesheet" href="@Url.Content("~/Content/fonts/web-icons/web-icons.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/fonts/brand-icons/brand-icons.min.css")">
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,300italic'>

    <!--[if lt IE 9]>
      <script src="@Url.Content("~/Content/vendor/html5shiv/html5shiv.min.js")"></script>
      <![endif]-->
    <!--[if lt IE 10]>
      <script src="@Url.Content("~/Content/vendor/media-match/media.match.min.js")"></script>
      <script src="@Url.Content("~/Content/vendor/respond/respond.min.js")"></script>
      <![endif]-->
    <!-- Scripts -->

    <script src="@Url.Content("~/Content/vendor/modernizr/modernizr.js")"></script>
    <script src="@Url.Content("~/Content/vendor/breakpoints/breakpoints.js")"></script>
    <script>
    Breakpoints();
    </script>
</head>
<body class="page-login layout-full page-dark">
    <!--[if lt IE 8]>
          <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
      <![endif]-->
    <!-- Page -->
    <div class="page animsition vertical-align text-center" data-animsition-in="fade-in"
         data-animsition-out="fade-out">
        >
        <div class="page-content vertical-align-middle">
            <div class="brand">
                <img class="brand-img" src="@Url.Content("~/Content/images/logo.png")" alt="...">
            </div>
            <p>Sign into your account</p>
            @using (Html.BeginForm("Login", "Access", FormMethod.Post))
            {
                if (Session["Result"] != null)
                {
                    string[] result = Session["Result"].ToString().Split('|');

                    <div class="form-group">
                        <div class="alert alert-@result[0]">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            @result[1]
                        </div>
                    </div>

                    Session.Remove("Result");
                }

                <div id="div-loginkey" class="form-group">
                    @Html.Label("LoginID", new { @class = "sr-only" })
                    @Html.TextBox("LoginID", ViewData["LoginID"].ToString(), new { @class = "form-control", @placeholder = "Login ID" })
                    @Html.ValidationMessage("LoginID")
                </div>

                <div id="div-password" class="form-group">
                    @Html.Label("Password", new { @class = "sr-only" })
                    @Html.Password("Password", null, new { @class = "form-control", @placeholder = "Password" })
                    @Html.ValidationMessage("Password")
                </div>

                <div id="div-forgot-password" class="form-group clearfix">
                    <div class="checkbox-custom checkbox-inline checkbox-primary pull-left">
                        <input type="checkbox" id="inputCheckbox" name="remember">
                        <label for="inputCheckbox" style="color:#fff;">Remember me</label>
                    </div>
                    <a class="pull-right" href="@Url.Action("ForgotPassword", "Access")">Forgot password?</a>
                </div>
                @Html.AntiForgeryToken()
                <button type="submit" class="btn btn-primary btn-block">Sign in</button>
            }
        </div>
    </div>
    <!-- End Page -->

    <!-- Core  -->
    <script src="@Url.Content("~/Content/vendor/jquery/jquery.js")"></script>
    <script src="@Url.Content("~/Content/vendor/bootstrap/bootstrap.js")"></script>
    <script src="@Url.Content("~/Content/vendor/animsition/jquery.animsition.js")"></script>
    <script src="@Url.Content("~/Content/vendor/asscroll/jquery-asScroll.js")"></script>
    <script src="@Url.Content("~/Content/vendor/mousewheel/jquery.mousewheel.js")"></script>
    <script src="@Url.Content("~/Content/vendor/asscrollable/jquery.asScrollable.all.js")"></script>
    <script src="@Url.Content("~/Content/vendor/ashoverscroll/jquery-asHoverScroll.js")"></script>

    <!-- Plugins -->
    <script src="@Url.Content("~/Content/vendor/switchery/switchery.min.js")"></script>
    <script src="@Url.Content("~/Content/vendor/intro-js/intro.js")"></script>
    <script src="@Url.Content("~/Content/vendor/screenfull/screenfull.js")"></script>
    <script src="@Url.Content("~/Content/vendor/slidepanel/jquery-slidePanel.js")"></script>

    <!-- Plugins For This Page -->
    <script src="@Url.Content("~/Content/vendor/jquery-placeholder/jquery.placeholder.js")"></script>

    
    <!-- Scripts -->
    <script src="@Url.Content("~/Content/js/core.js")"></script>
    <script src="@Url.Content("~/Content/js/site.js")"></script>
    <script src="@Url.Content("~/Content/js/sections/menu.js")"></script>
    <script src="@Url.Content("~/Content/js/sections/menubar.js")"></script>
    <script src="@Url.Content("~/Content/js/sections/gridmenu.js")"></script>
    <script src="@Url.Content("~/Content/js/sections/sidebar.js")"></script>
    <script src="@Url.Content("~/Content/js/configs/config-colors.js")"></script>
    <script src="@Url.Content("~/Content/js/configs/config-tour.js")"></script>
    <script src="@Url.Content("~/Content/js/components/asscrollable.js")"></script>
    <script src="@Url.Content("~/Content/js/components/animsition.js")"></script>
    <script src="@Url.Content("~/Content/js/components/slidepanel.js")"></script>
    <script src="@Url.Content("~/Content/js/components/switchery.js")"></script>

    <!-- Scripts For This Page -->
    <script src="@Url.Content("~/Content/js/components/jquery-placeholder.js")"></script>
    <script>
    (function(document, window, $) {
      'use strict';

      var Site = window.Site;
      $(document).ready(function() {
        Site.run();
      });
    })(document, window, jQuery);
    </script>

</body>
</html>

