﻿@using DataAccess.POCO
@using PagedList
@using PagedList.Mvc

@{
    ViewBag.Title = ViewData["SiteName"].ToString();
    ViewBag.PageTitle = "Export Data";
    ViewBag.AExportData = "active";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="page-content container-fluid">
    <div class="panel">
        <div class="panel-body container-fluid">
            <div class="row form-group">
                <a href="@Url.Action("ExportCustomersExcel", new { @fromDate = Session["FromDate"].ToString(), @toData = Session["ToDate"].ToString() })" class="btn btn-primary" style="float:left;margin-right:10px;">Download to Excel</a>
                <a href="@Url.Action("Options")" class="btn btn-default" style="float:left;">Back</a>
            </div>
            <div class="row">
                <div class="col-xlg-12 col-md-12">
                    <div class="table-responsive">
                        <table class="table table-hover table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th style="min-width: 50px;">#</th>
                                    <th style="min-width: 100px;">Customer ID</th>
                                    <th style="min-width: 150px;">Login ID</th>
                                    <th style="min-width: 150px;">Company Name</th>
                                    <th style="min-width: 150px;">Agency</th>
                                    <th style="min-width: 150px;">Contact Person</th>
                                    <th style="min-width: 150px;">Address</th>
                                    <th style="min-width: 150px;">Email</th>
                                    <th style="min-width: 150px;">Tel</th>
                                    <th style="min-width: 150px;">Fax</th>
                                    <th style="min-width: 150px;">Bank Name</th>
                                    <th style="min-width: 100px;">Bank Acc No</th>
                                    <th style="min-width: 150px;">Remarks</th>
                                    <th style="min-width: 150px;">Upline</th>
                                    <th style="min-width: 120px;">Position</th>
                                    <th style="min-width: 150px;">Assign To</th>
                                    <th style="min-width: 150px;">Status</th>
                                    <th style="min-width: 180px;">Created On</th>
                                    <th style="min-width: 180px;">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    IPagedList<Customer> customers = (IPagedList<Customer>)ViewData["Customers"];

                                    if (customers.Count > 0)
                                    {
                                        int page = Convert.ToInt32(Session["Page"]) - 1;
                                        int pageSize = Convert.ToInt32(Session["PageSize"]);
                                        int i = 1;

                                        foreach (Customer _customers in customers)
                                        {
                                            <tr>
                                                <td>@(i + page * pageSize)</td>

                                                <td>@_customers.CustomerID</td>
                                                <td>@_customers.LoginID</td>

                                                @if (string.IsNullOrEmpty(_customers.CompanyName))
                                                {
                                                    <td>-</td>
                                                }
                                                else
                                                {
                                                    <td>@_customers.CompanyName</td>
                                                }

                                                @if (string.IsNullOrEmpty(_customers.Agency))
                                                {
                                                    <td>-</td>
                                                }
                                                else
                                                {
                                                    <td>@_customers.Agency</td>
                                                }

                                                <td>@_customers.ContactPerson</td>

                                                @if (string.IsNullOrEmpty(_customers.Address))
                                                {
                                                    <td>-</td>
                                                }
                                                else
                                                {
                                                    <td>@_customers.Address</td>
                                                }

                                                @if (string.IsNullOrEmpty(_customers.Email))
                                                {
                                                    <td>-</td>
                                                }
                                                else
                                                {
                                                    <td>@_customers.Email</td>
                                                }

                                                <td>@_customers.Tel</td>

                                                @if (string.IsNullOrEmpty(_customers.Fax))
                                                {
                                                    <td>-</td>
                                                }
                                                else
                                                {
                                                    <td>@_customers.Fax</td>
                                                }

                                                @if (string.IsNullOrEmpty(_customers.BankName))
                                                {
                                                    <td>-</td>
                                                }
                                                else
                                                {
                                                    <td>@_customers.BankName</td>
                                                }

                                                @if (string.IsNullOrEmpty(_customers.BankAccNo))
                                                {
                                                    <td>-</td>
                                                }
                                                else
                                                {
                                                    <td>@_customers.BankAccNo</td>
                                                }

                                                @if (string.IsNullOrEmpty(_customers.Remarks))
                                                {
                                                    <td>-</td>
                                                }
                                                else
                                                {
                                                    <td>@_customers.Remarks</td>
                                                }

                                                @if (_customers.UplineUserType == "Customer")
                                                {
                                                    <td>@_customers.Customers.CustomerID - @_customers.Customers.ContactPerson</td>
                                                }
                                                else
                                                {
                                                    <td>@_customers.Upline.UserID - @_customers.Upline.Name</td>
                                                }

                                                <td>@_customers.Position</td>

                                                @if (_customers.AssignTo != null)
                                                {
                                                    <td>@_customers.AssignTo.UserID - @_customers.AssignTo.Name</td>
                                                }
                                                else
                                                {
                                                    <td>-</td>
                                                }

                                                @if (string.IsNullOrEmpty(_customers.Status))
                                                {
                                                    <td>-</td>
                                                }
                                                else
                                                {
                                                    <td>@_customers.Status</td>
                                                }

                                                <td>@_customers.CreatedOn</td>
                                                <td><button type="button" class="btn btn-sm btn-icon btn-round btn-success" id="@_customers.ID" onclick="ViewCustomer(this.id)"><i class="icon wb-eye" aria-hidden="true"></i></button></td>
                                            </tr>
                                                i++;
                                        }
                                    }
                                    else
                                    {
                                        <tr>
                                            <td colspan="19" class="no-records-found">No record to display</td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <div id="AppendHere"></div>
                <div class="pagination">
                    @Html.PagedListPager((IPagedList)ViewData["Customers"], page => Url.Action("/Customers", "ExportData", new { page, currentFilter = ViewBag.CurrentFilter }), new PagedListRenderOptions { LinkToFirstPageFormat = "<< First", LinkToPreviousPageFormat = "< Previous", LinkToNextPageFormat = "Next >", LinkToLastPageFormat = "Last >>" })
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $("button").click(function ()
    {
        var CustomerID = this.id;
        var url = "@Url.Action("GetCustomerReminderInfo")";

        if (CustomerID != null)
        {
            $.ajax({
                type: "GET",
                cache: false,
                url: url,
                data: { id: CustomerID },
                success: function (data)
                {
                    $('#AppendHere').html(data);
                    $('#myModal').modal('show');
                },
                error: function (e) {
                    console.log(e);
                    alertify.alert("An error occured while retrieving customer reminder record!");
                }
            });
        }

    });
</script>