﻿@using DataAccess.POCO
@using PagedList
@using PagedList.Mvc

@{
    ViewBag.Title = ViewData["SiteName"].ToString();
    ViewBag.PageTitle = "Export Data";
    ViewBag.AExportData = "active";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="page-content container-fluid">
    <div class="panel">
        <div class="panel-body container-fluid">
            <div class="row form-group">
                <a href="@Url.Action("ExportEarlyPayoutsExcel", new { @fromDate = Session["FromDate"].ToString(), @toData = Session["ToDate"].ToString() })" class="btn btn-primary" style="float:left;margin-right:10px;">Download to Excel</a>
                <a href="@Url.Action("Options")" class="btn btn-default" style="float:left;">Back</a>
            </div>
            <div class="row">
                <div class="col-xlg-12 col-md-12">
                    <div class="table-responsive">
                        <table class="table table-hover table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th style="min-width: 50px;">#</th>
                                    <th style="min-width: 100px;">Early Payout ID</th>
                                    <th style="min-width: 150px;">Project ID</th>
                                    <th style="min-width: 150px;">Pay To</th>
                                    <th style="min-width: 150px;">User Type</th>
                                    <th style="min-width: 150px;">Payout Date</th>
                                    <th style="min-width: 150px;">Amount</th>
                                    <th style="min-width: 150px;">Status</th>
                                    <th style="min-width: 150px;">Remarks</th>
                                    <th style="min-width: 180px;">Created On</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    IPagedList<EarlyPayout> earlyPayouts = (IPagedList<EarlyPayout>)ViewData["EarlyPayouts"];

                                    if (earlyPayouts.Count > 0)
                                    {
                                        int page = Convert.ToInt32(Session["Page"]) - 1;
                                        int pageSize = Convert.ToInt32(Session["PageSize"]);
                                        int i = 1;

                                        foreach (EarlyPayout _earlyPayouts in earlyPayouts)
                                        {
                                            <tr>
                                                <td>@(i + page * pageSize)</td>

                                                <td>@_earlyPayouts.EarlyPayoutID</td>

                                                @if (_earlyPayouts.Customer != null)
                                                {
                                                    if (!string.IsNullOrEmpty(_earlyPayouts.Customer.CompanyName))
                                                    {
                                                        <td>@_earlyPayouts.Project.ProjectID - @_earlyPayouts.Customer.CompanyName</td>
                                                    }
                                                    else
                                                    {
                                                        <td>@_earlyPayouts.Project.ProjectID - @_earlyPayouts..Customer.ContactPerson</td>
                                                    }
                                                }
                                                else
                                                {
                                                    <td>-</td>
                                                }

                                                @if (_earlyPayouts.PayToId != null)
                                                {
                                                    if (_earlyPayouts.UserType == "Customer")
                                                    {
                                                        if (!string.IsNullOrEmpty(_earlyPayouts.Customer.CompanyName))
                                                        {
                                                            <td>@_earlyPayouts.Customer.CustomerID - @_earlyPayouts.Customer.CompanyName</td>
                                                        }
                                                        else
                                                        {
                                                            <td>@_earlyPayouts.Customer.CustomerID - @_earlyPayouts.Customer.ContactPerson</td>
                                                        }

                                                    }
                                                    else
                                                    {
                                                        //User
                                                        <td>@_earlyPayouts.User.UserID - @_earlyPayouts.User.Name</td>
                                                    }
                                                }
                                                else
                                                {
                                                    <td>-</td>
                                                }

                                                <td>@_earlyPayouts.UserType</td>
                                                <td>@_earlyPayouts.PayoutDate.ToString("dd/MM/yyyy")</td>
                                                <td>@_earlyPayouts.Amount.ToString("#,##0.00")</td>

                                                @if (string.IsNullOrEmpty(_earlyPayouts.Status))
                                                {
                                                    <td>-</td>
                                                }
                                                else
                                                {
                                                    <td>@_earlyPayouts.Status</td>
                                                }

                                                @if (string.IsNullOrEmpty(_earlyPayouts.Remarks))
                                                {
                                                    <td>-</td>
                                                }
                                                else
                                                {
                                                    <td>@_earlyPayouts.Remarks</td>
                                                }

                                                <td>@_earlyPayouts.CreatedOn</td>
                                            </tr>
                                                i++;
                                        }
                                    }
                                    else
                                    {
                                        <tr>
                                            <td colspan="10" class="no-records-found">No record to display</td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <div id="AppendHere"></div>
                <div class="pagination">
                    @Html.PagedListPager((IPagedList)ViewData["EarlyPayouts"], page => Url.Action("/EarlyPayouts", "ExportData", new { page, currentFilter = ViewBag.CurrentFilter }), new PagedListRenderOptions { LinkToFirstPageFormat = "<< First", LinkToPreviousPageFormat = "< Previous", LinkToNextPageFormat = "Next >", LinkToLastPageFormat = "Last >>" })
                </div>
            </div>
        </div>
    </div>
</div>