﻿@using DataAccess
@using DataAccess.POCO

@{
    Layout = null;
}

@{
    IList<CustomerReminder> customerReminders = (IList<CustomerReminder>)ViewData["CustomerReminder"];
    int count = 1;
}

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Customer Reminder</h4>
            </div>
            <div class="modal-body">
                <table class="table table-hover table-responsive">
                    <thead>
                        <tr>
                            <th style="min-width: 50px;">#</th>
                            <th style="min-width: 100px;">Description</th>
                            <th style="min-width: 100px;">Date</th>
                            <th style="min-width: 100px;">Repeat</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (CustomerReminder _customerRemiders in customerReminders)
                        {
                            <tr>
                                <td>@count</td>
                                <td>@_customerRemiders.Description</td>
                                <td>@_customerRemiders.Date</td>
                                <td>@_customerRemiders.Repeat</td>
                            </tr>
                            count++;
                        }
                    </tbody>
                </table>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>