﻿@using DataAccess
@using DataAccess.POCO

@{
    Layout = null;
}

@{
    IList<InvoiceItemDescription> invoiceItemDescriptions = (IList<InvoiceItemDescription>)ViewData["InvoiceItemDescriptions"];
    Invoice invoice = (Invoice)ViewData["Invoice"];
    int count = 1;
}

<style>
    .modal {
        right: -8%;
        left: 2%;
        top: 10%;
        z-index: 10040;
    }

    .modal-dialog {
        width: 90%;
        margin: 0;
        padding: 0;
    }

    /* It uses vh and calc, which also happen to have a good browser support (IE9+). */
    .modal-content {
        max-height: calc(100vh - 212px);
        overflow-y: auto;
    }
</style>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Item Description</h4>
            </div>
            <div class="modal-body">
                <table id="table-item-description" class="table table-hover table-responsive" data-striped="true" data-height="250" data-mobile-responsive="true">
                    <thead>
                        <tr>
                            <th style="min-width:50px">#</th>
                            <th style="min-width:400px">Description</th>
                            <th style="min-width:50px">% of Quotation</th>
                            <th style="min-width:100px">Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            
                            foreach (InvoiceItemDescription _invoiceItemDescription in invoiceItemDescriptions)
                            {
                                <tr>
                                    <td>
                                        @count
                                    </td>
                                    <td>
                                        @_invoiceItemDescription.Description
                                    </td>
                                    @if (!string.IsNullOrEmpty(_invoiceItemDescription.PercentageOfQuotation))
                                    {
                                        <td>@_invoiceItemDescription.PercentageOfQuotation</td>
                                    }
                                    else
                                    {
                                        <td>-</td>
                                    }
                                    <td>
                                        <div class="input-group">
                                            $ @_invoiceItemDescription.Amount.ToString("#,##0.00")
                                        </div>
                                    </td>
                                </tr>
                                count++;
                            }
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="3" class="text-right">Subtotal</td>
                            <td>
                                <div class="input-group">
                                    $ @invoice.SubtotalAmount.ToString("#,##0.00")
                                </div>
                            </td>
                        </tr>
                        <tr id="tr-gst">
                            <td colspan="3" class="text-right">
                                @if (invoice.GST == "Yes")
                                {
                                    @("GST (7%)")
                                }
                                else
                                {
                                    @("GST (0%)")
                                }
                            </td>
                            <td colspan="2">
                                <div class="input-group">
                                    $ @invoice.GSTAmount.ToString("#,##0.00")
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3" class="text-right">Grand Total</td>
                            <td colspan="2">
                                <div class="input-group">
                                    $ @invoice.GrandTotalAmount.ToString("#,##0.00")
                                </div>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>