﻿@using DataAccess
@using DataAccess.POCO

@{
    Layout = null;
}

@{
    int count = 1;
}


<style>
    .modal {
        right: -8%;
        left: 2%;
        top: 10%;
        z-index: 10040;
    }

    .modal-dialog {
        width: 90%;
        margin: 0;
        padding: 0;
    }

    /* It uses vh and calc, which also happen to have a good browser support (IE9+). */
    .modal-content {
        max-height: calc(100vh - 212px);
        overflow-y: auto;
    }
</style>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Project Estimators</h4>
            </div>
            <div class="modal-body">
                @if (ViewData["QuotationItemDescription"] != null)
                {
                    List<ItemDescriptionBigTable> itemDescriptionBigTable = (List<ItemDescriptionBigTable>)ViewData["QuotationItemDescription"];

                    foreach (ItemDescriptionBigTable _itemDescriptionBigTable in itemDescriptionBigTable)
                    {
                        <div class="form-group" id="BigTable-@_itemDescriptionBigTable.TableID">
                            <div class="col-sm-12 table-responsive">
                                <table class="table table-hover table-condensed table-bordered" data-striped="true" data-height="250" data-mobile-responsive="true" id="ItemDesciptiontbl-@_itemDescriptionBigTable.TableID">
                                    <thead>
                                        <tr>
                                            <th colspan="11">
                                                <h5 class="inline">@_itemDescriptionBigTable.CategoryName</h5>
                                                @Html.Hidden("BigTableItemName-" + _itemDescriptionBigTable.TableID, _itemDescriptionBigTable.CategoryName)
                                                @Html.Hidden("BigTableItemNameFromDB-" + _itemDescriptionBigTable.TableID, _itemDescriptionBigTable.IsBasic)
                                            </th>
                                        </tr>
                                        <tr>
                                            <th style="min-width:50px">#</th>
                                            <th style="min-width:300px">Description</th>
                                            <th style="min-width:150px">Revenue</th>
                                            <th style="min-width:150px">Projected Cost</th>
                                            <th style="min-width:150px">Adj Cost</th>
                                            <th style="min-width:150px">Profit</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        <!-- Add one more for loop to loop the same item -->
                                        @foreach (ItemDescriptionRow _itemDescriptionRow in _itemDescriptionBigTable.ItemDescriptionRows)
                                        {
                                            string NewInsideRowID = _itemDescriptionBigTable.TableID + "-" + _itemDescriptionRow.RowId;
                                            <tr id="RowInsideID-@NewInsideRowID">
                                                <td><div class="calculateNumber-@_itemDescriptionBigTable.TableID">@count</div></td>
                                                <td>
                                                    @Html.TextBox("QuotationItemDescriptionDescription_" + _itemDescriptionBigTable.TableID + "_" + _itemDescriptionRow.RowId, _itemDescriptionRow.Description, new { @class = "form-control", @disabled = "disabled" })
                                                    @Html.Hidden("QuotationItemDescriptionDescription_" + _itemDescriptionBigTable.TableID + "_" + _itemDescriptionRow.RowId, _itemDescriptionRow.Description)
                                                </td>
                                                <td>
                                                    <div class="input-group">
                                                        <span class="input-group-addon">$</span>
                                                        @Html.TextBox("QuotationItemDescriptionAmount_" + _itemDescriptionBigTable.TableID + "_" + _itemDescriptionRow.RowId, _itemDescriptionRow.Amount, new { @class = "form-control", @disabled = "disabled" })
                                                        @Html.Hidden("QuotationItemDescriptionAmount2_" + _itemDescriptionBigTable.TableID + "_" + _itemDescriptionRow.RowId, _itemDescriptionRow.Amount)
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="input-group">
                                                        <span class="input-group-addon">$</span>
                                                        @Html.TextBox("QuotationItemDescriptionEstCost_" + _itemDescriptionBigTable.TableID + "_" + _itemDescriptionRow.RowId, _itemDescriptionRow.Est_Cost, new { @class = "form-control", @onchange = "CalculateAmountProfit('QuotationItemDescriptionEstCost_" + _itemDescriptionBigTable.TableID + "_" + _itemDescriptionRow.RowId + "')", @disabled = "disabled" })
                                                        @Html.Hidden("QuotationItemDescriptionEstCost2_" + _itemDescriptionBigTable.TableID + "_" + _itemDescriptionRow.RowId, _itemDescriptionRow.Est_Cost)
                                                    </div>

                                                </td>
                                                <td>
                                                    <div class="input-group">
                                                        <span class="input-group-addon">$</span>
                                                        @Html.TextBox("QuotationItemDescriptionAdjCost_" + _itemDescriptionBigTable.TableID + "_" + _itemDescriptionRow.RowId, _itemDescriptionRow.AdjCost, new { @class = "form-control", @onchange = "CalculateAdjCostProfit('QuotationItemDescriptionAdjCost_" + _itemDescriptionBigTable.TableID + "_" + _itemDescriptionRow.RowId + "')",@disabled = "disabled" })
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="input-group">
                                                        <span class="input-group-addon">$</span>
                                                        @Html.TextBox("QuotationItemDescriptionProfit_" + _itemDescriptionBigTable.TableID + "_" + _itemDescriptionRow.RowId, _itemDescriptionRow.Est_Profit, new { @class = "form-control", @disabled = "disabled" })
                                                        @Html.Hidden("QuotationItemDescriptionProfit2_" + _itemDescriptionBigTable.TableID + "_" + _itemDescriptionRow.RowId, _itemDescriptionRow.Est_Profit)
                                                    </div>
                                                </td>
                                            </tr>
                                            count++;
                                        }

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    }
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>