﻿@using DataAccess
@using DataAccess.POCO

@{
    Layout = null;
}

@{
    IList<PayoutCalculation> payoutSummaries = (IList<PayoutCalculation>)ViewData["PayoutSummary"];
    int count = 1;
}


<style>
    .modal {
        right: -8%;
        left: 2%;
        top: 10%;
        z-index: 10040;
    }

    .modal-dialog {
        width: 90%;
        margin: 0;
        padding: 0;
    }

    /* It uses vh and calc, which also happen to have a good browser support (IE9+). */
    .modal-content {
        max-height: calc(100vh - 212px);
        overflow-y: auto;
    }
</style>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Payout Summary</h4>
            </div>
            <div class="modal-body">
                <table class="table table-hover table-responsive">
                    <thead>
                        <tr>
                            <th style="min-width: 50px;">#</th>
                            <th style="min-width: 100px;">Tier</th>
                            <th style="min-width: 100px;">User</th>
                            <th style="min-width: 100px;">User Type</th>
                            <th style="min-width: 100px;">Revenue</th>
                            <th style="min-width: 100px;">Payout Percentage</th>
                            <th style="min-width: 100px;">Commission</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (PayoutCalculation _payoutSummaries in payoutSummaries)
                        {
                            <tr>
                                <td>@count</td>
                                <td>@count</td>

                                @if (_payoutSummaries.UserId != null)
                                {
                                    if (_payoutSummaries.UserType == "Customer")
                                    {
                                        if (!string.IsNullOrEmpty(_payoutSummaries.Customer.CompanyName))
                                        {
                                            <td>@_payoutSummaries.Customer.CustomerID - @_payoutSummaries.Customer.CompanyName</td>
                                        }
                                        else
                                        {
                                            <td>@_payoutSummaries.Customer.CustomerID - @_payoutSummaries.Customer.ContactPerson</td>
                                        }
                                    }
                                    else
                                    {
                                        //User
                                        <td>@_payoutSummaries.Salesperson.UserID - @_payoutSummaries.Salesperson.Name</td>
                                    }
                                }
                                else
                                {
                                    <td>-</td>
                                }

                                <td>@_payoutSummaries.UserType</td>
                                <td>@_payoutSummaries.Revenue.ToString("#,##0.00")</td>
                                <td>@_payoutSummaries.PayoutPercentage%</td>
                                <td>@_payoutSummaries.Commission.ToString("#,##0.00")</td>
                            </tr>
                            count++;
                        }
                    </tbody>
                </table>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>