﻿@using DataAccess
@using DataAccess.POCO

@{
    Layout = null;
}

@{
    IList<ProjectProjectExpenses> projectExpenses = (IList<ProjectProjectExpenses>)ViewData["ProjectExpenses"];
    int count = 1;
}

<style>
    .modal {
       right: -8%;
       left: 2%;
       top: 10%;
       z-index: 10040;
    }

    .modal-dialog {
      width: 90%;
      margin: 0;
      padding: 0;
    }

    /* It uses vh and calc, which also happen to have a good browser support (IE9+). */
    .modal-content {
        max-height: calc(100vh - 212px);
        overflow-y: auto;
    }
</style>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Project Expenses</h4>
            </div>
            <div class="modal-body">
                <table class="table table-hover table-responsive">
                    <thead>
                        <tr>
                            <th style="min-width: 50px;">#</th>
                            <th style="min-width: 150px;">Description</th>
                            <th style="min-width: 100px;">Supplier Name</th>
                            <th style="min-width: 100px;">Invoice No</th>
                            <th style="min-width: 100px;">Date</th>
                            <th style="min-width: 50px;">GST</th>
                            <th style="min-width: 100px;">Cost (before GST)</th>
                            <th style="min-width: 100px;">Status</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (ProjectProjectExpenses _projectExpenses in projectExpenses)
                        {
                            <tr>
                                <td>@count</td>
                                <td>@_projectExpenses.Description</td>
                                <td>@_projectExpenses.SupplierName</td>
                                <td>@_projectExpenses.InvoiceNo</td>
                                <td>@_projectExpenses.Date.ToString("dd/MM/yyyy")</td>
                                <td>@_projectExpenses.GST</td>
                                <td>@_projectExpenses.Cost.ToString("#,##0.00")</td>
                                <td>@_projectExpenses.Status</td>
                            </tr>
                            count++;
                        }
                    </tbody>
                </table>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>