﻿@using DataAccess
@using DataAccess.POCO

@{
    Layout = null;
}

@{
    IList<QuotationCoBroke> quotationCoBrokes = (IList<QuotationCoBroke>)ViewData["QuotationCoBrokes"];
    //IList<QuotationItemDescription> quotationItemDescriptions = (IList<QuotationItemDescription>)ViewData["QuotationItemDescriptions"];
    int count = 1;
}

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Quotation Co-broke</h4>
            </div>
            <div class="modal-body">
                <table class="table table-hover table-responsive">
                    <thead>
                        <tr>
                            <th style="min-width: 50px;">#</th>
                            <th style="min-width: 100px;">User</th>
                            <th style="min-width: 100px;">% of Profit</th>
                        </tr>
                    </thead>
                    <tbody>

                        @if (quotationCoBrokes.Count > 0)
                        {
                            foreach (QuotationCoBroke _quotationCoBrokes in quotationCoBrokes)
                            {
                                if (_quotationCoBrokes.User != null)
                                {
                                    <tr>
                                        <td>@count</td>
                                        <td>@_quotationCoBrokes.User.UserID - @_quotationCoBrokes.User.Name</td>
                                        <td>@_quotationCoBrokes.QuotationCoBrokePercentOfProfit %</td>
                                    </tr>
                                }
                                count++;
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="3" class="no-records-found">No record to display</td>
                            </tr>
                        }

                    </tbody>
                </table>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>