﻿@using DataAccess.POCO
@using PagedList
@using PagedList.Mvc

@{
    ViewBag.Title = ViewData["SiteName"].ToString();
    ViewBag.PageTitle = "Export Data";
    ViewBag.AExportData = "active";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="page-content container-fluid">
    <div class="panel">
        <div class="panel-body container-fluid">
            <div class="row form-group">
                <a href="@Url.Action("ExportInvoicesExcel", new { @fromDate = Session["FromDate"].ToString(), @toData = Session["ToDate"].ToString() })" class="btn btn-primary" style="float:left;margin-right:10px;">Download to Excel</a>
                <a href="@Url.Action("Options")" class="btn btn-default" style="float:left;">Back</a>
            </div>
            <div class="row">
                <div class="col-xlg-12 col-md-12">
                    <div class="table-responsive">
                        <table class="table table-hover table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th style="min-width: 50px;">#</th>
                                    <th style="min-width: 100px;">Invoice ID</th>
                                    <th style="min-width: 150px;">Quotation</th>
                                    <th style="min-width: 150px;">Company</th>
                                    <th style="min-width: 150px;">Customer</th>
                                    <th style="min-width: 150px;">Contact Person</th>
                                    <th style="min-width: 150px;">Address</th>
                                    <th style="min-width: 150px;">Tel</th>
                                    <th style="min-width: 150px;">Fax</th>
                                    <th style="min-width: 150px;">Prepared By</th>
                                    <th style="min-width: 100px;">Date</th>
                                    <th style="min-width: 150px;">Remarks</th>
                                    <th style="min-width: 150px;">Note</th>
                                    <th style="min-width: 120px;">GST</th>
                                    <th style="min-width: 150px;">Total Quotation Amount</th>
                                    <th style="min-width: 150px;">Payment Made</th>
                                    <th style="min-width: 180px;">Status</th>
                                    <th style="min-width: 180px;">Created On</th>
                                    <th style="min-width: 180px;">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    IPagedList<Invoice> invoices = (IPagedList<Invoice>)ViewData["Invoices"];

                                    if (invoices.Count > 0)
                                    {
                                        int page = Convert.ToInt32(Session["Page"]) - 1;
                                        int pageSize = Convert.ToInt32(Session["PageSize"]);
                                        int i = 1;

                                        foreach (Invoice _invoices in invoices)
                                        {
                                            <tr>
                                                <td>@(i + page * pageSize)</td>

                                                <td>@_invoices.InvoiceID</td>

                                                @if (_invoices.Quotation != null)
                                                {
                                                    if (!string.IsNullOrEmpty(_invoices.Quotation.CompanyName))
                                                    {
                                                        <td>@_invoices.Quotation.QuotationID - @_invoices.Quotation.CompanyName</td>
                                                        <td>@_invoices.Quotation.CompanyName</td>
                                                    }
                                                    else
                                                    {
                                                        <td>@_invoices.Quotation.QuotationID - @_invoices.Quotation.ContactPerson</td>
                                                        <td>-</td>
                                                    }
                                                }
                                                else
                                                {
                                                    <td>-</td>
                                                    <td>-</td>
                                                }

                                                @if (_invoices.Customer != null)
                                                {
                                                    if (!string.IsNullOrEmpty(_invoices.Customer.CompanyName))
                                                    {
                                                        <td>@_invoices.Customer.CustomerID - @_invoices.Customer.CompanyName</td>
                                                    }
                                                    else
                                                    {
                                                        <td>@_invoices.Customer.CustomerID - @_invoices.Customer.ContactPerson</td>
                                                    }
                                                    
                                                    <td>@_invoices.ContactPerson</td>
                                                    
                                                    if (!string.IsNullOrEmpty(_invoices.Customer.Address))
                                                    {
                                                        <td>@_invoices.Customer.Address</td>
                                                    }
                                                    else
                                                    {
                                                        <td>-</td>
                                                    }
                                                    <td>@_invoices.Customer.Tel</td>
                                                    
                                                    if (!string.IsNullOrEmpty(_invoices.Customer.Fax))
                                                    {
                                                        <td>@_invoices.Customer.Fax</td>
                                                    }
                                                    else
                                                    {
                                                        <td>-</td>
                                                    }
                                                }
                                                else
                                                {
                                                    <td>@_invoices.ContactPerson</td>
                                                    <td>-</td>
                                                    <td>-</td>
                                                    <td>-</td>
                                                }

                                                @if (_invoices.PreparedBy != null)
                                                {
                                                    <td>@_invoices.PreparedBy.Name</td>
                                                }
                                                else
                                                {
                                                    <td>-</td>
                                                }

                                                <td>@_invoices.Date.ToString("dd/MM/yyyy")</td>

                                                @if (!string.IsNullOrEmpty(_invoices.Remarks))
                                                {
                                                    <td>@_invoices.Remarks</td>
                                                }
                                                else
                                                {
                                                    <td>-</td>
                                                }

                                                @if (!string.IsNullOrEmpty(_invoices.Notes))
                                                {
                                                    <td>@_invoices.Notes</td>
                                                }
                                                else
                                                {
                                                    <td>-</td>
                                                }
                                                <td>@_invoices.GST</td>

                                                @{
                                                    IList<QuotationItemDescription> quotationItemDescriptions = (IList<QuotationItemDescription>)ViewData["QuotationItemDescriptions"];
                                                    
                                                    decimal TotalAmount = 0;
                                                    
                                                    foreach (QuotationItemDescription _quotationItemDescriptions in quotationItemDescriptions)
                                                    {
                                                        if (_quotationItemDescriptions.QuotationId == _invoices.QuotationId)
                                                        {
                                                            TotalAmount += _quotationItemDescriptions.QuotationItemAmount;
                                                        }
                                                    }
                                                }

                                                <td>@TotalAmount.ToString("#,##0.00")</td>
                                                
                                                @if(_invoices.PaymentMade != null)
                                                {
                                                    <td>@Convert.ToDecimal(_invoices.PaymentMade).ToString("#,##0.00")</td>
                                                }
                                                else
                                                {
                                                    <td>-</td>
                                                }

                                                <td>@_invoices.Status</td>
                                                <td>@_invoices.CreatedOn</td>

                                                <td><button type="button" class="btn btn-sm btn-icon btn-round btn-success" id="@_invoices.ID" onclick="ViewItemDescriptions(this.id)"><i class="icon wb-eye" aria-hidden="true"></i></button></td>
                                            </tr>
                                                i++;
                                        }
                                    }
                                    else
                                    {
                                        <tr>
                                            <td colspan="27" class="no-records-found">No record to display</td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <div id="AppendHere"></div>
                <div class="pagination">
                    @Html.PagedListPager((IPagedList)ViewData["Invoices"], page => Url.Action("/Invoices", "ExportData", new { page, currentFilter = ViewBag.CurrentFilter }), new PagedListRenderOptions { LinkToFirstPageFormat = "<< First", LinkToPreviousPageFormat = "< Previous", LinkToNextPageFormat = "Next >", LinkToLastPageFormat = "Last >>" })
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    function ViewItemDescriptions(clicked_id) {
        var InvoiceID = clicked_id;

        var url = "@Url.Action("GetInvoiceItemDescriptionsInfo")";

        if (InvoiceID != null) {
            $.ajax({
                type: "GET",
                cache: false,
                url: url,
                data: { id: InvoiceID },
                success: function (data) {
                    $('#AppendHere').html(data);
                    $('#myModal').modal('show');
                },
                error: function (e) {
                    console.log(e);
                    alertify.alert("An error occured while retrieving invoice item descriptions record!");
                }
            });
        }
    }
</script>