﻿@using DataAccess.POCO
@using PagedList
@using PagedList.Mvc

@{
    ViewBag.Title = ViewData["SiteName"].ToString();
    ViewBag.PageTitle = "Export Data";
    ViewBag.AExportData = "active";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-content">
    <div class="panel">
        <div class="panel-body container-fluid">
            <div class="row">
                <div class="col-xlg-12 col-md-12">
                    @using (Html.BeginForm("Options", "ExportData", FormMethod.Post, new { @class = "form-horizontal" }))
                    {
                        if (Session["Result"] != null)
                        {
                            string[] result = Session["Result"].ToString().Split('|');

                            <div class="alert alert-@result[0] text-center">
                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                                @result[1]
                            </div>

                            Session.Remove("Result");
                        }

                        <div class="form-group">
                            @Html.Label("Table Name", new { @class = "col-sm-3 control-label" })
                            <div class="col-sm-9">
                                @Html.DropDownList("TableName", (SelectList)ViewData["TableNameDropdown"], new { @class = "form-control", @data_plugin = "selectpicker" })
                                @Html.ValidationMessage("TableName")
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.Label("From Date", new { @class = "col-sm-3 control-label" })
                            <div class="col-sm-9">
                                @Html.TextBox("FromDate", ViewData["FromDate"].ToString(), new { @class = "form-control" })
                                @Html.ValidationMessage("FromDate")
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.Label("To Date", new { @class = "col-sm-3 control-label" })
                            <div class="col-sm-9">
                                @Html.TextBox("ToDate", ViewData["ToDate"].ToString(), new { @class = "form-control" })
                                @Html.ValidationMessage("ToDate")
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-9 col-sm-offset-3">
                                <button type="submit" class="btn btn-success">Generate</button>
                                <button type="button" class="btn btn-primary" onclick="DownloadToExcel()">Download to excel</button>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<script src="@Url.Content("~/Content/vendor/bootstrap-datepicker/bootstrap-datepicker.js")"></script>


<script>
    $("#FromDate").datepicker({
        endDate: new Date(),
    }).on("changeDate", function () {
        $("#ToDate").datepicker("setStartDate", new Date($("#FromDate").datepicker("getDate")));
    });

    $("#ToDate").datepicker({
        startDate: new Date($("#FromDate").datepicker("getDate")),
        endDate: new Date()
    });

    function DownloadToExcel() {

        var tableName = $("#TableName").val();
        var url = "";

        var fromDate = $("#FromDate").val();
        var toDate = $("#ToDate").val();

        if (tableName == "Customers") {
            url = "@Url.Action("ExportCustomersExcel")";
        }
        else if (tableName == "Users")
        {
            url = "@Url.Action("ExportUsersExcel")";
        }
        else if (tableName == "Quotations")
        {
            url = "@Url.Action("ExportQuotationsExcel")";
        }
        else if (tableName == "Projects")
        {
            url = "@Url.Action("ExportProjectsExcel")";
        }
        else if(tableName == "ProjectEstimators")
        {
            url = "@Url.Action("ExportProjectEstimatorsExcel")";
        }
        else if (tableName == "Invoices")
        {
            url = "@Url.Action("ExportInvoicesExcel")";
        }
        else if (tableName == "Payouts")
        {
            url = "@Url.Action("ExportPayoutsExcel")";
        }
        else if (tableName == "EarlyPayouts")
        {
            url = "@Url.Action("ExportEarlyPayoutsExcel")";
        }

        var url = url + "?" + "&fromDate=" + fromDate + "&toDate=" + toDate;
        window.location.href = url;
    }
</script>