﻿@using DataAccess.POCO
@using PagedList
@using PagedList.Mvc

@{
    ViewBag.Title = ViewData["SiteName"].ToString();
    ViewBag.PageTitle = "Export Data";
    ViewBag.AExportData = "active";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="page-content container-fluid">
    <div class="panel">
        <div class="panel-body container-fluid">
            <div class="row form-group">
                <a href="@Url.Action("ExportPayoutsExcel", new { @fromDate = Session["FromDate"].ToString(), @toData = Session["ToDate"].ToString() })" class="btn btn-primary" style="float:left;margin-right:10px;">Download to Excel</a>
                <a href="@Url.Action("Options")" class="btn btn-default" style="float:left;">Back</a>
            </div>
            <div class="row">
                <div class="col-xlg-12 col-md-12">
                    <div class="table-responsive">
                        <table class="table table-hover table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th style="min-width: 50px;">#</th>
                                    <th style="min-width: 100px;">Payout ID</th>
                                    <th style="min-width: 150px;">Pay To</th>
                                    <th style="min-width: 150px;">User Type</th>
                                    <th style="min-width: 150px;">Period</th>
                                    <th style="min-width: 150px;">Total Commission Amount</th>
                                    <th style="min-width: 150px;">Total Retained Amount</th>
                                    <th style="min-width: 150px;">Total Early Payout Amount</th>
                                    <th style="min-width: 150px;">Total Payout Amount</th>
                                    <th style="min-width: 150px;">Status</th>
                                    <th style="min-width: 180px;">Created On</th>
                                    <th style="min-width: 100px;">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    IPagedList<Payout> payouts = (IPagedList<Payout>)ViewData["Payouts"];

                                    if (payouts.Count > 0)
                                    {
                                        int page = Convert.ToInt32(Session["Page"]) - 1;
                                        int pageSize = Convert.ToInt32(Session["PageSize"]);
                                        int i = 1;

                                        foreach (Payout _payouts in payouts)
                                        {
                                            <tr>
                                                <td>@(i + page * pageSize)</td>

                                                <td>@_payouts.PayoutID</td>
                                                
                                                @if (_payouts.PayToId != null)
                                                {
                                                    if (_payouts.UserType == "Customer")
                                                    {
                                                        if (!string.IsNullOrEmpty(_payouts.Customer.CompanyName))
                                                        {
                                                            <td>@_payouts.Customer.CustomerID - @_payouts.Customer.CompanyName</td>
                                                        }
                                                        else
                                                        {
                                                            <td>@_payouts.Customer.CustomerID - @_payouts.Customer.ContactPerson</td>
                                                        }

                                                    }
                                                    else
                                                    {
                                                        //User
                                                        <td>@_payouts.Salesperson.UserID - @_payouts.Salesperson.Name</td>
                                                    }
                                                }
                                                else
                                                {
                                                    <td>-</td>
                                                }

                                                @if (!string.IsNullOrEmpty(_payouts.UserType))
                                                {
                                                    <td>@_payouts.UserType</td>
                                                }
                                                else
                                                {
                                                    <td>-</td>
                                                }
                                                
                                                <td>@_payouts.Period.ToString("dd/MM/yyyy")</td>
                                                <td>@_payouts.TotalCommissionAmount.ToString("#,##0.00")</td>
                                                <td>@_payouts.TotalRetainedAmount.ToString("#,##0.00")</td>
                                                <td>@_payouts.TotalEarlyPayoutAmount.ToString("#,##0.00")</td>
                                                <td>@_payouts.TotalPayoutAmount.ToString("#,##0.00")</td>

                                                @if (string.IsNullOrEmpty(_payouts.Status))
                                                {
                                                    <td>-</td>
                                                }
                                                else
                                                {
                                                    <td>@_payouts.Status</td>
                                                }

                                                <td>@_payouts.CreatedOn</td>
                                                <td><button type="button" class="btn btn-sm btn-icon btn-round btn-success" id="@_payouts.ID" onclick="ViewPayoutSummary(this.id)"><i class="icon wb-eye" aria-hidden="true"></i></button></td>
                                            </tr>
                                                i++;
                                        }
                                    }
                                    else
                                    {
                                        <tr>
                                            <td colspan="11" class="no-records-found">No record to display</td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <div id="AppendHere"></div>
                <div class="pagination">
                    @Html.PagedListPager((IPagedList)ViewData["Payouts"], page => Url.Action("/Payouts", "ExportData", new { page, currentFilter = ViewBag.CurrentFilter }), new PagedListRenderOptions { LinkToFirstPageFormat = "<< First", LinkToPreviousPageFormat = "< Previous", LinkToNextPageFormat = "Next >", LinkToLastPageFormat = "Last >>" })
                </div>
            </div>
        </div>
    </div>
</div>


<script>

    function ViewPayoutSummary(clicked_id) {
        var PayoutID = clicked_id;

        var url = "@Url.Action("GetPayoutSummaryInfo")";

        if (PayoutID != null) {
            $.ajax({
                type: "GET",
                cache: false,
                url: url,
                data: { id: PayoutID },
                success: function (data) {
                    $('#AppendHere').html(data);
                    $('#myModal').modal('show');
                },
                error: function (e) {
                    console.log(e);
                    alertify.alert("An error occured while retrieving payout summary record!");
                }
            });
        }
    }
</script>