﻿@using DataAccess.POCO
@using PagedList
@using PagedList.Mvc

@{
    ViewBag.Title = ViewData["SiteName"].ToString();
    ViewBag.PageTitle = "Export Data";
    ViewBag.AExportData = "active";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="page-content container-fluid">
    <div class="panel">
        <div class="panel-body container-fluid">
            <div class="row form-group">
                <a href="@Url.Action("ExportProjectsExcel", new { @fromDate = Session["FromDate"].ToString(), @toData = Session["ToDate"].ToString() })" class="btn btn-primary" style="float:left;margin-right:10px;">Download to Excel</a>
                <a href="@Url.Action("Options")" class="btn btn-default" style="float:left;">Back</a>
            </div>
            <div class="row">
                <div class="col-xlg-12 col-md-12">
                    <div class="table-responsive">
                        <table class="table table-hover table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th style="min-width: 50px;">#</th>
                                    <th style="min-width: 100px;">Project ID</th>
                                    <th style="min-width: 150px;">Company Name</th>
                                    <th style="min-width: 150px;">Quotation Reference</th>
                                    <th style="min-width: 150px;">Customer</th>
                                    <th style="min-width: 150px;">Contact Person</th>
                                    <th style="min-width: 150px;">Address</th>
                                    <th style="min-width: 150px;">Tel</th>
                                    <th style="min-width: 150px;">Fax</th>
                                    <th style="min-width: 150px;">Prepared By</th>
                                    <th style="min-width: 150px;">Date</th>
                                    <th style="min-width: 100px;">Co-ordinator</th>
                                    <th style="min-width: 150px;">Co-ordinator Email</th>
                                    <th style="min-width: 150px;">Co-ordinator Tel</th>
                                    <th style="min-width: 120px;">Project Title</th>
                                    <th style="min-width: 150px;">Description</th>
                                    <th style="min-width: 150px;">Type</th>
                                    <th style="min-width: 180px;">Photos</th>
                                    <th style="min-width: 180px;">Floor Plan</th>
                                    <th style="min-width: 180px;">3D Drawings</th>
                                    <th style="min-width: 180px;">As-built Drawings</th>
                                    <th style="min-width: 180px;">Submission Stage</th>
                                    <th style="min-width: 180px;">Others</th>
                                    <th style="min-width: 180px;">Remarks</th>
                                    <th style="min-width: 180px;">Status</th>
                                    <th style="min-width: 180px;">Created On</th>
                                    <th style="min-width: 180px;">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    IPagedList<Project> projects = (IPagedList<Project>)ViewData["Projects"];

                                    if (projects.Count > 0)
                                    {
                                        int page = Convert.ToInt32(Session["Page"]) - 1;
                                        int pageSize = Convert.ToInt32(Session["PageSize"]);
                                        int i = 1;

                                        foreach (Project _projects in projects)
                                        {
                                            <tr>
                                                <td>@(i + page * pageSize)</td>

                                                <td>@_projects.ProjectID</td>
                                                <td>@_projects.CompanyName</td>
                                                
                                                @if (_projects.Quotation != null)
                                                {
                                                    <td>@_projects.Quotation.QuotationID</td>
                                                }
                                                else
                                                {
                                                    <td>-</td>
                                                }

                                                @if (_projects.Customer != null)
                                                {
                                                    if(string.IsNullOrEmpty(_projects.Customer.CompanyName))
                                                    {
                                                        <td>@_projects.Customer.ContactPerson - @_projects.Customer.CustomerID</td>
                                                    }
                                                    else
                                                    {
                                                        <td>@_projects.Customer.CompanyName - @_projects.Customer.CustomerID</td>
                                                    }
                                                    
                                                    <td>@_projects.Customer.ContactPerson</td>

                                                    if (!string.IsNullOrEmpty(_projects.Customer.Address))
                                                    {
                                                        <td>@_projects.Customer.Address</td>
                                                    }
                                                    else
                                                    {
                                                        <td>-</td>
                                                    }

                                                    <td>@_projects.Customer.Tel</td>

                                                    if (!string.IsNullOrEmpty(_projects.Customer.Fax))
                                                    {
                                                        <td>@_projects.Customer.Fax</td>
                                                    }
                                                    else
                                                    {
                                                        <td>-</td>
                                                    }
                                                }
                                                else
                                                {
                                                    <td>-</td>
                                                    <td>-</td>
                                                    <td>-</td>
                                                    <td>-</td>
                                                    <td>-</td>
                                                }

                                                @if (_projects.PreparedBy != null)
                                                {
                                                    <td>@_projects.PreparedBy.Name</td>
                                                }
                                                else
                                                {
                                                    <td>-</td>
                                                }

                                                <td>@_projects.Date.ToString("dd/MM/yyyy")</td>

                                                @if (_projects.Coordinator != null)
                                                {
                                                    <td>@_projects.Coordinator.Name - @_projects.Coordinator.UserID</td>
                                                    if (string.IsNullOrEmpty(_projects.Coordinator.Email))
                                                    {
                                                        <td>-</td>
                                                    }
                                                    else
                                                    {
                                                        <td>@_projects.Coordinator.Email</td>
                                                    }
                                                    <td>@_projects.Coordinator.Tel</td>
                                                }
                                                else
                                                {
                                                    <td>-</td>
                                                    <td>-</td>
                                                    <td>-</td>
                                                }

                                                <td>@_projects.ProjectTitle</td>

                                                @if (string.IsNullOrEmpty(_projects.ProjectDescription))
                                                {
                                                    <td>-</td>
                                                }
                                                else
                                                {
                                                    <td>@_projects.ProjectDescription</td>
                                                }

                                                <td>@_projects.ProjectType</td>

                                                @if (_projects.PhotoUploads != null)
                                                {
                                                    <td>
                                                        @{
                                                    string[] files = _projects.PhotoUploads.ToString().Split(',');
                                                    foreach (string file in files)
                                                    {
                                                        <a href="@Url.Content("~/FileUploads/ProjectPhotoUploadsDocuments/" + file)" target="_blank">@file</a>
                                                            <br />
                                                    }
                                                        }
                                                    </td>
                                                }
                                                else
                                                {
                                                    <td>-</td>
                                                }

                                                @if (_projects.FloorPlanUploads != null)
                                                {
                                                    <td>
                                                        @{
                                                    string[] files = _projects.FloorPlanUploads.ToString().Split(',');
                                                    foreach (string file in files)
                                                    {
                                                        <a href="@Url.Content("~/FileUploads/ProjectFloorPlanUploadsDocuments/" + file)" target="_blank">@file</a>
                                                            <br />
                                                    }
                                                        }
                                                    </td>
                                                }
                                                else
                                                {
                                                    <td>-</td>
                                                }

                                                @if (_projects.ThreeDDrawingUploads != null)
                                                {
                                                    <td>
                                                        @{
                                                    string[] files = _projects.ThreeDDrawingUploads.ToString().Split(',');
                                                    foreach (string file in files)
                                                    {
                                                        <a href="@Url.Content("~/FileUploads/ProjectThreeDDrawingUploadsDocuments/" + file)" target="_blank">@file</a>
                                                            <br />
                                                    }
                                                        }
                                                    </td>
                                                }
                                                else
                                                {
                                                    <td>-</td>
                                                }

                                                @if (_projects.AsBuildDrawingUploads != null)
                                                {
                                                    <td>
                                                        @{
                                                    string[] files = _projects.AsBuildDrawingUploads.ToString().Split(',');
                                                    foreach (string file in files)
                                                    {
                                                        <a href="@Url.Content("~/FileUploads/ProjectAsBuildDrawingUploadsDocuments/" + file)" target="_blank">@file</a>
                                                            <br />
                                                    }
                                                        }
                                                    </td>
                                                }
                                                else
                                                {
                                                    <td>-</td>
                                                }

                                                @if (_projects.SubmissionStageUploads != null)
                                                {
                                                    <td>
                                                        @{
                                                    string[] files = _projects.SubmissionStageUploads.ToString().Split(',');
                                                    foreach (string file in files)
                                                    {
                                                        <a href="@Url.Content("~/FileUploads/ProjectSubmissionStageUploadsDocuments/" + file)" target="_blank">@file</a>
                                                            <br />
                                                    }
                                                        }
                                                    </td>
                                                }
                                                else
                                                {
                                                    <td>-</td>
                                                }

                                                @if (_projects.OtherUploads != null)
                                                {
                                                    <td>
                                                        @{
                                                    string[] files = _projects.OtherUploads.ToString().Split(',');
                                                    foreach (string file in files)
                                                    {
                                                        <a href="@Url.Content("~/FileUploads/ProjectOtherUploadsDocuments/" + file)" target="_blank">@file</a>
                                                            <br />
                                                    }
                                                        }
                                                    </td>
                                                }
                                                else
                                                {
                                                    <td>-</td>
                                                }

                                                @if (string.IsNullOrEmpty(_projects.Remarks))
                                                {
                                                    <td>-</td>
                                                }
                                                else
                                                {
                                                    <td>@_projects.Remarks</td>
                                                }

                                                <td>@_projects.Status</td>
                                                <td>@_projects.CreatedOn</td>
                                                
                                                <td><button type="button" class="btn btn-sm btn-icon btn-round btn-success" id="@_projects.ID" onclick="ViewProjectExpenses(this.id)"><i class="icon wb-eye" aria-hidden="true"></i></button></td>
                                            </tr>
                                                i++;
                                        }
                                    }
                                    else
                                    {
                                        <tr>
                                            <td colspan="27" class="no-records-found">No record to display</td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <div id="AppendHere"></div>
                <div class="pagination">
                    @Html.PagedListPager((IPagedList)ViewData["Projects"], page => Url.Action("/Projects", "ExportData", new { page, currentFilter = ViewBag.CurrentFilter }), new PagedListRenderOptions { LinkToFirstPageFormat = "<< First", LinkToPreviousPageFormat = "< Previous", LinkToNextPageFormat = "Next >", LinkToLastPageFormat = "Last >>" })
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    function ViewProjectExpenses(clicked_id)
    {
        var ProjectID = clicked_id;

        var url = "@Url.Action("GetProjectExpensesInfo")";

        if (ProjectID != null)
        {
            $.ajax({
                type: "GET",
                cache: false,
                url: url,
                data: { id: ProjectID },
                success: function (data)
                {
                    $('#AppendHere').html(data);
                    $('#myModal').modal('show');
                },
                error: function (e) {
                    console.log(e);
                    alertify.alert("An error occured while retrieving project expenses record!");
                }
            });
        }
    }
</script>