﻿@using DataAccess.POCO
@using PagedList
@using PagedList.Mvc

@{
    ViewBag.Title = ViewData["SiteName"].ToString();
    ViewBag.PageTitle = "Export Data";
    ViewBag.AExportData = "active";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="page-content container-fluid">
    <div class="panel">
        <div class="panel-body container-fluid">
            <div class="row form-group">
                <a href="@Url.Action("ExportProjectEstimatorsExcel", new { @fromDate = Session["FromDate"].ToString(), @toData = Session["ToDate"].ToString() })" class="btn btn-primary" style="float:left;margin-right:10px;">Download to Excel</a>
                <a href="@Url.Action("Options")" class="btn btn-default" style="float:left;">Back</a>
            </div>
            <div class="row">
                <div class="col-xlg-12 col-md-12">
                    <div class="table-responsive">
                        <table class="table table-hover table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th style="min-width: 50px;">#</th>
                                    <th style="min-width: 100px;">Project ID</th>
                                    <th style="min-width: 180px;">Status</th>
                                    <th style="min-width: 180px;">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    IPagedList<Project> projects = (IPagedList<Project>)ViewData["ProjectEstimators"];

                                    if (projects.Count > 0)
                                    {
                                        int page = Convert.ToInt32(Session["Page"]) - 1;
                                        int pageSize = Convert.ToInt32(Session["PageSize"]);
                                        int i = 1;

                                        foreach (Project _projects in projects)
                                        {
                                            <tr>
                                                <td>@(i + page * pageSize)</td>

                                                <td>@_projects.ProjectID</td>
                                                <td>@_projects.Status</td>

                                                <td><button type="button" class="btn btn-sm btn-icon btn-round btn-success" id="@_projects.ID" onclick="ViewProjectEstimators(this.id)"><i class="icon wb-eye" aria-hidden="true"></i></button></td>
                                            </tr>
                                                i++;
                                        }
                                    }
                                    else
                                    {
                                        <tr>
                                            <td colspan="4" class="no-records-found">No record to display</td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <div id="AppendHere">
                </div>
                <div class="pagination">
                    @Html.PagedListPager((IPagedList)ViewData["ProjectEstimators"], page => Url.Action("/ProjectEstimators", "ExportData", new { page, currentFilter = ViewBag.CurrentFilter }), new PagedListRenderOptions { LinkToFirstPageFormat = "<< First", LinkToPreviousPageFormat = "< Previous", LinkToNextPageFormat = "Next >", LinkToLastPageFormat = "Last >>" })
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    function ViewProjectEstimators(clicked_id)
    {
        var ProjectID = clicked_id;

        var url = "@Url.Action("GetProjectEstimatorsInfo")";

        if (ProjectID != null)
        {
            $.ajax({
                type: "GET",
                cache: false,
                url: url,
                data: { id: ProjectID },
                success: function (data)
                {

                    $('#AppendHere').html(data);
                    $('#myModal').modal('show');
                },
                error: function (e) {
                    console.log(e);
                    alertify.alert("An error occured while retrieving project estimators record!");
                }
            });
        }
    }
</script>