﻿@using DataAccess.POCO
@using PagedList
@using PagedList.Mvc

@{
    ViewBag.Title = ViewData["SiteName"].ToString();
    ViewBag.PageTitle = "Export Data";
    ViewBag.AExportData = "active";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="page-content container-fluid">
    <div class="panel">
        <div class="panel-body container-fluid">
            <div class="row form-group">
                <a href="@Url.Action("ExportQuotationsExcel", new { @fromDate = Session["FromDate"].ToString(), @toData = Session["ToDate"].ToString() })" class="btn btn-primary" style="float:left;margin-right:10px;">Download to Excel</a>
                <a href="@Url.Action("Options")" class="btn btn-default" style="float:left;">Back</a>
            </div>
            <div class="row">
                <div class="col-xlg-12 col-md-12">
                    <div class="table-responsive">
                        <table class="table table-hover table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th style="min-width: 50px;">#</th>
                                    <th style="min-width: 100px;">Quotation ID</th>
                                    <th style="min-width: 150px;">Company Name</th>
                                    <th style="min-width: 150px;">Customer</th>
                                    <th style="min-width: 150px;">Contact Person</th>
                                    <th style="min-width: 150px;">Address</th>
                                    <th style="min-width: 150px;">Tel</th>
                                    <th style="min-width: 150px;">Fax</th>
                                    <th style="min-width: 150px;">Prepared By</th>
                                    <th style="min-width: 100px;">Sales Person</th>
                                    <th style="min-width: 150px;">Quotation Date</th>
                                    <th style="min-width: 150px;">Sales Document Uploads</th>
                                    <th style="min-width: 120px;">Remarks</th>
                                    <th style="min-width: 150px;">Payment Terms</th>
                                    <th style="min-width: 150px;">Status</th>
                                    <th style="min-width: 180px;">Created On</th>
                                    <th style="min-width: 180px;">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    IPagedList<Quotation> quotations = (IPagedList<Quotation>)ViewData["Quotations"];

                                    if (quotations.Count > 0)
                                    {
                                        int page = Convert.ToInt32(Session["Page"]) - 1;
                                        int pageSize = Convert.ToInt32(Session["PageSize"]);
                                        int i = 1;

                                        foreach (Quotation _quotations in quotations)
                                        {
                                            <tr>
                                                <td>@(i + page * pageSize)</td>

                                                <td>@_quotations.QuotationID</td>

                                                @if (string.IsNullOrEmpty(_quotations.CompanyName))
                                                {
                                                    <td>-</td>
                                                }
                                                else
                                                {
                                                    <td>@_quotations.CompanyName</td>
                                                }

                                                @if (_quotations.Customer == null)
                                                {
                                                    <td>-</td>
                                                }
                                                else
                                                {
                                                    if (string.IsNullOrEmpty(_quotations.Customer.CompanyName))
                                                    {
                                                        <td>@_quotations.Customer.CustomerID - @_quotations.Customer.ContactPerson</td>
                                                    }
                                                    else
                                                    {
                                                        <td>@_quotations.Customer.CustomerID - @_quotations.Customer.CompanyName</td>
                                                    }
                                                }

                                                @if (string.IsNullOrEmpty(_quotations.ContactPerson))
                                                {
                                                    <td>-</td>
                                                }
                                                else
                                                {
                                                    <td>@_quotations.ContactPerson</td>
                                                }

                                                @if (string.IsNullOrEmpty(_quotations.Address))
                                                {
                                                    <td>-</td>
                                                }
                                                else
                                                {
                                                    <td>@_quotations.Address</td>
                                                }

                                                @if (string.IsNullOrEmpty(_quotations.Tel))
                                                {
                                                    <td>-</td>
                                                }
                                                else
                                                {
                                                    <td>@_quotations.Tel</td>
                                                }

                                                @if (string.IsNullOrEmpty(_quotations.Fax))
                                                {
                                                    <td>-</td>
                                                }
                                                else
                                                {
                                                    <td>@_quotations.Fax</td>
                                                }


                                                @if (_quotations.PreparedBy == null)
                                                {
                                                    <td>-</td>
                                                }
                                                else
                                                {
                                                    <td>@_quotations.PreparedBy.Name</td>
                                                }

                                                @if (_quotations.SalesPerson == null)
                                                {
                                                    <td>-</td>
                                                }
                                                else
                                                {
                                                    
                                                    <td>@_quotations.SalesPerson.UserID - @_quotations.SalesPerson.Name</td>
                                                }

                                                @if (_quotations.QuotationDate == null)
                                                {
                                                    <td>-</td>
                                                }
                                                else
                                                {
                                                    <td>@Convert.ToDateTime(_quotations.QuotationDate).ToString("MM/dd/yyyy")</td>
                                                }

                                                @if (_quotations.SalesDocumentUploads != null)
                                                {
                                                    <td>
                                                        @{
                                                            string[] files = _quotations.SalesDocumentUploads.ToString().Split(',');
                                                            foreach (string file in files)
                                                            {
                                                                <a href="@Url.Content("~/FileUploads/QuotationSalesDocuments/" + file)" target="_blank">@file</a>
                                                                    <br />
                                                            }
                                                        }
                                                    </td>
                                                }
                                                else
                                                {
                                                    <td>-</td>
                                                }

                                                @if (string.IsNullOrEmpty(_quotations.Remarks))
                                                {
                                                    <td>-</td>
                                                }
                                                else
                                                {
                                                    <td>@_quotations.Remarks</td>
                                                }

                                                @if (string.IsNullOrEmpty(_quotations.PaymentTerms))
                                                {
                                                    <td>-</td>
                                                }
                                                else
                                                {
                                                    <td>@Html.Raw(_quotations.PaymentTerms)</td>
                                                }

                                                @if (string.IsNullOrEmpty(_quotations.Status))
                                                {
                                                    <td>-</td>
                                                }
                                                else
                                                {
                                                    <td>@_quotations.Status</td>
                                                }

                                                <td>@_quotations.CreatedOn</td>
                                                <td>
                                                    <button type="button" title="Quotation Co-broke" class="btn btn-sm btn-icon btn-round btn-success" id="@_quotations.ID" onclick="ViewQuotations(this.id)"><i class="icon wb-eye" aria-hidden="true"></i></button>
                                                    <button type="button" title="Quotation Item Description" class="btn btn-sm btn-icon btn-round btn-primary" id="@_quotations.ID" onclick="ViewQuotationsItemDescriptions(this.id)"><i class="icon wb-eye" aria-hidden="true"></i></button>
                                                </td>
                                            </tr>
                                                i++;
                                        }
                                    }
                                    else
                                    {
                                        <tr>
                                            <td colspan="17" class="no-records-found">No record to display</td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <div id="AppendHere"></div>
                <div class="pagination">
                    @Html.PagedListPager((IPagedList)ViewData["Quotations"], page => Url.Action("/Quotations", "ExportData", new { page, currentFilter = ViewBag.CurrentFilter }), new PagedListRenderOptions { LinkToFirstPageFormat = "<< First", LinkToPreviousPageFormat = "< Previous", LinkToNextPageFormat = "Next >", LinkToLastPageFormat = "Last >>" })
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    function ViewQuotations(clicked_id)
    {

        var QuotationID = clicked_id;

        var url = "@Url.Action("GetQuotationCoBrokeInfo")";

        if (QuotationID != null)
        {
            $.ajax({
                type: "GET",
                cache: false,
                url: url,
                data: { id: QuotationID },
                success: function (data)
                {
                    $('#AppendHere').html(data);
                    $('#myModal').modal('show');
                },
                error: function (e) {
                    console.log(e);
                    alertify.alert("An error occured while retrieving quotation co-broke record!");
                }
            });
        }
    }

    function ViewQuotationsItemDescriptions(clicked_id)
    {

        var QuotationID = clicked_id;

        var url = "@Url.Action("GetQuotationItemDescriptionInfo")";

        if (QuotationID != null)
        {
            $.ajax({
                type: "GET",
                cache: false,
                url: url,
                data: { id: QuotationID },
                success: function (data)
                {
                    $('#AppendHere').html(data);
                    $('#myModal').modal('show');
                },
                error: function (e) {
                    console.log(e);
                    alertify.alert("An error occured while retrieving quotation item description record!");
                }
            });
        }
    }
</script>