﻿@using DataAccess.POCO
@using PagedList
@using PagedList.Mvc

@{
    ViewBag.Title = ViewData["SiteName"].ToString();
    ViewBag.PageTitle = "Export Data";
    ViewBag.AExportData = "active";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="page-content container-fluid">
    <div class="panel">
        <div class="panel-body container-fluid">
            <div class="row form-group">
                <a href="@Url.Action("ExportUsersExcel", new { @fromDate = Session["FromDate"].ToString(), @toData = Session["ToDate"].ToString() })" class="btn btn-primary" style="float:left;margin-right:10px;">Download to Excel</a>
                <a href="@Url.Action("Options")" class="btn btn-default" style="float:left;">Back</a>
            </div>
            <div class="row">
                <div class="col-xlg-12 col-md-12">
                    <div class="table-responsive">
                        <table class="table table-hover table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th style="min-width: 50px;">#</th>
                                    <th style="min-width: 100px;">User ID</th>
                                    <th style="min-width: 150px;">Login ID</th>
                                    <th style="min-width: 150px;">Name</th>
                                    <th style="min-width: 150px;">Address</th>
                                    <th style="min-width: 150px;">Email</th>
                                    <th style="min-width: 150px;">Tel</th>
                                    <th style="min-width: 150px;">Mobile</th>
                                    <th style="min-width: 150px;">Bank Name</th>
                                    <th style="min-width: 150px;">Bank Acc No</th>
                                    <th style="min-width: 150px;">Remarks</th>
                                    <th style="min-width: 100px;">Reminder</th>
                                    <th style="min-width: 150px;">Is Agency Leader</th>
                                    <th style="min-width: 150px;">Upline</th>
                                    <th style="min-width: 120px;">Role</th>
                                    <th style="min-width: 150px;">Position</th>
                                    <th style="min-width: 150px;">Preset Value</th>
                                    <th style="min-width: 200px;">Total Completed Profit</th>
                                    <th style="min-width: 120px;">Status</th>
                                    <th style="min-width: 180px;">Created On</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    IPagedList<User> users = (IPagedList<User>)ViewData["Users"];

                                    if (users.Count > 0)
                                    {
                                        int page = Convert.ToInt32(Session["Page"]) - 1;
                                        int pageSize = Convert.ToInt32(Session["PageSize"]);
                                        int i = 1;

                                        foreach (User _users in users)
                                        {
                                            <tr>
                                                <td>@(i + page * pageSize)</td>

                                                <td>@_users.UserID</td>
                                                <td>@_users.LoginID</td>
                                                <td>@_users.Name</td>

                                                @if (string.IsNullOrEmpty(_users.Address))
                                                {
                                                    <td>-</td>
                                                }
                                                else
                                                {
                                                    <td>@_users.Address</td>
                                                }

                                                @if(string.IsNullOrEmpty(_users.Email))
                                                {
                                                    <td>-</td>
                                                }
                                                else
                                                {
                                                    <td>@_users.Email</td>
                                                }

                                                <td>@_users.Tel</td>

                                                @if(string.IsNullOrEmpty(_users.Mobile))
                                                {
                                                    <td>-</td>    
                                                }
                                                else
                                                {
                                                 <td>@_users.Mobile</td>   
                                                }

                                                @if (string.IsNullOrEmpty(_users.BankName))
                                                {
                                                    <td>-</td>
                                                }
                                                else
                                                {
                                                    <td>@_users.BankName</td>
                                                }

                                                @if (string.IsNullOrEmpty(_users.BankAccNo))
                                                {
                                                    <td>-</td>
                                                }
                                                else
                                                {
                                                    <td>@_users.BankAccNo</td>
                                                }

                                                @if (string.IsNullOrEmpty(_users.Remarks))
                                                {
                                                    <td>-</td>
                                                }
                                                else
                                                {
                                                    <td>@_users.Remarks</td>
                                                }

                                                <td>@_users.Reminder</td>
                                                <td>@_users.IsAgencyLeader</td>

                                                @if (@_users.Upline == null)
                                                {
                                                    <td>-</td>
                                                }
                                                else
                                                {
                                                    if(_users.ID == _users.Upline.ID)
                                                    {
                                                        <td>-</td>
                                                    }
                                                    else
                                                    {
                                                        <td>@_users.Upline.UserID - @_users.Upline.Name</td>
                                                    }


                                                }

                                                <td>@_users.Role</td>

                                                @if (string.IsNullOrEmpty(_users.Position))
                                                {
                                                    <td>-</td>
                                                }
                                                else
                                                {
                                                    <td>@_users.Position</td>
                                                }
                                                <td>@Convert.ToDecimal(_users.PresetValue).ToString("#,##0.00")</td>
                                                <td>@Convert.ToDecimal(_users.TotalCompletedProfit).ToString("#,##0.00")</td>
                                                <td>@_users.Status</td>
                                                <td>@_users.CreatedOn</td>

                                            </tr>
                                                i++;
                                        }
                                    }
                                    else
                                    {
                                        <tr>
                                            <td colspan="20" class="no-records-found">No record to display</td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="pagination">
                    @Html.PagedListPager((IPagedList)ViewData["Users"], page => Url.Action("/Users", "ExportData", new { page, currentFilter = ViewBag.CurrentFilter }), new PagedListRenderOptions { LinkToFirstPageFormat = "<< First", LinkToPreviousPageFormat = "< Previous", LinkToNextPageFormat = "Next >", LinkToLastPageFormat = "Last >>" })
                </div>
            </div>
        </div>
    </div>
</div>