﻿@using DataAccess.POCO

@{
    ViewBag.Title = ViewData["SiteName"].ToString();
    ViewBag.PageTitle = "Edit User";
    ViewBag.AUser = "active open";
    ViewBag.liListUser = "active";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel">
    <div class="panel-body container-fluid">
        <div class="row row-lg">
            <div class="col-md-10">
                <!-- Example Horizontal Form -->
                @using (Html.BeginForm("Edit", "User", FormMethod.Post, new { @class = "form-horizontal" }))
                {

                    User user = (User)ViewData["User"];
                    var Check = ViewData["AbleToUpdate"].ToString() == "No" ? true : false;

                    if (Session["Result"] != null)
                    {
                        string[] result = Session["Result"].ToString().Split('|');

                        <div class="alert alert-@result[0] text-center">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            @result[1]
                        </div>

                        Session.Remove("Result");
                    }

                    <div class="form-group">
                        @Html.LabelFor(u => user.UserID, new { @class = "col-sm-3 control-label" })
                        <div class="col-sm-9">
                            @Html.TextBoxFor(u => user.UserID, new { @class = "form-control", @placeholder = "ID will be Assigned after Creation", @disabled = "disabled" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(u => user.LoginID, new { @class = "col-sm-3 control-label" })
                        <div class="col-sm-9">
                            @Html.TextBoxFor(u => user.LoginID, new { @class = "form-control" })
                            @Html.ValidationMessageFor(u => user.LoginID)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(u => user.Password, new { @class = "col-sm-3 control-label" })
                        <div class="col-sm-9">
                            @Html.Password("Password", null, (Check) ? (object)new { @class = "form-control", @placeholder = "Leave blank if no changes", @disabled = "disabled" } : new { @class = "form-control", @placeholder = "Leave blank if no changes" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(u => user.Name, new { @class = "col-sm-3 control-label" })
                        <div class="col-sm-9">
                            @Html.TextBoxFor(u => user.Name, new { @class = "form-control" })
                            @Html.ValidationMessageFor(u => user.Name)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(u => user.Address, new { @class = "col-sm-3 control-label" })
                        <div class="col-sm-9">
                            @Html.TextBoxFor(u => user.Address, new { @class = "form-control" })
                            @Html.ValidationMessageFor(u => user.Address)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(u => user.Email, new { @class = "col-sm-3 control-label" })
                        <div class="col-sm-9">
                            @Html.TextBoxFor(u => user.Email, new { @class = "form-control" })
                            @Html.ValidationMessageFor(u => user.Email)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(u => user.Tel, new { @class = "col-sm-3 control-label" })
                        <div class="col-sm-9">
                            @Html.TextBoxFor(u => user.Tel, new { @class = "form-control" })
                            @Html.ValidationMessageFor(u => user.Tel)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(u => user.Mobile, new { @class = "col-sm-3 control-label" })
                        <div class="col-sm-9">
                            @Html.TextBoxFor(u => user.Mobile, new { @class = "form-control" })
                            @Html.ValidationMessageFor(u => user.Mobile)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(u => user.BankName, new { @class = "col-sm-3 control-label" })
                        <div class="col-sm-9">
                            @Html.TextBoxFor(u => user.BankName, new { @class = "form-control" })
                            @Html.ValidationMessageFor(u => user.BankName)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(u => user.BankAccNo, new { @class = "col-sm-3 control-label" })
                        <div class="col-sm-9">
                            @Html.TextBoxFor(u => user.BankAccNo, new { @class = "form-control" })
                            @Html.ValidationMessageFor(u => user.BankAccNo)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(u => user.Remarks, new { @class = "col-sm-3 control-label" })
                        <div class="col-sm-9">
                            @Html.TextAreaFor(u => user.Remarks, new { @class = "form-control" })
                            @Html.ValidationMessageFor(u => user.Remarks)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(u => user.Reminder, new { @class = "col-sm-3 control-label" })
                        <div class="col-sm-9">
                            <span class="checkbox-custom checkbox-primary">
                                <input class="form-control" type="checkbox" id="Reminder" name="user.Reminder" @ViewData["CheckReminder"].ToString()>
                                <label for="Reminder">Yes</label>
                                @Html.ValidationMessageFor(u => user.Reminder)
                            </span>
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(u => user.IsAgencyLeader, new { @class = "col-sm-3 control-label" })
                        <div class="col-sm-9">
                            <span class="checkbox-custom checkbox-primary">
                                <input class="form-control" type="checkbox" id="IsAgencyLeader" name="user.IsAgencyLeader" @ViewData["CheckIsAgencyLeader"].ToString()>
                                <label for="IsAgencyLeader">Yes</label>
                                @Html.ValidationMessageFor(u => user.IsAgencyLeader)
                            </span>
                        </div>
                    </div>

                    <div class="form-group" id="upline-div">
                        @Html.LabelFor(u => user.UplineId, new { @class = "col-sm-3 control-label" })
                        <div class="col-sm-9">
                            @Html.DropDownListFor(u => user.UplineId, (SelectList)ViewData["UplineDropdown"], new { @class = "form-control", @data_plugin = "select2", @data_allow_clear = "true", @data_placeholder = "Search by User ID", })
                            @Html.ValidationMessageFor(u => user.UplineId)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(u => user.Role, new { @class = "col-sm-3 control-label" })
                        <div class="col-sm-9">
                            @Html.DropDownListFor(u => user.Role, (SelectList)ViewData["RoleDropdown"], new { @class = "form-control", @data_plugin = "selectpicker", @onchange = "ValidateRole(this)" })
                            @Html.ValidationMessageFor(u => user.Role)
                        </div>
                    </div>

                    <div class="form-group" id="position-div">
                        @Html.LabelFor(u => user.Position, new { @class = "col-sm-3 control-label" })
                        <div class="col-sm-9">
                            @Html.DropDownListFor(u => user.Position, (SelectList)ViewData["PositionDropdown"], new { @class = "form-control", @data_plugin = "selectpicker" })
                            @Html.ValidationMessageFor(u => user.Position)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(u => user.PresetValue, new { @class = "col-sm-3 control-label" })
                        <div class="col-sm-9">
                            <div class="input-group">
                                <span class="input-group-addon">$</span>
                                @Html.TextBoxFor(u => user.PresetValue, new { @class = "form-control", @onchange = "ValidateAmount('user_PresetValue')" })
                            </div>
                            @Html.ValidationMessageFor(u => user.PresetValue)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(u => user.TotalCompletedProfit, new { @class = "col-sm-3 control-label" })
                        <div class="col-sm-9">
                            <div class="input-group">
                                <span class="input-group-addon">$</span>
                                <input type="text" class="form-control" id="preset-value" value="0.00" placeholder="" disabled>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(u => user.Status, new { @class = "col-sm-3 control-label" })
                        <div class="col-sm-9">
                            @Html.DropDownListFor(u => user.Status, (SelectList)ViewData["StatusDropdown"], new { @class = "form-control", @data_plugin = "selectpicker" })
                            @Html.ValidationMessageFor(u => user.Status)
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="col-sm-12">
                            <button type="submit" class="btn btn-primary margin-top-10">Save </button>
                            <button type="reset" class="btn btn-default btn-outline  margin-top-10">Reset</button>
                            @{
                                int page = 1;

                                if (Session["Page"] != null)
                                {
                                    page = Convert.ToInt32(Session["Page"]);
                                }
                            }
                            <a href="@Url.Action("Listing", new { @page = page })" class="btn btn-default btn-outline  margin-top-10">Back</a>

                        </div>
                    </div>
                }

                <!-- End Example Horizontal Form -->
            </div>
        </div>
    </div>
</div>

<script>

    $(document).ready(function () {
        ValidateAmount("user_PresetValue");

        var role = $('#user_Role').val();
        ValidateRole(role);
    })

    function ValidateRole(role) {

        var roleName = role.value;

        if (typeof roleName === 'undefined') {
            roleName = role;
        }

        if (roleName != "Sales") {
            $("#position-div").hide();
        }
        else {
            $("#position-div").show();
        }

        if (roleName == "Accounts") {
            $("#upline-div").hide();
        }
        else {
            $("#upline-div").show();
        }

        if (roleName == "Super Admin") {
            $("#IsAgencyLeader").attr("disabled", true); //force to checked and disable it.
            $("#IsAgencyLeader").prop('checked', true);
        }
        else if (roleName == "Accounts") {
            $("#IsAgencyLeader").attr("disabled", true); //force to checked and disable it.
            $("#IsAgencyLeader").prop('checked', false);
        }
        else {
            $("#IsAgencyLeader").attr("disabled", false); //force to checked and disable it.
            $("#IsAgencyLeader").prop('checked', false);
        }
    }

    function ValidateAmount(id) {
        var amount = $("#" + id).val().replace(",", "");

        if (amount != "") {
            var url = "@Url.Action("ValidateAmount")";

            $.ajax({
                type: "GET",
                cache: false,
                url: url,
                data: { amount: amount },
                success: function (data) {
                    data = JSON.parse(data);

                    if (data.result) {
                        $("#" + id).val(data.newAmount);
                    }
                }
            });
        }
    }
</script>