﻿@using DataAccess.POCO
@using PagedList
@using PagedList.Mvc

@{
    ViewBag.Title = ViewData["SiteName"].ToString();
    ViewBag.PageTitle = "Manage Users";
    ViewBag.AUser = "active open";
    ViewBag.liListUser = "active";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel">
    <div class="panel-body container-fluid">

        <div class="row">
            <div class="col-xlg-12 col-md-12">
                <a class="btn btn-success" href="@Url.Action("Create")" type="button"><i aria-hidden="true" class="icon wb-plus"></i> New User</a>
            </div>
        </div>

        <div class="row margin-top-15">
            <div class="col-xlg-12 col-md-12">
                @using (Html.BeginForm("Listing", "User", FormMethod.Post, new { @class = "page-search-form", @role = "search" }))
                {
                    <div class="input-search input-search-dark">
                        <button type="submit" class="input-search-icon wb-search" aria-label="Search" arial-hidden="true" id="btn-search"></button>
                            @Html.TextBox("SearchKeyword", ViewData["SearchKeyword"].ToString(), new { @class = "form-control", @placeholder = "Search by User Name" })
                            <button type="button" class="input-search-close icon wb-close" aria-label="Close" id="btn-close"></button>
                    </div>

                    <div class="page-user-sortlist pull-right margin-top-15">

                         View: <a class="dropdown-toggle inline-block" data-toggle="dropdown"
                                 href="#" aria-expanded="false">@ViewData["GetStatusValue"].ToString()<span class="caret"></span></a>

                        <ul class="dropdown-menu animation-scale-up animation-top-right animation-duration-250"
                            role="menu" id="SearchStatus">
                            <li role="presentation" id="All"><a href="javascript:void(0)">All Users</a></li>
                            <li role="presentation" id="Active"><a href="javascript:void(0)">Active Only</a></li>
                            <li role="presentation" id="Suspend"><a href="javascript:void(0)">Suspended Only</a></li>
                        </ul>
                        @Html.Hidden("SearchStatusValue", Session["SearchStatus"])
                    </div>
                }
                

            </div>
        </div>

        <div class="row margin-top-15">
            <div class="col-xlg-12 col-md-12">
                <!-- Table -->
                <div>

                    <div class="table-responsive">
                        <table class="table table-hover table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>User ID</th>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Role</th>
                                    <th>Position</th>
                                    <th>Status</th>
                                    <th class="width-50">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    IPagedList<User> users = (IPagedList<User>)ViewData["User"];

                                    if (users.Count > 0)
                                    {
                                        int count = 1;
                                        foreach (User user in users)
                                        {
                                            int col1 = count;
                                            string col2 = "-";
                                            string col3 = "-";
                                            string col4 = "-";
                                            string col5 = "-";
                                            string col6 = "-";
                                            string col7 = user.Status;

                                            if (!string.IsNullOrEmpty(user.UserID))
                                            {
                                                col2 = user.UserID;
                                            }

                                            if (!string.IsNullOrEmpty(user.Name))
                                            {
                                                col3 = user.Name;
                                            }

                                            if (!string.IsNullOrEmpty(user.Email))
                                            {
                                                col4 = user.Email;
                                            }

                                            if (!string.IsNullOrEmpty(user.Role))
                                            {
                                                col5 = user.Role;
                                            }

                                            if (!string.IsNullOrEmpty(user.Position))
                                            {
                                                col6 = user.Position;
                                            }

                                            <tr>
                                                <td>@col1</td>
                                                <td><a href="@Url.Action("View", new { @id = user.ID })">@col2</a></td>
                                                <td>@col3</td>
                                                <td>@col4</td>
                                                <td>@col5</td>
                                                <td>@col6</td>
                                                <td>@col7</td>
                                                <td class="text-nowrap">
                                                    <a href="@Url.Action("Edit", new { @id = user.ID })" class="btn btn-sm btn-icon btn-round btn-default" data-toggle="tooltip" data-original-title="Edit"><i class="icon wb-edit" aria-hidden="true"></i></a>
                                                    @if (user.Status != "Suspend")
                                                    {
                                                        <button type="button" class="btn btn-sm btn-icon btn-round btn-danger" id="@user.ID" onclick="DeleteUser(this.id)" data-toggle="tooltip"
                                                                data-original-title="Delete">
                                                            <i class="icon wb-close" aria-hidden="true"></i>
                                                        </button>
                                                    }
                                                </td>
                                            </tr>

                                            count++;
                                        }
                                    }
                                    else
                                    {
                                        <tr>
                                            <td class="no-record" colspan="8">No record to display</td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- End Table -->
            </div>

            <div class="pagination pagination-no-border">
                @Html.PagedListPager((IPagedList)ViewData["User"], page => Url.Action("/Listing", "User", new { page, currentFilter = ViewBag.CurrentFilter }), new PagedListRenderOptions { LinkToFirstPageFormat = "<< First", LinkToPreviousPageFormat = "< Previous", LinkToNextPageFormat = "Next >", LinkToLastPageFormat = "Last >>" })
            </div>

        </div>
    </div>
</div>

@if (Session["Result"] != null)
{
    string[] result = Session["Result"].ToString().Split('|');

    <script>
        $(document).ready(function () {
            alertify.alert("@result[1]");
        })
    </script>

    Session.Remove("Result");
}

<script>
    $("#SearchStatus li").click(function () {
        
        $("#SearchStatusValue").val($(this).attr('id'));
        $("form[role='search']").submit();
    });
</script>

<script>
    function DeleteUser(clicked_id) {
        alertify.confirm("You are deleting this user! Continue?", function (e) {
            if (e) {

                //alert(clicked_id);
                var url = "@Url.Action("Delete", "User")";
                var id = clicked_id;
                //var fromDate = $('#SearchFromDate').val();
                //var toDate = $('#SearchToDate').val();
                //var status = $('#SearchStatus').val();
                //var objective = $('#SearchObjective').val();

                window.location = url + "?id=" + id;
            }
        });
    }
</script>