﻿<nav class="site-navbar navbar navbar-default navbar-fixed-top navbar-mega" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle hamburger hamburger-close navbar-toggle-left hided"
                data-toggle="menubar">
            <span class="sr-only">Toggle navigation</span>
            <span class="hamburger-bar"></span>
        </button>
        <button type="button" class="navbar-toggle collapsed" data-target="#site-navbar-collapse"
                data-toggle="collapse">
            <i class="icon wb-more-horizontal" aria-hidden="true"></i>
        </button>
        <div class="navbar-brand navbar-brand-center site-gridmenu-toggle" data-toggle="gridmenu">
            <img class="navbar-brand-logo" src="@Url.Content("~/Content/images/logo.png")" title="NODC">
        </div>
    </div>
    <div class="navbar-container container-fluid">
        <!-- Navbar Collapse -->
        <div class="collapse navbar-collapse navbar-collapse-toolbar" id="site-navbar-collapse">
            <!-- Navbar Toolbar -->
            <ul class="nav navbar-toolbar">
                <li class="hidden-float" id="toggleMenubar">
                    <a data-toggle="menubar" href="#" role="button">
                        <i class="icon hamburger hamburger-arrow-left">
                            <span class="sr-only">Toggle menubar</span>
                            <span class="hamburger-bar"></span>
                        </i>
                    </a>
                </li>
            </ul>
            <!-- End Navbar Toolbar -->
            <!-- Navbar Toolbar Right -->
            <ul class="nav navbar-toolbar navbar-right navbar-toolbar-right">

                <li class="dropdown">
                    <a class="navbar-avatar dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false"
                       data-animation="scale-up" role="button">
                        <i class="icon wb-user bg-blue-800 white icon-circle" aria-hidden="true"></i> @Session["LoginID"]
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li role="presentation">
                            <a href="@Url.Action("CustomerProfile", "Customers")" role="menuitem"><i class="icon wb-user" aria-hidden="true"></i> Profile</a>
                        </li>
                        <li class="divider" role="presentation"></li>
                        <li role="presentation">
                            <a href="@Url.Action("Logout", "Home")" role="menuitem"><i class="icon wb-power" aria-hidden="true"></i> Logout</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <!-- End Navbar Toolbar Right -->
        </div>
        <!-- End Navbar Collapse -->
        <!-- Site Navbar Seach -->
        <div class="collapse navbar-search-overlap" id="site-navbar-search">
            <form role="search">
                <div class="form-group">
                    <div class="input-search">
                        <i class="input-search-icon wb-search" aria-hidden="true"></i>
                        <input type="text" class="form-control" name="site-search" placeholder="Search...">
                        <button type="button" class="input-search-close icon wb-close" data-target="#site-navbar-search"
                                data-toggle="collapse" aria-label="Close"></button>
                    </div>
                </div>
            </form>
        </div>
        <!-- End Site Navbar Seach -->
    </div>
</nav>
<div class="site-menubar">
    <div class="site-menubar-body">
        <div>
            <div>
                <ul class="site-menu">
                    <!-- 
                    <li class="site-menu-category">Sales</li>
                    <li class="site-menu-item active open">
                        <a href="index.html" data-slug="dashboard">
                            <i class="site-menu-icon wb-dashboard" aria-hidden="true"></i>
                            <span class="site-menu-title">Task List</span>
                            <div class="site-menu-badge">
                                <span class="badge badge-primary">2</span>
                            </div>
                        </a>
                    </li>
                    <li class="site-menu-item has-sub">
                        <a href="javascript:void(0)">
                            <i class="site-menu-icon wb-users" aria-hidden="true"></i>
                            <span class="site-menu-title">Customers</span>
                            <span class="site-menu-arrow"></span>
                        </a>
                        <ul class="site-menu-sub">
                            <li class="site-menu-item">
                                <a class="animsition-link" href="new-customer.html">
                                    <i class="site-menu-icon " aria-hidden="true"></i>
                                    <span class="site-menu-title">New Customer</span>
                                </a>
                            </li>
                            <li class="site-menu-item">
                                <a class="animsition-link" href="manage-customers.html">
                                    <i class="site-menu-icon " aria-hidden="true"></i>
                                    <span class="site-menu-title">Manage Customers</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="site-menu-item has-sub">
                        <a href="javascript:void(0)">
                            <i class="site-menu-icon wb-order" aria-hidden="true"></i>
                            <span class="site-menu-title">Quotations</span>
                            <span class="site-menu-arrow"></span>
                        </a>
                        <ul class="site-menu-sub">
                            <li class="site-menu-item">
                                <a class="animsition-link" href="new-quotation.html">
                                    <i class="site-menu-icon " aria-hidden="true"></i>
                                    <span class="site-menu-title">New Quotation</span>
                                </a>
                            </li>
                            <li class="site-menu-item">
                                <a class="animsition-link" href="manage-quotations.html">
                                    <i class="site-menu-icon " aria-hidden="true"></i>
                                    <span class="site-menu-title">Manage Quotations</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="site-menu-item has-sub">
                        <a href="javascript:void(0)">
                            <i class="site-menu-icon wb-briefcase" aria-hidden="true"></i>
                            <span class="site-menu-title">Projects</span>
                            <span class="site-menu-arrow"></span>
                        </a>
                        <ul class="site-menu-sub">
                            <li class="site-menu-item">
                                <a class="animsition-link" href="new-project.html">
                                    <i class="site-menu-icon " aria-hidden="true"></i>
                                    <span class="site-menu-title">New Project</span>
                                </a>
                            </li>
                            <li class="site-menu-item">
                                <a class="animsition-link" href="manage-projects.html">
                                    <i class="site-menu-icon " aria-hidden="true"></i>
                                    <span class="site-menu-title">Manage Projects</span>
                                </a>
                            </li>
                            <li class="site-menu-item">
                                <a class="animsition-link" href="project-estimator.html">
                                    <i class="site-menu-icon " aria-hidden="true"></i>
                                    <span class="site-menu-title">Project Estimator</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="site-menu-item has-sub">
                        <a href="javascript:void(0)">
                            <i class="site-menu-icon wb-payment" aria-hidden="true"></i>
                            <span class="site-menu-title">Invoices</span>
                            <span class="site-menu-arrow"></span>
                        </a>
                        <ul class="site-menu-sub">
                            <li class="site-menu-item">
                                <a class="animsition-link" href="new-invoice.html">
                                    <i class="site-menu-icon " aria-hidden="true"></i>
                                    <span class="site-menu-title">New Invoice</span>
                                </a>
                            </li>
                            <li class="site-menu-item">
                                <a class="animsition-link" href="manage-invoices.html">
                                    <i class="site-menu-icon " aria-hidden="true"></i>
                                    <span class="site-menu-title">Manage Invoices</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="site-menu-item">
                        <a href="payout.html">
                            <i class="site-menu-icon wb-envelope-open" aria-hidden="true"></i>
                            <span class="site-menu-title">View Payout</span>
                        </a>
                    </li>
                    -->

                    <li class="site-menu-category">Customers</li>
                    <li class="site-menu-item @ViewBag.AQuotation">
                        <a href="@Url.Action("ListingQuotation", "Customers")">
                            <i class="site-menu-icon wb-order" aria-hidden="true"></i>
                            <span class="site-menu-title">My Quotations</span>
                        </a>
                    </li>
                    <li class="site-menu-item @ViewBag.AProject">
                        <a href="@Url.Action("ListingProject", "Customers")">
                            <i class="site-menu-icon wb-briefcase" aria-hidden="true"></i>
                            <span class="site-menu-title">My Projects</span>
                        </a>
                    </li>
                    <li class="site-menu-item @ViewBag.AInvoice">
                        <a href="@Url.Action("ListingInvoice", "Customers")">
                            <i class="site-menu-icon wb-payment" aria-hidden="true"></i>
                            <span class="site-menu-title">My Invoices</span>
                        </a>
                    </li>
                    @*<li class="site-menu-item @ViewBag.APayout">
                        <a href="@Url.Action("ListingPayout", "Customers")">
                            <i class="site-menu-icon wb-envelope-open" aria-hidden="true"></i>
                            <span class="site-menu-title">View Payout</span>
                        </a>
                    </li>
                    <li class="site-menu-item @ViewBag.AOrganisation">
                        <a href="@Url.Action("Organisation","Customers")">
                            <i class="site-menu-icon wb-pie-chart" aria-hidden="true"></i>
                            <span class="site-menu-title">Organisation Tree</span>
                        </a>
                    </li>*@
                    <!-- 
                    <li class="site-menu-category">Accounts</li>
                    <li class="site-menu-item">
                        <a href="project-finances.html">
                            <i class="site-menu-icon wb-briefcase" aria-hidden="true"></i>
                            <span class="site-menu-title">Project Finances</span>
                        </a>
                    </li>
                    <li class="site-menu-item has-sub">
                        <a href="javascript:void(0)">
                            <i class="site-menu-icon wb-payment" aria-hidden="true"></i>
                            <span class="site-menu-title">Invoices</span>
                            <span class="site-menu-arrow"></span>
                        </a>
                        <ul class="site-menu-sub">
                            <li class="site-menu-item">
                                <a class="animsition-link" href="new-invoice.html">
                                    <i class="site-menu-icon " aria-hidden="true"></i>
                                    <span class="site-menu-title">New Invoice</span>
                                </a>
                            </li>
                            <li class="site-menu-item">
                                <a class="animsition-link" href="manage-invoices.html">
                                    <i class="site-menu-icon " aria-hidden="true"></i>
                                    <span class="site-menu-title">Manage Invoices</span>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="site-menu-category">Super Admin</li>

                    <li class="site-menu-item has-sub">
                        <a href="javascript:void(0)">
                            <i class="site-menu-icon wb-users" aria-hidden="true"></i>
                            <span class="site-menu-title">Customers</span>
                            <span class="site-menu-arrow"></span>
                        </a>
                        <ul class="site-menu-sub">
                            <li class="site-menu-item">
                                <a class="animsition-link" href="new-customer.html">
                                    <i class="site-menu-icon " aria-hidden="true"></i>
                                    <span class="site-menu-title">New Customer</span>
                                </a>
                            </li>
                            <li class="site-menu-item">
                                <a class="animsition-link" href="manage-customers.html">
                                    <i class="site-menu-icon " aria-hidden="true"></i>
                                    <span class="site-menu-title">Manage Customers</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="site-menu-item has-sub">
                        <a href="javascript:void(0)">
                            <i class="site-menu-icon wb-order" aria-hidden="true"></i>
                            <span class="site-menu-title">Quotations</span>
                            <span class="site-menu-arrow"></span>
                        </a>
                        <ul class="site-menu-sub">
                            <li class="site-menu-item">
                                <a class="animsition-link" href="new-quotation.html">
                                    <i class="site-menu-icon " aria-hidden="true"></i>
                                    <span class="site-menu-title">New Quotation</span>
                                </a>
                            </li>
                            <li class="site-menu-item">
                                <a class="animsition-link" href="manage-quotations.html">
                                    <i class="site-menu-icon " aria-hidden="true"></i>
                                    <span class="site-menu-title">Manage Quotations</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="site-menu-item has-sub">
                        <a href="javascript:void(0)">
                            <i class="site-menu-icon wb-briefcase" aria-hidden="true"></i>
                            <span class="site-menu-title">Projects</span>
                            <span class="site-menu-arrow"></span>
                        </a>
                        <ul class="site-menu-sub">
                            <li class="site-menu-item">
                                <a class="animsition-link" href="new-project.html">
                                    <i class="site-menu-icon " aria-hidden="true"></i>
                                    <span class="site-menu-title">New Project</span>
                                </a>
                            </li>
                            <li class="site-menu-item">
                                <a class="animsition-link" href="manage-projects.html">
                                    <i class="site-menu-icon " aria-hidden="true"></i>
                                    <span class="site-menu-title">Manage Projects</span>
                                </a>
                            </li>
                            <li class="site-menu-item">
                                <a class="animsition-link" href="project-estimator.html">
                                    <i class="site-menu-icon " aria-hidden="true"></i>
                                    <span class="site-menu-title">Project Estimator</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="site-menu-item has-sub">
                        <a href="javascript:void(0)">
                            <i class="site-menu-icon wb-payment" aria-hidden="true"></i>
                            <span class="site-menu-title">Invoices</span>
                            <span class="site-menu-arrow"></span>
                        </a>
                        <ul class="site-menu-sub">
                            <li class="site-menu-item">
                                <a class="animsition-link" href="new-invoice.html">
                                    <i class="site-menu-icon " aria-hidden="true"></i>
                                    <span class="site-menu-title">New Invoice</span>
                                </a>
                            </li>
                            <li class="site-menu-item">
                                <a class="animsition-link" href="manage-invoices.html">
                                    <i class="site-menu-icon " aria-hidden="true"></i>
                                    <span class="site-menu-title">Manage Invoices</span>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="site-menu-item has-sub">
                        <a href="javascript:void(0)">
                            <i class="site-menu-icon wb-envelope-open" aria-hidden="true"></i>
                            <span class="site-menu-title">Payout</span>
                            <span class="site-menu-arrow"></span>
                        </a>
                        <ul class="site-menu-sub">
                            <li class="site-menu-item">
                                <a class="animsition-link" href="payout.html">
                                    <i class="site-menu-icon " aria-hidden="true"></i>
                                    <span class="site-menu-title">View Payout</span>
                                </a>
                            </li>
                            <li class="site-menu-item">
                                <a class="animsition-link" href="new-payout.html">
                                    <i class="site-menu-icon " aria-hidden="true"></i>
                                    <span class="site-menu-title">Early Payout</span>
                                </a>
                            </li>
                            <li class="site-menu-item">
                                <a class="animsition-link" href="manage-payout.html">
                                    <i class="site-menu-icon " aria-hidden="true"></i>
                                    <span class="site-menu-title">Manage Payout</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="site-menu-item has-sub">
                        <a href="javascript:void(0)">
                            <i class="site-menu-icon wb-user" aria-hidden="true"></i>
                            <span class="site-menu-title">Users</span>
                            <span class="site-menu-arrow"></span>
                        </a>
                        <ul class="site-menu-sub">
                            <li class="site-menu-item">
                                <a class="animsition-link" href="new-user.html">
                                    <i class="site-menu-icon " aria-hidden="true"></i>
                                    <span class="site-menu-title">New User</span>
                                </a>
                            </li>
                            <li class="site-menu-item">
                                <a class="animsition-link" href="manage-users.html">
                                    <i class="site-menu-icon " aria-hidden="true"></i>
                                    <span class="site-menu-title">Manage Users</span>
                                </a>
                            </li>
                            <li class="site-menu-item">
                                <a class="animsition-link" href="view-calendar.html">
                                    <i class="site-menu-icon " aria-hidden="true"></i>
                                    <span class="site-menu-title">View Sales Calendar</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="site-menu-item">
                        <a href="reports.html">
                            <i class="site-menu-icon wb-stats-bars" aria-hidden="true"></i>
                            <span class="site-menu-title">Reports</span>
                        </a>
                    </li>
                    <li class="site-menu-item">
                        <a href="log.html">
                            <i class="site-menu-icon wb-time" aria-hidden="true"></i>
                            <span class="site-menu-title">Audit Log</span>
                        </a>
                    </li>
                    <li class="site-menu-item">
                        <a href="export.html">
                            <i class="site-menu-icon wb-download" aria-hidden="true"></i>
                            <span class="site-menu-title">Export Data</span>
                        </a>
                    </li>
                    <li class="site-menu-item">
                        <a href="settings.html">
                            <i class="site-menu-icon wb-settings" aria-hidden="true"></i>
                            <span class="site-menu-title">System Settings</span>
                        </a>
                    </li>
                    -->
                </ul>
            </div>
        </div>
    </div>
    <div class="site-menubar-footer">
        <a href="@Url.Action("ListingProject")" class="fold-show" data-placement="top" data-toggle="tooltip" data-original-title="Projects">
            <span class="icon wb-briefcase" aria-hidden="true"></span>
        </a>
        <a href="@Url.Action("ListingInvoice")" data-placement="top" data-toggle="tooltip" data-original-title="Invoices">
            <span class="icon wb-payment" aria-hidden="true"></span>
        </a>
        <a href="@Url.Action("Logout", "Home")" data-placement="top" data-toggle="tooltip" data-original-title="Logout">
            <span class="icon wb-power" aria-hidden="true"></span>
        </a>
    </div>
</div>