﻿<!DOCTYPE html>
<html class="no-js css-menubar" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="MY RENOBUDDY (SG)">
    <meta name="author" content="">
    <title>@ViewBag.Title</title>
    <link rel="apple-touch-icon" href="@Url.Content("~/Content/images/favicon.png?v=2")">
    <link rel="shortcut icon" href="@Url.Content("~/Content/images/favicon.png?v=2")">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="@Url.Content("~/Content/css/bootstrap.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/css/bootstrap-extend.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/css/site.min.css")">

    <!-- Plugins --> 
    <link rel="stylesheet" href="@Url.Content("~/Content/vendor/select2/select2.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/vendor/asscrollable/asScrollable.css")">

    <!-- Plugins For This Page --> 
    <link rel="stylesheet" href="@Url.Content("~/Content/vendor/alertify-js/alertify.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/vendor/bootstrap-select/bootstrap-select.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/vendor/bootstrap-datepicker/bootstrap-datepicker.css")">

    <!-- Page --> 
    <link rel="stylesheet" href="@Url.Content("~/Content/examples/css/dashboard/v1.css")">

    <!-- Fonts --> 
    <link rel="stylesheet" href="@Url.Content("~/Content/fonts/web-icons/web-icons.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/fonts/brand-icons/brand-icons.min.css")">
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,300italic'>
    <link rel="stylesheet" href="@Url.Content("~/Content/fonts/weather-icons/weather-icons.css")">

    <!--[if lt IE 9]>
      <script src="@Url.Content("~/Content/vendor/html5shiv/html5shiv.min.js")"></script>
      <![endif]-->
    <!--[if lt IE 10]>
      <script src="@Url.Content("~/Content/vendor/media-match/media.match.min.js")"></script>
      <script src="@Url.Content("~/Content/vendor/respond/respond.min.js")"></script>
      <![endif]-->
    <!-- Scripts -->
    <script src="@Url.Content("~/Content/vendor/jquery/jquery.js")"></script>
    <script src="@Url.Content("~/Content/vendor/modernizr/modernizr.js")"></script>
    <script src="@Url.Content("~/Content/vendor/breakpoints/breakpoints.js")"></script>
    <script src="@Url.Content("~/Content/js/Draggable.min.js")"></script>
    <script src="@Url.Content("~/Content/js/TweenMax.min.js")"></script>
    <script src="@Url.Content("~/Content/vendor/bootstrap-typehead/bootstrap3-typehead.js")"></script>
    <script>
        Breakpoints();
    </script>
</head>
<body class="dashboard">
    <!--[if lt IE 8]>
          <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
      <![endif]-->

    @RenderPage("~/Views/Shared/_HeaderUser.cshtml")
    @RenderSection("scripts", required: false)
    

    <!-- Page -->
    <div class="page">
        <div class="page-content">
            <div class="page-title">
                <h2>@ViewBag.PageTitle</h2>
            </div>
            @RenderBody()
        </div>
    </div>
    <!-- End Page -->

    <!-- Footer -->
    <footer class="site-footer">
		<span class="site-footer-right" style="color:#000;">© @DateTime.Now.ToString("yyyy") MY RENOBUDDY (SG) PTE LTD</span>
    </footer>

    <!-- Core  --> 
    <script src="@Url.Content("~/Content/vendor/bootstrap/bootstrap.js")"></script>
    <script src="@Url.Content("~/Content/vendor/animsition/jquery.animsition.js")"></script>
    <script src="@Url.Content("~/Content/vendor/asscrollable/jquery.asScrollable.all.js")"></script>
    <script src="@Url.Content("~/Content/vendor/ashoverscroll/jquery-asHoverScroll.js")"></script>

    <!-- Plugins For This Page --> 
    <script src="@Url.Content("~/Content/vendor/alertify-js/alertify.js")"></script>

    <script src="@Url.Content("~/Content/vendor/select2/select2.min.js")"></script>
    <script src="@Url.Content("~/Content/vendor/bootstrap-select/bootstrap-select.js")"></script>
    <script src="@Url.Content("~/Content/vendor/bootstrap-datepicker/bootstrap-datepicker.js")"></script>

    <!-- Scripts --> 
    <script src="@Url.Content("~/Content/js/core.js")"></script>
    <script src="@Url.Content("~/Content/js/site.js")"></script>
    <script src="@Url.Content("~/Content/js/sections/menu.js") "></script>
    <script src="@Url.Content("~/Content/js/sections/menubar.js")"></script>
    <script src="@Url.Content("~/Content/js/sections/gridmenu.js")"></script>
    <script src="@Url.Content("~/Content/js/sections/sidebar.js")"></script>
    <script src="@Url.Content("~/Content/js/components/asscrollable.js")"></script>

    <!-- Scripts For This Page -->
    <script src="@Url.Content("~/Content/js/components/alertify-js.js")"></script>
    <script src="@Url.Content("~/Content/js/components/select2.js")"></script>
    <script src="@Url.Content("~/Content/js/components/bootstrap-select.js")"></script>
    <script src="@Url.Content("~/Content/js/components/bootstrap-datepicker.js")"></script>
    <script src="@Url.Content("~/Content/examples/js/dashboard/v1.js")"></script>
</body>
</html>

<script>
    //To disable form submission when hit Enter
    /*
    $(document).keypress(
    function (event) {
        if (event.which == '13') {
            event.preventDefault();
        }
    });
    */

    $("#btn-close").on("click", function () {
        $("#SearchKeyword").val("");
        $("form[role='search']").submit();
    });
</script>