﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = ViewData["SiteName"].ToString();
    ViewBag.PageTitle = "Reports";
    ViewBag.AReport = "active open";
}

<div class="page-content">
    <div class="panel">
        <div class="panel-body container-fluid">
            <div class="row">
                <div class="col-xlg-12 col-md-12">
                    @using (Html.BeginForm("Options", "Report", FormMethod.Post, new { @class = "form-horizontal" }))
                    {
                        if (Session["Result"] != null)
                        {
                            string[] result = Session["Result"].ToString().Split('|');

                            <div class="alert alert-@result[0] text-center">
                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                                @result[1]
                            </div>

                            Session.Remove("Result");
                        }

                        <div class="form-group">
                            @Html.Label("Report Type", new { @class = "col-sm-3 control-label" })
                            <div class="col-sm-9">
                                @Html.DropDownList("ReportType", (SelectList)ViewData["ReportTypeDropdown"], new { @class = "form-control", @data_plugin = "selectpicker", @onchange = "GetReportType(this)" })
                                @Html.ValidationMessage("ReportType")
                            </div>
                        </div>
                        
                        <!-- Customer Agency -->
                        <div id="div-report-customer-agency" class="form-group" >
                            @Html.Label("Agency", new { @class = "col-sm-3 control-label" })
                            <div class="col-sm-9">
                                @Html.DropDownList("ReportCustomerAgency", (SelectList)ViewData["ReportCustomerAgencyDropdown"], new { @class = "form-control", @data_plugin = "selectpicker" })
                                @Html.ValidationMessage("ReportCustomerAgency")
                            </div>
                        </div>
                        <!-- Customer Agency -->

                        
                        <!-- Project Financial Report -->

                        <div id="div-report-project-code" class="form-group">
                            @Html.Label("Project Code", new { @class = "col-sm-3 control-label" })
                            <div class="col-sm-9">
                                @Html.DropDownList("ReportProjectCode", (SelectList)ViewData["ReportProjectCodeDropdown"], new { @class = "form-control", @data_plugin = "selectpicker" })
                                @Html.ValidationMessage("ReportProjectCode")
                            </div>
                        </div>

                        <div id="div-report-financial-type" class="form-group">
                            @Html.Label("Type", new { @class = "col-sm-3 control-label" })
                            <div class="col-sm-9">
                                @Html.DropDownList("ReportFinancialType", (SelectList)ViewData["ReportFinancialDropdown"], new { @class = "form-control", @data_plugin = "selectpicker" })
                                @Html.ValidationMessage("ReportFinancialType")
                            </div>
                        </div>

                        <!-- Project Financial Report -->
                        <!-- Date Range -->
                        <div id="div-report-dateRange-start" class="form-group">
                            @Html.Label("Report Date Range From", new { @class = "col-sm-3 control-label" })
                            <div class="col-sm-9">
                                @Html.TextBox("ReportDateRangeFrom", ViewData["ReportDateRangeFrom"], new { @class = "form-control datepair-date datepair-start" })
                                @Html.ValidationMessage("ReportDateRangeFrom")
                            </div>
                        </div>

                        <div id="div-report-dateRange-end" class="form-group">
                            @Html.Label("Report Date Range To", new { @class = "col-sm-3 control-label" })
                            <div class="col-sm-9">
                                @Html.TextBox("ReportDateRangeTo", ViewData["ReportDateRangeTo"], new { @class = "form-control datepair-date datepair-start" })
                                @Html.ValidationMessage("ReportDateRangeTo")
                            </div>
                        </div>
                        <!-- Date Range -->
                        
                        <!-- Period -->
                        <div id="div-report-period-start" class="form-group">
                            @Html.Label("Report Period", new { @class = "col-sm-3 control-label" })
                            <div class="col-sm-9">
                                @Html.DropDownList("ReportPeriod", (SelectList)ViewData["ReportPeriodDropdown"], new { @class = "form-control", @data_plugin = "selectpicker" })
                                @Html.ValidationMessage("ReportPeriod")
                            </div>
                        </div>
                        <!-- Period -->

                        <!-- GST -->
                        <div id="div-report-gst" class="form-group">
                            @Html.Label("GST", new { @class = "col-sm-3 control-label" })
                            <div class="col-sm-9">
                                @Html.DropDownList("ReportGST", (SelectList)ViewData["ReportGSTDropdown"], new { @class = "form-control", @data_plugin = "selectpicker" })
                                @Html.ValidationMessage("ReportGST")
                            </div>
                        </div>
                        <!-- GST -->

                        <div class="form-group">
                            <div class="col-sm-9 col-sm-offset-3">
                                <button type="submit" class="btn btn-primary">Generate</button>
                                <button type="button" class="btn btn-primary" onclick="DownloadToExcel()">Download to excel</button>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<script src="@Url.Content("~/Content/vendor/bootstrap-datepicker/bootstrap-datepicker.js")"></script>

<script>

    $(document).ready(function () {

        //$('.datepair-start').datepicker(); //Initialise any date pickers

        var reportType = $("#ReportType").val();

        ShowHideFunction(reportType);

        $("#ReportDateRangeFrom").datepicker({
            //endDate: new Date(),
        }).on("changeDate", function () {
            $("#ReportDateRangeTo").datepicker("setStartDate", new Date($("#ReportDateRangeFrom").datepicker("getDate")));
        });

        console.log($("#ReportDateRangeFrom").datepicker("getDate"));

        $("#ReportDateRangeTo").datepicker({
            startDate: new Date($("#ReportDateRangeFrom").datepicker("getDate")),
            //endDate: new Date()
        });



    })

    function GetReportType(reportType) {
        var reportType = reportType.value;

        ShowHideFunction(reportType);
    }

    function ShowHideFunction(reportType) {

        if (reportType == "ExpenseReports") {
            $("#div-report-dateRange-start").show();
            $("#div-report-dateRange-end").show();
            $("#div-report-gst").show();

            $("#div-report-period-start").hide();
            $("#div-report-customer-agency").hide();
            $("#div-report-financial-type").hide();
            $("#div-report-project-code").hide();
        }
        else if (reportType == "RetainedAmountReports") {
            $("#div-report-dateRange-start").show();
            $("#div-report-dateRange-end").show();

            $("#div-report-gst").hide();
            $("#div-report-period-start").hide();
            $("#div-report-customer-agency").hide();
            $("#div-report-financial-type").hide();
            $("#div-report-project-code").hide();
        }
        else if (reportType == "PayoutReports") {
            $("#div-report-period-start").show();

            $("#div-report-dateRange-start").hide();
            $("#div-report-dateRange-end").hide();
            $("#div-report-gst").hide();
            $("#div-report-customer-agency").hide();
            $("#div-report-financial-type").hide();
            $("#div-report-project-code").hide();
        }
        else if (reportType == "ProjectFinancialReports") {

            $("#div-report-financial-type").show();
            $("#div-report-project-code").show();

            $("#div-report-period-start").hide();
            $("#div-report-dateRange-start").hide();
            $("#div-report-dateRange-end").hide();
            $("#div-report-gst").hide();
            $("#div-report-customer-agency").hide();
        }
        else if (reportType == "CommissionReports") {
            $("#div-report-period-start").show();
            $("#div-report-customer-agency").show();

            $("#div-report-dateRange-start").hide();
            $("#div-report-dateRange-end").hide();
            $("#div-report-gst").hide();
            $("#div-report-financial-type").hide();
            $("#div-report-project-code").hide();
        }
    }

    function DownloadToExcel() {
        var reportType = $("#ReportType").val();

        //Check Report Type
        if (reportType == "ExpenseReports") {
            var DateRangeFrom = $("#ReportDateRangeFrom").val();
            var DateRangeTo = $("#ReportDateRangeTo").val();
            var GST = $("#ReportGST").val();

            $("#div-report-period-start").hide();
            $("#div-report-period-end").hide();

            window.location.href = "@Url.Action("SetPeriodSession")?reportType=" + reportType + "&reportDateRangeFrom=" + DateRangeFrom + "&reportDateRangeTo=" + DateRangeTo + "&reportGST=" + GST;
        }
        else if (reportType == "CommissionReports") {
            var period = $("#ReportPeriod").val();
            var agency = $("#ReportCustomerAgency").val();

            window.location.href = "@Url.Action("SetPeriodSession")?reportType=" + reportType + "&reportPeriod=" + period + "&reportAgency=" + agency;
        }
        else if (reportType == "PayoutReports") {
            var period = $("#ReportPeriod").val();
            window.location.href = "@Url.Action("SetPeriodSession")?reportType=" + reportType + "&reportPeriod=" + period;
        }
        else if (reportType == "ProjectFinancialReports") {
            var projectCode = $("#ReportProjectCode").val();
            var projectType = $("#ReportFinancialType").val();

            window.location.href = "@Url.Action("SetPeriodSession")?reportType=" + reportType + "&reportProjectCode=" + projectCode + "&reportProjectType=" + projectType;
        }
        else if (reportType == "RetainedAmountReports") {
            var DateRangeFrom = $("#ReportDateRangeFrom").val();
            var DateRangeTo = $("#ReportDateRangeTo").val();

            window.location.href = "@Url.Action("SetPeriodSession")?reportType=" + reportType + "&reportDateRangeFrom=" + DateRangeFrom + "&reportDateRangeTo=" + DateRangeTo;
        }
    }
</script>