﻿@using DataAccess.Report
@using PagedList
@using PagedList.Mvc

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = ViewData["SiteName"].ToString();
    ViewBag.PageTitle = "Reports - Payout Reports";
    ViewBag.AReport = "active open";
}

<div class="page-content container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-bordered">
                <div class="panel-heading">
                    <h3 class="panel-title"><span class="icon wb-order" aria-hidden="true"></span> Payout Reports - @ViewData["Period"]</h3>
                </div>
                <div class="panel-body">
                    <div class="col-xs-12 margin-bottom-20">
                        <div class="col-xlg-6 col-md-6" style="padding-left: 0px;padding-right: 0px;">
                            <a href="@Url.Action("DownloadPayoutReports")" class="btn btn-danger">Download to Excel </a>
                            <a href="@Url.Action("Options")" class="btn btn-default btn-outline">Back </a>
                        </div>
                        <div class="col-xlg-6 col-md-6" style="padding-left: 0px;padding-right: 0px;">
                            @using (Html.BeginForm("PayoutReports", "Report", FormMethod.Post, new { @class = "page-search-form", @role = "search", @id = "form-search" }))
                            {
                                <div class="col-md-3 margin-top-15 pull-right">
                                    @Html.DropDownList("PageSize", (SelectList)ViewData["PageSizeDropdown"], new { @class = "form-control", @data_plugin = "selectpicker", @onchange = "PageSizeChange()" })
                                </div>
                                @Html.Label("Page Size:", new { @class = "col-md-3 pull-right", @style = "top:21px;text-align:right;" })
                            }
                        </div>
                    </div>

                    <div class="col-xs-12">
                        <div class="table-responsive">
                            <table class="table table-hover table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Name</th>
                                        <th>Email</th>
                                        <th>Bank Number</th>
                                        <th>Bank Name</th>
                                        <th>Commission Amount</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        IPagedList<PayoutReport> reports = (IPagedList<PayoutReport>)ViewData["PayoutReport"];

                                        if (reports.Count > 0)
                                        {
                                            int page = Convert.ToInt32(Session["Page"]) - 1;
                                            int pageSize = Convert.ToInt32(Session["PageSize"]);
                                            int i = 1;

                                            foreach (PayoutReport report in reports)
                                            {

                                                <tr>
                                                    <td>@(i + page * pageSize)</td>
                                                    <td>@report.Name</td>

                                                    @if (!string.IsNullOrEmpty(report.NRIC))
                                                    {
                                                        <td>@report.NRIC</td>
                                                    }
                                                    else
                                                    {
                                                        <td>-</td>
                                                    }

                                                    @if (!string.IsNullOrEmpty(report.BankNumber))
                                                    {
                                                        <td>@report.BankNumber</td>
                                                    }
                                                    else
                                                    {
                                                        <td>-</td>
                                                    }
                                                    
                                                    @if (!string.IsNullOrEmpty(report.BankName))
                                                    {
                                                        <td>@report.BankName</td>
                                                    }
                                                    else
                                                    {
                                                        <td>-</td>
                                                    }

                                                    
                                                    <td>@report.CommissionAmount</td>
                                                </tr>
                                                i++;
                                            }
                                        }
                                        else
                                        {
                                            <tr>
                                                <td colspan="6" class="no-records-found">No record to display</td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="pagination">
                        @Html.PagedListPager((IPagedList)ViewData["PayoutReport"], page => Url.Action("/PayoutReports", "Report", new { page, currentFilter = ViewBag.CurrentFilter }), new PagedListRenderOptions { LinkToFirstPageFormat = "<< First", LinkToPreviousPageFormat = "< Previous", LinkToNextPageFormat = "Next >", LinkToLastPageFormat = "Last >>" })
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function PageSizeChange() {
        $("#form-search").submit();
    }
</script>