﻿@using DataAccess.Report
@using PagedList
@using PagedList.Mvc

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = ViewData["SiteName"].ToString();
    ViewBag.PageTitle = "Reports - Project Financial Reports";
    ViewBag.AReport = "active open";
}

<div class="page-content container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-bordered">
                <div class="panel-heading">
                    <h3 class="panel-title"><span class="icon wb-order" aria-hidden="true"></span> Project Financial Reports - @ViewData["ProjectCode"]</h3>
                </div>
                <div class="panel-body">
                    <div class="col-xs-12 margin-bottom-20">
                        <div class="col-xlg-6 col-md-6" style="padding-left: 0px;padding-right: 0px;">
                            <a href="@Url.Action("DownloadProjectFinancialReports")" class="btn btn-danger">Download to Excel </a>
                            <a href="@Url.Action("Options")" class="btn btn-default btn-outline">Back </a>
                        </div>
                        <div class="col-xlg-6 col-md-6" style="padding-left: 0px;padding-right: 0px;">
                            @using (Html.BeginForm("ProjectFinancialReports", "Report", FormMethod.Post, new { @class = "page-search-form", @role = "search", @id = "form-search" }))
                            {
                                <div class="col-md-3 margin-top-15 pull-right">
                                    @Html.DropDownList("PageSize", (SelectList)ViewData["PageSizeDropdown"], new { @class = "form-control", @data_plugin = "selectpicker", @onchange = "PageSizeChange()" })
                                </div>
                                @Html.Label("Page Size:", new { @class = "col-md-3 pull-right", @style = "top:21px;text-align:right;" })
                            }
                        </div>
                    </div>

                    @if (ViewData["FinancialType"].ToString() == "Invoice")
                    {
                        <div class="col-xs-12">
                            <div class="table-responsive">
                                <h3>Invoice</h3>
                                <table class="table table-hover table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Invoice ID</th>
                                            <th>Description</th>
                                            <th>Percentage</th>
                                            <th>Status</th>
                                            <th>Amount</th>
                                            <th>Bill Date</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{
                                            IPagedList<ProjectFinancialReport> reports = (IPagedList<ProjectFinancialReport>)ViewData["FinancialReport"];

                                            if (reports.Count > 0)
                                            {
                                                int page = Convert.ToInt32(Session["iPage"]) - 1;
                                                int pageSize = Convert.ToInt32(Session["PageSize"]);
                                                int i = 1;

                                                foreach (ProjectFinancialReport report in reports)
                                                {

                                                    <tr>
                                                        <td>@(i + page * pageSize)</td>
                                                        <td>@report.InvoiceID</td>
                                                        <td>@report.Description</td>
                                                        <td>@report.Percentage</td>
                                                        <td>@report.Status</td>
                                                        <td>@report.Amount</td>
                                                        <td>@report.BillDate</td>
                                                    </tr>
                                                    i++;
                                                }
                                            }
                                            else
                                            {
                                                <tr>
                                                    <td colspan="6" class="no-records-found">No record to display</td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="pagination">
                            @Html.PagedListPager((IPagedList)ViewData["FinancialReport"], iPage => Url.Action("/ProjectFinancialReports", "Report", new { iPage, currentFilter = ViewBag.CurrentFilter }), new PagedListRenderOptions { LinkToFirstPageFormat = "<< First", LinkToPreviousPageFormat = "< Previous", LinkToNextPageFormat = "Next >", LinkToLastPageFormat = "Last >>" })
                        </div>
                    }
                    else if (ViewData["FinancialType"].ToString() == "Expense")
                    {
                        <div class="col-xs-12">
                            <div class="table-responsive">
                                <h3>Expense</h3>
                                <table class="table table-hover table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Description</th>
                                            <th>Supplier Name</th>
                                            <th>Invoice No</th>
                                            <th>Date</th>
                                            <th>GST</th>
                                            <th>Cost (before GST)</th>
                                            <th>Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{
                                            IPagedList<ProjectFinancialReport.ExpenseReport> reports = (IPagedList<ProjectFinancialReport.ExpenseReport>)ViewData["FinancialReport"];

                                            if (reports.Count > 0)
                                            {
                                                int page = Convert.ToInt32(Session["ePage"]) - 1;
                                                int pageSize = Convert.ToInt32(Session["PageSize"]);
                                                int i = 1;

                                                foreach (ProjectFinancialReport.ExpenseReport report in reports)
                                                {

                                                    <tr>
                                                        <td>@(i + page * pageSize)</td>
                                                        <td>@report.Description</td>
                                                        <td>@report.SupplierName</td>
                                                        <td>@report.InvoiceNo</td>
                                                        <td>@report.Date</td>
                                                        <td>@report.GST</td>
                                                        <td>@report.Cost</td>
                                                        <td>@report.Status</td>
                                                    </tr>
                                                    i++;
                                                }
                                            }
                                            else
                                            {
                                                <tr>
                                                    <td colspan="7" class="no-records-found">No record to display</td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="pagination">
                            @Html.PagedListPager((IPagedList)ViewData["FinancialReport"], ePage => Url.Action("/ProjectFinancialReports", "Report", new { ePage, currentFilter = ViewBag.CurrentFilter }), new PagedListRenderOptions { LinkToFirstPageFormat = "<< First", LinkToPreviousPageFormat = "< Previous", LinkToNextPageFormat = "Next >", LinkToLastPageFormat = "Last >>" })
                        </div>
                    }
                    else
                    {
                        <div class="col-xs-12">
                            <div class="table-responsive">
                                <h3>Invoice</h3>
                                <table class="table table-hover table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Invoice ID</th>
                                            <th>Description</th>
                                            <th>Percentage</th>
                                            <th>Status</th>
                                            <th>Amount</th>
                                            <th>Bill Date</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{
                                            IPagedList<ProjectFinancialReport> reports = (IPagedList<ProjectFinancialReport>)ViewData["FinancialReport"];

                                            if (reports.Count > 0)
                                            {
                                                int page = Convert.ToInt32(Session["iPage"]) - 1;
                                                int pageSize = Convert.ToInt32(Session["PageSize"]);
                                                int i = 1;

                                                foreach (ProjectFinancialReport report in reports)
                                                {

                                                    <tr>
                                                        <td>@(i + page * pageSize)</td>
                                                        <td>@report.InvoiceID</td>
                                                        <td>@report.Description</td>
                                                        <td>@report.Percentage</td>
                                                        <td>@report.Status</td>
                                                        <td>@report.Amount</td>
                                                        <td>@report.BillDate</td>
                                                    </tr>
                                                    i++;
                                                }
                                            }
                                            else
                                            {
                                                <tr>
                                                    <td colspan="6" class="no-records-found">No record to display</td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>

                            <div class="pagination">
                                @Html.PagedListPager((IPagedList)ViewData["FinancialReport"], iPage => Url.Action("/ProjectFinancialReports", "Report", new { ePage = Session["ePage"].ToString(), iPage, currentFilter = ViewBag.CurrentFilter }), new PagedListRenderOptions { LinkToFirstPageFormat = "<< First", LinkToPreviousPageFormat = "< Previous", LinkToNextPageFormat = "Next >", LinkToLastPageFormat = "Last >>" })
                            </div>
                        </div>

                                <div class="col-xs-12">
                                <div class="table-responsive">
                                    <h3>Expense</h3>
                                    <table class="table table-hover table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Description</th>
                                                <th>Supplier Name</th>
                                                <th>Invoice No</th>
                                                <th>Date</th>
                                                <th>GST</th>
                                                <th>Cost (before GST)</th>
                                                <th>Status</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @{
                                            IPagedList<ProjectFinancialReport.ExpenseReport> expenseReports = (IPagedList<ProjectFinancialReport.ExpenseReport>)ViewData["FinancialExpenseReport"];

                                                if (expenseReports.Count > 0)
                                                {
                                                    int page = Convert.ToInt32(Session["ePage"]) - 1;
                                                    int pageSize = Convert.ToInt32(Session["PageSize"]);
                                                    int i = 1;

                                                    foreach (ProjectFinancialReport.ExpenseReport report in expenseReports)
                                                    {

                                                        <tr>
                                                            <td>@(i + page * pageSize)</td>
                                                            <td>@report.Description</td>
                                                            <td>@report.SupplierName</td>
                                                            <td>@report.InvoiceNo</td>
                                                            <td>@report.Date.ToString("dd/MM/yyyy")</td>
                                                            <td>@report.GST</td>
                                                            <td>@report.Cost</td>
                                                            <td>@report.Status</td>
                                                        </tr>
                                                        i++;
                                                    }
                                                }
                                                else
                                                {
                                                    <tr>
                                                        <td colspan="7" class="no-records-found">No record to display</td>
                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>

                                    <div class="pagination">
                                        @Html.PagedListPager((IPagedList)ViewData["FinancialExpenseReport"], ePage => Url.Action("/ProjectFinancialReports", "Report", new { iPage = Session["iPage"].ToString(), ePage, currentFilter = ViewBag.CurrentFilter }), new PagedListRenderOptions { LinkToFirstPageFormat = "<< First", LinkToPreviousPageFormat = "< Previous", LinkToNextPageFormat = "Next >", LinkToLastPageFormat = "Last >>" })
                                    </div>
                            </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function PageSizeChange() {
        $("#form-search").submit();
    }
</script>