.google-visualization-orgchart-table { 
	border-collapse: separate;
}

.google-visualization-orgchart-table .google-visualization-orgchart-node {
	width: 150px;
	background: #62a8ea !important;
	color: #FFF;
	border: none !important;
	padding: 5px !important;
}

.google-visualization-orgchart-table .google-visualization-orgchart-nodesel {
	background: #ababab !important;
}