﻿@using DataAccess
@using DataAccess.POCO

@{
    ViewBag.Title = ViewData["SiteName"].ToString();
    ViewBag.PageTitle = "Project Finances";
    ViewBag.ACreateProjectFinance = "active";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Example Horizontal Form -->
@using (Html.BeginForm("Create", "ProjectFinance", FormMethod.Post, new { @id = "form-create", @class = "form-horizontal" }))
{
    <div class="panel">
        <div class="panel-body container-fluid">

            <div class="row row-lg">
                <div class="col-md-10">
                    @{
                        Project project = new Project();
                    }

                    @if (Session["Result"] != null)
                    {
                        string[] result = Session["Result"].ToString().Split('|');

                        <div class="alert alert-@result[0] text-center">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            @result[1]
                        </div>

                        Session.Remove("Result");
                    }
                    
                    <h4>Project Info</h4>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Project ID *</label>
                        <div class="col-sm-9">
                            @Html.DropDownListFor(p => project.ID, (SelectList)ViewData["ProjectDropdown"], "", new { @class = "form-control", @data_plugin = "select2", @data_allow_clear = "true", @data_placeholder = "Search by Project ID or Customer Name", @onchange = "GetProjectTotalInfo(this)" })
                            @Html.ValidationMessageFor(p => project.ID)
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Project Status</label>
                        <div class="col-sm-9">
                            @Html.TextBox("project_Status",ViewData["Status"], new { @class = "form-control", @disabled = "disabled" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel">
        <div class="panel-body container-fluid">
            <div class="row row-lg">
                <div class="col-md-9">
                    <h4>Payment Summary</h4>

                    <div class="form-group">
                        <div class="col-sm-12 table-responsive">
                            <table class="table table-hover table-condensed" data-striped="true" data-height="250" data-mobile-responsive="true" id="PaymentSummaryTable">
                                <thead>
                                    <tr>
                                        <th class="width-50">#</th>
                                        <th class="width-100">Invoice ID</th>
                                        <th class="width-100">Description</th>
                                        <th class="width-50">Percentage</th>
                                        <th class="width-50">Status</th>
                                        <th class="width-50">Amount</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        if (ViewData["Invoice"] != null)
                                        {
                                            IList<Invoice> invoice = (IList<Invoice>)ViewData["Invoice"];

                                            int count = 1;
                                            string Percentage = "";

                                            foreach (Invoice _invoice in invoice)
                                            {

                                                foreach (InvoiceItemDescription _itemDescription in _invoice.ItemDescriptions)
                                                {
                                                    if (string.IsNullOrEmpty(_itemDescription.PercentageOfQuotation))
                                                    {
                                                        Percentage = "-";
                                                    }
                                                    else
                                                    {
                                                        Percentage = _invoice.ItemDescriptions[0].PercentageOfQuotation + "%";
                                                    }

                                                    <tr>
                                                        <td>@count</td>
                                                        <td>@_invoice.InvoiceID</td>
                                                        <td>@_itemDescription.Description</td>
                                                        <td>@Percentage</td>
                                                        <td>@_invoice.Status</td>
                                                        <td>$@_invoice.GrandTotalAmount.ToString("#,##0.00")</td>
                                                    </tr>
                                                    count++;
                                                }
                                            }
                                        }
                                        else
                                        {
                                            <tr>
                                                <td class="no-record" colspan="6">No Invoice</td>
                                            </tr>
                                        }
}
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="panel">
        <div class="panel-body container-fluid">
            <div class="row row-lg">
                <div class="col-md-9">
                    <h4>Profit & Loss Summary</h4>

                    <div class="form-group">
                        <div class="col-sm-12 table-responsive">
                            <table class="table table-hover table-condensed" data-striped="true" data-height="250" data-mobile-responsive="true">
                                <thead>
                                    <tr>
                                        <th class="width-200">Description</th>
                                        <th class="width-50">Amount</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Total Revenue</td>
                                        <td id="TotalRevenue">$@ViewData["TotalRevenue"]</td>
                                    </tr>
                                    <tr>
                                        <td>Total Expenses</td>
                                        <td id="TotalExpenses">$@ViewData["TotalExpenses"]</td>
                                    </tr>

                                    <tr style="border-top:2px solid black; border-bottom:3px double black" id="TotalProfitRow" @ViewData["highlight"]>
                                        <td>Total Profit</td>
                                        <td id="TotalProfit">$@ViewData["TotalProfit"]</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <span class="small red-700">* Project Profit Margin < 17% of Revenue will be highlighted red.</span>

                </div>
            </div>
        </div>
    </div>

    <div class="panel">
        <div class="panel-body container-fluid">
            <div class="row row-lg">
                <div class="col-md-12">
                    <h4>Project Expenses</h4>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <button type="button" class="btn btn-primary" id="add_new">Add Item </button>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12 table-responsive">
                            <table class="table table-hover table-condensed table-bordered" data-striped="true" data-height="250" data-mobile-responsive="true" id="tbl">
                                <thead>
                                    <tr>
                                        <th style="min-width:50px">#</th>
                                        <th style="min-width:300px">Description *</th>
                                        <th style="min-width:150px">Supplier Name *</th>
                                        <th style="min-width:150px">Invoice No *</th>
                                        <th style="min-width:100px">Date *</th>
                                        <th style="min-width:100px">GST</th>
                                        <th style="min-width:100px">Cost (before GST) *</th>
                                        <th style="min-width:100px">Status</th>
                                        <th style="min-width:50px">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (ViewData["ProjectExpensesTable"] != null)
                                    {
                                        List<ProjectProjectExpensesTable> projectExpensesTable = (List<ProjectProjectExpensesTable>)ViewData["ProjectExpensesTable"];
                                        int count = 1;

                                        foreach (ProjectProjectExpensesTable _projectExpensesTable in projectExpensesTable)
                                        {
                                            <tr id="RowID-@_projectExpensesTable.RowId">
                                                <td><div class="calculateNumber">@count</div></td>
                                                <td>
                                                    @Html.TextBox("ProjectExpensesDescription_" + _projectExpensesTable.RowId, _projectExpensesTable.Description, new { @class = "form-control" })
                                                    @Html.ValidationMessage("ProjectExpensesDescription_" + _projectExpensesTable.RowId)
                                                </td>
                                                <td>
                                                    @Html.TextBox("ProjectExpensesSupplierName_" + _projectExpensesTable.RowId, _projectExpensesTable.SupplierName, new { @class = "form-control" })
                                                    @Html.ValidationMessage("ProjectExpensesSupplierName_" + _projectExpensesTable.RowId)
                                                </td>
                                                <td>
                                                    @Html.TextBox("ProjectExpensesInvoiceNo_" + _projectExpensesTable.RowId, _projectExpensesTable.InvoiceNo, new { @class = "form-control" })
                                                    @Html.ValidationMessage("ProjectExpensesInvoiceNo_" + _projectExpensesTable.RowId)
                                                </td>
                                                <td>
                                                    @Html.TextBox("ProjectExpensesDate_" + _projectExpensesTable.RowId, _projectExpensesTable.Date, new { @class = "form-control datepair-date datepair-start" })
                                                    @Html.ValidationMessage("ProjectExpensesDate_" + _projectExpensesTable.RowId)

                                                    <script>
                                                        $("#ProjectExpensesDate_" + @_projectExpensesTable.RowId).datepicker(); // attach to new elements
                                                    </script>

                                                </td>
                                                <td>
                                                    @Html.DropDownList("ProjectExpensesGST_" + _projectExpensesTable.RowId, _projectExpensesTable.GST, new { @class = "form-control" })
                                                    @Html.ValidationMessage("ProjectExpensesGST_" + _projectExpensesTable.RowId)
                                                </td>
                                                <td>
                                                    <div class="input-group">
                                                        <span class="input-group-addon">$</span>
                                                        @Html.TextBox("ProjectExpensesCostBeforeGST_" + _projectExpensesTable.RowId, _projectExpensesTable.CostBeforeGST, new { @class = "form-control CostBeforeGST", @onchange = "ValidateAmount('ProjectExpensesCostBeforeGST_" + _projectExpensesTable.RowId + "')" })
                                                        @Html.ValidationMessage("ProjectExpensesCostBeforeGST_" + _projectExpensesTable.RowId)
                                                    </div>
                                                </td>
                                                <td>
                                                    @Html.DropDownList("ProjectExpensesStatus_" + _projectExpensesTable.RowId, _projectExpensesTable.Status, new { @class = "form-control" })
                                                    @Html.ValidationMessage("ProjectExpensesStatus_" + _projectExpensesTable.RowId)
                                                </td>
                                                <td class="text-nowrap">
                                                    <button type="button" id="id_button" class="btn btn-sm btn-icon btn-round btn-danger" data-toggle="tooltip">
                                                        <i class="icon wb-close" aria-hidden="true"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                            count++;
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-12">
                            <button type="submit" class="btn btn-primary margin-top-10">Save </button>
                            <button type="reset" class="btn btn-default btn-outline margin-top-10">Reset</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
}
<!-- End Example Horizontal Form -->

<script>
    $(document).ready(function ()
    {
        //Disable Add New Button
        //$('#add_new').prop("disabled", true);

        var ProjectID = $("#project_ID").val();

        if(ProjectID != "")
        {
            getPaymentSummaryInfo(ProjectID);
        }
    });

    function GetProjectTotalInfo(id)
    {
        var ProjectID = id.value;

        if (typeof ProjectID === 'undefined' || ProjectID === null)
        {
            ProjectID = id;
        }

        var url = "@Url.Action("GetProjectInfo")";

        if (ProjectID != "")
        {
            $.ajax({
                type: "GET",
                cache: false,
                url: url,
                data: { id: ProjectID },
                success: function (data)
                {
                    data = JSON.parse(data);

                    if (data.Result)
                    {
                        //console.log(data);
                        $("#project_Status").val(data.projectStatus);
                        $("#TotalRevenue").html("$" + data.TotalRevenue);
                        $("#TotalExpenses").html("$" + data.TotalExpenses);
                        $("#TotalProfit").html("$" + data.TotalProfit);

                        $("#TotalProfitRow").removeClass("bg-red-200");
                        $("#TotalProfitRow").addClass(data.highlight);

                        var projectExpensesView = JSON.parse(data.ProjectExpensesView);

                        $("#tbl tbody").html(projectExpensesView);
                        RecalculateNumber();
                        $('#add_new').prop("disabled", false);
                        getPaymentSummaryInfo(ProjectID);
                    }
                },
                error: function (e)
                {
                    console.log(e);
                    alertify.alert("An error occured while retrieving project record!");
                }
            });

        }
        else
        {
            $("#project_Status").val("");

            $('#TotalRevenue').html("$0.00");
            $('#TotalExpenses').html("$0.00");
            $('#TotalProfit').html("$0.00");
            $("#TotalProfitRow").removeClass("bg-red-200");

            $("#tbl > tbody").html("");
            $("#PaymentSummaryTable > tbody").html("<tr><td class='no-record' colspan='6'>No Invoice</td></tr>");
        }
    }

    function getPaymentSummaryInfo(ProjectID)
    {
        var GetID = ProjectID;
        var url = "@Url.Action("GetPaymentSummaryProject")";

        $.ajax({
            type: "GET",
            cache: false,
            url: url,
            data: { id: GetID },
            success: function (data) {
                $('#PaymentSummaryTable > tbody').html(data);
            },
            error: function (e) {
                console.log(e);
                alertify.alert("An error occured while retrieving payment summary record!");
            }
        });
    }

    function RecalculateNumber() {
        var count = 1;
        $(".calculateNumber").each(function () {
            //console.log(this);
            this.innerHTML = count;
            count++;
        })
    }

    $('#add_new').click(function () {

        $("#add_new").attr("disabled", true);

        var url = "@Url.Action("GetProjectExpensesNew")";

        var rowId = 1;
        var ProjectExpensesRow = $("#tbl tbody tr").length;
        if (ProjectExpensesRow > 0) {
            var _rowId = $("#tbl tbody tr:last")[0].id.split("-");
            rowId = parseInt(_rowId[1]) + 1;
        }

        $.ajax({
            type: "GET",
            cache: false,
            url: url,
            data: { id: rowId },
            success: function (data) {
                $("#tbl tbody").append(data);
                $("#ProjectExpensesDate_" + rowId).datepicker(); // attach to new elements
                RecalculateNumber();
                $("#add_new").prop("disabled", false);
            },
            error: function (e) {
                console.log(e);
                alertify.alert("An error occured while retrieving project expenses record!");
            }
        });
    });

    $('#tbl').on('click', '#id_button', function (e) {

        var rowID = $(this).closest('tr');

        alertify.confirm("Are you sure you want to remove this item?", function (e) {
            if (e) {
                rowID.remove();
                RecalculateNumber();
                alertify.success("Item has been removed!");

                var TotalExpenses = 0;

                var CostBeforeGST = $('.CostBeforeGST').map(function () {
                    var Check = $(this).val().replace(/,/g, '');

                    if (Check == "" || isNaN(Check / 1)) {
                        Check = 0;
                    }

                    TotalExpenses += parseFloat(Check);
                }).get();

                var TotalRevenue = $('#TotalRevenue').html().replace("$", "");

                var FormattedTotalRevenue = TotalRevenue.replace(/,/g, '');

                var TotalProfit = parseFloat(FormattedTotalRevenue) - parseFloat(TotalExpenses);

                $('#TotalExpenses').html("$" + TotalExpenses.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, "$1,").toString());
                $('#TotalProfit').html("$" + TotalProfit.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, "$1,").toString());

                var CheckMargin = (TotalProfit / FormattedTotalRevenue) * 100;

                //Check Margin Color
                if (CheckMargin != 0) {
                    if (CheckMargin < 17) {
                        $("#TotalProfitRow").addClass("bg-red-200");
                    }
                    else {
                        $("#TotalProfitRow").removeClass("bg-red-200");
                    }
                }
            }
        });
    })

    function CalculateTotalExpenses(amount) {
        var TotalExpenses = 0;

        var CostBeforeGST = $('.CostBeforeGST').map(function () {
            var Check = $(this).val().replace(/,/g, '');
            
            if (Check == "" || isNaN(Check / 1)) {
                Check = 0;
            }

            TotalExpenses += parseFloat(Check);
        }).get();

        var TotalRevenue = $('#TotalRevenue').html().replace("$", "");
        var FormattedTotalRevenue = TotalRevenue.replace(/,/g, '');

        var TotalProfit = parseFloat(FormattedTotalRevenue) - parseFloat(TotalExpenses);

        $('#TotalExpenses').html("$" + TotalExpenses.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, "$1,").toString());
        $('#TotalProfit').html("$" + TotalProfit.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, "$1,").toString());

        var CheckMargin = (TotalProfit / FormattedTotalRevenue) * 100;

        //Check Margin Color
        if (CheckMargin != 0) {
            if (CheckMargin < 17) {
                $("#TotalProfitRow").addClass("bg-red-200");
            }
            else {
                $("#TotalProfitRow").removeClass("bg-red-200");
            }
        }
    }

    function CalculateTotalExpenses2() {
        var TotalExpenses = 0;

        var CostBeforeGST = $('.CostBeforeGST').map(function () {
            var Check = $(this).val().replace(/,/g, '');
            if (Check == "" || isNaN(Check / 1)) {
                Check = 0;
            }

            TotalExpenses += parseFloat(Check);
        }).get();

        var TotalRevenue = $('#TotalRevenue').html().replace("$", "");

        var FormattedTotalRevenue = TotalRevenue.replace(/,/g, '');

        var TotalProfit = parseFloat(FormattedTotalRevenue) - parseFloat(TotalExpenses);

        $('#TotalExpenses').html("$" + TotalExpenses.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, "$1,").toString());
        $('#TotalProfit').html("$" + TotalProfit.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, "$1,").toString());

        var CheckMargin = (TotalProfit / FormattedTotalRevenue) * 100;

        //Check Margin Color
        if (CheckMargin != 0) {
            if (CheckMargin < 17) {
                $("#TotalProfitRow").addClass("bg-red-200");
            }
            else {
                $("#TotalProfitRow").removeClass("bg-red-200");
            }
        }
    }

    function ValidateAmount(id) {
        var amount = $("#" + id).val().replace(/,/g, '');

        if (amount != "") {
            var url = "@Url.Action("ValidateAmount")";

            $.ajax({
                type: "GET",
                cache: false,
                url: url,
                data: { amount: amount },
                success: function (data) {
                    data = JSON.parse(data);
                    if (data.result) {
                        $("#" + id).val(data.newAmount);
                        CalculateTotalExpenses(data.newAmount);
                    }
                }
            });
        }
    }
</script>