﻿@using DataAccess
@using DataAccess.POCO

@{
    Layout = null;
}

@if (ViewData["ProjectExpensesTable"] != null)
{
    List<ProjectProjectExpensesTable> projectExpensesTable = (List<ProjectProjectExpensesTable>)ViewData["ProjectExpensesTable"];
    int count = 1;

    foreach (ProjectProjectExpensesTable _projectExpensesTable in projectExpensesTable)
    {
        <tr id="RowID-@_projectExpensesTable.RowId">
            <td><div class="calculateNumber"></div></td>
            <td>
                @Html.TextBox("ProjectExpensesDescription_" + _projectExpensesTable.RowId, _projectExpensesTable.Description, new { @class = "form-control" })
                @Html.ValidationMessage("ProjectExpensesDescription_" + _projectExpensesTable.RowId)
            </td>
            <td>
                @Html.TextBox("ProjectExpensesSupplierName_" + _projectExpensesTable.RowId, _projectExpensesTable.SupplierName, new { @class = "form-control" })
                @Html.ValidationMessage("ProjectExpensesSupplierName_" + _projectExpensesTable.RowId)
            </td>
            <td>
                @Html.TextBox("ProjectExpensesInvoiceNo_" + _projectExpensesTable.RowId, _projectExpensesTable.InvoiceNo, new { @class = "form-control" })
                @Html.ValidationMessage("ProjectExpensesInvoiceNo_" + _projectExpensesTable.RowId)
            </td>
            <td>
                @Html.TextBox("ProjectExpensesDate_" + _projectExpensesTable.RowId, _projectExpensesTable.Date, new { @class = "form-control datepair-date datepair-start" })
                @Html.ValidationMessage("ProjectExpensesDate_" + _projectExpensesTable.RowId)

                <script>
                    $("#ProjectExpensesDate_" + @_projectExpensesTable.RowId).datepicker(); // attach to new elements
                </script>

            </td>
            <td>
                @Html.DropDownList("ProjectExpensesGST_" + _projectExpensesTable.RowId, _projectExpensesTable.GST, new { @class = "form-control" })
                @Html.ValidationMessage("ProjectExpensesGST_" + _projectExpensesTable.RowId)
            </td>
            <td>
                <div class="input-group">
                    <span class="input-group-addon">$</span>
                    @Html.TextBox("ProjectExpensesCostBeforeGST_" + _projectExpensesTable.RowId, _projectExpensesTable.CostBeforeGST, new { @class = "form-control CostBeforeGST", @onchange = "ValidateAmount('ProjectExpensesCostBeforeGST_" + _projectExpensesTable.RowId + "')" })
                    @Html.ValidationMessage("ProjectExpensesCostBeforeGST_" + _projectExpensesTable.RowId)
                </div>
            </td>
            <td>
                @Html.DropDownList("ProjectExpensesStatus_" + _projectExpensesTable.RowId, _projectExpensesTable.Status, new { @class = "form-control" })
                @Html.ValidationMessage("ProjectExpensesStatus_" + _projectExpensesTable.RowId)
            </td>
            <td class="text-nowrap">
                <button type="button" id="id_button" class="btn btn-sm btn-icon btn-round btn-danger" data-toggle="tooltip">
                    <i class="icon wb-close" aria-hidden="true"></i>
                </button>
            </td>
        </tr>
        count++;
    }
}