﻿@{
    Layout = null;
}

@{
    int rowId = (int)ViewData["RowId"];
    SelectList GSTDropdown = (SelectList)ViewData["GSTDropdown"];
    SelectList ProjectExpensesStatusDropdown = (SelectList)ViewData["ProjectExpensesStatusDropdown"];
}

<tr id="RowID-@rowId">
    <td><div class="calculateNumber"></div></td>
    <td>
        @Html.TextBox("ProjectExpensesDescription_" + rowId, null, new { @class = "form-control" })
        @Html.ValidationMessage("ProjectExpensesDescription_" + rowId)
    </td>
    <td>
        @Html.TextBox("ProjectExpensesSupplierName_" + rowId, null, new { @class = "form-control" })
        @Html.ValidationMessage("ProjectExpensesSupplierName_" + rowId)
    </td>
    <td>
        @Html.TextBox("ProjectExpensesInvoiceNo_" + rowId, null, new { @class = "form-control" })
        @Html.ValidationMessage("ProjectExpensesInvoiceNo_" + rowId)
    </td>
    <td>
        @Html.TextBox("ProjectExpensesDate_" + rowId, DateTime.Now.ToString("dd/MM/yyyy"), new { @class = "form-control" })
        @Html.ValidationMessage("ProjectExpensesDate_" + rowId)
    </td>
    <td>
        @Html.DropDownList("ProjectExpensesGST_" + rowId, GSTDropdown, new { @class = "form-control" })
        @Html.ValidationMessage("ProjectExpensesGST_" + rowId)
    </td>
    <td>
        <div class="input-group">
            <span class="input-group-addon">$</span>
            @Html.TextBox("ProjectExpensesCostBeforeGST_" + rowId, null, new { @class = "form-control CostBeforeGST", @onchange = "ValidateAmount('ProjectExpensesCostBeforeGST_" + rowId + "')" })
            @Html.ValidationMessage("ProjectExpensesCostBeforeGST_" + rowId)
        </div>
    </td>
    <td>
        @Html.DropDownList("ProjectExpensesStatus_" + rowId, ProjectExpensesStatusDropdown, new { @class = "form-control" })
        @Html.ValidationMessage("ProjectExpensesStatus_" + rowId)
    </td>
    <td class="text-nowrap">
        <button type="button" id="id_button" class="btn btn-sm btn-icon btn-round btn-danger" data-toggle="tooltip">
            <i class="icon wb-close" aria-hidden="true"></i>
        </button>
    </td>
</tr>

