﻿@using DataAccess
@using DataAccess.POCO

@{
    Layout = null;
}


@{
    Quotation quotation = (Quotation)ViewData["Quotation"];
    List<QuotationCoBroke> quotationCoBroke = (List<QuotationCoBroke>)ViewData["QuotationCoBroke"];
    List<ItemDescriptionBigTable> itemDescriptionBigTable = (List<ItemDescriptionBigTable>)ViewData["QuotationItemDescription"];
}
<html>
<head>
    <title>Quotation PDF</title>
    <!-- Stylesheets -->
    <link rel="stylesheet" href="@Url.Content("~/Content/css/bootstrap.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/css/bootstrap-extend.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/css/site.min.css")">

    <!-- Fonts -->
    <link rel="stylesheet" href="@Url.Content("~/Content/fonts/web-icons/web-icons.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/fonts/brand-icons/brand-icons.min.css")">
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,300italic'>
    <link rel="stylesheet" href="@Url.Content("~/Content/fonts/weather-icons/weather-icons.css")">

    <style type="text/css">
        body {
            letter-spacing: 0.5px;
            padding-top: 20px;
            color: black !important;
        }

        table {
            width: 100%;
        }

        .page-break {
            clear: both;
            page-break-after: always;
        }

        thead {
            display: table-header-group;
        }

        tfoot {
            display: table-row-group;
        }

        tr {
            page-break-inside: avoid;
        }

        ul.dash {
            list-style: none;
            margin-left: 0;
            padding-left: 1em;
        }

            ul.dash > li:before {
                display: inline-block;
                content: "-";
                width: 1em;
                margin-left: -1em;
            }

        ol {
            list-style-type: none;
            counter-reset: item;
            margin: 0;
            padding: 0;
        }

            ol > li {
                display: table;
                counter-increment: item;
                margin-bottom: 0.6em;
            }

                ol > li:before {
                    content: counters(item, ".") ". ";
                    display: table-cell;
                    padding-right: 0.6em;
                }

        li ol > li {
            margin: 0;
        }

            li ol > li:before {
                content: counters(item, ".") " ";
            }
    </style>
</head>
<body>
	<h4 style="text-align:right; color:gray">Quotation</h4>
	<div class="row" style="margin-left:0px;">
		<div class="pull-left">
			<img src="@Url.Content("~/Content/images/letterhead.png")" />
		</div>
		<div class="pull-left">
			<strong style="font-size: 30px;">@ViewData["CompanyName"].ToString()</strong><br />
			@{
				string[] companyInfo = ViewData["CompanyInfo"].ToString().Split('|');

				foreach (string info in companyInfo)
				{
					@info<br />
				}
			}
		</div>
	</div>
	<br />
	<table>
		<tr>
			<td><b>Client: </b></td>
			<td width="35%"></td>
			<td align="right">Date: </td>
			<td align="right">@Convert.ToDateTime(quotation.QuotationDate).ToString("MMMM dd, yyyy")</td>
		</tr>
		<tr>
			<td>
				<b>
					@if (quotation.Customer != null)
					{
						if (!string.IsNullOrEmpty(quotation.Customer.CompanyName))
						{
							@quotation.Customer.CompanyName;
						}
						else
						{
							@quotation.Customer.ContactPerson;
						}
					}
				</b>
			</td>
			<td width="35%"></td>
			<td align="right"><b>Quotation No:</b></td>
			<td align="right"><b>@quotation.QuotationID</b></td>
		</tr>
		<tr>
			<td width="30%">@quotation.Address</td>
			<td width="35%"></td>
			<td align="right">Prepared by:</td>
			<td align="right">@quotation.PreparedBy.Name</td>
		</tr>
		<tr>
			<td>T: @quotation.Tel F:@quotation.Fax</td>
			<td width="35%"></td>
			<td align="right">Contact No:</td>
			<td align="right">@quotation.PreparedBy.Tel</td>
		</tr>
		<tr>
			@if (quotation.Customer != null)
			{
				<td>Attn: @quotation.Customer.ContactPerson</td>
			}
			else
			{
				<td>Attn: </td>
			}

		</tr>
	</table>

	<br />

	<table>
		<tr style="border:1px solid black; background-color:lightyellow">
			<td align="center" style="border:1px solid black" width="5%">Item</td>
			<td align="center" style="border:1px solid black" width="45%">Description</td>
			<td align="center" style="border:1px solid black" width="7%">Qty</td>
			<td align="center" style="border:1px solid black" width="7%">Unit</td>
			<td align="center" style="border:1px solid black" width="7%">Rate</td>
			<td align="center" style="border:1px solid black" width="7%">AMOUNT</td>
		</tr>
		<tbody>
			<tr>
				<td colspan="4"><br />Thank you for giving us the opportunity to present our proposal to you. We are pleased to append below our quotation for your kind consideration and look forward to your favorable reply.</td>
			</tr>
			<tr>
				<td><br /></td>
			</tr>
			<tr>
				<td></td>
				<td><b><u>Summary</u></b></td>
			</tr>
			<tr>
				<td><br /></td>
			</tr>
			@if (ViewData["QuotationItemDescription"] != null)
			{
				char count = 'A';
				decimal FinalTotal = 0;
				foreach (ItemDescriptionBigTable _itemDescriptionBigTable in itemDescriptionBigTable)
				{
					decimal SubTotalSummary = 0;
					<tr>
						<td id="SummaryItemMain-@_itemDescriptionBigTable.TableID"><div class="calculateNumberSummary-">@count</div></td>
						<td id="QuotationItemName-@_itemDescriptionBigTable.TableID">@_itemDescriptionBigTable.CategoryName</td>
						<td></td>
						<td></td>
						<td align="center">$</td>

						@foreach (ItemDescriptionRow _itemDescriptionRow in _itemDescriptionBigTable.ItemDescriptionRows)
						{
							SubTotalSummary += Convert.ToDecimal(_itemDescriptionRow.Amount);
						}

						<td id="QuotationTotalAmount-@_itemDescriptionBigTable.TableID" align="right">@Convert.ToDecimal(SubTotalSummary).ToString("#,##0.00")</td>
					</tr>
					FinalTotal += SubTotalSummary;
					count++;
				}
				<tr id="SummaryTotalRow">
					<td></td>
					<td></td>
					<td></td>
					<td align="right">Total</td>
					<td align="center" style="border-top:1px solid black; border-bottom:3px double black">$</td>
					<td id="FinalTotalAmount" align="right" style="border-top:1px solid black; border-bottom:3px double black">@Convert.ToDecimal(FinalTotal).ToString("#,##0.00")</td>
				</tr>
			}

			<tr>
				<td><br /></td>
			</tr>
			@{
				decimal PaymentTerm = 0;
			}
			@if (ViewData["QuotationItemDescription"] != null)
			{
				char numCount = 'A';
				decimal Total = 0;
				decimal GrandTotal = 0;
				foreach (ItemDescriptionBigTable _itemDescriptionBigTable in itemDescriptionBigTable)
				{
					<tr>
						<td><b><u>@numCount</u></b></td>
						<td><b><u>@_itemDescriptionBigTable.CategoryName</u></b></td>
					</tr>
					<tr>
						<td><br /></td>
					</tr>
					int count = 1;
					decimal SubTotal = 0;
					<!-- Add one more for loop to loop the same item -->
					foreach (ItemDescriptionRow _itemDescriptionRow in _itemDescriptionBigTable.ItemDescriptionRows)
					{
						string NewInsideRowID = _itemDescriptionBigTable.TableID + "-" + _itemDescriptionRow.RowId;
						<tr id="RowInsideID-@NewInsideRowID">
							<td class="calculateNumber-@_itemDescriptionBigTable.TableID">@count</td>
							<td>@_itemDescriptionRow.Description</td>
							<td align="center">@Convert.ToDecimal(_itemDescriptionRow.Qty).ToString("#,##0.0")</td>
							<td align="center">@_itemDescriptionRow.Unit</td>
							<td align="center">$ @Convert.ToDecimal(_itemDescriptionRow.Rate).ToString("#,##0.00")</td>
							<td align="right">$ @Convert.ToDecimal(_itemDescriptionRow.Amount).ToString("#,##0.00")</td>
						</tr>
						SubTotal += Convert.ToDecimal(_itemDescriptionRow.Amount);
						count++;
					}
					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td colspan="2" align="right"><b>Sub-Total</b></td>
						<td style="border-top:1px solid black" align="right">$ @Convert.ToDecimal(SubTotal).ToString("#,##0.00")</td>
					</tr>
					<tr>
						<td><br /></td>
					</tr>
					<tr>
						<td><br /></td>
					</tr>
					Total += Convert.ToDecimal(SubTotal);
					numCount++;
				}

				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td colspan="2" align="right"><b>Total</b></td>
					<td style="border-top:1px solid black" align="right"><b>$ @Convert.ToDecimal(Total).ToString("#,##0.00")</b></td>
				</tr>

				if (quotation.HasGST == "Yes")
				{
					decimal GST = Convert.ToDecimal(ViewData["GST"].ToString());
					decimal GSTTotal = (Total * GST / 100);
					string Word = GST + "%" + " GST";
					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td colspan="2" align="right"><b>@Word</b></td>
						<td style="border-top:1px solid black; border-bottom:3px double black" align="right"><b>$ @Convert.ToDecimal(GSTTotal).ToString("#,##0.00")</b></td>
					</tr>
					GrandTotal = (Total + GSTTotal);
				}
				else
				{
					GrandTotal = Total;
				}
				<tr><td><br /></td></tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td colspan="2" align="right"><b>Grand Total</b></td>
					<td style="border-top:1px solid black; border-bottom:3px double black" align="right"><b>$ @Convert.ToDecimal(GrandTotal).ToString("#,##0.00")</b></td>
				</tr>
				PaymentTerm = GrandTotal;
			}
		</tbody>
	</table>
	<div class="page-break"></div>
	<div>

		<b><u>Payment Terms</u></b>
		<br />
		@Html.Raw(quotation.PaymentTerms)
		<br />

		<p><b><u>Notes</u></b></p>
		<ul class="dash">
			<li>10% of P&A will be imposed for any direct contract to Client, for co-ordination works not stipulated in this Contract</li>
			<li>Any specific items not listed in the above quotation will constitute as a variation to this Contract</li>
			<li>Any variations claim from the client's direct contractor/supplier, will constitute as a variation to this Contract</li>
			<li>Works quoted are based on standard day working hours of 8am to 6pm; other working hours required will constitute as a variation to this Contract</li>
		</ul>
	</div>

	@*<table>
			<tr>
				<td width="1%"></td>
				<td><u>Payment Terms</u></td>
			</tr>
			<tr>
				@{
					decimal UCOC = (PaymentTerm * 30 / 100);
					decimal PP = (PaymentTerm * 60 / 100);
					decimal UHOP = (PaymentTerm * 10 / 100);
				}
				<td width="1%"></td>
				<td width="50%">Upon Confirmation of Contract</td>
				<td><b>30%</b></td>
				<td>$@UCOC.ToString("#,##0.00")</td>
			</tr>
			<tr>
				<td width="1%"></td>
				<td width="50%">Progressive Payment</td>
				<td><b>60%</b></td>
				<td>$@PP.ToString("#,##0.00")</td>
			</tr>
			<tr>
				<td width="1%"></td>
				<td width="50%">Upon Handover of Project</td>
				<td><b>10%</b></td>
				<td>$@UHOP.ToString("#,##0.00")</td>
			</tr>
		</table>*@
	<br />

	@Html.Raw(ViewData["TermAndCondition"])

	@*<ol>
			<li style="font-weight:bold">
				STANDARD TERMS AND CONDITIONS
				<ol style="font-weight:normal">
					<li>The following are the standard terms and conditions for our Services and shall apply to work undertaken by KS Project Management Pte Ltd (Company Registration No. 2011500075E) for all its clients under our quotation.</li>
					<li>By signing on the acceptance portion of our quotation, you agree to be bound by all the terms and conditions contained herein.</li>
				</ol>
			</li>
			<li style="font-weight:bold">
				OUR FEES AND DEPOSIT
				<ol style="font-weight:normal">
					<li>A deposit of the total fee payable under our quotation as stated in our quotation (the “Deposit”) is due and payable to us immediately upon the signing of the acceptance portion of our quotation by you. Further payments shall become due to us upon the completion of each stage of work as stated in our quotation. We reserve the right not to commence any work until the Deposit has been paid to us in full and/or to continue any work until the payment required for each stage of work has been paid to us</li>
					<li>The Deposit once paid is strictly non-refundable if the contract is terminated by you through no fault of ours after we have commenced work for you. If work has not been commenced and the contract is terminated by you through no fault of ours and provided that we have not commenced any work for you, we shall be entitled to retain 50% of the Deposit as  liquidated damages.</li>
				</ol>
			</li>
			<li style="font-weight:bold">
				PAYMENT AND LATE INTEREST
				<ol style="font-weight:normal">
					<li>Subject to the “Approval of Work” clause and upon expiration of the 7-day Review Period, we will invoice you for each stage of work completed.</li>
					<li>All payments must be received by us within seven (7) days from the date of our invoice. Any payment(s) received by us after seven (7) days from the date of our invoice shall be subjected to a late payment interest charge of [5%] on the invoiced sum calculated on a daily basis until full payment is received by us.</li>
					<li>All payments shall be by way of crossed cheques made in favour of “KS Project Management Pte Ltd”. We do not accept any cash payments and we shall not be held liable for any cash payments given directly to and/or accepted by any of our employees, agents, servants and/or sub-contractors for and on behalf of KS Project Management Pte Ltd.</li>
					<li>You agree to fully indemnify us for all costs and expenses including but not limited to legal fees incurred by us to recover any outstanding payments due from you to us.</li>
				</ol>
			</li>
			<li style="font-weight:bold">
				SUPPLY OF MATERIALS/ITEMS
				<ol style="font-weight:normal">
					<li>We will supply all material/items as listed in our quotation to complete the work in accordance with any agreed specification(s).</li>
					<li>Any material(s)/items not specifically stated in our quotation is/are excluded from the total fee payable under our quotation.</li>
					<li>If you require us to source for any materials and/or undertake work for items not specifically stated in our quotation, we reserve the right to issue you a further quotation and charge additional fees to procure materials and/or undertake such work.</li>
					<li>All materials supplied by us are likely to contain slight imperfections and likely vary in terms of colour, tone and veins. You are deemed to have accepted the condition of such materials as supplied by us if the imperfection does not exceed 15% of the total visible surface area of the materials.</li>
				</ol>
			</li>
			<li style="font-weight:bold">
				VARIATIONS
				<ol style="font-weight:normal">
					<li>Any request(s) for a variation of our Services by you shall be made in writing to us.</li>
					<li>We reserve the right to render a further quotation to you upon receipt of your written instruction(s) for a variation of our Services.</li>
					<li>For the avoidance of doubt, we are not obliged to commence any work requested by you under your written instruction(s) for a variation of our Services until our further quotation for such variation has been accepted by you.</li>
				</ol>
			</li>
			<li style="font-weight:bold">
				PROJECT DELAYS AND CLIENT LIABILITY
				<ol style="font-weight:normal">
					<li>Any time frames or estimates that we give to provide our Services are contingent upon your full co-operation to provide us with timely instructions and/or the relevant access to your premises. It is required that you provide us with a single point of contact to be made available on a daily basis in order for us to receive timely instructions and/or confirmation.</li>
					<li>We shall not be held liable for any delays and/or failure to provide our Services caused by factors outside of our control, including but not limited to, war, riots, fire, flood, hurricane, typhoon, earthquake, lightning, explosion, strikes, lockouts, slowdown, prolonged shortage of energy supplies and acts of state or governmental action prohibiting and/or impeding us from performing our Services. If such circumstances continue for a continuous period of more than six (6) months, we shall be entitled to cease all Services yet to be rendered to you and make a full refund to you (if any) for such Services yet to be rendered. In such event, no party shall make any further claims against the other party save for antecedent breaches under these terms and conditions.</li>
				</ol>
			</li>
			<li style="font-weight:bold">
				APPROVAL OF WORK
				<ol style="font-weight:normal">
					<li>On completion of each stage of the work you will be notified and have the opportunity to review it. You must notify us in writing of any unsatisfactory points within seven (7) days of such notification (the “7-day Review Period”). Any of the work which has not been reported in writing to us as unsatisfactory within the 7-day Review Period will be deemed to have been approved. Once approved, or deemed approved, the work cannot be subsequently rejected by you and the work will be deemed to have been completed by us and the payment for that portion of work completed or deemed completed will become due to us.</li>
				</ol>
			</li>
			<li style="font-weight:bold">
				REJECTED WORK
				<ol style="font-weight:normal">
					<li>If you reject any of our work within the 7-day Review Period, or not approve any subsequent work performed by us to remedy/rectify any points being noted as unsatisfactory, and we, acting reasonably, consider that you have been unreasonably in the rejection of any of the work, can elect to treat this contract at an end and take steps to recover any payment due for completed work.</li>
				</ol>
			</li>
			<li style="font-weight:bold">
				SUBCONTRACTING
				<ol style="font-weight:normal">
					<li>We reserve the right to subcontract any Services that we have agreed to perform for you as we deem fit.</li>
				</ol>
			</li>
			<li style="font-weight:bold">
				NON-DISCLOSURE & PERSONAL DATA PROTECTION ACT 2012
				<ol style="font-weight:normal">
					<li>Subject to Clause 10.2, we agree that we will not at any time disclose any of your confidential information to any third party.</li>
					<li>From time to time, we may collect, use and disclose your personal data for the purpose of completing any work undertaken by us for you and you consent to us collecting, using and disclosing your personal information for such purpose in accordance with the Personal Data Protection Act 2012.</li>
				</ol>
			</li>
			<li style="font-weight:bold">
				CONSEQUENTIAL LOSS
				<ol style="font-weight:normal">
					<li>We shall not be liable for any losses, damages and/or delays caused directly or indirectly by third parties whom we have not contracted with to provide the Services.</li>
				</ol>
			</li>
			<li style="font-weight:bold">
				OWNERSHIP OF MATERIALS AND FIXTURES & INTELLECTUAL PROPERTY
				<ol style="font-weight:normal">
					<li>Materials and/or items supplied by us for each stage of the Services remain the sole property of KS Project Management Pte Ltd until full payment is received by us in accordance to the quotation. We reserve the right to recover any or all materials and/or items supplied by us if payment is not received in accordance to the quotation.</li>
					<li>All intellectual property rights relating to designs, plans and/or drawings provided and/or created by us for the provision of the Services remain the sole property of KS Project Management Pte Ltd and you recognise and agree that all such intellectual property rights remain vested with us both during and after the provision of the Services.</li>
					<li>You are responsible and must obtain all necessary permissions and authorisations in respect of the use of all copies, graphics, images, registered company logos, names, trademarks and any other materials that you supply to us to include in the provision of the Services.</li>
					<li>In this respect, you agree to fully indemnify and hold us harmless against any claims or legal actions brought by the owner of such intellectual property rights relating to the use of any such contents as supplied by you for the provision of the Services.</li>
				</ol>
			</li>
			<li style="font-weight:bold">
				MISCELLANEOUS
				<ol style="font-weight:normal">
					<li>In these terms and conditions, "Services" means all the following services provided by us as listed under our quotation.</li>
					<li>Save as provided in our quotation and under these terms and conditions, no other warranties whether express or implied, statutory or otherwise are given by us in relation to the provision of the Services.</li>
					<li>In the event that any provision(s) in these terms and conditions is/are found to be invalid or unenforceable by a Court of competent jurisdiction, the affected provision(s) shall be severable and shall not affect the validity or enforceability of any other provisions contained herein.</li>
				</ol>
			</li>
			<li style="font-weight:bold">
				GOVERNING LAW
				<ol style="font-weight:normal">
					<li>These terms and conditions shall be governed and construed in accordance with the laws of the Republic of Singapore and any disputes relating to these terms and conditions shall be subject to the exclusive jurisdiction of the Singapore Courts in all matters regarding it.</li>
				</ol>
			</li>
		</ol>*@

	<br />
	<br />
	<br />
	<table width="100%">
		<tr>
			<td>Confirmation By</td>
			<td align="right">Endorsed By</td>
		</tr>
		<tr>
			<td><br /></td>
		</tr>
		<tr>
			<td></td>
			<td align="right"><img src="@Url.Content("~/Content/images/quotationSignature.png")" /></td>
		</tr>
		<tr>
			<td>
				_________________________
				<br />
				@if (quotation.Customer != null)
				{
					@quotation.Customer.ContactPerson;
				}
			</td>
			<td align="right">
				_________________________<br />
				@ViewData["SystemSettingCompanyName"].ToString()
			</td>
		</tr>
	</table>
</body>

</html>