﻿@using DataAccess
@using DataAccess.POCO

@{
    Layout = null;
}


@{
    Quotation quotation = (Quotation)ViewData["Quotation"];
    List<QuotationCoBroke> quotationCoBroke = (List<QuotationCoBroke>)ViewData["QuotationCoBroke"];
    List<ItemDescriptionBigTable> itemDescriptionBigTable = (List<ItemDescriptionBigTable>)ViewData["QuotationItemDescription"];
}
<html>
<head>
    <title>Quotation PDF</title>
    <!-- Stylesheets -->
    <link rel="stylesheet" href="@Url.Content("~/Content/css/bootstrap.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/css/bootstrap-extend.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/css/site.min.css")">

    <!-- Fonts -->
    <link rel="stylesheet" href="@Url.Content("~/Content/fonts/web-icons/web-icons.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/fonts/brand-icons/brand-icons.min.css")">
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,300italic'>
    <link rel="stylesheet" href="@Url.Content("~/Content/fonts/weather-icons/weather-icons.css")">

    <style type="text/css">

        body {
            letter-spacing: 0.5px;
            padding-top: 20px;
            color: black !important;
        }

        table {
            width: 100%;
        }

        .page-break {
            clear: both;
            page-break-after: always;
        }

        thead { 
            display: table-header-group 

        }

        tfoot { 
            display: table-row-group 

        }

        tr { 
            page-break-inside: avoid 

        }

        ul.dash {
            list-style: none;
            margin-left: 0;
            padding-left: 1em;
        }

        ul.dash > li:before {
            display: inline-block;
            content: "-";
            width: 1em;
            margin-left: -1em;
        }

        ol {
          list-style-type: none;
          counter-reset: item;
          margin: 0;
          padding: 0;
        }

        ol > li {
          display: table;
          counter-increment: item;
          margin-bottom: 0.6em;
        }

        ol > li:before {
          content: counters(item, ".") ". ";
          display: table-cell;
          padding-right: 0.6em;    
        }

        li ol > li {
          margin: 0;
        }

        li ol > li:before {
          content: counters(item, ".") " ";
        }
    </style>
</head>
<body>
	<h4 style="text-align:right; color:gray">Quotation</h4>
	<div class="row" style="margin-left:0px;">
		<div class="pull-left">
			<img src="@Url.Content("~/Content/images/letterhead.png")" />
		</div>
		<div class="pull-left">
			<strong style="font-size: 30px;">@ViewData["CompanyName"].ToString()</strong><br />
			@{
				string[] companyInfo = ViewData["CompanyInfo"].ToString().Split('|');

				foreach (string info in companyInfo)
				{
					@info<br />
				}
			}
		</div>
	</div>
	<br/>
	<table>
		<tr>
			<td><b>Client: </b></td>
			<td width="35%"></td>
			<td align="right">Date: </td>
			<td align="right">@Convert.ToDateTime(quotation.QuotationDate).ToString("MMMM dd, yyyy")</td>
		</tr>
		<tr>
			<td>
				<b>
					@if (quotation.Customer != null)
					{
						if (!string.IsNullOrEmpty(quotation.Customer.CompanyName))
						{
							@quotation.Customer.CompanyName;
						}
						else
						{
							@quotation.Customer.ContactPerson;
						}
					}
				</b>
			</td>
			<td width="35%"></td>
			<td align="right"><b>Quotation No:</b></td>
			<td align="right"><b>@quotation.QuotationID</b></td>
		</tr>
		<tr>
			<td width="30%">@quotation.Address</td>
			<td width="35%"></td>
			<td align="right">Prepared by:</td>
			<td align="right">@quotation.PreparedBy.Name</td>
		</tr>
		<tr>
			<td>T: @quotation.Tel F:@quotation.Fax</td>
			<td width="35%"></td>
			<td align="right">Contact No:</td>
			<td align="right">@quotation.PreparedBy.Tel</td>
		</tr>
		<tr>
			@if (quotation.Customer != null)
			{
				<td>Attn: @quotation.Customer.ContactPerson</td>
			}
			else
			{
				<td>Attn: </td>
			}

		</tr>
	</table>

	<br />

	<table>
		<tr style="border:1px solid black; background-color:lightyellow">
			<td align="center" style="border:1px solid black" width="5%">Item</td>
			<td align="center" style="border:1px solid black" width="45%">Description</td>
			<td align="center" style="border:1px solid black" width="7%">Qty</td>
			<td align="center" style="border:1px solid black" width="7%">Unit</td>
			<td align="center" style="border:1px solid black" width="7%">Rate</td>
			<td align="center" style="border:1px solid black" width="7%">AMOUNT</td>
		</tr>
		<tbody>
			<tr>
				<td colspan="4"><br />Thank you for giving us the opportunity to present our proposal to you. We are pleased to append below our quotation for your kind consideration and look forward to your favorable reply.</td>
			</tr>
			<tr>
				<td><br /></td>
			</tr>
			<tr>
				<td></td>
				<td><b><u>Summary</u></b></td>
			</tr>
			<tr>
				<td><br /></td>
			</tr>
			@if (ViewData["QuotationItemDescription"] != null)
			{
				char count = 'A';
				decimal FinalTotal = 0;
				foreach (ItemDescriptionBigTable _itemDescriptionBigTable in itemDescriptionBigTable)
				{
					decimal SubTotalSummary = 0;
					<tr>
						<td id="SummaryItemMain-@_itemDescriptionBigTable.TableID"><div class="calculateNumberSummary-">@count</div></td>
						<td id="QuotationItemName-@_itemDescriptionBigTable.TableID">@_itemDescriptionBigTable.CategoryName</td>
						<td></td>
						<td></td>
						<td align="center">$</td>

						@foreach (ItemDescriptionRow _itemDescriptionRow in _itemDescriptionBigTable.ItemDescriptionRows)
						{
							SubTotalSummary += Convert.ToDecimal(_itemDescriptionRow.Amount);
						}

						<td id="QuotationTotalAmount-@_itemDescriptionBigTable.TableID" align="right">@Convert.ToDecimal(SubTotalSummary).ToString("#,##0.00")</td>
					</tr>
					FinalTotal += SubTotalSummary;
					count++;
				}
				<tr id="SummaryTotalRow">
					<td></td>
					<td></td>
					<td></td>
					<td align="right">Total</td>
					<td align="center" style="border-top:1px solid black; border-bottom:3px double black">$</td>
					<td id="FinalTotalAmount" align="right" style="border-top:1px solid black; border-bottom:3px double black">@Convert.ToDecimal(FinalTotal).ToString("#,##0.00")</td>
				</tr>
			}

			<tr>
				<td><br /></td>
			</tr>
			@{
				decimal PaymentTerm = 0;
			}
			@if (ViewData["QuotationItemDescription"] != null)
			{
				char numCount = 'A';
				decimal Total = 0;
				decimal GrandTotal = 0;
				foreach (ItemDescriptionBigTable _itemDescriptionBigTable in itemDescriptionBigTable)
				{
					<tr>
						<td><b><u>@numCount</u></b></td>
						<td><b><u>@_itemDescriptionBigTable.CategoryName</u></b></td>
					</tr>
					<tr>
						<td><br /></td>
					</tr>
					int count = 1;
					decimal SubTotal = 0;
					<!-- Add one more for loop to loop the same item -->
					foreach (ItemDescriptionRow _itemDescriptionRow in _itemDescriptionBigTable.ItemDescriptionRows)
					{
						string NewInsideRowID = _itemDescriptionBigTable.TableID + "-" + _itemDescriptionRow.RowId;
						<tr id="RowInsideID-@NewInsideRowID">
							<td class="calculateNumber-@_itemDescriptionBigTable.TableID">@count</td>
							<td>
								@_itemDescriptionRow.Description
							<br />
							@if (!string.IsNullOrEmpty(_itemDescriptionRow.Remarks))
							{
								string replaceNewRemarks = _itemDescriptionRow.Remarks.Replace("\r\n", "|");

								string[] splitNewRemark = replaceNewRemarks.Split('|');

								foreach (string _splitNewRemark in splitNewRemark)
								{
									@_splitNewRemark <br />
								}
							}
						</td>
						<td align="center">@Convert.ToDecimal(_itemDescriptionRow.Qty).ToString("#,##0.0")</td>
						<td align="center">@_itemDescriptionRow.Unit</td>
						<td align="center">$ @Convert.ToDecimal(_itemDescriptionRow.Rate).ToString("#,##0.00")</td>
						<td align="right">$ @Convert.ToDecimal(_itemDescriptionRow.Amount).ToString("#,##0.00")</td>
					</tr>
					SubTotal += Convert.ToDecimal(_itemDescriptionRow.Amount);
					count++;
				}
				<tr>
					<td></td>
					<td><br /></td>
					<td></td>
					<td colspan="2" align="right"><b>Sub-Total</b></td>
					<td style="border-top:1px solid black" align="right">$ @Convert.ToDecimal(SubTotal).ToString("#,##0.00")</td>
				</tr>
				<tr>
					<td><br /></td>
				</tr>
				<tr>
					<td><br /></td>
				</tr>
				Total += Convert.ToDecimal(SubTotal);
				numCount++;
			}

			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td colspan="2" align="right"><b>Total</b></td>
				<td style="border-top:1px solid black" align="right"><b>$ @Convert.ToDecimal(Total).ToString("#,##0.00")</b></td>
			</tr>

			if (quotation.HasGST == "Yes")
			{
				decimal GST = Convert.ToDecimal(ViewData["GST"].ToString());
				decimal GSTTotal = (Total * GST / 100);
				string Word = GST + "%" + " GST";
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td colspan="2" align="right"><b>@Word</b></td>
					<td style="border-top:1px solid black; border-bottom:3px double black" align="right"><b>$ @Convert.ToDecimal(GSTTotal).ToString("#,##0.00")</b></td>
				</tr>
				GrandTotal = (Total + GSTTotal);
			}
			else
			{
				GrandTotal = Total;
			}
			<tr><td><br /></td></tr>
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td colspan="2" align="right"><b>Grand Total</b></td>
				<td style="border-top:1px solid black; border-bottom:3px double black" align="right"><b>$ @Convert.ToDecimal(GrandTotal).ToString("#,##0.00")</b></td>
			</tr>
			PaymentTerm = GrandTotal;
		}
		</tbody>
	</table>
	<div class="page-break"></div>
	<div>

		<b><u>Payment Terms</u></b>
		<br />
		@Html.Raw(quotation.PaymentTerms)

		<br />
		<p><b><u>Notes</u></b></p>
		<ul class="dash">
			<li>10% of P&A will be imposed for any direct contract to Client, for co-ordination works not stipulated in this Contract</li>
			<li>Any specific items not listed in the above quotation will constitute as a variation to this Contract</li>
			<li>Any variations claim from the client's direct contractor/supplier, will constitute as a variation to this Contract</li>
			<li>Works quoted are based on standard day working hours of 8am to 6pm; other working hours required will constitute as a variation to this Contract</li>
		</ul>
	</div>

	@*<table>
			<tr>
				<td width="1%"></td>
				<td><u>Payment Terms</u></td>
			</tr>
			<tr>
				@{
					decimal UCOC = (PaymentTerm * 30 / 100);
					decimal PP = (PaymentTerm * 60 / 100);
					decimal UHOP = (PaymentTerm * 10 / 100);
				}
				<td width="1%"></td>
				<td width="50%">Upon Confirmation of Contract</td>
				<td><b>30%</b></td>
				<td>$@UCOC.ToString("#,##0.00")</td>
			</tr>
			<tr>
				<td width="1%"></td>
				<td width="50%">Progressive Payment</td>
				<td><b>60%</b></td>
				<td>$@PP.ToString("#,##0.00")</td>
			</tr>
			<tr>
				<td width="1%"></td>
				<td width="50%">Upon Handover of Project</td>
				<td><b>10%</b></td>
				<td>$@UHOP.ToString("#,##0.00")</td>
			</tr>
		</table>*@


	<br />
	@{
		@Html.Raw(ViewData["TermsAndConditions"])
	}

	<br />
	<br />
	<br />
	<table width="100%">
		<tr>
			<td>Confirmation By</td>
			<td align="right">Endorsed By</td>
		</tr>
		<tr>
			<td><br /></td>
		</tr>
		<tr>
			<td></td>
			<td align="right"><img src="@Url.Content("~/Content/images/quotationSignature.png")" /></td>
		</tr>
		<tr>
			<td>
				_________________________
				<br />
				@if (quotation.Customer != null)
				{
					if (!string.IsNullOrEmpty(quotation.Customer.CompanyName))
					{
						@quotation.Customer.CompanyName;
					}
				}
			</td>
			<td align="right">
				_________________________<br />
				@ViewData["SystemSettingCompanyName"].ToString()
			</td>
		</tr>
	</table>
</body>

</html>