﻿@{
    Layout = null;
}
@{
    int rowId = (int)ViewData["RowId"];
    int mainID = (int)ViewData["MainID"];
    string NewRowInsideID = mainID + "-" + rowId;
}

<div class="form-group" id="BigTable-@mainID">
    <div class="col-sm-12 table-responsive">
        <table class="table table-hover table-condensed table-bordered" data-striped="true" data-height="250" data-mobile-responsive="true" id="ItemDesciptiontbl-@mainID">
            <thead>
                <tr id="TrLast-@mainID">
                    <th colspan="11">
                        @Html.TextBox("BigTableItemName-" + mainID, null, new { @class = "form-control inline", style = "width: 200px;", @onchange = "UpdateItemName('" + mainID + "')" })
                        @Html.ValidationMessage("BigTableItemName-" + mainID)
                        @Html.Hidden("BigTableItemNameFromDB-" + mainID, "No")
                        <button type="button" class="btn btn-primary btn-xs" onclick="add_new_item_description_inside(@mainID)" id="add_new_item_description_id-@mainID">Add Item </button>
                        <button type="button" class="btn btn-danger btn-xs" onclick="remove_item_description_outside(@mainID)" id="remove_item_description_outside_id-@mainID">Remove</button>
                    </th>
                </tr>
                <tr>
                    <th style="min-width:50px">#</th>
                    <th style="min-width:300px">Description *</th>
                    <th style="min-width:50px">Qty *</th>
                    <th style="min-width:50px">Unit *</th>
                    <th style="min-width:100px">Rate *</th>
                    <th style="min-width:150px">Amount</th>
                    <th style="min-width:150px; background-color:#ffff87;">Unit Cost *</th>
                    <th style="min-width:150px; background-color:#ffff87;">Est Cost</th>
                    <th style="min-width:150px; background-color:#ffff87;">Est Profit</th>
                    <th style="min-width:150px">Remarks</th>
                    <th style="min-width:150px">Mgr Comments</th>
                    <th style="min-width:50px">Action</th>
                </tr>
            </thead>
            <tbody>

                <tr id="RowInsideID-@NewRowInsideID">
                    <td><div class="calculateNumber-@mainID"></div></td>
                    <td>@Html.TextBox("QuotationItemDescriptionDescription_" + mainID + "_" + rowId, null, new { @class = "form-control", @autocomplete = "off" })</td>
                    <td>@Html.TextBox("QuotationItemDescriptionQty_" + mainID + "_" + rowId, 1, new { @class = "form-control", @onchange = "CalculateAmount('QuotationItemDescriptionQty_" + mainID + "_" + rowId + "')" })</td>
                    <td>@Html.TextBox("QuotationItemDescriptionUnit_" + mainID + "_" + rowId, "lot", new { @class = "form-control" })</td>
                    <td>
                        <div class="input-group">
                            <span class="input-group-addon">$</span>
                            @Html.TextBox("QuotationItemDescriptionRate_" + mainID + "_" + rowId, null, new { @class = "form-control", @onchange = "CalculateAmountRate('QuotationItemDescriptionRate_" + mainID + "_" + rowId + "')" })
                        </div>
                    </td>
                    <td>
                        <div class="input-group">
                            <span class="input-group-addon">$</span>
                            @Html.TextBox("QuotationItemDescriptionAmount_" + mainID + "_" + rowId, null, new { @class = "form-control", @disabled = "disabled" })
                            @Html.Hidden("QuotationItemDescriptionAmount2_" + mainID + "_" + rowId, null)
                        </div>
                    </td>
                    <td>
                        <div class="input-group">
                            <span class="input-group-addon">$</span>
                            @Html.TextBox("QuotationItemDescriptionUnitCost_" + mainID + "_" + rowId, null, new { @class = "form-control", @onchange = "CalculateAmountUnitCost('QuotationItemDescriptionUnitCost_" + mainID + "_" + rowId + "')" })
                        </div>
                    </td>
                    <td>
                        <div class="input-group">
                            <span class="input-group-addon">$</span>
                            @Html.TextBox("QuotationItemDescriptionEstCost_" + mainID + "_" + rowId, null, new { @class = "form-control", @disabled = "disabled" })
                            @Html.Hidden("QuotationItemDescriptionEstCost2_" + mainID + "_" + rowId, null)
                        </div>
                    </td>
                    <td>
                        <div class="input-group">
                            <span class="input-group-addon">$</span>
                            @Html.TextBox("QuotationItemDescriptionProfit_" + mainID + "_" + rowId, null, new { @class = "form-control", @disabled = "disabled" })
                            @Html.Hidden("QuotationItemDescriptionProfit2_" + mainID + "_" + rowId, null)
                        </div>
                    </td>
                    <td>
                        @Html.TextArea("QuotationItemDescriptionRemarks_" + mainID + "_" + rowId, null, new { @class = "form-control" })
                    </td>
                    <td>
                        @Html.TextArea("QuotationItemDescriptionMgrComments_" + mainID + "_" + rowId, null, new { @class = "form-control" })
                    </td>
                    <td>
                        <button type="button" id="id_button" onclick="remove_item_description_inside(@mainID, @rowId)" class="btn btn-danger btn-xs" data-toggle="tooltip"
                                data-original-title="Remove">
                            <i class="icon wb-close" aria-hidden="true"></i> Remove
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
