﻿@{
    Layout = null;
}
@{
    int rowId = (int)ViewData["RowId"];
    SelectList UserDropdown = (SelectList)ViewData["UserDropdown"];
    SelectList PercentageDropdown = (SelectList)ViewData["PercentageDropdown"];

}

<tr id="RowID-@rowId">
    <td><div class="calculateNumber"></div></td>
    <td>
        @Html.DropDownList("QuotationCoBrokeUser_" + rowId, UserDropdown,"", new { @class = "form-control", @data_plugin = "select2", @data_allow_clear = "true", @data_placeholder = "Search by Customer/User ID or Name" })
    </td>
    <td>
        @Html.DropDownList("QuotationCoBrokePercentageOfProfit_" + rowId, PercentageDropdown, new { @class = "form-control" })
    </td>
    <td>
        <button type="button" id="id_button" onclick="remove_co_broke_item(@rowId)" class="btn btn-sm btn-icon btn-round btn-danger" data-toggle="tooltip"
                data-original-title="Remove">
            <i class="icon wb-close" aria-hidden="true"></i>
        </button>
    </td>
</tr>