﻿@{
    Layout = null;
}

@{
    int rowId = (int)ViewData["RowId"];
    int mainID = (int)ViewData["MainID"];
    string NewRowInsideID = mainID + "-" + rowId;
}

<tr id="RowInsideID-@NewRowInsideID">
    <td><div class="calculateNumber-@mainID"></div></td>
    <td>@Html.TextBox("QuotationItemDescriptionDescription_" + mainID + "_" + rowId, null, new { @class = "form-control", @autocomplete = "off" })</td>
    <td>@Html.TextBox("QuotationItemDescriptionQty_" + mainID + "_" + rowId, 1, new { @class = "form-control", @onchange = "CalculateAmount('QuotationItemDescriptionQty_" + mainID + "_" + rowId + "')" })</td>
    <td>@Html.TextBox("QuotationItemDescriptionUnit_" + mainID + "_" + rowId, "lot", new { @class = "form-control" })</td>
    <td>
        <div class="input-group">
            <span class="input-group-addon">$</span>
            @Html.TextBox("QuotationItemDescriptionRate_" + mainID + "_" + rowId, null, new { @class = "form-control", @onchange = "CalculateAmountRate('QuotationItemDescriptionRate_" + mainID + "_" + rowId + "')" })
        </div>
    </td>
    <td>
        <div class="input-group">
            <span class="input-group-addon">$</span>
            @Html.TextBox("QuotationItemDescriptionAmount_" + mainID + "_" + rowId, null, new { @class = "form-control", @disabled = "disabled" })
            @Html.Hidden("QuotationItemDescriptionAmount2_" + mainID + "_" + rowId, null)
         </div>
    </td>
    <td style="background-color:#ffff87;">
        <div class="input-group">
            <span class="input-group-addon">$</span>
            @Html.TextBox("QuotationItemDescriptionUnitCost_" + mainID + "_" + rowId, null, new { @class = "form-control", @onchange = "CalculateAmountUnitCost('QuotationItemDescriptionUnitCost_" + mainID + "_" + rowId + "')" })
        </div>
    </td>
    <td style="background-color:#ffff87;">
        <div class="input-group">
            <span class="input-group-addon">$</span>
            @Html.TextBox("QuotationItemDescriptionEstCost_" + mainID + "_" + rowId, null, new { @class = "form-control", @disabled = "disabled" })
            @Html.Hidden("QuotationItemDescriptionEstCost2_" + mainID + "_" + rowId, null)
        </div>
    </td>
    <td style="background-color:#ffff87;">
        <div class="input-group">
            <span class="input-group-addon">$</span>
            @Html.TextBox("QuotationItemDescriptionProfit_" + mainID + "_" + rowId, null, new { @class = "form-control", @disabled = "disabled" })
            @Html.Hidden("QuotationItemDescriptionProfit2_" + mainID + "_" + rowId, null)
        </div>
    </td>
    <td>
        @Html.TextArea("QuotationItemDescriptionRemarks_" + mainID + "_" + rowId, null, new { @class = "form-control" })
    </td>
    <td>
        @Html.TextArea("QuotationItemDescriptionMgrComments_" + mainID + "_" + rowId, null, new { @class = "form-control" })
    </td>
    <td>
        <button type="button" id="id_button" onclick="remove_item_description_inside(@mainID, @rowId)" class="btn btn-danger btn-xs" data-toggle="tooltip"
                data-original-title="Remove">
            <i class="icon wb-close" aria-hidden="true"></i> Remove
        </button>
    </td>
</tr>