﻿@using DataAccess.POCO
@using PagedList
@using PagedList.Mvc

@{
    ViewBag.Title = ViewData["SiteName"].ToString();
    ViewBag.PageTitle = "Manage Quotations";
    ViewBag.AQuotation = "active open";
    ViewBag.liListQuotation = "active";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel">
    <div class="panel-body container-fluid">

        <div class="row">
            <div class="col-xlg-12 col-md-12">
                <a class="btn btn-success" href="@Url.Action("Create")" type="button"><i aria-hidden="true" class="icon wb-plus"></i> New Quotation</a>
            </div>
        </div>

        <div class="row margin-top-15">
            <div class="col-xlg-12 col-md-12">

                @using (Html.BeginForm("Listing", "Quotation", FormMethod.Post, new { @class = "page-search-form", @role = "search" }))
                {
                    <div class="input-search input-search-dark">
                        <button type="submit" class="input-search-icon wb-search" aria-label="Search" arial-hidden="true" id="btn-search"></button>
                        @Html.TextBox("SearchKeyword", ViewData["SearchKeyword"].ToString(), new { @class = "form-control", @placeholder = "Search by Quotation ID or Customer Name" })
                        <button type="button" class="input-search-close icon wb-close" aria-label="Close" id="btn-close"></button>
                    </div>

                    <div class="page-user-sortlist pull-right margin-top-15">

                        View: <a class="dropdown-toggle inline-block" data-toggle="dropdown"
                                 href="#" aria-expanded="false">@ViewData["GetStatusValue"].ToString()<span class="caret"></span></a>

                                <ul class="dropdown-menu animation-scale-up animation-top-right animation-duration-250"
                                    role="menu" id="SearchStatus">
                                    <li role="presentation" id="All"><a href="javascript:void(0)">All Quotations</a></li>
                                    <li role="presentation" id="Confirmed"><a href="javascript:void(0)">Confirmed Only</a></li>
                                    <li role="presentation" id="Rejected"><a href="javascript:void(0)">Rejected Only</a></li>
                                    <li role="presentation" id="Pending"><a href="javascript:void(0)">Pending Only</a></li>
                                </ul>
                                @Html.Hidden("SearchStatusValue", Session["SearchStatus"])
                    </div>
                }
            </div>
        </div>

        <div class="row margin-top-15">
            <div class="col-xlg-12 col-md-12">
                <!-- Table -->
                <div>

                    <div class="table-responsive">
                        <table class="table table-hover table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Quotation ID</th>
                                    <th>Customer/Company</th>
                                    <th>Date</th>
                                    <th>Amount</th>
                                    <th>Submitted by</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>

                                @{
                                    IPagedList<Quotation> quotations = (IPagedList<Quotation>)ViewData["Quotation"];
                                    List<QuotationItemDescription> quotationItemDescsription = (List<QuotationItemDescription>)ViewData["GetListingAmount"];

                                    if (quotations.Count > 0)
                                    {
                                        int count = 1;

                                        foreach (Quotation _quotations in quotations)
                                        {

                                            int col1 = count;
                                            string col2 = "-";
                                            string col3 = "-";
                                            string col4 = "-";
                                            string col5 = "-";
                                            decimal TotalAmount = Convert.ToDecimal("0.00");


                                            if (_quotations.Status != "Draft")
                                            {
                                                foreach (QuotationItemDescription _quotationItemDescription in quotationItemDescsription)
                                                {
                                                    if (_quotationItemDescription.QuotationId == _quotations.ID)
                                                    {
                                                        if (_quotationItemDescription.QuotationItemAmount != null)
                                                        {
                                                            TotalAmount = (decimal)_quotationItemDescription.QuotationItemAmount;
                                                        }
                                                    }
                                                }
                                                string FormattedTotalAmount = TotalAmount.ToString("#,##0.00");
                                                string col6 = "-";
                                                string col7 = _quotations.Status;

                                                if (!string.IsNullOrEmpty(_quotations.QuotationID))
                                                {
                                                    col2 = _quotations.QuotationID;
                                                }

                                                if (_quotations.Customer != null)
                                                {
                                                    if (!string.IsNullOrEmpty(_quotations.Customer.CompanyName))
                                                    {
                                                        col3 = _quotations.Customer.CompanyName;
                                                    }
                                                    else
                                                    {
                                                        col3 = _quotations.Customer.ContactPerson;
                                                    }
                                                }

                                                if (_quotations.QuotationDate != null)
                                                {
                                                    col4 = String.Format("{0:dd/MM/yyyy}", _quotations.QuotationDate);
                                                }

                                                //Pending Amount
                                                if (_quotations.PreparedById != null)
                                                {
                                                    col6 = _quotations.PreparedBy.Name;
                                                }

                                                <tr>
                                                    <td>@col1</td>
                                                    <td><a href="@Url.Action("View", new { @id = _quotations.ID })">@col2</a></td>
                                                    <td>@col3</td>
                                                    <td>@col4</td>
                                                    <td>$@FormattedTotalAmount</td>
                                                    <td>@col6</td>
                                                    <td>@col7</td>
                                                    <td class="text-nowrap">

                                                        @if (_quotations.ReviseQuotationTimes != 0 || _quotations.VariationOrderTimes != 0)
                                                        {
                                                            int id = _quotations.ID;

                                                            if (_quotations.PreviousQuotationId != null)
                                                            {
                                                                id = Convert.ToInt32(_quotations.PreviousQuotationId);
                                                            }

                                                            <a href="@Url.Action("PreviousQuotation", new { @id = id })" class="btn btn-sm btn-icon btn-round btn-default" data-toggle="tooltip" data-original-title="View Previous Quotations"><i class="icon wb-copy" aria-hidden="true"></i></a>
                                                        }

                                                        <a href="@Url.Action("Edit", new { @id = _quotations.ID })" class="btn btn-sm btn-icon btn-round btn-default" data-toggle="tooltip" data-original-title="Revise Quotation / Variation Orders"><i class="icon wb-edit" aria-hidden="true"></i></a>

                                                        @if (ViewData["IsSuperAdmin"] == "Yes")
                                                        {
                                                            if (_quotations.Status != "Pending Manager Approval" || _quotations.Status != "Pending Customer Confirmation")
                                                            {
                                                                <button type="button" class="btn btn-sm btn-icon btn-round btn-danger" id="@_quotations.ID" onclick="DeleteQuotation(@_quotations.ID)" data-toggle="tooltip"
                                                                        data-original-title="Delete">
                                                                    <i class="icon wb-close" aria-hidden="true"></i>
                                                                </button>
                                                            }
                                                        }
                                                    </td>
                                                </tr>
                                            }
                                            count++;
                                        }
                                    }
                                    else
                                    {
                                        <tr>
                                            <td class="no-record" colspan="8">No record to display</td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- End Table -->
            </div>

            <div class="pagination pagination-no-border">
                @Html.PagedListPager((IPagedList)ViewData["Quotation"], page => Url.Action("/Listing", "Quotation", new { page, currentFilter = ViewBag.CurrentFilter }), new PagedListRenderOptions { LinkToFirstPageFormat = "<< First", LinkToPreviousPageFormat = "< Previous", LinkToNextPageFormat = "Next >", LinkToLastPageFormat = "Last >>" })
            </div>

        </div>
    </div>
</div>

@if (Session["Result"] != null)
{
    string[] result = Session["Result"].ToString().Split('|');

    <script>
        $(document).ready(function () {
            alertify.alert("@result[1]");
        })
    </script>

    Session.Remove("Result");
}

<script>
    $("#SearchStatus li").click(function () {

        $("#SearchStatusValue").val($(this).attr('id'));
        var hv = $('#SearchStatusValue').val();

        $("form[role='search']").submit();
    });
</script>

<script>
    function DeleteQuotation(clicked_id) {
        alertify.confirm("You are deleting this quotation! Continue?", function (e) {
            if (e) {
                var url = "@Url.Action("Delete", "Quotation")";
                var id = clicked_id;

                window.location = url + "?id=" + id;
            }
        });
    }
</script>