﻿@using DataAccess.POCO
@using PagedList
@using PagedList.Mvc

@{
    ViewBag.Title = ViewData["SiteName"].ToString();
    ViewBag.PageTitle = "Previous Quotations for " + ViewData["TitleOfThePreviousQuotation"].ToString();
    ViewBag.AQuotation = "active open";
    ViewBag.liListQuotation = "active";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel">
    <div class="panel-body container-fluid">

        <div class="row margin-top-15">
            <div class="col-xlg-12 col-md-12">
                <!-- Table -->
                <div>

                    <div class="table-responsive">
                        <table class="table table-hover table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Quotation ID</th>
                                    <th>Customer/Company</th>
                                    <th>Date</th>
                                    <th>Amount</th>
                                    <th>Submitted by</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>

                                @{
                                    IPagedList<Quotation> quotations = (IPagedList<Quotation>)ViewData["PreviousQuotation"];
                                    List<QuotationItemDescription> quotationItemDescsription = (List<QuotationItemDescription>)ViewData["GetListingAmount"];

                                    if (quotations.Count > 0)
                                    {
                                        int count = 1;

                                        foreach (Quotation _quotations in quotations)
                                        {

                                            int col1 = count;
                                            string col2 = "-";
                                            string col3 = "-";
                                            string col4 = "-";
                                            string col5 = "-";

                                            decimal TotalAmount = Convert.ToDecimal("0.00");

                                            foreach (QuotationItemDescription _quotationItemDescription in quotationItemDescsription)
                                            {
                                                if (_quotationItemDescription.QuotationId == _quotations.ID)
                                                {
                                                    TotalAmount = (decimal)_quotationItemDescription.QuotationItemAmount;
                                                }
                                            }
                                            
                                            string col6 = "-";
                                            string col7 = _quotations.Status;

                                            if (!string.IsNullOrEmpty(_quotations.QuotationID))
                                            {
                                                col2 = _quotations.QuotationID;
                                            }

                                            if (_quotations.Customer != null)
                                            {
                                                col3 = _quotations.Customer.ContactPerson;
                                            }

                                            if (_quotations.QuotationDate != null)
                                            {
                                                col4 = Convert.ToDateTime(_quotations.QuotationDate).ToString("MM/dd/yyyy");
                                            }

                                            //Pending Amount
                                            if (_quotations.PreparedBy != null)
                                            {
                                                col6 = _quotations.PreparedBy.Name;
                                            }

                                            <tr>
                                                <td>@col1</td>
                                                <td><a href="@Url.Action("View", new { @id = _quotations.ID })">@col2</a></td>
                                                <td>@col3</td>
                                                <td>@col4</td>
                                                <td>$@TotalAmount.ToString("#,##0.00")</td>
                                                <td>@col6</td>
                                                <td>@col7</td>
                                            </tr>
                                                    count++;
                                        }
                                    }
                                    else
                                    {
                                        <tr>
                                            <td class="no-record" colspan="8">No record to display</td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- End Table -->
            </div>


            <div class="pagination pagination-no-border">
                @Html.PagedListPager((IPagedList)ViewData["PreviousQuotation"], page => Url.Action("/PreviousQuotation/" + ViewData["ID"].ToString(), "Quotation", new { page, currentFilter = ViewBag.CurrentFilter }), new PagedListRenderOptions { LinkToFirstPageFormat = "<< First", LinkToPreviousPageFormat = "< Previous", LinkToNextPageFormat = "Next >", LinkToLastPageFormat = "Last >>" })
            </div>

        </div>
    </div>
</div>