﻿@using DataAccess
@using DataAccess.POCO

@{
    ViewBag.Title = ViewData["SiteName"].ToString();
    ViewBag.PageTitle = "View Quotation";
    ViewBag.AQuotation = "active open";
    ViewBag.liListQuotation = "active";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("View", "Quotation", FormMethod.Post, new { @id = "form-edit", @class = "form-horizontal" }))
{

    <div class="panel">
        <div class="panel-body container-fluid">

            <div class="row row-lg">
                <div class="col-md-10">
                    <!-- Example Horizontal Form -->
                    @{
                        Quotation quotation = (Quotation)ViewData["Quotation"];
                    }

                    @if (Session["Result"] != null)
                    {
                        string[] result = Session["Result"].ToString().Split('|');

                        <div class="alert alert-@result[0] text-center">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            @result[1]
                        </div>

                        Session.Remove("Result");
                    }

                    <div class="form-group">
                        @Html.LabelFor(q => quotation.QuotationID, new { @class = "col-sm-3 control-label" })
                        <div class="col-sm-9">
                            @Html.TextBoxFor(q => quotation.QuotationID, new { @class = "form-control", @placeholder = "ID will be Assigned after Creation", @disabled = "disabled" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(q => quotation.CompanyName, new { @class = "col-sm-3 control-label" })
                        <div class="col-sm-9">
                            @Html.DropDownList("Company", (SelectList)ViewData["CompanyDropdown"], new { @class = "form-control", @data_plugin = "selectpicker", @disabled = "disabled" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(q => quotation.CustomerId, new { @class = "col-sm-3 control-label" })
                        <div class="col-sm-9">
                            @Html.DropDownListFor(q => quotation.CustomerId, (SelectList)ViewData["CustomerDropdown"],"", new { @class = "form-control", @data_plugin = "select2", @data_allow_clear = "true", @data_placeholder = "Search by Customer Name or Company Name", @onchange = "GetCustomerInfo(this)", @disabled = "disabled" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(q => quotation.ContactPerson, new { @class = "col-sm-3 control-label" })
                        <div class="col-sm-9">
                            @Html.TextBoxFor(q => quotation.ContactPerson, new { @class = "form-control", @disabled = "disabled" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(q => quotation.Address, new { @class = "col-sm-3 control-label" })
                        <div class="col-sm-9">
                            @Html.TextBoxFor(q => quotation.Address, new { @class = "form-control", @disabled = "disabled" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(q => quotation.Tel, new { @class = "col-sm-3 control-label" })
                        <div class="col-sm-9">
                            @Html.TextBoxFor(q => quotation.Tel, new { @class = "form-control", @disabled = "disabled" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(q => quotation.Fax, new { @class = "col-sm-3 control-label" })
                        <div class="col-sm-9">
                            @Html.TextBoxFor(q => quotation.Fax, new { @class = "form-control", @disabled = "disabled" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(q => quotation.PreparedById, new { @class = "col-sm-3 control-label" })
                        <div class="col-sm-9">
                            @Html.TextBox("PreparedBy", ViewData["PreparedBy"].ToString(), new { @class = "form-control", @disabled = "disabled" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(q => quotation.SalesPersonId, new { @class = "col-sm-3 control-label" })
                        <div class="col-sm-9">
                            @Html.DropDownList("SalesPersonID", (SelectList)ViewData["UserDropdown"],"", new { @class = "form-control", @data_plugin = "select2", @data_allow_clear = "true", @data_placeholder = "Search by Customer/User ID or Name", @disabled = "disabled" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(q => quotation.QuotationDate, new { @class = "col-sm-3 control-label" })
                        <div class="col-sm-9">
                            @Html.TextBoxFor(q => quotation.QuotationDate, ViewData["QuotationDate"].ToString(), new { @class = "form-control", @disabled = "disabled" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(q => quotation.SalesDocumentUploads, new { @class = "col-sm-3 control-label" })
                        <div class="col-sm-9">
                            <div class="input-group input-group-file">
                                <input type="text" class="form-control" readonly="">
                                <span class="input-group-btn">
                                    <span class="btn btn-primary btn-file">
                                        <i class="icon wb-upload" aria-hidden="true"></i>
                                        <input id="quotation_SalesDocumentUploads-uploader" type="file" multiple disabled>
                                        @Html.HiddenFor(q => quotation.SalesDocumentUploads)
                                    </span>
                                </span>
                            </div>
                            <div id="quotation_SalesDocumentUploads-files">
                                @if (ViewData["SalesDocumentFiles"] != null)
                                {
                                    string[] files = ViewData["SalesDocumentFiles"].ToString().Split(',');
                                    foreach (string file in files)
                                    {
                                        <div class="margin-top-10 small"><a href="@Url.Content("~/FileUploads/QuotationSalesDocuments/" + file)" target="_blank">@file</a><button type="button" class="btn btn-pure btn-xs btn-danger icon wb-close"></button></div>
                                    }
                                }
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(q => quotation.Remarks, new { @class = "col-sm-3 control-label" })
                        <div class="col-sm-9">
                            @Html.TextAreaFor(q => quotation.Remarks, new { @class = "form-control", @disabled = "disabled" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(q => quotation.PaymentTerms, new { @class = "col-sm-3 control-label" })
                        <div class="col-sm-9">
                            @Html.TextAreaFor(q => quotation.PaymentTerms, new { @class = "form-control", @rows = 10, @disabled = "disabled" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="panel">
        <div class="panel-body container-fluid">
            <div class="row row-lg">
                <div class="col-xlg-10 col-md-10">
                    <h4>Co-broke</h4>

                    <div class="form-group">
                        <div class="col-sm-12 table-responsive">

                            <button type="button" class="btn btn-primary btn-sm" id="add_new" disabled>Add Item </button>

                            <table class="table table-hover table-condensed" data-striped="true" data-height="250" data-mobile-responsive="true" id="tbl">
                                <thead>
                                    <tr>
                                        <th class="width-50">#</th>
                                        <th class="width-200">User *</th>
                                        <th class="width-100">% of Profit</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @if (ViewData["QuotationCoBroke"] != null)
                                    {
                                        List<QuotationCoBroke> quotationCoBroke = (List<QuotationCoBroke>)ViewData["QuotationCoBroke"];
                                        int count = 1;
                                        
                                        string NewUserID = null;
                                        foreach (QuotationCoBroke _quotationCoBroke in quotationCoBroke)
                                        {

                                            <tr id="RowID-@count">
                                                <td><div class="calculateNumber">@count</div></td>
                                                <td>
                                                    @{
                                                        if(_quotationCoBroke.User != null)
                                                        {
                                                            NewUserID = _quotationCoBroke.User.UserID + " - " + _quotationCoBroke.User.Name;
                                                        }
                                                    }
                                                    @NewUserID
                                                </td>
                                                <td>
                                                    @_quotationCoBroke.QuotationCoBrokePercentOfProfit%
                                                </td>
                                            </tr>
                                        }
                                        <div>@Html.ValidationMessage("TotalOfPercentage")</div>
                                        <div>@Html.ValidationMessage("TotalOfCoBrokeItem")</div>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="panel">
        <div class="panel-body container-fluid">
            <div class="row row-lg">
                <div class="col-xlg-10 col-md-10">
                    <h4>Quotation Summary</h4>

                    <div class="form-group">
                        <div class="col-sm-12 table-responsive">
                            <table class="table table-hover table-condensed" data-striped="true" data-height="250" data-mobile-responsive="true" id="QuotationSummary">
                                <thead>
                                    <tr>
                                        <th class="width-50">#</th>
                                        <th class="width-200">Category</th>
                                        <th class="width-50">Amount</th>
                                        <th class="width-50">Unit Cost</th>
                                        <th class="width-50">Est Cost</th>
                                        <th class="width-50">Est Profit</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (ViewData["QuotationItemDescription"] != null)
                                    {
                                        int count = 1;
                                        List<ItemDescriptionBigTable> itemDescriptionBigTable = (List<ItemDescriptionBigTable>)ViewData["QuotationItemDescription"];

                                        foreach (ItemDescriptionBigTable _itemDescriptionBigTable in itemDescriptionBigTable)
                                        {
                                            <tr>
                                                <td id="SummaryItemMain-@_itemDescriptionBigTable.TableID"><div class="calculateNumberSummary-">@count</div></td>
                                                <td id="QuotationItemName-@_itemDescriptionBigTable.TableID">@_itemDescriptionBigTable.CategoryName</td>
                                                <td id="QuotationTotalAmount-@_itemDescriptionBigTable.TableID">$0.00</td>
                                                <td id="QuotationTotalUnitCost-@_itemDescriptionBigTable.TableID">$0.00</td>
                                                <td id="QuotationTotalEstCost-@_itemDescriptionBigTable.TableID">$0.00</td>
                                                <td id="QuotationTotalEstProfit-@_itemDescriptionBigTable.TableID">$0.00</td>
                                            </tr>
                                            count++;
                                        }
                                        <tr style="border-top:2px solid black; border-bottom:3px double black" id="SummaryTotalRow">
                                            <td colspan="2" style="text-align:right">Total</td>
                                            <td id="FinalTotalAmount">$0.00</td>
                                            <td id="FinalTotalUnitCost">$0.00</td>
                                            <td id="FinalTotalEstCost">$0.00</td>
                                            <td id="FinalTotalEstProfit">$0.00</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="panel">
        <div class="panel-body container-fluid">
            <div class="row row-lg">
                <div class="col-md-12">
                    <h4>Item Description</h4>

                    @if (ViewData["QuotationItemDescription"] != null)
                    {
                        List<ItemDescriptionBigTable> itemDescriptionBigTable = (List<ItemDescriptionBigTable>)ViewData["QuotationItemDescription"];

                        foreach (ItemDescriptionBigTable _itemDescriptionBigTable in itemDescriptionBigTable)
                        {
                            <div class="form-group" id="BigTable-@_itemDescriptionBigTable.TableID">
                                <div class="col-sm-12 table-responsive">
                                    <table class="table table-hover table-condensed table-bordered" data-striped="true" data-height="250" data-mobile-responsive="true" id="ItemDesciptiontbl-@_itemDescriptionBigTable.TableID">
                                        <thead>
                                            <tr>
                                                <th colspan="11">

                                                    <h5 class="inline">@_itemDescriptionBigTable.CategoryName</h5>
                                                    <button type="button" class="btn btn-primary btn-xs" disabled>Add Item </button>
                                                    <button type="button" class="btn btn-danger btn-xs" disabled>Remove</button>
                                                </th>
                                            </tr>
                                            <tr>
                                                <th style="min-width:50px">#</th>
                                                <th style="min-width:300px">Description *</th>
                                                <th style="min-width:50px">Qty *</th>
                                                <th style="min-width:50px">Unit *</th>
                                                <th style="min-width:100px">Rate *</th>
                                                <th style="min-width:150px">Amount</th>
                                                <th style="min-width:150px; background-color:#ffff87;">Unit Cost</th>
                                                <th style="min-width:150px; background-color:#ffff87;">Est Cost</th>
                                                <th style="min-width:150px; background-color:#ffff87;">Est Profit</th>
                                                <th style="min-width:150px">Remarks</th>
                                                <th style="min-width:150px">Mgr Comments</th>
                                                <th style="min-width:50px">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @{
                                                int count = 1;
                                            }

                                            <!-- Add one more for loop to loop the same item -->
                                            @foreach (ItemDescriptionRow _itemDescriptionRow in _itemDescriptionBigTable.ItemDescriptionRows)
                                            {
                                                string NewInsideRowID = _itemDescriptionBigTable.TableID + "-" + _itemDescriptionRow.RowId;
                                                <tr id="RowInsideID-@NewInsideRowID">
                                                    <td><div class="calculateNumber-@_itemDescriptionBigTable.TableID">@count</div></td>
                                                    <td>
                                                        @Html.TextBox("QuotationItemDescriptionDescription_" + _itemDescriptionBigTable.TableID + "_" + _itemDescriptionRow.RowId, _itemDescriptionRow.Description, new { @class = "form-control", @disabled = "disabled" })
                                                    </td>
                                                    <td>
                                                        @Html.TextBox("QuotationItemDescriptionQty_" + _itemDescriptionBigTable.TableID + "_" + _itemDescriptionRow.RowId, _itemDescriptionRow.Qty, new { @class = "form-control", @onchange = "CalculateAmount('QuotationItemDescriptionQty_" + _itemDescriptionBigTable.TableID + "_" + _itemDescriptionRow.RowId + "')", @disabled = "disabled" })
                                                    </td>
                                                    <td>
                                                        @Html.TextBox("QuotationItemDescriptionUnit_" + _itemDescriptionBigTable.TableID + "_" + _itemDescriptionRow.RowId, _itemDescriptionRow.Unit, new { @class = "form-control", @disabled = "disabled" })
                                                    </td>
                                                    <td>
                                                        <div class="input-group">
                                                            <span class="input-group-addon">$</span>
                                                            @Html.TextBox("QuotationItemDescriptionRate_" + _itemDescriptionBigTable.TableID + "_" + _itemDescriptionRow.RowId, _itemDescriptionRow.Rate, new { @class = "form-control", @onchange = "CalculateAmountRate('QuotationItemDescriptionRate_" + _itemDescriptionBigTable.TableID + "_" + _itemDescriptionRow.RowId + "')", @disabled = "disabled" })
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="input-group">
                                                            <span class="input-group-addon">$</span>
                                                            @Html.TextBox("QuotationItemDescriptionAmount_" + _itemDescriptionBigTable.TableID + "_" + _itemDescriptionRow.RowId, _itemDescriptionRow.Amount, new { @class = "form-control", @disabled = "disabled" })
                                                            @Html.Hidden("QuotationItemDescriptionAmount2_" + _itemDescriptionBigTable.TableID + "_" + _itemDescriptionRow.RowId, _itemDescriptionRow.Amount)
                                                        </div>
                                                    </td>
                                                    <td style="background-color:#ffff87;">
                                                        <div class="input-group">
                                                            <span class="input-group-addon">$</span>
                                                            @Html.TextBox("QuotationItemDescriptionUnitCost_" + _itemDescriptionBigTable.TableID + "_" + _itemDescriptionRow.RowId, _itemDescriptionRow.Unit_Cost, new { @class = "form-control", @onchange = "CalculateAmountUnitCost('QuotationItemDescriptionUnitCost_" + _itemDescriptionBigTable.TableID + "_" + _itemDescriptionRow.RowId + "')", @disabled = "disabled" })
                                                        </div>
                                                    </td>
                                                    <td style="background-color:#ffff87;">
                                                        <div class="input-group">
                                                            <span class="input-group-addon">$</span>
                                                            @Html.TextBox("QuotationItemDescriptionEstCost_" + _itemDescriptionBigTable.TableID + "_" + _itemDescriptionRow.RowId, _itemDescriptionRow.Est_Cost, new { @class = "form-control", @onchange = "CalculateAmountProfit('QuotationItemDescriptionEstCost_" + _itemDescriptionBigTable.TableID + "_" + _itemDescriptionRow.RowId + "')", @disabled = "disabled" })
                                                            @Html.Hidden("QuotationItemDescriptionEstCost2_" + _itemDescriptionBigTable.TableID + "_" + _itemDescriptionRow.RowId, _itemDescriptionRow.Amount)
                                                        </div>
                                                    </td>
                                                    <td style="background-color:#ffff87;">
                                                        <div class="input-group">
                                                            <span class="input-group-addon">$</span>
                                                            @Html.TextBox("QuotationItemDescriptionProfit_" + _itemDescriptionBigTable.TableID + "_" + _itemDescriptionRow.RowId, _itemDescriptionRow.Est_Profit, new { @class = "form-control", @disabled = "disabled" })
                                                            @Html.Hidden("QuotationItemDescriptionProfit2_" + _itemDescriptionBigTable.TableID + "_" + _itemDescriptionRow.RowId, _itemDescriptionRow.Est_Profit)
                                                        </div>
                                                    </td>
                                                    <td>
                                                        @Html.TextArea("QuotationItemDescriptionRemarks_" + _itemDescriptionBigTable.TableID + "_" + _itemDescriptionRow.RowId, _itemDescriptionRow.Remarks, new { @class = "form-control", @disabled = "disabled" })
                                                    </td>
                                                    <td>
                                                        @Html.TextArea("QuotationItemDescriptionMgrComments_" + _itemDescriptionBigTable.TableID + "_" + _itemDescriptionRow.RowId, _itemDescriptionRow.Mgr_Comments, new { @class = "form-control", @disabled = "disabled" })
                                                    </td>
                                                    <td>
                                                        <button type="button" id="id_button" class="btn btn-danger btn-xs" data-toggle="tooltip" data-original-title="Remove" disabled>
                                                            <i class="icon wb-close" aria-hidden="true"></i> Remove
                                                        </button>
                                                    </td>
                                                </tr>
                                                count++;
                                            }

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        }

                    }
                    <div id="BigTableForAppend"></div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <button type="button" class="btn btn-primary margin-bottom-20" disabled>Add New Category </button>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-12">

                            @if (quotation.Status != "Draft")
                            {
                                if (!quotation.Status.Contains("Pending Manager Approval") && !quotation.Status.Contains("Pending Sales Revision"))
                                {
                                    <button type="button" class="btn btn-success margin-top-10" onclick="GenerateQuotation('@quotation.QuotationID', @quotation.ID)">Generate Quotation </button>
                                    <button type="button" class="btn btn-primary margin-top-10" onclick="SendEmail('@quotation.QuotationID', @quotation.ID)">Send Email </button>
                                }

                            }
                            
                            @{
                                int page = 1;

                                if (Session["Page"] != null)
                                {
                                    page = Convert.ToInt32(Session["Page"]);
                                }
                            }
                            <a href="@Url.Action("Listing", new { @page = page })" class="btn btn-default btn-outline  margin-top-10">Back</a>
                        </div>
                    </div>
                    <!-- End Example Horizontal Form -->
                </div>
            </div>
        </div>
    </div>
}

<script src="@Url.Content("~/Content/vendor/ckeditor/ckeditor.js")"></script>

<script>

    //This is for remove use(Recalculate the number after remove item inside)
    var globalID = 0;

    CKEDITOR.replace('quotation_PaymentTerms', {
        allowedContent: true,
    });

    $(document).ready(function () {

        var getCustomerID = $("#quotation_CustomerId").val();

        GetCustomerInfo(getCustomerID);

        RecalculateNumber();
        GetTotalAmountFirst();
    });

    //Send Email
    function SendEmail(applicationNo, id) {
        alertify.confirm("You are sending email with this " + applicationNo + " Quotation! Continue?", function (e) {
            if (e) {
                var url = "@Url.Action("SendEmail", "SendEmailQuotation")/" + id + "?from=view";

                $("#form-edit")[0].action = url;
                $("#form-edit").submit();
            }
        });
    }

    //Send Email
    function GenerateQuotation(applicationNo, id) {
        alertify.confirm("You are generating this " + applicationNo + " Quotation as PDF! Continue?", function (e) {
            if (e) {
                var url = "@Url.Action("GenerateQuotation", "Quotation")/" + id;

                $("#form-edit")[0].action = url;
                $("#form-edit").submit();
            }
        });
    }

    //Get Each Table
    function GetTotalAmountFirst()
    {
        //var Table = $('table[id*="ItemDesciptiontbl"]').length; //got how many table

        var FinalTotalAmount = 0;
        var FinalTotalUnitCost = 0;
        var FinalTotalEstCost = 0;
        var FinalTotalProfit = 0;

        var Table = $('table[id*="ItemDesciptiontbl"]').children('tbody').children('tr:last').attr('id'); //got how many table
        var TableID = 1;

        if (typeof (Table) === "undefined") {
            TableID = 1;
        }
        else {
            //Split The Last Table and get the ID
            var SplitTable = Table.split("-");
            TableID = Number(SplitTable[1]);
        }

        var Calculate = 0;
        var Count = 1;
        for (x = 1; x <= TableID ; x++)
        {

            //calculate got how many rows first.
            //get tr row count
            //var rowCount = $('#ItemDesciptiontbl-' + x + ' >tbody >tr').length;
            var TotalAmount = 0;
            var TotalUnitCost = 0;
            var TotalEstCost = 0;
            var TotalProfit = 0;

            var arr = $.map($("#ItemDesciptiontbl-" + x + " >tbody >tr [id*='QuotationItemDescriptionAmount_" + x + "']"), function (n, i)
            {

                var SplitItem = n.id.split("_");
                var GetAmount = $("#QuotationItemDescriptionAmount_" + x + "_" + SplitItem[2] + "").val().replace(/,/g, '');
                var GetUnitCost = $("#QuotationItemDescriptionUnitCost_" + x + "_" + SplitItem[2] + "").val().replace(/,/g, '');
                var GetEstCost = $("#QuotationItemDescriptionEstCost_" + x + "_" + SplitItem[2] + "").val().replace(/,/g, '');
                var GetProfit = $("#QuotationItemDescriptionProfit_" + x + "_" + SplitItem[2] + "").val().replace(/,/g, '');

                if (GetAmount == "" || isNaN(GetAmount / 1))
                {
                    GetAmount = "0.00";
                }

                if (GetUnitCost == "" || isNaN(GetUnitCost / 1)) {
                    GetUnitCost = "0.00";
                }

                if (GetEstCost == "" || isNaN(GetEstCost / 1)) {
                    GetEstCost = "0.00";
                }

                if (GetProfit == "" || isNaN(GetProfit / 1)) {
                    GetProfit = "0.00";
                }

                TotalAmount += Number(GetAmount);
                TotalUnitCost += Number(GetUnitCost);
                TotalEstCost += Number(GetEstCost);
                TotalProfit += Number(GetProfit);

                //Add or remove item instant update numbers
                //If postback is yes, dont run this line.
                //if (PostBack != "Yes") {

                //}

            });

            FinalTotalAmount += Number(TotalAmount);
            FinalTotalUnitCost += Number(TotalUnitCost);
            FinalTotalEstCost += Number(TotalEstCost);
            FinalTotalProfit += Number(TotalProfit);

            //Push To Quotation Total Summary Amount

            //alert(Calculate);
           
            $("#QuotationTotalAmount-" + x).html("$" + TotalAmount.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, "$1,").toString());
            $("#QuotationTotalUnitCost-" + x).html("$" + TotalUnitCost.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, "$1,").toString());
            $("#QuotationTotalEstCost-" + x).html("$" + TotalEstCost.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, "$1,").toString());
            $("#QuotationTotalEstProfit-" + x).html("$" + TotalProfit.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, "$1,").toString());
        }

        //Push To Final Total Summary Amount
        $("#FinalTotalAmount").html("$" + FinalTotalAmount.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, "$1,").toString());
        $("#FinalTotalUnitCost").html("$" + FinalTotalUnitCost.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, "$1,").toString());
        $("#FinalTotalEstCost").html("$" + FinalTotalEstCost.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, "$1,").toString());
        $("#FinalTotalEstProfit").html("$" + FinalTotalProfit.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, "$1,").toString());

        RecalculateNumberSummary();
    }

    //Calculate Bottom Total
    function CalculateAllTotalAmount() {
        var Table = $('table[id*="ItemDesciptiontbl"]').length; //got how many table
        var GetTotalAmount = 0;
        var GetTotalUnitCost = 0;
        var GetTotalEstCost = 0;
        var GetTotalProfit = 0;

        //This loop is for calculate all the total amount
        for (i = 1; i <= Table; i++) {
            var GetEachAmount = $("#QuotationTotalAmount-" + i).text().replace("$", "");
            var GetEachUnitCost = $("#QuotationTotalUnitCost-" + i).text().replace("$", "");
            var GetEachEstCost = $("#QuotationTotalEstCost-" + i).text().replace("$", "");
            var GetEachProfit = $("#QuotationTotalEstProfit-" + i).text().replace("$", "");

            var GetEachAmount2 = GetEachAmount.replace(/,/g, '');
            var GetEachUnitCost2 = GetEachUnitCost.replace(/,/g, '');
            var GetEachEstCost2 = GetEachEstCost.replace(/,/g, '');
            var GetEachProfit2 = GetEachProfit2.replace(/,/g, '');

            GetTotalAmount += Number(GetEachAmount2);
            GetTotalUnitCost += Number(GetEachUnitCost2);
            GetTotalEstCost += Number(GetEachEstCost2);
            GetTotalProfit += Number(GetEachProfit2);
        }

        $("#FinalTotalAmount").html("$" + GetTotalAmount.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, "$1,").toString());
        $("#FinalTotalUnitCost").html("$" + GetTotalUnitCost.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, "$1,").toString());
        $("#FinalTotalEstCost").html("$" + GetTotalEstCost.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, "$1,").toString());
        $("#FinalTotalEstProfit").html("$" + GetTotalProfit.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, "$1,").toString());
    }

    //This is Qty on change
    function CalculateAmount(id) {
        //var amount = $("#" + id).val().replace(",", "");
        //alert(id);

        //Split id for get the IDs
        var GetRateSplit = id.split("_");
        var GetRate = $("#QuotationItemDescriptionRate_" + GetRateSplit[1] + "_" + GetRateSplit[2] + "").val().replace(/,/g, '');

        var GetUnitCostSplit = id.split("_");
        var GetUnitCost = $("#QuotationItemDescriptionUnitCost_" + GetUnitCostSplit[1] + "_" + GetUnitCostSplit[2] + "").val().replace(/,/g, '');

        var TotalAmount = 0;
        var TotalEstCost = 0;
        var TotalProfit = 0;

        var GetQty = $("#" + id + "").val().replace(/,/g, '');

        if (GetQty == "" || isNaN(GetQty / 1)) {
            GetQty = "0";
        }

        if (GetRate == "" || isNaN(GetRate / 1)) {
            GetRate = "0.00";
        }

        if (GetUnitCost == "" || isNaN(GetUnitCost / 1)) {
            GetUnitCost = "0.00";
        }

        TotalAmount += (GetQty * GetRate);
        var Name = "QuotationItemDescriptionAmount_" + GetRateSplit[1] + "_" + GetRateSplit[2] + "";
        $("#QuotationItemDescriptionAmount_" + GetRateSplit[1] + "_" + GetRateSplit[2] + "").val(TotalAmount.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, "$1,").toString());
        $("#QuotationItemDescriptionAmount2_" + GetRateSplit[1] + "_" + GetRateSplit[2] + "").val(TotalAmount.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, "$1,").toString());
        ValidateAmount(Name);

        TotalEstCost += (GetQty * GetUnitCost);

        var ValidateEstCost = "QuotationItemDescriptionEstCost_" + GetRateSplit[1] + "_" + GetRateSplit[2] + "";
        $("#QuotationItemDescriptionEstCost_" + GetRateSplit[1] + "_" + GetRateSplit[2] + "").val(TotalEstCost.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, "$1,").toString());
        $("#QuotationItemDescriptionEstCost2_" + GetRateSplit[1] + "_" + GetRateSplit[2] + "").val(TotalEstCost.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, "$1,").toString());
        ValidateAmount(ValidateEstCost);

        //Calculate Est Profit When Qty Changed
        var GetAmount = $("#QuotationItemDescriptionAmount_" + GetRateSplit[1] + "_" + GetRateSplit[2] + "").val().replace(/,/g, '');
        var GetEstCost = $("#QuotationItemDescriptionEstCost2_" + GetRateSplit[1] + "_" + GetRateSplit[2] + "").val().replace(/,/g, '');
        TotalProfit += (GetAmount - GetEstCost);


        var NameProfit = "QuotationItemDescriptionProfit_" + GetRateSplit[1] + "_" + GetRateSplit[2] + "";
        $("#QuotationItemDescriptionProfit_" + GetRateSplit[1] + "_" + GetRateSplit[2] + "").val(TotalProfit.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, "$1,").toString());
        $("#QuotationItemDescriptionProfit2_" + GetRateSplit[1] + "_" + GetRateSplit[2] + "").val(TotalProfit.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, "$1,").toString());
        ValidateAmount(NameProfit);

        GetTotalAmount(id);
        GetTotalUnitCost(id);
        GetTotalEstCost(id);
        GetTotalEstProfit(id);
        GetTotalAmountFirst();
        //CalculateAllTotalAmount();
    }

    //Unit Cost onchange calculation
    function CalculateAmountUnitCost(id) {
        //var amount = $("#" + id).val().replace(",", "");
        //alert(id);

        //Split id for get the IDs
        var GetRateSplit = id.split("_");
        var GetRate = $("#QuotationItemDescriptionRate_" + GetRateSplit[1] + "_" + GetRateSplit[2] + "").val().replace(/,/g, '');

        var GetQtySplit = id.split("_");
        var GetQty = $("#QuotationItemDescriptionQty_" + GetQtySplit[1] + "_" + GetQtySplit[2] + "").val().replace(/,/g, '');

        var TotalEstCost = 0;

        var TotalAmount = 0;
        var TotalProfit = 0;

        var GetUnitCost = $("#" + id + "").val().replace(/,/g, '');

        if (GetQty == "" || isNaN(GetQty / 1)) {
            GetQty = "0.00";
        }

        if (GetRate == "" || isNaN(GetRate / 1)) {
            GetRate = "0.00";
        }

        if (GetUnitCost == "" || isNaN(GetUnitCost / 1)) {
            GetUnitCost = "0.00";
        }

        TotalAmount += (GetQty * GetRate);

        TotalEstCost += (GetQty * GetUnitCost);

        //ValidateAmount(GetQty);


        var Qty = id + "";
        ValidateAmount(Qty);

        //$("#" + id + "").val(GetQty.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, "$1,").toString());
        //ValidateAmount(Qty);
        //alert(Qty);

        var Name = "QuotationItemDescriptionAmount_" + GetRateSplit[1] + "_" + GetRateSplit[2] + "";
        $("#QuotationItemDescriptionAmount_" + GetRateSplit[1] + "_" + GetRateSplit[2] + "").val(TotalAmount.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, "$1,").toString());
        $("#QuotationItemDescriptionAmount2_" + GetRateSplit[1] + "_" + GetRateSplit[2] + "").val(TotalAmount.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, "$1,").toString());

        var ValidateEstCost = "QuotationItemDescriptionEstCost_" + GetRateSplit[1] + "_" + GetRateSplit[2] + "";
        $("#QuotationItemDescriptionEstCost_" + GetRateSplit[1] + "_" + GetRateSplit[2] + "").val(TotalEstCost.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, "$1,").toString());
        $("#QuotationItemDescriptionEstCost2_" + GetRateSplit[1] + "_" + GetRateSplit[2] + "").val(TotalEstCost.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, "$1,").toString());

        ValidateAmount(Name);
        ValidateAmount(ValidateEstCost);


        //Calculate Est Profit When Qty Changed
        var GetAmount = $("#QuotationItemDescriptionAmount_" + GetRateSplit[1] + "_" + GetRateSplit[2] + "").val().replace(/,/g, '');
        var GetEstCost = $("#QuotationItemDescriptionEstCost_" + GetRateSplit[1] + "_" + GetRateSplit[2] + "").val().replace(/,/g, '');
        TotalProfit += (GetAmount - GetEstCost);


        var NameProfit = "QuotationItemDescriptionProfit_" + GetRateSplit[1] + "_" + GetRateSplit[2] + "";
        $("#QuotationItemDescriptionProfit_" + GetRateSplit[1] + "_" + GetRateSplit[2] + "").val(TotalProfit.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, "$1,").toString());
        $("#QuotationItemDescriptionProfit2_" + GetRateSplit[1] + "_" + GetRateSplit[2] + "").val(TotalProfit.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, "$1,").toString());
        ValidateAmount(NameProfit);

        GetTotalAmount(id);
        GetTotalUnitCost(id);
        GetTotalEstCost(id);
        GetTotalEstProfit(id);
        GetTotalAmountFirst();
        //CalculateAllTotalAmount();
    }

    function GetTotalAmount(id) {
        var GetAmountSplit = id.split("_");

        //calculate got how many rows first.
        //get tr row count
        var rowCount = $('#ItemDesciptiontbl-' + GetAmountSplit[1] + ' >tbody >tr').length;

        var TotalAmount = 0;
        //var Calculate = GetAmountSplit[1];

        for (i = 1; i <= rowCount; i++) {
            var GetAmount = $("#QuotationItemDescriptionAmount_" + GetAmountSplit[1] + "_" + i + "").val().replace(/,/g, '');
            TotalAmount += Number(GetAmount);

            //Calculate++;
        }

        //Push To Quotation Total Summary Amount
        $("#QuotationTotalAmount-" + GetAmountSplit[1]).html("$" + TotalAmount.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, "$1,").toString());
    }

    //Get Total Est Cost
    function GetTotalEstCost(id) {
        var GetEstCostSplit = id.split("_");

        //calculate got how many rows first.
        //get tr row count
        var rowCount = $('#ItemDesciptiontbl-' + GetEstCostSplit[1] + ' >tbody >tr').length;
        var TotalAmount = 0;
        var Calculate = GetEstCostSplit[1];
        for (i = 1; i <= rowCount; i++) {
            var GetAmount = $("#QuotationItemDescriptionEstCost_" + GetEstCostSplit[1] + "_" + Calculate + "");
            TotalAmount += Number(GetAmount);
            Calculate++;
        }

        //Push To Quotation Total Summary Est Cost
        $("#QuotationTotalEstCost-" + GetEstCostSplit[1]).html("$" + TotalAmount.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, "$1,").toString());
    }

    //Get Total Unit Cost
    function GetTotalUnitCost(id) {
        var GetUnitCostSplit = id.split("_");

        //calculate got how many rows first.
        //get tr row count

        var TotalAmount = 0;

        $('#ItemDesciptiontbl-' + GetUnitCostSplit[1] + ' tbody tr').each(function () {
            var trid = this.id.split("-")[2];//get row id

            var GetAmount = $("#QuotationItemDescriptionUnitCost_" + GetUnitCostSplit[1] + "_" + trid).val().replace(/,/g, '');
            TotalAmount += Number(GetAmount);
        });

        //console.log("TotalAmount = " + TotalAmount);
        //Push To Quotation Total Summary Est Cost
        
        $("#QuotationTotalUnitCost-" + GetUnitCostSplit[1]).html("$" + TotalAmount.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, "$1,").toString());
    }

    //Get Total Est Cost
    function GetTotalEstProfit(id) {
        var GetEstProfitSplit = id.split("_");

        //calculate got how many rows first.
        //get tr row count
        var rowCount = $('#ItemDesciptiontbl-' + GetEstProfitSplit[1] + ' >tbody >tr').length;
        var TotalAmount = 0;
        var Calculate = GetEstProfitSplit[1];
        for (i = 1; i <= rowCount; i++) {
            var GetAmount = $("#QuotationItemDescriptionProfit_" + GetEstProfitSplit[1] + "_" + Calculate + "");
            TotalAmount += Number(GetAmount);
            Calculate++;
        }

        //Push To Quotation Total Summary Profit
        $("#QuotationTotalEstProfit-" + GetEstProfitSplit[1]).html("$" + TotalAmount.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, "$1,").toString());
    }

    function CalculateAmountRate(id) {
        //1. Validate Amount First,
        ValidateAmount(id);

        //Split id for get the IDs
        var GetQtySplit = id.split("_");
        var GetQty = $("#QuotationItemDescriptionQty_" + GetQtySplit[1] + "_" + GetQtySplit[2] + "").val().replace(/,/g, '');
        var TotalAmount = 0;
        var TotalProfit = 0;

        var GetRate = $("#" + id + "").val().replace(/,/g, '');

        if (GetQty == "" || isNaN(GetQty / 1)) {
            GetQty = "0";
        }

        if (GetRate == "" || isNaN(GetRate / 1)) {
            GetRate = "0.00";
        }

        TotalAmount += (GetQty * GetRate);
        var Name = "QuotationItemDescriptionAmount_" + GetQtySplit[1] + "_" + GetQtySplit[2] + "";
        $("#QuotationItemDescriptionAmount_" + GetQtySplit[1] + "_" + GetQtySplit[2] + "").val(TotalAmount.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, "$1,").toString());
        $("#QuotationItemDescriptionAmount2_" + GetQtySplit[1] + "_" + GetQtySplit[2] + "").val(TotalAmount.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, "$1,").toString());
        ValidateAmount(Name);

        //Calculate Est Profit When Rate Changed
        var GetAmount = $("#QuotationItemDescriptionAmount_" + GetQtySplit[1] + "_" + GetQtySplit[2] + "").val().replace(/,/g, '');
        var GetEstCost = $("#QuotationItemDescriptionEstCost_" + GetQtySplit[1] + "_" + GetQtySplit[2] + "").val().replace(/,/g, '');
        TotalProfit += (GetAmount - GetEstCost);

        var NameProfit = "QuotationItemDescriptionProfit_" + GetQtySplit[1] + "_" + GetQtySplit[2] + "";
        $("#QuotationItemDescriptionProfit_" + GetQtySplit[1] + "_" + GetQtySplit[2] + "").val(TotalProfit.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, "$1,").toString());
        $("#QuotationItemDescriptionProfit2_" + GetQtySplit[1] + "_" + GetQtySplit[2] + "").val(TotalProfit.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, "$1,").toString());
        ValidateAmount(NameProfit);

        GetTotalAmount(id);
        GetTotalUnitCost(id);
        GetTotalEstCost(id);
        GetTotalEstProfit(id);
        GetTotalAmountFirst();
    }

    function CalculateAmountProfit(id) {

        ValidateAmount(id);

        var GetAmountSplit = id.split("_");
        var GetAmount = $("#QuotationItemDescriptionAmount_" + GetAmountSplit[1] + "_" + GetAmountSplit[2] + "").val().replace(/,/g, '');
        var TotalProfit = 0;

        var GetEstCost = $("#" + id + "").val().replace(/,/g, '');

        if (GetAmount == "" || isNaN(GetAmount / 1)) {
            GetAmount = "0";
        }

        if (GetEstCost == "" || isNaN(GetEstCost / 1)) {
            GetEstCost = "0.00";
        }

        TotalProfit += (GetAmount - GetEstCost);
        var Name = "QuotationItemDescriptionProfit_" + GetAmountSplit[1] + "_" + GetAmountSplit[2] + "";
        $("#QuotationItemDescriptionProfit_" + GetAmountSplit[1] + "_" + GetAmountSplit[2] + "").val(TotalProfit.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, "$1,").toString());
        $("#QuotationItemDescriptionProfit2_" + GetAmountSplit[1] + "_" + GetAmountSplit[2] + "").val(TotalProfit.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, "$1,").toString());
        ValidateAmount(Name);

        GetTotalEstCost(id);
        GetTotalUnitCost(id);
        GetTotalEstCost(id);
        GetTotalEstProfit(id);
        GetTotalAmountFirst();
    }

    function RecalculateNumber() {
        var count = 1;
        $(".calculateNumber").each(function () {
            //console.log(this);
            this.innerHTML = count;
            count++;
        })
    }

    function RecalculateNumberInside(id) {
        var count = 1;

        $(".calculateNumber-" + id).each(function () {
            console.log(this);
            this.innerHTML = count;
            count++;
        })
    }

    function RecalculateNumberSummary() {
        var count = 1;
        //console.log("983");
        //console.log($(".calculateNumberSummary-"));
        $(".calculateNumberSummary-").each(function () {
            console.log(this);
            this.innerHTML = count;
            count++;
        })
    }

    function GetCustomerInfo(role) {

        var roleID = role.value;

        if (typeof (roleID) === "undefined") {
            roleID = role;
        }

        var url = "@Url.Action("GetCustomerInfo")";

        if (roleID == "") {
            $('#quotation_Address').val("");
            $('#quotation_Tel').val("");
            $('#quotation_Fax').val("");
        }
        else {
            $.ajax({
                type: "GET",
                url: url,
                data: { id: roleID },
                success: function (data) {
                    data = JSON.parse(data);

                    for (var i = 0; i < data.length; i++) {
                        $('#quotation_Address').val(data[i].Address);
                        $('#quotation_Tel').val(data[i].Tel);
                        $('#quotation_Fax').val(data[i].Fax);
                    }
                }
            });
        }
    }

    function ValidateAmount(id) {
        var amount = $("#" + id).val().replace(",", "");

        if (amount != "") {
            var url = "@Url.Action("ValidateAmount")";

            $.ajax({
                type: "GET",
                cache: false,
                url: url,
                data: { amount: amount },
                success: function (data) {
                    data = JSON.parse(data);
                    if (data.result) {
                        $("#" + id).val(data.newAmount);
                    }
                }
            });
        }
    }
</script>