﻿@using DataAccess.POCO

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = ViewData["SiteName"].ToString();
    ViewBag.PageTitle = "Update Profile";
}

<div class="page-content">
    <div class="panel">
        <div class="panel-body container-fluid">
            <div class="row row-lg">
                <div class="col-md-10">
                    <!-- Example Horizontal Form -->
                    @using (Html.BeginForm("CustomerProfile", "Customers", FormMethod.Post, new { @class = "form-horizontal" }))
                    {

                        if (Session["Result"] != null)
                        {
                            string[] result = Session["Result"].ToString().Split('|');

                            <div class="alert alert-@result[0] text-center">
                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                                @result[1]
                            </div>

                            Session.Remove("Result");
                        }

                        <div class="form-group">
                            @Html.Label("User ID", new { @class = "col-sm-3 control-label" })
                            <div class="col-sm-9">
                                @Html.TextBox("UserID", @ViewData["UserID"], new { @class = "form-control", @disabled = "disabled" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.Label("Login ID", new { @class = "col-sm-3 control-label" })
                            <div class="col-sm-9">
                                @Html.TextBox("LoginID", @ViewData["LoginID"], new { @class = "form-control", @disabled = "disabled" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.Label("Password", new { @class = "col-sm-3 control-label" })
                            <div class="col-sm-9">
                                @Html.Password("Password", null, new { @class = "form-control" })
                                @Html.ValidationMessage("Password")
                                <span class="help-block" style="color:#000;"><i class="wb-info-circle"></i> Leave Blank If No Change</span>
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.Label("Repeat Password", new { @class = "col-sm-3 control-label" })
                            <div class="col-sm-9">
                                @Html.Password("RepeatPassword", null, new { @class = "form-control" })
                                @Html.ValidationMessage("RepeatPassword")
                                <span class="help-block" style="color:#000;"><i class="wb-info-circle"></i> Leave Blank If No Change</span>
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.Label("Status", new { @class = "col-sm-3 control-label" })
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="Status" value="Active" disabled>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-12">
                                <button type="submit" class="btn btn-primary margin-top-10">Save</button>
                                <button type="reset" class="btn btn-default btn-outline margin-top-10">Reset</button>
                            </div>
                        </div>
                    }
                    <!-- End Example Horizontal Form -->
                </div>
            </div>
        </div>
    </div>
</div>