﻿@using DataAccess.POCO
@using PagedList
@using PagedList.Mvc

@{
    ViewBag.Title = ViewData["SiteName"].ToString();
    ViewBag.PageTitle = "My Quotations";
    ViewBag.AQuotation = "active";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel">
    <div class="panel-body container-fluid">
        <div class="row margin-top-15">
            <div class="col-xlg-12 col-md-12">
                @using (Html.BeginForm("ListingQuotation", "Customers", FormMethod.Post, new { @class = "page-search-form", @role = "search" }))
                {
                    <div class="input-search input-search-dark">
                        <button type="submit" class="input-search-icon wb-search" aria-label="Search" arial-hidden="true" id="btn-search"></button>
                        @Html.TextBox("SearchKeyword", ViewData["SearchKeyword"].ToString(), new { @class = "form-control", @placeholder = "Search by Quotation ID" })
                        <button type="button" class="input-search-close icon wb-close" aria-label="Close" id="btn-close"></button>
                    </div>
                }
            </div>
        </div>

        <div class="row margin-top-15">
            <div class="col-xlg-12 col-md-12">
                <!-- Table -->
                <div>

                    <div class="table-responsive">
                        <table class="table table-hover table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Quotation ID</th>
                                    <th>Customer/Company</th>
                                    <th>Date</th>
                                    <th>Amount</th>
                                    <th>Submitted by</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    IPagedList<Quotation> quotations = (IPagedList<Quotation>)ViewData["Quotation"];
                                    List<QuotationItemDescription> quotationItemDescsription = (List<QuotationItemDescription>)ViewData["GetListingAmount"];

                                    if (quotations.Count > 0)
                                    {
                                        int count = 1;

                                        foreach (Quotation _quotations in quotations)
                                        {

                                            int col1 = count;
                                            string col2 = "-";
                                            string col3 = "-";
                                            string col4 = "-";
                                            string col5 = "-";
                                            decimal TotalAmount = Convert.ToDecimal("0.00");
                                            
                                            string FormattedTotalAmount = null;
                                            foreach (QuotationItemDescription _quotationItemDescription in quotationItemDescsription)
                                            {
                                                if (_quotationItemDescription.QuotationId == _quotations.ID)
                                                {
                                                    TotalAmount = _quotationItemDescription.QuotationItemAmount;
                                                }
                                            }
                                            
                                            FormattedTotalAmount = TotalAmount.ToString("#,##0.00");
                                            
                                            string col6 = "-";
                                            string col7 = _quotations.Status;

                                            if (!string.IsNullOrEmpty(_quotations.QuotationID))
                                            {
                                                col2 = _quotations.QuotationID;
                                            }

                                            if (_quotations.Customer != null)
                                            {
                                                col3 = _quotations.Customer.ContactPerson;
                                            }

                                            if (_quotations.QuotationDate != null)
                                            {
                                                col4 = Convert.ToString(_quotations.QuotationDate);
                                            }

                                            //Pending Amount
                                            if (_quotations.PreparedById != null)
                                            {
                                                col6 = _quotations.PreparedBy.Name;
                                            }

                                            <tr>
                                                <td>@col1</td>
                                                <td><a href="@Url.Action("ViewQuotation", new { @id = _quotations.ID })">@col2</a></td>
                                                <td>@col3</td>
                                                <td>@col4</td>
                                                <td>$@FormattedTotalAmount</td>
                                                <td>@col6</td>
                                                <td>@col7</td>
                                            </tr>
                                            count++;
                                        }
                                    }
                                    else
                                    {
                                        <tr>
                                            <td class="no-record" colspan="7">No record to display</td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- End Table -->
            </div>


            <div class="pagination pagination-no-border">
                @Html.PagedListPager((IPagedList)ViewData["Quotation"], page => Url.Action("/ListingQuotation", "Customers", new { page, currentFilter = ViewBag.CurrentFilter }), new PagedListRenderOptions { LinkToFirstPageFormat = "<< First", LinkToPreviousPageFormat = "< Previous", LinkToNextPageFormat = "Next >", LinkToLastPageFormat = "Last >>" })
            </div>

        </div>
    </div>
</div>

@if (Session["Result"] != null)
{
    string[] result = Session["Result"].ToString().Split('|');

    <script>
        $(document).ready(function () {
            alertify.alert("@result[1]");
        })
    </script>

    Session.Remove("Result");
}