﻿@using DataAccess.POCO
@using PagedList
@using PagedList.Mvc

@{
    ViewBag.Title = ViewData["SiteName"].ToString();
    ViewBag.PageTitle = "View Payout";
    ViewBag.APayout = "active open";
    ViewBag.liViewPayout = "active";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel">
    <div class="panel-body container-fluid">
        <div class="row margin-top-15">
            <div class="col-xlg-12 col-md-12">
                <div class="table-responsive">
                    <table class="table table-hover table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Payout ID</th>
                                <th>Salesperson/Customer</th>
                                <th>Period</th>
                                <th>Comm Amount</th>
                                <th>Total Early Payout Amount</th>
                                <th>Payout Amount</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                IPagedList<Payout> payouts = (IPagedList<Payout>)ViewData["Payout"];

                                if (payouts.Count > 0)
                                {
                                    int pageCount = 0;
                                    int pageSize = Convert.ToInt32(Session["PageSize"]);
                                    int i = 1;

                                    if (Session["Page"] != null)
                                    {
                                        pageCount = Convert.ToInt32(Session["Page"]) - 1;
                                    }

                                    foreach (Payout payout in payouts)
                                    {
                                        <tr>
                                            <td>@(i + pageCount * pageSize)</td>
                                            <td><a href="javascript:void(0)" data-toggle="tooltip" data-original-title="View Summary" onclick="ViewSummary(@payout.ID)">@payout.PayoutID</a></td>
                                            <td>
                                                @if (payout.UserType == "Salesperson")
                                                {
                                                    @payout.Salesperson.Name
                                                }
                                                else
                                                {
                                                    if (!string.IsNullOrEmpty(payout.Customer.CompanyName))
                                                    {
                                                        @payout.Customer.CompanyName
                                                    }
                                                    else
                                                    {
                                                        @payout.Customer.ContactPerson
                                                    }
                                                }
                                            </td>
                                            <td>@payout.Period.ToString("MMM yyyy")</td>
                                            <td>$@payout.TotalCommissionAmount.ToString("#,##0.00")</td>
                                            <td>$@payout.TotalEarlyPayoutAmount.ToString("#,##0.00")</td>
                                            <td>$@payout.TotalPayoutAmount.ToString("#,##0.00")</td>
                                            <td>@payout.Status</td>
                                        </tr>
                                        i++;
                                    }
                                }
                                else
                                {
                                    <tr>
                                        <td class="no-record" colspan="8">No record to display</td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="pagination pagination-no-border">
                @Html.PagedListPager((IPagedList)ViewData["Payout"], page => Url.Action("/ViewPayout", "Payout", new { page, currentFilter = ViewBag.CurrentFilter }), new PagedListRenderOptions { LinkToFirstPageFormat = "<< First", LinkToPreviousPageFormat = "< Previous", LinkToNextPageFormat = "Next >", LinkToLastPageFormat = "Last >>" })
            </div>
        </div>
    </div>
</div>

<div class="page-title">
    <h2>Payout Calculation</h2>
</div>

<div class="panel">
    <div class="panel-body container-fluid">
        <div class="row">
            <div class="col-xlg-10 col-md-10">
                <h4 id="h4-payout-calculation">Payout Summary</h4>
                <div class="table-responsive">
                    <table id="table-payout-calculation" class="table table-hover table-condensed" data-striped="true" data-height="250" data-mobile-responsive="true">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Tier</th>
                                <th>Name</th>
                                <th>Profit</th>
                                <th>Payout Percentage</th>
                                <th>Commission</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="no-record" colspan="6">Please select a payout</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@if (Session["Result"] != null)
{
    string[] result = Session["Result"].ToString().Split('|');

    <script>
        $(document).ready(function () {
            alertify.alert("@result[1]");
        })
    </script>

    Session.Remove("Result");
}

<script>
    function ViewSummary(id) {
        var url = "@Url.Action("GetPayoutCalculation")";

        $.ajax({
            type: "GET",
            cache: false,
            url: url,
            data: { id: id },
            success: function (data) {
                data = JSON.parse(data);
                if (data.Result) {
                    $("#table-payout-calculation tbody").html(data.PayoutSummaryView);
                }
                else {
                    $("#table-payout-calculation tbody").html("<tr><td class='no-record' colspan='6'>Please select a payout</td></tr>");
                    alertify.alert(data.ErrorMessage);
                }
            },
            error: function (e) {
                console.log(e);
                alertify.alert("An error occured while retrieving Payout Calculation!");
            }
        })
    }
</script>