﻿@using DataAccess.POCO
@using PagedList
@using PagedList.Mvc

@{
    ViewBag.Title = ViewData["SiteName"].ToString();
    ViewBag.PageTitle = "My Invoices";
    ViewBag.AInvoice = "active";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel">
    <div class="panel-body container-fluid">
        <div class="row margin-top-15">
            <div class="col-xlg-12 col-md-12">
                @using (Html.BeginForm("ListingInvoice", "Customers", FormMethod.Post, new { @class = "page-search-form", @role = "search" }))
                {
                    <div class="input-search input-search-dark">
                        <button type="submit" class="input-search-icon wb-search" aria-label="Search" arial-hidden="true" id="btn-search"></button>
                        @Html.TextBox("SearchKeyword", ViewData["SearchKeyword"].ToString(), new { @class = "form-control", @placeholder = "Search by Invoice ID or Customer Name" })
                        <button type="button" class="input-search-close icon wb-close" aria-label="Close" id="btn-close"></button>
                    </div>
                }
            </div>
        </div>

        <div class="row margin-top-15">
            <div class="col-xlg-12 col-md-12">
                <div class="table-responsive">
                    <table class="table table-hover table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Invoice ID</th>
                                <th>Customer/Company</th>
                                <th>Date</th>
                                <th>Grand Total</th>
                                <th>Payment Made</th>
                                <th>Prepared by</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                IPagedList<Invoice> invoices = (IPagedList<Invoice>)ViewData["Invoice"];

                                if (invoices.Count > 0)
                                {
                                    int pageCount = 0;
                                    int pageSize = Convert.ToInt32(Session["PageSize"]);
                                    int i = 1;

                                    if (Session["Page"] != null)
                                    {
                                        pageCount = Convert.ToInt32(Session["Page"]) - 1;
                                    }

                                    foreach (Invoice invoice in invoices)
                                    {
                                        string col3 = invoice.Customer.CompanyName;

                                        if (string.IsNullOrEmpty(col3))
                                        {
                                            col3 = invoice.Customer.ContactPerson;
                                        }

                                        string col6 = "-";

                                        if (invoice.PaymentMade != null)
                                        {
                                            col6 = "$" + Convert.ToDecimal(invoice.PaymentMade).ToString("#,##0.00");
                                        }

                                        <tr>
                                            <td>@(i + pageCount * pageSize)</td>
                                            <td><a href="@Url.Action("ViewInvoice", new { @id = invoice.ID })" data-toggle="tooltip" data-original-title="View Invoice">@invoice.InvoiceID</a></td>
                                            <td>@col3</td>
                                            <td>@invoice.Date.ToString("dd/MM/yyyy")</td>
                                            <td>$@invoice.GrandTotalAmount.ToString("#,##0.00")</td>
                                            <td>@col6</td>
                                            <td>@invoice.PreparedBy.Name</td>
                                            <td>@invoice.Status</td>
                                        </tr>
                                        i++;
                                    }
                                }
                                else
                                {
                                    <tr>
                                        <td class="no-record" colspan="8">No record to display</td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="pagination pagination-no-border">
                @Html.PagedListPager((IPagedList)ViewData["Invoice"], page => Url.Action("/ListingInvoice", "Customers", new { page, currentFilter = ViewBag.CurrentFilter }), new PagedListRenderOptions { LinkToFirstPageFormat = "<< First", LinkToPreviousPageFormat = "< Previous", LinkToNextPageFormat = "Next >", LinkToLastPageFormat = "Last >>" })
            </div>
        </div>
    </div>
</div>