﻿@using DataAccess.POCO
@using PagedList
@using PagedList.Mvc

@{
    ViewBag.Title = ViewData["SiteName"].ToString();
    ViewBag.PageTitle = "My Projects";
    ViewBag.AProject = "active";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel">
    <div class="panel-body container-fluid">

        <div class="row margin-top-15">
            <div class="col-xlg-12 col-md-12">
            @using (Html.BeginForm("ListingProject", "Customers", FormMethod.Post, new { @class = "page-search-form", @role = "search" }))
            {
                <div class="input-search input-search-dark">
                    <button type="submit" class="input-search-icon wb-search" aria-label="Search" arial-hidden="true" id="btn-search"></button>
                    @Html.TextBox("SearchKeyword", ViewData["SearchKeyword"].ToString(), new { @class = "form-control", @placeholder = "Search by Project ID" })
                    <button type="button" class="input-search-close icon wb-close" aria-label="Close" id="btn-close"></button>
                </div>
            }
            </div>
        </div>

        <div class="row margin-top-15">
            <div class="col-xlg-12 col-md-12">
                <!-- Table -->
                <div>

                    <div class="table-responsive">
                        <table class="table table-hover table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Project ID</th>
                                    <th>Customer/Company</th>
                                    <th>Start Date</th>
                                    <th>Project Amount</th>
                                    <th>Managed by</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>

                            @{
                                IPagedList<Project> projects = (IPagedList<Project>)ViewData["Project"];

                                List<QuotationItemDescription> quotationItemDescriptions = (List<QuotationItemDescription>)ViewData["QuotationItemDescription"];
                                List<ProjectProjectExpenses> projectExpenses = (List<ProjectProjectExpenses>)ViewData["projectExpenses"];
                                
                                if (projects.Count > 0)
                                {
                                    int count = 1;

                                    foreach (Project _projects in projects)
                                    {
                                        int col1 = count;
                                        string col2 = "-";
                                        string col3 = "-";
                                        string col4 = "-";
                                        string col5 = "0.00";
                                        string col6 = "0.00";
                                        string col7 = "-";
                                        string col8 = "-";

                                        decimal TotalProjectAmount = Convert.ToDecimal("0.00");
                                        decimal TotalExpenses = Convert.ToDecimal("0.00");

                                        foreach (QuotationItemDescription _quotationItemDescription in quotationItemDescriptions)
                                        {
                                            if (_quotationItemDescription.QuotationId == _projects.QuotationReferenceId)
                                            {
                                                TotalProjectAmount += _quotationItemDescription.QuotationItemAmount;
                                            }
                                        }

                                        foreach (ProjectProjectExpenses _projectExpenses in projectExpenses)
                                        {
                                            if (_projectExpenses.ProjectId == _projects.ID)
                                            {
                                                TotalExpenses += _projectExpenses.Cost;
                                            }
                                        }

                                        string FormattedTotalProjectAmount = TotalProjectAmount.ToString("#,##0.00");
                                        string FormattedTotalExpenses = TotalExpenses.ToString("#,##0.00");

                                        if (!string.IsNullOrEmpty(_projects.ProjectID))
                                        {
                                            col2 = _projects.ProjectID;
                                        }

                                        if (_projects.Customer != null)
                                        {
                                            col3 = _projects.Customer.ContactPerson;
                                        }

                                        if (_projects.Date != null)
                                        {
                                            col4 = Convert.ToString(_projects.Date);
                                        }

                                        col7 = _projects.Coordinator.Name;

                                        if (_projects.Status != null)
                                        {
                                            col8 = _projects.Status;
                                        }

                                        <tr>
                                            <td>@col1</td>
                                            <td><a href="@Url.Action("ViewProject", new { @id = _projects.ID })">@col2</a></td>
                                            <td>@col3</td>
                                            <td>@col4</td>
                                            <td>$@FormattedTotalProjectAmount</td>
                                            <td>@col7</td>
                                            <td>@col8</td>
                                        </tr>
                                        count++;
                                    }
                                }
                                else
                                {
                                    <tr>
                                        <td class="no-record" colspan="8">No record to display</td>
                                    </tr>
                                }
                            }
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- End Table -->
            </div>

            <div class="pagination pagination-no-border">
                @Html.PagedListPager((IPagedList)ViewData["Project"], page => Url.Action("/ListingProject", "Customers", new { page, currentFilter = ViewBag.CurrentFilter }), new PagedListRenderOptions { LinkToFirstPageFormat = "<< First", LinkToPreviousPageFormat = "< Previous", LinkToNextPageFormat = "Next >", LinkToLastPageFormat = "Last >>" })
            </div>

        </div>
    </div>
</div>