﻿@using DataAccess
@using DataAccess.POCO

@{
    ViewBag.Title = ViewData["SiteName"].ToString();
    ViewBag.PageTitle = "View Quotation";
    ViewBag.AQuotation = "active open";
    ViewBag.liListQuotation = "active";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("ViewQuotation", "Customers", FormMethod.Post, new { @id = "form-view", @class = "form-horizontal" }))
{

    <div class="panel">
        <div class="panel-body container-fluid">

            <div class="row row-lg">
                <div class="col-md-10">
                    <!-- Example Horizontal Form -->
                    @{
                        Quotation quotation = (Quotation)ViewData["Quotation"];
                    }

                    <div class="form-group">
                        @Html.LabelFor(q => quotation.QuotationID, new { @class = "col-sm-3 control-label" })
                        <div class="col-sm-9">
                            @Html.TextBoxFor(q => quotation.QuotationID, new { @class = "form-control", @placeholder = "ID will be Assigned after Creation", @disabled = "disabled" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(q => quotation.CompanyName, new { @class = "col-sm-3 control-label" })
                        <div class="col-sm-9">
                            @Html.DropDownListFor(q => quotation.CompanyName, (SelectList)ViewData["CompanyDropdown"], new { @class = "form-control", @data_plugin = "selectpicker", @disabled = "disabled" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(q => quotation.CustomerId, new { @class = "col-sm-3 control-label" })
                        <div class="col-sm-9">
                            @Html.DropDownListFor(q => quotation.CustomerId, (SelectList)ViewData["CustomerDropdown"], new { @class = "form-control", @data_plugin = "select2", @data_allow_clear = "true", @data_placeholder = "Search by Customer Name or Company Name", @onchange = "GetCustomerInfo(this)", @disabled = "disabled" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(q => quotation.ContactPerson, new { @class = "col-sm-3 control-label" })
                        <div class="col-sm-9">
                            @Html.TextBoxFor(q => quotation.ContactPerson, new { @class = "form-control", @disabled = "disabled" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(q => quotation.Address, new { @class = "col-sm-3 control-label" })
                        <div class="col-sm-9">
                            @Html.TextBoxFor(q => quotation.Address, new { @class = "form-control", @disabled = "disabled" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(q => quotation.Tel, new { @class = "col-sm-3 control-label" })
                        <div class="col-sm-9">
                            @Html.TextBoxFor(q => quotation.Tel, new { @class = "form-control", @disabled = "disabled" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(q => quotation.Fax, new { @class = "col-sm-3 control-label" })
                        <div class="col-sm-9">
                            @Html.TextBoxFor(q => quotation.Fax, new { @class = "form-control", @disabled = "disabled" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(q => quotation.PreparedById, new { @class = "col-sm-3 control-label" })
                        <div class="col-sm-9">
                            @Html.TextBox("PreparedBy", ViewData["PreparedBy"].ToString(), new { @class = "form-control", @disabled = "disabled" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(q => quotation.SalesPersonId, new { @class = "col-sm-3 control-label" })
                        <div class="col-sm-9">
                            @Html.DropDownList("SalesPersonID", (SelectList)ViewData["UserDropdown"], new { @class = "form-control", @data_plugin = "select2", @data_allow_clear = "true", @data_placeholder = "Search by Customer/User ID or Name", @disabled = "disabled" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(q => quotation.QuotationDate, new { @class = "col-sm-3 control-label" })
                        <div class="col-sm-9">
                            @Html.TextBoxFor(q => quotation.QuotationDate, ViewData["QuotationDate"].ToString(), new { @class = "form-control", @disabled = "disabled" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(q => quotation.SalesDocumentUploads, new { @class = "col-sm-3 control-label" })
                        <div class="col-sm-9">
                            <div class="input-group input-group-file">
                                <input type="text" class="form-control" readonly="">
                                <span class="input-group-btn">
                                    <span class="btn btn-primary btn-file">
                                        <i class="icon wb-upload" aria-hidden="true"></i>
                                        <input id="quotation_SalesDocumentUploads-uploader" type="file" multiple disabled>
                                        @Html.HiddenFor(q => quotation.SalesDocumentUploads)
                                    </span>
                                </span>
                            </div>
                            <div id="quotation_SalesDocumentUploads-files">
                                @if (ViewData["SalesDocumentFiles"] != null)
                                {
                                    string[] files = ViewData["SalesDocumentFiles"].ToString().Split(',');
                                    foreach (string file in files)
                                    {
                                        <div class="margin-top-10 small"><a href="@Url.Content("~/FileUploads/QuotationSalesDocuments/" + file)" target="_blank">@file</a><button type="button" class="btn btn-pure btn-xs btn-danger icon wb-close"></button></div>
                                    }
                                }
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(q => quotation.Remarks, new { @class = "col-sm-3 control-label" })
                        <div class="col-sm-9">
                            @Html.TextAreaFor(q => quotation.Remarks, new { @class = "form-control", @disabled = "disabled" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(q => quotation.PaymentTerms, new { @class = "col-sm-3 control-label" })
                        <div class="col-sm-9">
                            @Html.TextAreaFor(q => quotation.PaymentTerms, new { @class = "form-control", @rows = 10, @disabled = "disabled" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="panel">
        <div class="panel-body container-fluid">
            <div class="row row-lg">
                <div class="col-xlg-10 col-md-10">
                    <h4>Co-broke</h4>

                    <div class="form-group">
                        <div class="col-sm-12 table-responsive">

                            <table class="table table-hover table-condensed" data-striped="true" data-height="250" data-mobile-responsive="true" id="tbl">
                                <thead>
                                    <tr>
                                        <th class="width-50">#</th>
                                        <th class="width-200">User</th>
                                        <th class="width-100">% of Profit</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @if (ViewData["QuotationCoBroke"] != null)
                                    {
                                        List<QuotationCoBroke> quotationCoBroke = (List<QuotationCoBroke>)ViewData["QuotationCoBroke"];
                                        int count = 1;

                                        string NewUserID = null;
                                        foreach (QuotationCoBroke _quotationCoBroke in quotationCoBroke)
                                        {

                                            <tr id="RowID-@count">
                                                <td><div class="calculateNumber">@count</div></td>
                                                <td>
                                                    @{
                                            if (_quotationCoBroke.User != null)
                                            {
                                                NewUserID = _quotationCoBroke.User.UserID + " - " + _quotationCoBroke.User.Name;
                                            }
                                                    }
                                                    @NewUserID
                                                </td>
                                                <td>
                                                    @_quotationCoBroke.QuotationCoBrokePercentOfProfit%
                                                </td>
                                            </tr>
                                        }
                                        <div>@Html.ValidationMessage("TotalOfPercentage")</div>
                                        <div>@Html.ValidationMessage("TotalOfCoBrokeItem")</div>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="panel">
        <div class="panel-body container-fluid">
            <div class="row row-lg">
                <div class="col-xlg-10 col-md-10">
                    <h4>Quotation Summary</h4>

                    <div class="form-group">
                        <div class="col-sm-12 table-responsive">
                            <table class="table table-hover table-condensed" data-striped="true" data-height="250" data-mobile-responsive="true" id="QuotationSummary">
                                <thead>
                                    <tr>
                                        <th class="width-50">#</th>
                                        <th class="width-200">Category</th>
                                        <th class="width-50">Amount</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (ViewData["QuotationItemDescription"] != null)
                                    {
                                        int count = 1;
                                        List<ItemDescriptionBigTable> itemDescriptionBigTable = (List<ItemDescriptionBigTable>)ViewData["QuotationItemDescription"];

                                        foreach (ItemDescriptionBigTable _itemDescriptionBigTable in itemDescriptionBigTable)
                                        {
                                            <tr>
                                                <td id="SummaryItemMain-@_itemDescriptionBigTable.TableID"><div class="calculateNumberSummary-">@count</div></td>
                                                <td id="QuotationItemName-@_itemDescriptionBigTable.TableID">@_itemDescriptionBigTable.CategoryName</td>
                                                <td id="QuotationTotalAmount-@_itemDescriptionBigTable.TableID">$0.00</td>
                                            </tr>
                                            count++;
                                        }
                                        <tr style="border-top:2px solid black; border-bottom:3px double black" id="SummaryTotalRow">
                                            <td colspan="2" style="text-align:right">Total</td>
                                            <td id="FinalTotalAmount">$0.00</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="panel">
        <div class="panel-body container-fluid">
            <div class="row row-lg">
                <div class="col-md-12">
                    <h4>Item Description</h4>

                    @if (ViewData["QuotationItemDescription"] != null)
                    {
                        List<ItemDescriptionBigTable> itemDescriptionBigTable = (List<ItemDescriptionBigTable>)ViewData["QuotationItemDescription"];

                        foreach (ItemDescriptionBigTable _itemDescriptionBigTable in itemDescriptionBigTable)
                        {
                            <div class="form-group" id="BigTable-@_itemDescriptionBigTable.TableID">
                                <div class="col-sm-12 table-responsive">
                                    <table class="table table-hover table-condensed table-bordered" data-striped="true" data-height="250" data-mobile-responsive="true" id="ItemDesciptiontbl-@_itemDescriptionBigTable.TableID">
                                        <thead>
                                            <tr>
                                                <th colspan="11">
                                                    <h5 class="inline">@_itemDescriptionBigTable.CategoryName</h5>
                                                </th>
                                            </tr>
                                            <tr>
                                                <th style="min-width:50px">#</th>
                                                <th style="min-width:300px">Description</th>
                                                <th style="min-width:50px">Qty</th>
                                                <th style="min-width:50px">Unit</th>
                                                <th style="min-width:100px">Rate</th>
                                                <th style="min-width:150px">Amount</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @{
                                                int count = 1;
                                            }

                                            <!-- Add one more for loop to loop the same item -->
                                            @foreach (ItemDescriptionRow _itemDescriptionRow in _itemDescriptionBigTable.ItemDescriptionRows)
                                            {
                                                string NewInsideRowID = _itemDescriptionBigTable.TableID + "-" + _itemDescriptionRow.RowId;
                                                <tr id="RowInsideID-@NewInsideRowID">
                                                    <td><div class="calculateNumber-@_itemDescriptionBigTable.TableID">@count</div></td>
                                                    <td>
                                                        @Html.TextBox("QuotationItemDescriptionDescription_" + _itemDescriptionBigTable.TableID + "_" + _itemDescriptionRow.RowId, _itemDescriptionRow.Description, new { @class = "form-control", @disabled = "disabled" })
                                                    </td>
                                                    <td>
                                                        @Html.TextBox("QuotationItemDescriptionQty_" + _itemDescriptionBigTable.TableID + "_" + _itemDescriptionRow.RowId, _itemDescriptionRow.Qty, new { @class = "form-control", @onchange = "CalculateAmount('QuotationItemDescriptionQty_" + _itemDescriptionBigTable.TableID + "_" + _itemDescriptionRow.RowId + "')", @disabled = "disabled" })
                                                    </td>
                                                    <td>
                                                        @Html.TextBox("QuotationItemDescriptionUnit_" + _itemDescriptionBigTable.TableID + "_" + _itemDescriptionRow.RowId, _itemDescriptionRow.Unit, new { @class = "form-control", @disabled = "disabled" })
                                                    </td>
                                                    <td>
                                                        <div class="input-group">
                                                            <span class="input-group-addon">$</span>
                                                            @Html.TextBox("QuotationItemDescriptionRate_" + _itemDescriptionBigTable.TableID + "_" + _itemDescriptionRow.RowId, _itemDescriptionRow.Rate, new { @class = "form-control", @onchange = "CalculateAmountRate('QuotationItemDescriptionRate_" + _itemDescriptionBigTable.TableID + "_" + _itemDescriptionRow.RowId + "')", @disabled = "disabled" })
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="input-group">
                                                            <span class="input-group-addon">$</span>
                                                            @Html.TextBox("QuotationItemDescriptionAmount_" + _itemDescriptionBigTable.TableID + "_" + _itemDescriptionRow.RowId, _itemDescriptionRow.Amount, new { @class = "form-control", @disabled = "disabled" })
                                                            @Html.Hidden("QuotationItemDescriptionAmount2_" + _itemDescriptionBigTable.TableID + "_" + _itemDescriptionRow.RowId, _itemDescriptionRow.Amount)
                                                        </div>
                                                    </td>
                                                </tr>
                                                count++;
                                            }

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        }

                    }

                    <div class="form-group">
                        <div class="col-sm-12">
                            @{
                                int page = 1;

                                if (Session["Page"] != null)
                                {
                                    page = Convert.ToInt32(Session["Page"]);
                                }
                            }
                            <a href="@Url.Action("ListingQuotation", new { @page = page })" class="btn btn-default btn-outline  margin-top-10">Back</a>
                        </div>
                    </div>
                    <!-- End Example Horizontal Form -->
                </div>
            </div>
        </div>
    </div>
}

<script src="@Url.Content("~/Content/vendor/ckeditor/ckeditor.js")"></script>

<script>

    //This is for remove use(Recalculate the number after remove item inside)
    var globalID = 0;

    $(document).ready(function () {

        var getCustomerID = $("#quotation_CustomerId").val();

        GetCustomerInfo(getCustomerID);

        CKEDITOR.replace('quotation_PaymentTerms', {
            allowedContent: true,
        });

        RecalculateNumber();
        GetTotalAmountFirst();
    });

    //Get Each Table
    function GetTotalAmountFirst() {
        //var Table = $('table[id*="ItemDesciptiontbl"]').length; //got how many table

        var FinalTotalAmount = 0;
        var FinalTotalEstCost = 0;
        var FinalTotalProfit = 0;

        var Table = $('table[id*="ItemDesciptiontbl"]').children('tbody').children('tr:last').attr('id'); //got how many table
        var TableID = 1;

        if (typeof (Table) === "undefined") {
            TableID = 1;
        }
        else {
            //Split The Last Table and get the ID
            var SplitTable = Table.split("-");
            TableID = Number(SplitTable[1]);
        }

        var Calculate = 0;
        var Count = 1;
        for (x = 1; x <= TableID ; x++) {

            var TotalAmount = 0;

            var arr = $.map($("#ItemDesciptiontbl-" + x + " >tbody >tr [id*='QuotationItemDescriptionAmount_" + x + "']"), function (n, i) {

                var SplitItem = n.id.split("_");
                var GetAmount = $("#QuotationItemDescriptionAmount_" + x + "_" + SplitItem[2] + "").val().replace(/,/g, '');

                if (GetAmount == "" || isNaN(GetAmount / 1)) {
                    GetAmount = "0.00";
                }

                TotalAmount += Number(GetAmount);

            });

            FinalTotalAmount += Number(TotalAmount);

            //Push To Quotation Total Summary Amount

            //alert(Calculate);
            $("#QuotationTotalAmount-" + x).html("$" + TotalAmount.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, "$1,").toString());
        }

        //Push To Final Total Summary Amount
        $("#FinalTotalAmount").html("$" + FinalTotalAmount.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, "$1,").toString());

        RecalculateNumberSummary();
    }

    //This is Qty on change
    function CalculateAmount(id) {
        //var amount = $("#" + id).val().replace(",", "");
        //alert(id);

        //Split id for get the IDs
        var GetRateSplit = id.split("_");
        var GetRate = $("#QuotationItemDescriptionRate_" + GetRateSplit[1] + "_" + GetRateSplit[2] + "").val().replace(/,/g, '');
        var TotalAmount = 0;

        var GetQty = $("#" + id + "").val().replace(/,/g, '');

        if (GetQty == "" || isNaN(GetQty / 1)) {
            GetQty = "0";
        }

        if (GetRate == "" || isNaN(GetRate / 1)) {
            GetRate = "0.00";
        }

        TotalAmount += (GetQty * GetRate);
        var Name = "QuotationItemDescriptionAmount_" + GetRateSplit[1] + "_" + GetRateSplit[2] + "";
        $("#QuotationItemDescriptionAmount_" + GetRateSplit[1] + "_" + GetRateSplit[2] + "").val(TotalAmount.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, "$1,").toString());
        $("#QuotationItemDescriptionAmount2_" + GetRateSplit[1] + "_" + GetRateSplit[2] + "").val(TotalAmount.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, "$1,").toString());
        ValidateAmount(Name);

        GetTotalAmount(id);
        GetTotalAmountFirst();
        //CalculateAllTotalAmount();
    }

    function GetTotalAmount(id) {
        var GetAmountSplit = id.split("_");

        //calculate got how many rows first.
        //get tr row count
        var rowCount = $('#ItemDesciptiontbl-' + GetAmountSplit[1] + ' >tbody >tr').length;

        var TotalAmount = 0;

        for (i = 1; i <= rowCount; i++) {
            var GetAmount = $("#QuotationItemDescriptionAmount_" + GetAmountSplit[1] + "_" + i + "").val().replace(/,/g, '');
            TotalAmount += Number(GetAmount);
        }

        //Push To Quotation Total Summary Amount
        $("#QuotationTotalAmount-" + GetAmountSplit[1]).html("$" + TotalAmount.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, "$1,").toString());
    }

    function CalculateAmountRate(id) {
        //1. Validate Amount First,
        ValidateAmount(id);

        //Split id for get the IDs
        var GetQtySplit = id.split("_");
        var GetQty = $("#QuotationItemDescriptionQty_" + GetQtySplit[1] + "_" + GetQtySplit[2] + "").val().replace(/,/g, '');
        var TotalAmount = 0;
        var TotalProfit = 0;

        var GetRate = $("#" + id + "").val().replace(/,/g, '');

        if (GetQty == "" || isNaN(GetQty / 1)) {
            GetQty = "0";
        }

        if (GetRate == "" || isNaN(GetRate / 1)) {
            GetRate = "0.00";
        }

        TotalAmount += (GetQty * GetRate);
        var Name = "QuotationItemDescriptionAmount_" + GetQtySplit[1] + "_" + GetQtySplit[2] + "";
        $("#QuotationItemDescriptionAmount_" + GetQtySplit[1] + "_" + GetQtySplit[2] + "").val(TotalAmount.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, "$1,").toString());
        $("#QuotationItemDescriptionAmount2_" + GetQtySplit[1] + "_" + GetQtySplit[2] + "").val(TotalAmount.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, "$1,").toString());
        ValidateAmount(Name);

        GetTotalAmount(id);
        GetTotalAmountFirst();
    }

    function CalculateAmountProfit(id) {

        ValidateAmount(id);

        var GetAmountSplit = id.split("_");
        var GetAmount = $("#QuotationItemDescriptionAmount_" + GetAmountSplit[1] + "_" + GetAmountSplit[2] + "").val().replace(/,/g, '');
        var TotalProfit = 0;

        if (GetAmount == "" || isNaN(GetAmount / 1)) {
            GetAmount = "0";
        }

        GetTotalAmountFirst();
    }

    function RecalculateNumber() {
        var count = 1;
        $(".calculateNumber").each(function () {
            //console.log(this);
            this.innerHTML = count;
            count++;
        })
    }

    function RecalculateNumberInside(id) {
        var count = 1;

        $(".calculateNumber-" + id).each(function () {
            console.log(this);
            this.innerHTML = count;
            count++;
        })
    }

    function RecalculateNumberSummary() {
        var count = 1;
        //console.log("983");
        //console.log($(".calculateNumberSummary-"));
        $(".calculateNumberSummary-").each(function () {
            console.log(this);
            this.innerHTML = count;
            count++;
        })
    }

    function GetCustomerInfo(role) {

        var roleID = role.value;

        if (typeof (roleID) === "undefined") {
            roleID = role;
        }

        var url = "@Url.Action("GetCustomerInfo")";

        if (roleID == "") {
            $('#quotation_Address').val("");
            $('#quotation_Tel').val("");
            $('#quotation_Fax').val("");
        }
        else {
            $.ajax({
                type: "GET",
                url: url,
                data: { id: roleID },
                success: function (data) {
                    data = JSON.parse(data);

                    for (var i = 0; i < data.length; i++) {
                        $('#quotation_Address').val(data[i].Address);
                        $('#quotation_Tel').val(data[i].Tel);
                        $('#quotation_Fax').val(data[i].Fax);
                    }
                }
            });
        }
    }

    function ValidateAmount(id) {
        var amount = $("#" + id).val().replace(",", "");

        if (amount != "") {
            var url = "@Url.Action("ValidateAmount")";

            $.ajax({
                type: "GET",
                cache: false,
                url: url,
                data: { amount: amount },
                success: function (data) {
                    data = JSON.parse(data);
                    if (data.result) {
                        $("#" + id).val(data.newAmount);
                    }
                }
            });
        }
    }
</script>