﻿@using DataAccess
@using DataAccess.POCO

@{
    ViewBag.Title = ViewData["SiteName"].ToString();
    ViewBag.PageTitle = "View Invoice";
    ViewBag.AInvoice = "active open";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("View", "Invoice", FormMethod.Get, new { @id = "form-view", @class = "form-horizontal" }))
{
    Invoice invoice = (Invoice)ViewData["Invoice"];

    <div class="panel">
        <div class="panel-body container-fluid">
            <div class="row row-lg">
                <div class="col-md-10">
                    @if (Session["Result"] != null)
                    {
                        string[] result = Session["Result"].ToString().Split('|');

                        <div class="alert alert-@result[0] text-center">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            @result[1]
                        </div>

                        Session.Remove("Result");
                    }
                    <h4>Customer Info</h4>
                    <div class="form-group">
                        @Html.LabelFor(i => invoice.InvoiceID, new { @class = "col-sm-3 control-label" })
                        <div class="col-sm-9">
                            @Html.TextBoxFor(i => invoice.InvoiceID, new { @class = "form-control", @placeholder = "ID will be Assigned after Creation", @disabled = "disabled" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(i => invoice.QuotationId, new { @class = "col-sm-3 control-label" })
                        <div class="col-sm-9">
                            @Html.TextBox("QuotationID", ViewData["QuotationID"].ToString(), new { @class = "form-control", @disabled = "disabled" })
                        </div>
                    </div>

                    @if (invoice.ProjectId != 0)
                    {
                        <div class="form-group">
                            @Html.LabelFor(i => invoice.ProjectId, new { @class = "col-sm-3 control-label" })
                            <div class="col-sm-9">
                                @Html.DropDownListFor(i => invoice.ProjectId, (SelectList)ViewData["ProjectDropdown"], new { @class = "form-control", @data_plugin = "select2", @disabled = "disabled" })
                            </div>
                        </div>
                    }

                    <div class="form-group">
                        @Html.Label("Company", new { @class = "col-sm-3 control-label" })
                        <div class="col-sm-9">
                            @Html.TextBox("QuotationCompany", ViewData["QuotationCompany"].ToString(), new { @class = "form-control", @disabled = "disabled" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(i => invoice.CustomerId, new { @class = "col-sm-3 control-label" })
                        <div class="col-sm-9">
                            @Html.TextBox("CustomerID", ViewData["CustomerID"].ToString(), new { @class = "form-control", @disabled = "disabled" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(i => invoice.ContactPerson, new { @class = "col-sm-3 control-label" })
                        <div class="col-sm-9">
                            @Html.TextBoxFor(i => invoice.ContactPerson, new { @class = "form-control", @disabled = "disabled" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Label("Address", new { @class = "col-sm-3 control-label" })
                        <div class="col-sm-9">
                            @Html.TextBox("CustomerAddress", ViewData["CustomerAddress"], new { @class = "form-control", @disabled = "disabled" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Label("Tel", new { @class = "col-sm-3 control-label" })
                        <div class="col-sm-9">
                            @Html.TextBox("CustomerTel", ViewData["CustomerTel"].ToString(), new { @class = "form-control", @disabled = "disabled" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Label("Fax", new { @class = "col-sm-3 control-label" })
                        <div class="col-sm-9">
                            @Html.TextBox("CustomerFax", ViewData["CustomerFax"], new { @class = "form-control", @disabled = "disabled" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(i => invoice.PreparedById, new { @class = "col-sm-3 control-label" })
                        <div class="col-sm-9">
                            @Html.TextBox("InvoicePreparedBy", invoice.PreparedBy.Name, new { @class = "form-control", @disabled = "disabled" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(i => invoice.Date, new { @class = "col-sm-3 control-label" })
                        <div class="col-sm-9">
                            @Html.TextBoxFor(i => invoice.Date, "{0:dd/MM/yyyy}", new { @class = "form-control", @disabled = "disabled" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(i => invoice.Status, new { @class = "col-sm-3 control-label" })
                        <div class="col-sm-9">
                            @Html.TextBoxFor(i => invoice.Status, new { @class = "form-control", @disabled = "disabled" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel">
        <div class="panel-body container-fluid">
            <div class="row row-lg">
                <div class="col-md-12">
                    <h4>Item Description</h4>
                    <div class="form-group">
                        <div class="col-sm-12 table-responsive">
                            <table id="table-item-description" class="table table-hover table-condensed table-bordered" data-striped="true" data-height="250" data-mobile-responsive="true">
                                <thead>
                                    <tr>
                                        <th style="min-width:50px">#</th>
                                        <th style="min-width:400px">Description</th>
                                        <th style="min-width:50px">% of Quotation</th>
                                        <th style="min-width:100px">Amount</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        List<InvoiceItemDescriptionTable> itemDescriptionsTable = (List<InvoiceItemDescriptionTable>)ViewData["InvoiceItemDescriptionTable"];

                                        int count = 1;

                                        foreach (InvoiceItemDescriptionTable itemDescription in itemDescriptionsTable)
                                        {
                                            <tr id="tr-item-description-@itemDescription.RowId">
                                                <td>
                                                    @count
                                                </td>
                                                <td>
                                                    @Html.TextBox("ItemDescription_Description_" + itemDescription.RowId, itemDescription.Description, new { @class = "form-control", @disabled = "disabled" })
                                                </td>
                                                <td>
                                                    @if (!string.IsNullOrEmpty(itemDescription.PercentageOfQuotation))
                                                    {
                                                        @Html.TextBox("ItemDescription_PercentageOfQuotation_" + itemDescription.RowId, itemDescription.PercentageOfQuotation + "%", new { @class = "form-control", @disabled = "disabled" })
                                                    }
                                                    else
                                                    {
                                                        @Html.TextBox("ItemDescription_PercentageOfQuotation_" + itemDescription.RowId, "Value", new { @class = "form-control", @disabled = "disabled" })
                                                    }
                                                </td>
                                                <td>
                                                    <div class="input-group">
                                                        <span class="input-group-addon">$</span>
                                                        @Html.TextBox("ItemDescription_AmountTxt_" + itemDescription.RowId, itemDescription.Amount, new { @class = "form-control item-description-amount", @disabled = "disabled" })
                                                    </div>
                                                </td>
                                            </tr>
                                            count++;
                                        }
                                    }
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="3" class="text-right">Subtotal</td>
                                        <td>
                                            <div class="input-group">
                                                <span class="input-group-addon">$</span>
                                                @Html.TextBox("SubtotalTxt", invoice.SubtotalAmount.ToString("#,##0.00"), new { @class = "form-control", @disabled = "disabled" })
                                            </div>
                                        </td>
                                    </tr>
                                    <tr id="tr-gst">
                                        <td colspan="3" class="text-right">
                                            @if (invoice.GST == "Yes")
                                            {
                                                @("GST (7%)")
                                            }
                                            else
                                            {
                                                @("GST (0%)")
                                            }
                                        </td>
                                        <td colspan="2">
                                            <div class="input-group">
                                                <span class="input-group-addon">$</span>
                                                @Html.TextBox("GstTotalTxt", invoice.GSTAmount.ToString("#,##0.00"), new { @class = "form-control", @disabled = "disabled" })
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="3" class="text-right">Grand Total</td>
                                        <td colspan="2">
                                            <div class="input-group">
                                                <span class="input-group-addon">$</span>
                                                @Html.TextBox("GrandTotalTxt", invoice.GrandTotalAmount.ToString("#,##0.00"), new { @class = "form-control", @disabled = "disabled" })
                                            </div>
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-12">
                            @{
                                int page = 1;

                                if (Session["Page"] != null)
                                {
                                    page = Convert.ToInt32(Session["Page"]);
                                }
                            }
                            <a href="@Url.Action("ListingInvoice", new { @page = page })" class="btn btn-default margin-top-10">Back</a>
                            <a href="@Url.Action("GenerateInvoice", new { @id = invoice.ID })" class="btn btn-success margin-top-10">Generate Invoice </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}