﻿@using DataAccess
@using DataAccess.POCO

@{
    ViewBag.Title = ViewData["SiteName"].ToString();
    ViewBag.PageTitle = "View Project";
    ViewBag.AProject = "active";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("ViewProject", "Customers", FormMethod.Post, new { @id = "form-view", @class = "form-horizontal" }))
{
    <div class="panel">
        <div class="panel-body container-fluid">

            <div class="row row-lg">
                <div class="col-md-10">
                    @{
                        Project project = (Project)ViewData["Project"];
                    }

                    <h4>Client Info</h4>
                    <div class="form-group">
                        @Html.LabelFor(p => project.ProjectID, new { @class = "col-sm-3 control-label" })
                        <div class="col-sm-9">
                            @Html.TextBoxFor(p => project.ProjectID, new { @class = "form-control", @placeholder = "ID will be Assigned after Creation", @disabled = "disabled" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(p => project.CompanyName, new { @class = "col-sm-3 control-label" })
                        <div class="col-sm-9">
                            @Html.TextBoxFor(p => project.CompanyName, new { @class = "form-control", @disabled = "disabled" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(p => project.QuotationReferenceId, new { @class = "col-sm-3 control-label" })
                        <div class="col-sm-9">
                            @Html.DropDownListFor(p => project.QuotationReferenceId, (SelectList)ViewData["QuotationDropdown"], new { @class = "form-control", @data_plugin = "select2", @data_allow_clear = "true", @data_placeholder = "Search by Quotation ID", @disabled = "disabled" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(p => project.CustomerId, new { @class = "col-sm-3 control-label" })
                        <div class="col-sm-9">
                            @Html.DropDownListFor(p => project.CustomerId, (SelectList)ViewData["CustomerDropdown"], new { @class = "form-control", @data_plugin = "select2", @data_allow_clear = "true", @data_placeholder = "Search by Customer ID or Name", @onchange = "GetCustomerInfo(this)", @disabled = "disabled" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Contact Person </label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="project_ContactPerson" value="" disabled>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Address </label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="project_Address" value="" disabled>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Tel </label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="project_Tel" value="" disabled>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Fax </label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="project_Fax" value="" disabled>
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(p => project.PreparedById, new { @class = "col-sm-3 control-label" })
                        <div class="col-sm-9">
                            @Html.TextBoxFor(p => project.PreparedById, ViewData["PreparedBy"].ToString(), new { @class = "form-control", @disabled = "disabled" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(p => project.Date, new { @class = "col-sm-3 control-label" })
                        <div class="col-sm-9">
                            @Html.TextBoxFor(p => project.Date, "{0:dd/MM/yyyy}", new { @class = "form-control datepair-date datepair-start", @disabled = "disabled" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel">
        <div class="panel-body container-fluid">
            <div class="row row-lg">
                <div class="col-xlg-10 col-md-10">
                    <h4>Project Info</h4>

                    <div class="form-group">
                        @Html.LabelFor(p => project.CoordinatorId, new { @class = "col-sm-3 control-label" })
                        <div class="col-sm-9">
                            @Html.DropDownList("CoordinatorID", (SelectList)ViewData["CoordinatorDropdown"], new { @class = "form-control", @data_plugin = "select2", @data_allow_clear = "true", @data_placeholder = "Search by Sales User ID or Sales Name", @onchange = "OnchangeCoordinator(this)", @disabled = "disabled" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Email </label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="Coordinator_Email" value="" disabled>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Tel </label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="Coordinator_Tel" value="" disabled>
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(p => project.ProjectTitle, new { @class = "col-sm-3 control-label" })
                        <div class="col-sm-9">
                            @Html.TextBoxFor(p => project.ProjectTitle, new { @class = "form-control", @disabled = "disabled" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(p => project.ProjectDescription, new { @class = "col-sm-3 control-label" })
                        <div class="col-sm-9">
                            @Html.TextAreaFor(p => project.ProjectDescription, new { @class = "form-control", @disabled = "disabled" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(p => project.ProjectType, new { @class = "col-sm-3 control-label" })
                        <div class="col-sm-9">
                            @Html.DropDownListFor(p => project.ProjectType, (SelectList)ViewData["ProjectTypeDropdown"], new { @class = "form-control", @data_plugin = "selectpicker", @disabled = "disabled" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(p => project.PhotoUploads, new { @class = "col-sm-3 control-label" })
                        <div class="col-sm-9">
                            <div class="input-group input-group-file">
                                <input type="text" class="form-control" readonly="">
                                <span class="input-group-btn">
                                    <span class="btn btn-primary btn-file">
                                        <i class="icon wb-upload" aria-hidden="true"></i>
                                        <input id="project_PhotoUploads-uploader" type="file" onchange="UploadFile('project_PhotoUploads')" multiple disabled>
                                        @Html.HiddenFor(p => project.PhotoUploads)
                                    </span>
                                </span>
                            </div>
                            <div id="project_PhotoUploads-files">
                                @if (ViewData["PhotosUploadFiles"] != null)
                                {
                                    string[] files = ViewData["PhotosUploadFiles"].ToString().Split(',');
                                    foreach (string file in files)
                                    {
                                        <div class="margin-top-10 small"><a href="@Url.Content("~/FileUploads/ProjectPhotoUploadsDocuments/" + file)" target="_blank">@file</a><button type="button" class="btn btn-pure btn-xs btn-danger icon wb-close" onclick="RemoveFile('project_PhotosUpload', this)" disabled></button></div>
                                    }
                                }
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(p => project.FloorPlanUploads, new { @class = "col-sm-3 control-label" })
                        <div class="col-sm-9">
                            <div class="input-group input-group-file">
                                <input type="text" class="form-control" readonly="">
                                <span class="input-group-btn">
                                    <span class="btn btn-primary btn-file">
                                        <i class="icon wb-upload" aria-hidden="true"></i>
                                        <input id="project_FloorPlanUploads-uploader" type="file" onchange="UploadFile('project_FloorPlanUploads')" multiple disabled>
                                        @Html.HiddenFor(p => project.FloorPlanUploads)
                                    </span>
                                </span>
                            </div>
                            <div id="project_FloorPlanUploads-files">
                                @if (ViewData["FloorPlanUploadsFiles"] != null)
                                {
                                    string[] files = ViewData["FloorPlanUploadsFiles"].ToString().Split(',');
                                    foreach (string file in files)
                                    {
                                        <div class="margin-top-10 small"><a href="@Url.Content("~/FileUploads/ProjectFloorPlanUploadsDocuments/" + file)" target="_blank">@file</a><button type="button" class="btn btn-pure btn-xs btn-danger icon wb-close" onclick="RemoveFile('project_FloorPlanUploads', this)" disabled></button></div>
                                    }
                                }
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(p => project.ThreeDDrawingUploads, new { @class = "col-sm-3 control-label" })
                        <div class="col-sm-9">
                            <div class="input-group input-group-file">
                                <input type="text" class="form-control" readonly="">
                                <span class="input-group-btn">
                                    <span class="btn btn-primary btn-file">
                                        <i class="icon wb-upload" aria-hidden="true"></i>
                                        <input id="project_ThreeDDrawingUploads-uploader" type="file" onchange="UploadFile('project_ThreeDDrawingUploads')" multiple disabled>
                                    </span>
                                </span>
                            </div>
                            <div id="project_ThreeDDrawingUploads-files">
                                @if (ViewData["ThreeDDrawingUploadsFiles"] != null)
                                {
                                    string[] files = ViewData["ThreeDDrawingUploadsFiles"].ToString().Split(',');
                                    foreach (string file in files)
                                    {
                                        <div class="margin-top-10 small"><a href="@Url.Content("~/FileUploads/ProjectThreeDDrawingUploadsDocuments/" + file)" target="_blank">@file</a><button type="button" class="btn btn-pure btn-xs btn-danger icon wb-close" onclick="RemoveFile('project_ThreeDDrawingUploads', this)" disabled></button></div>
                                    }
                                }
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(p => project.AsBuildDrawingUploads, new { @class = "col-sm-3 control-label blue-700", @data_toggle = "tooltip", @data_placement = "top", @data_original_title = "As-Built Drawings include .. .." })
                        <div class="col-sm-9">
                            <div class="input-group input-group-file">
                                <input type="text" class="form-control" readonly="">
                                <span class="input-group-btn">
                                    <span class="btn btn-primary btn-file">
                                        <i class="icon wb-upload" aria-hidden="true"></i>
                                        <input id="project_AsBuildDrawingUploads-uploader" type="file" onchange="UploadFile('project_AsBuildDrawingUploads')" multiple disabled>
                                        @Html.HiddenFor(p => project.AsBuildDrawingUploads)
                                    </span>
                                </span>
                            </div>
                            <div id="project_AsBuildDrawingUploads-files">
                                @if (ViewData["AsBuildDrawingUploadsFiles"] != null)
                                {
                                    string[] files = ViewData["AsBuildDrawingUploadsFiles"].ToString().Split(',');
                                    foreach (string file in files)
                                    {
                                        <div class="margin-top-10 small"><a href="@Url.Content("~/FileUploads/ProjectAsBuildDrawingUploadsDocuments/" + file)" target="_blank">@file</a><button type="button" class="btn btn-pure btn-xs btn-danger icon wb-close" onclick="RemoveFile('project_AsBuildDrawingUploads', this)" disabled></button></div>
                                    }
                                }
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(p => project.SubmissionStageUploads, new { @class = "col-sm-3 control-label blue-700", @data_toggle = "tooltip", @data_placement = "top", @data_original_title = "Submission Stage includes License and Permits" })
                        <div class="col-sm-9">
                            <div class="input-group input-group-file">
                                <input type="text" class="form-control" readonly="">
                                <span class="input-group-btn">
                                    <span class="btn btn-primary btn-file">
                                        <i class="icon wb-upload" aria-hidden="true"></i>
                                        <input id="project_SubmissionStageUploads-uploader" type="file" onchange="UploadFile('project_SubmissionStageUploads')" multiple disabled>
                                        @Html.HiddenFor(p => project.SubmissionStageUploads)
                                    </span>
                                </span>
                            </div>
                            <div id="project_SubmissionStageUploads-files">
                                @if (ViewData["SubmissionStageUploadsFiles"] != null)
                                {
                                    string[] files = ViewData["SubmissionStageUploadsFiles"].ToString().Split(',');
                                    foreach (string file in files)
                                    {
                                        <div class="margin-top-10 small"><a href="@Url.Content("~/FileUploads/ProjectSubmissionStageUploadsDocuments/" + file)" target="_blank">@file</a><button type="button" class="btn btn-pure btn-xs btn-danger icon wb-close" onclick="RemoveFile('project_SubmissionStageUploads', this)" disabled></button></div>
                                    }
                                }
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(p => project.OtherUploads, new { @class = "col-sm-3 control-label" })
                        <div class="col-sm-9">
                            <div class="input-group input-group-file">
                                <input type="text" class="form-control" readonly="">
                                <span class="input-group-btn">
                                    <span class="btn btn-primary btn-file">
                                        <i class="icon wb-upload" aria-hidden="true"></i>
                                        <input id="project_OtherUploads-uploader" type="file" onchange="UploadFile('project_OtherUploads')" multiple disabled>
                                        @Html.HiddenFor(p => project.OtherUploads)
                                    </span>
                                </span>
                            </div>
                            <div id="project_OtherUploads-files">
                                @if (ViewData["OtherUploadsFiles"] != null)
                                {
                                    string[] files = ViewData["OtherUploadsFiles"].ToString().Split(',');
                                    foreach (string file in files)
                                    {
                                        <div class="margin-top-10 small"><a href="@Url.Content("~/FileUploads/ProjectOtherUploadsDocuments/" + file)" target="_blank">@file</a><button type="button" class="btn btn-pure btn-xs btn-danger icon wb-close" onclick="RemoveFile('project_OtherUploads', this)" disabled></button></div>
                                    }
                                }
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(p => project.Remarks, new { @class = "col-sm-3 control-label" })
                        <div class="col-sm-9">
                            @Html.TextAreaFor(p => project.Remarks, new { @class = "form-control", @disabled = "disabled" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(p => project.Status, new { @class = "col-sm-3 control-label" })
                        <div class="col-sm-9">
                            @Html.DropDownListFor(p => project.Status, (SelectList)ViewData["StatusDropdown"], new { @class = "form-control", @data_plugin = "selectpicker", @disabled = "disabled" })
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="panel">
        <div class="panel-body container-fluid">
            <div class="row row-lg">
                <div class="col-md-9">
                    <h4>Payment Summary</h4>

                    <div class="form-group">
                        <div class="col-sm-12 table-responsive">
                            <table class="table table-hover table-condensed" data-striped="true" data-height="250" data-mobile-responsive="true" id="PaymentSummaryTable">
                                <thead>
                                    <tr>
                                        <th class="width-50">#</th>
                                        <th class="width-100">Invoice ID</th>
                                        <th class="width-100">Description</th>
                                        <th class="width-50">Percentage</th>
                                        <th class="width-50">Status</th>
                                        <th class="width-50">Amount</th>
                                        <th class="width-50">Bill Date</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{

                                        if (ViewData["Invoice"] != null)
                                        {
                                            IList<Invoice> invoice = (IList<Invoice>)ViewData["Invoice"];

                                            int count = 1;
                                            string Percentage = "";

                                            foreach (Invoice _invoice in invoice)
                                            {

                                                foreach (InvoiceItemDescription _itemDescription in _invoice.ItemDescriptions)
                                                {

                                                    if (string.IsNullOrEmpty(_itemDescription.PercentageOfQuotation))
                                                    {
                                                        Percentage = "-";
                                                    }
                                                    else
                                                    {
                                                        Percentage = _invoice.ItemDescriptions[0].PercentageOfQuotation + "%";
                                                    }
                                                    <tr>
                                                        <td>@count</td>
                                                        <td>@_invoice.InvoiceID</td>
                                                        <td>@_itemDescription.Description</td>
                                                        <td>@Percentage</td>
                                                        <td>@_invoice.Status</td>
                                                        <td>$@_invoice.GrandTotalAmount.ToString("#,##0.00")</td>
                                                        <td>@_invoice.Date</td>
                                                    </tr>
                                                    count++;
                                                }
                                            }
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-12">
                            @{
                                        int page = 1;

                                        if (Session["Page"] != null)
                                        {
                                            page = Convert.ToInt32(Session["Page"]);
                                        }
                            }
                            <a href="@Url.Action("ListingProject", new { @page = page })" class="btn btn-default margin-top-10">Back</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}

<script>
    $(document).ready(function ()
    {

        $('.datepair-start').datepicker(); //Initialise any date pickers

        var getCustomerID = $("#project_CustomerId").val();
        var getCoordinatorID = $("#CoordinatorID").val();

        //Split Coordinator to get Type and ID
        var getCoordinatorDetails = getCoordinatorID.split("-");
        var CoordinatorType = getCoordinatorDetails[0];
        var CoordinatorID = getCoordinatorDetails[1];

        GetCustomerInfo(getCustomerID);
        GetCoordinatorInfo(CoordinatorType, CoordinatorID);

    });

    function GetCustomerInfo(role) {

        var roleID = role.value;

        if (typeof (roleID) === "undefined")
        {
            roleID = role;

        }

        var url = "@Url.Action("GetCustomerInfo")";

        if (roleID == "")
        {
            $('#project_ContactPerson').val("");
            $('#project_Address').val("");
            $('#project_Tel').val("");
            $('#project_Fax').val("");
        }
        else
        {

            $.ajax({
                type: "GET",
                url: url,
                data: { id: roleID },
                success: function (data) {
                    data = JSON.parse(data);

                    for (var i = 0; i < data.length; i++) {
                        $('#project_ContactPerson').val(data[i].ContactPerson);
                        $('#project_Address').val(data[i].Address);
                        $('#project_Tel').val(data[i].Tel);
                        $('#project_Fax').val(data[i].Fax);
                    }
                }
            });
        }
    }

    function OnchangeCoordinator(id)
    {
        var getID = id.value.split("-");
        var CoordinatorType = getID[0];
        var CoordinatorID = getID[1];

        GetCoordinatorInfo(CoordinatorType, CoordinatorID);

    }

    function GetCoordinatorInfo(type, id)
    {
        var url = "@Url.Action("GetCoordinatorInfo")";

        if (type == "" || id == "")
        {
            $('#Coordinator_Email').val("");
            $('#Coordinator_Tel').val("");
        }
        else
        {
            $.ajax({
                type: "GET",
                url: url,
                data: { type: type, id: id },
                success: function (data) {
                    data = JSON.parse(data);

                    for (var i = 0; i < data.length; i++) {

                        $('#Coordinator_Email').val(data[i].Email);
                        $('#Coordinator_Tel').val(data[i].Tel);

                    }
                }
            });
        }
    }
</script>